﻿@{
    ViewBag.Title = "dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/banner/bg-banner-dangky.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>ĐĂNG KÝ/ ĐĂNG NHẬP</span>
		</div>
	</div>
<!-- Content -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
		    <div class="wrap-content-right workshops">
				<div class="page-title">
					<p>Đăng ký</p>
					<div class="line"></div>
				</div>
				<div class="wrap-tab-wk ">
					<div class="tab-wk signup register">
						<div class="info register-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue faucibus consectetur. Pellentesque iaculis ipsum eros, et suscipit erat luctus in.</div>
						<div class="form-signup register-form">
							<div class="wrap-inp">
								<div class="label"><span>*</span>Tên đăng nhập</div>
								<div class="inp"><input placeholder="" /></div>
							</div>
							<div class="wrap-inp">
								<div class="label"><span>*</span>Mật khẩu</div>
								<div class="inp"><input placeholder="" /></div>
							</div>
							<div class="wrap-inp">
								<div class="label"><span>*</span>Xác nhận mật khẩu</div>
								<div class="inp"><input placeholder="" /></div>
							</div>
							<div class="wrap-inp">
								<div class="label"><span>*</span>Họ và tên</div>
								<div class="inp"><input placeholder="" /></div>
							</div>
							<div class="wrap-inp">
								<div class="label"><span>*</span>Email</div>
								<div class="inp"><input placeholder="" /></div>
							</div>
							<div class="wrap-inp code">
								<div class="label"><span>*</span>Mã ăn toàn</div>
								<div class="code-char"></div>
								<a href="javascript: void();" title="" class="change-code"></a>
								<div class="inp"><input placeholder="" /></div>
							</div>
							<div class="wrap-inp">
								<div class="label"></div>
								<a class="btn-sign fancybox" href="#dang-ky-thanh-cong" title="">đăng ký</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
