﻿@{
    ViewBag.Title = "huongdannophoso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-vttd.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Cán bộ quản lý</span>
		</div>
	</div>
<!-- Banner -->
<!-- content tai chinh -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
			<div class="wrap-content-right faq">
				<div class="support-center">
					<div class="page-title">
						<p>Hướng dẫn nộp hồ Sơ</p>
						<div class="line"></div>
					</div>
				</div>
				<div style="border: 0;" class="recruitment-detail">
					<p>Để dự tuyển tại MBS, các ứng viên vui lòng gửi hồ sơ cho chúng tôi:</p>
					<p class="mt19"><strong>1. GỬI HỒ SƠ QUA EMAIL</strong></p>
					<p>- Địa chỉ nhận email:</p>
					<ul>
						<li><strong>Tại Hà Nội:</strong> <a href="javascript:void(0);" title="">Dung.PhamThiKim@mbs.com.vn</a></li>
						<li><strong>Tại TP HCM:</strong> <a href="javascript:void(0);" title="">Tien.LuongThuy@mbs.com.vn</a></li>
						<li><strong>Tại Hải Phòng:</strong> <a href="javascript:void(0);" title="">Thuy.NguyenThiHa@mbs.com.vn</a></li>
					</ul>
					<p>- Hồ sơ gửi qua email:  File excel Thông tin ứng viên theo mẫu. Tên file được ghi bằng tiếng Việt không dấu theo nguyên tắc: Mã khu vực - Mã vị trí - Họ tên. Tiêu đề email (subject) gửi hồ sơ dự tuyển: Mã khu vực – Mã vị trí  – Họ tên.</p>
					<p style="margin-left: 30px;">Ví dụ: HO-CVNS-Nguyen Van A</p>
					<p>- Mỗi ứng viên chỉ được lựa chọn ứng tuyển duy nhất 1 vị trí</p>
					<p class="mt19"><strong>2. GỬI HỒ SƠ TRỰC TIẾP</strong></p>
					<p>Lưu ý:  Ứng viên chỉ gửi hồ sơ trực tiếp khi trong thông tin đăng tuyển tại website của MB, website việc làm có nêu rõ địa điểm nộp hồ sơ trực tiếp.</p>
				 	<p class="mt19"><strong>2.1 Hồ sơ nộp trực tiếp bao gồm</strong></p>
				 	<ul>
						<li>(1) Thông tin ứng viên theo mẫu MBS.</li>
						<li>(2) Sơ yếu lý lịch có xác nhận của chính quyền địa phương trong vòng 6 tháng gần nhất.</li>
						<li>(3) 2 ảnh 4*6</li>
						<li>(4) Bản sao giấy khai sinh</li>
						<li>(5) Bản sao bằng tốt nghiệp và các chứng chỉ có liên quan</li>
						<li>(6) bằng gốc Chứng chỉ hành nghề</li>
						<li>(7) Bản sao CMTND công chứng</li>
						<li>(8) Giấy chứng nhận sức khỏe có xác nhận của bệnh viện trong vòng 6 tháng gần nhất</li>
						<li>(9) Sổ BHXH – khi CBNV ký hợp đồng lao động</li>
						<li>(10) Các Văn bằng khác</li>
					</ul>
					<p>Chú ý:</p>
					<ul>
						<li>Hồ sơ tuyển dụng (1),(2),(5),(7) bắt buộc phải có</li>
						<li>Các hồ sơ còn lại NLĐ có thể bổ sung sau khi có kết quả tuyển dụng.</li>
					</ul>
					<p class="mt19"><strong>2.2 Địa chỉ nhận hồ sơ:</strong></p>
					<ul>
						<li>Tại Hà Nội:
							<p>Chị Phạm Thị Kim Dung</p>
							<p>Phòng Nhân sự, Công ty CP Chứng khoán MB</p>
							<p>Tầng 7, số 3 Liễu Giai, Ba Đình, Hà Nội</p>
						</li>
						<li class="mt19">Tại Tp HCM/ Khu vực Phía Nam
							<p>Chị Lương Thủy Tiên</p>
							<p>Công ty CP Chứng khoán MB- Chi nhánh HCM.</p>
							<p>Tầng 5, số 259 Trần Hưng Đạo, P. Cô Giang, Q1, TP Hồ Chí Minh.</p>
						</li>
						<li class="mt19">Tại Hải Phòng.
							<p>Chị Nguyễn Thị Hà Thủy</p>
							<p>Công ty CP Chứng khoán MB- Chi nhánh Hải Phòng</p>
							<p>Số 7B, Trần Hưng Đạo, Q. Hồng Bàng, TP Hải Phòng</p>
						</li>
					</ul>
					<p class="mt19"><strong>Các ứng viên quan tâm hãy gửi hồ sơ ứng tuyển để có cơ hội việc làm tại MBS với môi trường chuyên nghiệp và chế độ đãi ngộ hấp dẫn. MBS liên tục nhận hồ sơ ứng viên  đã có kinh nghiệm cho các vị trí Cán bộ quản lý và Chuyên viên</strong></p>
					<p><strong>MBS- Giải pháp kinh Doanh Chuyên biệt</strong></p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<!-- end content tai chinh -->
