﻿@{
    ViewBag.Title = "phantichbaocao_detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-ttpt.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Báo cáo phân tích</span>
		</div>
	</div>
<!-- Banner -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		    <div class="wrap-content-right">
				<div class="page-title">
					<p>Triển vọng Việt Nam</p>
					<div class="line"></div>
				</div>
				<div class="bctc-page">
					<div class="list-item">
						<div class="item">
							<div class="img"></div>
							<div class="it-ct">
								<div class="tit">Triển vọng Việt Nam tháng 03/2015</div>
								<div class="dat"><b>Ngày đăng: </b>03/11/2014</div>
								<div class="con">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenea massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
								<div class="down"><a href="javascript:void(0)">Triển vọng Việt Nam tháng 03/2015<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="item">
							<div class="img"></div>
							<div class="it-ct">
								<div class="tit">Triển vọng Việt Nam tháng 03/2015</div>
								<div class="dat"><b>Ngày đăng: </b>03/11/2014</div>
								<div class="con">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenea massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
								<div class="down"><a href="javascript:void(0)">Triển vọng Việt Nam tháng 03/2015<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="item">
							<div class="img"></div>
							<div class="it-ct">
								<div class="tit">Triển vọng Việt Nam tháng 03/2015</div>
								<div class="dat"><b>Ngày đăng: </b>03/11/2014</div>
								<div class="con">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenea massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
								<div class="down"><a href="javascript:void(0)">Triển vọng Việt Nam tháng 03/2015<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="item">
							<div class="img"></div>
							<div class="it-ct">
								<div class="tit">Triển vọng Việt Nam tháng 03/2015</div>
								<div class="dat"><b>Ngày đăng: </b>03/11/Triển vọng Việt Nam tháng 03/2015</div>
								<div class="con">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenea massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
								<div class="down"><a href="javascript:void(0)">Triển vọng Việt Nam tháng 03/2015<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a></div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
                    <div class="clear"></div>
					<div class="paging">
						<span class='p-tt'>Trang </span>
						<span class="page">
							<span class="page">1</span>
							<a href="">2</a>
							<a href="">3</a>
							<span class='no-bd'>...</span>
							<a class='no-bd' href="">Cuối >></a>
						</span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>