﻿@{
    ViewBag.Title = "phantichbaocao_detail_news";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-ttpt.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Báo cáo phân tích</span>
		</div>
	</div>
<!-- Banner -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		    <div class="wrap-content-right program-ud-detail">
				<div class="page-title">
					<p>Triển vọng Việt Nam tháng 03/2015</p>
					<div class="line"></div>
				</div>
				<div class="program-detail">
					<div class="date"><span>Ngày đăng:</span> 09/01/2015</div>
					<div class="detail-pr">
						<img src="images/img/work-4.jpg" alt="" title="" />
						<p>Công ty chứng khoán MB (MBS) cho biết, sẽ tổ chức khóa đào tạo phân tích chứng khoán cơ bản và chuyên sâu dành cho nhà đầu tư toàn quốc.</p>
						<p>Chương trình đầu tiên sẽ thực hiện tại Hà Nội cho các nhà đầu tư khu vực phía Bắc. Chương trình đào tạo cho các nhà đầu tư khu vực phía Nam dự kiến sẽ tổ chức sau khu vực phía Bắc 1 tuần.
						Điểm khác biệt so với các đơn vị khác đó là MBS là công ty chứng khoán đầu tiên tổ chức đào tạo phân tích chuyên sâu với nội dung mang tính thực tiễn cao và dễ dàng áp dụng, được trình bày bởi các chuyên gia nghiên cứu cao cấp của MBS có trình độ, nhiều kinh nghiệm và trực tiếp tham gia thị trường. Đặc biệt, tại các buổi đào tạo thứ Bảy hàng tuần, các chuyên gia MBS sẽ thảo luận về thị trường và phân tích thực tế về một số công ty niêm yết khi thời điểm công bố báo cáo quý II đang đến gần.</p>
						<p>Thời gian đào tạo vào thứ Bảy và Chủ nhật hàng tuần, bắt đầu từ 18/7/2014 tại Hội trường Tầng 11, Tòa nhà MB, số 3 Liễu Giai, Ba Đình, Hà Nội. Các nhà đầu tư muốn tham dự khóa học có thể đăng ký trước với MBS qua tổng đài 1900 9088.</p>
						<a class="ptbc-down" href="javascript:void(0)">Triển vọng Việt Nam tháng 03/2015<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a>
					</div>
					<div class="clear"></div>
					<div class="line-space mt16"></div>
				</div>
				<div class="page-title">
					<p>Báo cáo khác</p>
					<div class="line"></div>
				</div>
				<div class="bctc-page ptbc">
					<div class="list-item">
						<div>
							<div class="item">
								<div class="img"></div>
								<div class="it-ct">
									<div class="tit">Phân tích thị trường và một số mã điển hình theo phương pháp phân tích kỹ thuật ngày 26/08/2014</div>
									<div class="dat ptncp">Phân tích nhanh Cổ phiếu</div>
									<div class="con">Chúng tôi nhận thấy sau 3 tuần hồi phục vừa qua, tích lũy thanh khoản ở  mức trung bình, chưa thực sự lớn để tạo áp lực... <a class="ptbc-down" href="javascript:void(0)">Xem thêm</a></div>
									<div class="down"><a href="javascript:void(0)">Download báo cáo<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a></div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="item">
								<div class="img"></div>
								<div class="it-ct">
									<div class="tit">Phân tích thị trường và một số mã điển hình theo phương pháp phân tích kỹ thuật ngày 26/08/2014</div>
									<div class="dat ptncp">Phân tích nhanh Cổ phiếu</div>
									<div class="con">Chúng tôi nhận thấy sau 3 tuần hồi phục vừa qua, tích lũy thanh khoản ở  mức trung bình, chưa thực sự lớn để tạo áp lực... <a class="ptbc-down" href="javascript:void(0)">Xem thêm</a></div>
									<div class="down"><a href="javascript:void(0)">Download báo cáo<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a></div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div>
							<div class="item">
								<div class="img"></div>
								<div class="it-ct">
									<div class="tit">Phân tích thị trường và một số mã điển hình theo phương pháp phân tích kỹ thuật ngày 26/08/2014</div>
									<div class="dat ptncp">Phân tích nhanh Cổ phiếu</div>
									<div class="con">Chúng tôi nhận thấy sau 3 tuần hồi phục vừa qua, tích lũy thanh khoản ở  mức trung bình, chưa thực sự lớn để tạo áp lực... <a class="ptbc-down" href="javascript:void(0)">Xem thêm</a></div>
									<div class="down"><a href="javascript:void(0)">Download báo cáo<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a></div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="item">
								<div class="img"></div>
								<div class="it-ct">
									<div class="tit">Phân tích thị trường và một số mã điển hình theo phương pháp phân tích kỹ thuật ngày 26/08/2014</div>
									<div class="dat ptncp">Phân tích nhanh Cổ phiếu</div>
									<div class="con">Chúng tôi nhận thấy sau 3 tuần hồi phục vừa qua, tích lũy thanh khoản ở  mức trung bình, chưa thực sự lớn để tạo áp lực... <a class="ptbc-down" href="javascript:void(0)">Xem thêm</a></div>
									<div class="down"><a href="javascript:void(0)">Download báo cáo<img src="@Url.Content("~/Assets/images/icon/icon-down.png")"></a></div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
