﻿@{
    ViewBag.Title = "phantichbaocao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-ttpt.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Báo cáo phân tích</span>
		</div>
	</div>
<!-- Banner -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		    <div class="wrap-content-right">
			    <div class="page-title">
					<p>Dịch vụ chứng khoán</p>
					<div class="line"></div>
				</div>
				<div class="wrap-dvck clearfix">
					<div class="it-dvck it-1 fl">
						<table class="tab100">
							<tr>
								<td><a href="javascript: void(0)" title=""><span>Triển vọng Việt Nam<span></a><img class="img" src="@Url.Content("~/Assets/images/img/bcpt-1.jpg")"></td>
							</tr>
						</table>
					</div>
					<div class="it-dvck it-2 fr">
						<table class="tab100">
							<tr>
								<td>
									<a href="javascript: void(0)" title=""><span>Thị trường nợ<span></a><img class="img" src="@Url.Content("~/Assets/images/img/bcpt-2.jpg")"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="wrap-dvck clearfix">
					<div class="it-dvck it-3 fl">
						<table class="tab100">
							<tr>
								<td><a href="javascript: void(0)" title=""><span>Nghiên cứu ngành<span></a><img class="img" src="@Url.Content("~/Assets/images/img/bcpt-3.jpg")"></td>
							</tr>
						</table>
					</div>
					<div class="it-dvck it-4 fr">
						<table class="tab100">
							<tr>
								<td><a href="javascript: void(0)" title=""><span>Nghiên cứu cổ phiếu<span></a><img class="img" src="@Url.Content("~/Assets/images/img/bcpt-4.jpg")"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="wrap-dvck clearfix">
					<div class="it-dvck it-5 fl">
						<table class="tab100">
							<tr>
								<td><a href="javascript: void(0)" title=""><span>Bản tin ngày<span></a><img class="img" src="@Url.Content("~/Assets/images/img/bcpt-5.jpg")"></td>
							</tr>
						</table>
					</div>
					<div class="it-dvck it-6 fr">
						<table class="tab100">
							<tr>
								<td><a href="javascript: void(0)" title=""><span>Chiến lượng<br/>thị trường tuần<span></a><img class="img" src="@Url.Content("~/Assets/images/img/bcpt-6.jpg")"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="wrap-dvck clearfix">
					<div class="it-dvck it-7 fl">
						<table class="tab100">
							<tr>
								<td><a href="javascript: void(0)" title=""><span>Phân tích kỹ thuật<span></a><img class="img" src="@Url.Content("~/Assets/images/img/bcpt-7.jpg")"></td>
							</tr>
						</table>
					</div>
					<div class="it-dvck it-8 fr">
						<table class="tab100">
							<tr>
								<td><a href="javascript: void(0)" title=""><span>Phân tích<br/>nhanh cổ phiếu<span></a><img class="img" src="@Url.Content("~/Assets/images/img/bcpt-8.jpg")"></td>
							</tr>
						</table>
					</div>
				</div>
		    </div>
		</div>
		<div class="clear"></div>
	</div>