﻿@{
    ViewBag.Title = "sitemap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Trang Tìm kiếm -->
<!-- <div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-timkiem.jpg) center center">
	<div class="wrapper">
		<span>Tìm kiếm</span>
	</div>
</div>
<div class="content-page">
	<div id="menu-right-mobile">
		<div class="text-active wrapper">
			<a class="one" href="javascript: void(0);" title=""></a>
			<a class="two" href="javascript: void(0);" title=""></a>
		</div>
		<div class="menu-right">
			<ul>
				<li class="active">
					<a class="ttone" href="">Tin tức thị trường</a>
				</li>
				<li class="">
					<a class="ttone" href="">Báo cáo phân tích</a>
				</li>
				<li class="">
					<a class="ttone" href="">Hội thảo</a>
				</li>
				<li class="">
					<a class="ttone" href="">Lịch sự kiện</a>
				</li>
				<li class="">
					<a class="ttone" href="">Dữ liệu thị trường</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			<ul>
				<li class="">
					<a class="ttone" href="">Đăng nhập/ đăng ký</a>
				</li>
				<li class="">
					<a class="ttone" href="">Vị trí tuyển dụng</a>
				</li>
				<li class="">
					<a class="ttone" href="">Kết quả tuyển dụng</a>
				</li>
				<li class="active">
					<a class="ttone" href="">Biểu mẫu</a>
				</li>
				<li class="">
					<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
				</li>
			</ul>
		</div>
	    <div class="wrap-content-right">
			<div class="page-title">
				<p>Tìm kiếm</p>
				<div class="line"></div>
			</div>
			<div class="search-page">
				<div class="search-scc">
					<div class="input-scc">
	                    <a id="" title="search" href="javascript: void(0);" class="btn-search-scc"></a>
	                    <a id="" title="search" href="javascript: void(0);" class="btn-search-ab">Tìm kiếm</a>
						<input id="inp_search_faq" name="" placeholder="Tìm kiếm theo từ khóa">
					</div>
				</div>
				<div class="result-search bctc-page">
					<div class="list-item">
						<div class="item itemnews">
						    <div class="img">
							    <a title="" href="javascript: void(0);"><img alt="" src="@Url.Content("~")Assets/images/img/sr-1.jpg"></a>
						    </div>
						    <div class="it-ct">
							    <div class="tit"><a href="javascript: void(0);">Thông tin nhân sự có chứng chỉ hành nghề tại MBS</a></div>
							    <div class="dat"><b>Ngày đăng: </b>25/02/2015</div>
							    <div class="con">"Trải qua nửa cuối tháng 11 trồi sụt với những đồn đoán về tác động tiêu cực của Thông tư 36 và CTCK siết margin, TTCK đang nhìn về tháng cuối cùng của năm 2014 với sự lạc quan thận trọng...<a href="javascript: void(0);" class="rm"> Xem thêm</a></div>
						    </div> 
						    <div class="clear"></div>
					    </div>
					    <div class="item itemnews">
						    <div class="img">
							    <a title="" href="javascript: void(0);"><img alt="" src="@Url.Content("~")Assets/images/img/sr-1.jpg"></a>
						    </div>
						    <div class="it-ct">
							    <div class="tit"><a href="javascript: void(0);">Thông tin nhân sự có chứng chỉ hành nghề tại MBS</a></div>
							    <div class="dat"><b>Ngày đăng: </b>25/02/2015</div>
							    <div class="con">"Trải qua nửa cuối tháng 11 trồi sụt với những đồn đoán về tác động tiêu cực của Thông tư 36 và CTCK siết margin, TTCK đang nhìn về tháng cuối cùng của năm 2014 với sự lạc quan thận trọng...<a href="javascript: void(0);" class="rm"> Xem thêm</a></div>
						    </div> 
						    <div class="clear"></div>
					    </div>
					    <div class="item itemnews no-img">
						    <div class="it-ct">
							    <div class="tit"><a href="javascript: void(0);">Thông tin nhân sự có chứng chỉ hành nghề tại MBS</a></div>
							    <div class="dat"><b>Ngày đăng: </b>25/02/2015</div>
						    	<div class="down"><a title="Triển vọng Việt Nam tháng 02/2015" target="_blank" href="javascript: void(0);">Triển vọng Việt Nam tháng 02/2015<img src="@Url.Content("~")Assets/images/icon/icon-down.png" alt="MBS - Báo cáo kiểm toán 6 tháng năm 2012"></a></div>
						    </div> 
						    <div class="clear"></div>
					    </div>
					    <div class="item itemnews no-img">
						    <div class="it-ct">
							    <div class="tit"><a href="javascript: void(0);">Thông tin nhân sự có chứng chỉ hành nghề tại MBS</a></div>
							    <div class="dat"><b>Ngày đăng: </b>25/02/2015</div>
							    <div class="con">"Trải qua nửa cuối tháng 11 trồi sụt với những đồn đoán về tác động tiêu cực của Thông tư 36 và CTCK siết margin, TTCK đang nhìn về tháng cuối cùng của năm 2014 với sự lạc quan thận trọng...<a href="javascript: void(0);" class="rm"> Xem thêm</a></div>
						    </div> 
						    <div class="clear"></div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div> -->


<!-- Trang Sơ đồ tổ chức -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-sdtc.jpg) center center">
	<div class="wrapper">
		<span>Sơ đồ tổ chức</span>
	</div>
</div>
<div class="content-page">
	<div id="menu-right-mobile">
		<div class="text-active wrapper">
			<a class="one" href="javascript: void(0);" title=""></a>
			<a class="two" href="javascript: void(0);" title=""></a>
		</div>
		<div class="menu-right">
			<ul>
				<li class="active">
					<a class="ttone" href="">Tin tức thị trường</a>
				</li>
				<li class="">
					<a class="ttone" href="">Báo cáo phân tích</a>
				</li>
				<li class="">
					<a class="ttone" href="">Hội thảo</a>
				</li>
				<li class="">
					<a class="ttone" href="">Lịch sự kiện</a>
				</li>
				<li class="">
					<a class="ttone" href="">Dữ liệu thị trường</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			<ul>
				<li class="">
					<a class="ttone" href="">Đăng nhập/ đăng ký</a>
				</li>
				<li class="">
					<a class="ttone" href="">Vị trí tuyển dụng</a>
				</li>
				<li class="">
					<a class="ttone" href="">Kết quả tuyển dụng</a>
				</li>
				<li class="active">
					<a class="ttone" href="">Biểu mẫu</a>
				</li>
				<li class="">
					<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
				</li>
			</ul>
		</div>
	    <div class="wrap-content-right">
			<div class="page-title">
				<p>Sơ đồ tổ chức</p>
				<div class="line"></div>
			</div>
			<div class="sdtc-page">
				<div class="org-chart cf">
					<ul class="hoidongcodong">
						<li class="bgred fpd">
							<a href="#"><span>Đại hội đồng cổ đông</span></a>
						</li>
						<ul class="bankiemsoat">
							<li class="bgblue fpd">
								<a href="#"><span>Đại hội đồng cổ đông</span></a>
							</li>
						</ul>
					</ul>
					<ul class="hoidongquantri">
						<li class="bgred fpd">
							<a href="#"><span>Hội đồng Quản trị</span></a>
						</li>
						<ul class="sub-hoidongquantri">
							<li class="bgblue fpd one">
								<a href="#"><span>Đại hội đồng cổ đông</span></a>
							</li>
							<li class="bgblue fpd two">
								<a href="#"><span>Đại hội đồng cổ đông</span></a>
							</li>
						</ul>
					</ul>
					<ul class="tonggiamdoc">
						<li class="bgred fpd bos-org">
							<a href="#"><span>Hội đồng Quản trị</span></a>
						</li>
						<ul class="line-tonggiamdoc">
							<li class="line-tgd"></li>
						</ul>
						<ul class="sub-tonggiamdoc">
							<li class="bgblue fpd one">
								<ul class="bd-lm">
									<li class="title-org">
										<span>Đại hội đồng cổ đông</span>
									</li>
									<ul class="box-blue">
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>

									</ul>
								</ul>
							</li>
							<li class="bgblue fpd two">
								<ul class="bd-lm">
									<li class="title-org">
										<span>Đại hội đồng cổ đông</span>
									</li>
									<ul class="box-blue">
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
									</ul>
								</ul>
							</li>
							<li class="bgblue fpd three">
								<ul class="bd-lm last">
									<li class="title-org">
										<span>Đại hội đồng cổ đông</span>
									</li>
									<ul class="box-blue">
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
									</ul>
								</ul>
							</li>
						</ul>
					</ul> 
					<ul class="cacchinhanh">
						<li class="bgred fpd">
							<a href="#"><span>Hội đồng Quản trị</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>

