﻿@{
    ViewBag.Title = "vitrituyendung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-vttd.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Vị trí tuyển dụng</span>
		</div>
	</div>
<!-- Banner -->
<!-- content tai chinh -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
			<div class="wrap-content-right faq">
				<div class="support-center">
					<div class="page-title">
						<p>Vị trí tuyển dụng</p>
						<div class="line"></div>
					</div>
					<div class="search-recruitment">
						<div class="text left">
							<input type="text" name="" value="" placeholder="Từ khóa">
						</div>
						<div class="search left">
							<select class="bselect" name="">
								<option value="">Ngành nghề</option>
								<option value="">Ngành nghề</option>
							</select>
						</div>
						<div class="search left">
							<select class="bselect" name="">
								<option value="">Địa điểm</option>
								<option value="">Địa điểm</option>
							</select>
						</div>
						<div class="btn-recruitment left">
							<a href="javascript:void(0);" title="">Tìm việc <img src="@Url.Content("~/Assets/images/icon/search.png")" alt="" title="" /></a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="recruitment-result">
						<table>
							<thead>
								<tr>
									<th class="r1">Ngày đăng</th>
									<th class="r2">Tên công việc</th>
									<th class="r3">Địa điểm</th>
									<th class="r4">Ngày hết hạn</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">PGD Nguyễn Công Trứ, PGD Bắc Sài Gòn</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
								<tr>
									<td class="r1" data-th="Ngày đăng">12/02/2014</td>
									<td class="r2" data-th="Tên công việc"><a href="javascript:void(0);" title="">Nhân viên IT</a></td>
									<td class="r3" data-th="Địa điểm">Hội sở</td>
									<td class="r4" data-th="Ngày hết hạn">12/03/2014</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="paging">
						<span class='p-tt'>Trang </span>
						<span class="page">
							<span class="page">1</span>
							<a href="">2</a>
							<a href="">3</a>
							<span class='no-bd'>...</span>
							<a class='no-bd' href="">Cuối >></a>
						</span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<!-- end content tai chinh -->