﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.ArticleViewModel>


@if (Model != null)
{
    int i = 0;
    <div class="banking-business">
    @foreach (var child in Model)
    {
        @(i % 3 == 0 ? Html.Raw("<div class='banking-business-all'>") : Html.Raw(""))
        <div class="banking-business-it">
			<a href="javascript:void(0);" title="">
				<img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 231, 168))" alt="@Html.Raw(child.TITLE)" title="@Html.Raw(child.TITLE)" />
				<p>
					<span class="tit">@Html.Raw(child.TITLE)</span>
					<span class="text">@Html.Raw(CommonHelper.CutText(child.DESCRIPTION, 220))</span>
					<img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
				</p>
			</a>
		</div>
        @( (i + 1) % 3 == 0 || ((i + 1) % 3 != 0 && (i + 1) == Model.Count) ? Html.Raw("<div class='clear'></div></div>") : Html.Raw(""))
    i++;
    }
    </div>
    
    if (!string.IsNullOrEmpty(ViewBag.pagination))
    {
        <div class='paging'>
            @Html.Raw(ViewBag.pagination)
        </div>
    }
}
