﻿@using WizardCMS.Helpers
@{
    string Segment2 = CommonHelper.GetSegment(2);
    string Segment3 = CommonHelper.GetSegment(3);
    string Segment4 = CommonHelper.GetSegment(4);
    string Lang = StringHelper.language();
}

<ul>
@{
    if (ViewBag.menus != null)
    {
        foreach (var item in ViewBag.menus)
        {
            if (item.Slug == StringHelper.lang("lien-he-slug")) {continue;}
	    <li class="@(Segment2 == item.Slug || Segment3 == item.Slug ? "active" : "")">
		    <a class="ttone" href="@(Url.Content("~") + Lang + "/" + item.Link)" title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</a>
            @if (item.lstSubMenu != null && item.lstSubMenu.Count > 0 && (item.Id == WizardCMS.Const.Constants.NODE_HUONG_DAN || item.Id == WizardCMS.Const.Constants.NODE_TL_THAM_KHAO_CKPS))
            {
                <ul class="sub-right">
                @foreach (var sub in item.lstSubMenu)
                {
                    <!--
                    if (sub.Slug == StringHelper.lang("bieu-phi-slug"))
                    {
                        <li class="@(Segment4 == sub.Slug ? "active" : "")"><a href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("khtc-dvck-slug") + "/" + StringHelper.lang("bieu-phi-slug"))">@sub.Title</a></li>
                    } else {
                        <li class="@(Segment4 == sub.Slug ? "active" : "")"><a href="@("#" + sub.Slug)">@sub.Title</a></li> 
                    }
                    -->
                    <li class="@(Segment4 == sub.Slug ? "active" : "")"><a href="@(Url.Content("~") + Lang + "/" + item.Link + "#" + sub.Slug)" title="@Html.Raw(sub.Title)">@Html.Raw(sub.Title)</a></li>
                }
                </ul>
            }
            
            @if (item.Id == WizardCMS.Const.Constants.NODE_HOI_THAO_DAO_TAO)
            {
                <ul class="sub-right">
                    <li class="register-ws-menu @(Segment3 == StringHelper.lang("hoi-thao-dao-tao-slug") || Segment4 == StringHelper.lang("hoi-thao-dao-tao-slug") ? "active" : "")"><a class='ws-news' href="@(Url.Content("~") + Lang + "/" + item.Link + "#" + StringHelper.lang("slug_tintuc"))">@StringHelper.lang("tin-tuc")</a></li>
                    <li class="register-ws-menu @(Segment4 == StringHelper.lang("dang-ky-hoi-thao-slug") ? "active" : "")"><a class='ws-register' href="@(Url.Content("~") + Lang + "/" + item.Link + "#" + StringHelper.lang("dang-ky-hoi-thao-slug"))">@StringHelper.lang("dang-ky-hoi-thao")</a></li>
                </ul>
            }
        </li>
        }
        <li class="mn-customer-support @(Segment3 == StringHelper.lang("slug_ho_tro_khach_hang") ? "active" : "")">
		    <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("slug_chamsoc_kh") + "#" + StringHelper.lang("slug_ho_tro_khach_hang"))">@StringHelper.lang("text_ho_tro_kh")</a>
        </li>
        <li class="@(Segment3 == StringHelper.lang("lich-su-kien-slug") ? "active" : "")">
		    <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("link_lich_sk"))">@StringHelper.lang("text_lich_sk")</a>
        </li>
        <li class="@(Segment3 == StringHelper.lang("lien-he-slug") ? "active" : "")">
		    <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("lien-he-link"))">@StringHelper.lang("contact")</a>
        </li>
    }
}
</ul>
<script type="text/javascript">
    var seg4 = '@Segment4';
    $(document).ready(function () {
        $('.register-ws-menu a').on('click', function () {
            //console.log('click register workshop');
            if (seg4 != '')
                return true;
            var hash = $(this).prop("hash");

            $(this).parent().parent().find('li').removeClass('active');
            $(this).parent().addClass('active');

            window.location.hash = hash;

            $('.tab-ctr').eq($(this).parent().index()).trigger('click');

            return false;
        });

        var url = location.href;
        if (url.indexOf('#') >= 0) {
            var hash = url.substr(url.indexOf('#') + 1);
            console.log(hash);
            if (hash == '@StringHelper.lang("dang-ky-hoi-thao-slug")') {
                setTimeout(function () {
                    $('.ws-register').trigger("click");
                }, 500);
            }
        }
    });
</script>
