﻿@using WizardCMS.Helpers
@{
    string Segment2 = CommonHelper.GetSegment(2);
    string Segment3 = CommonHelper.GetSegment(3);
    string Segment4 = CommonHelper.GetSegment(4);

    string Lang = StringHelper.language();
}
<div class="text-active wrapper">
	<a class="one" href="javascript: void(0);" title=""></a>
	<a class="two" href="javascript: void(0);" title=""></a>
</div>
<div class="menu-right">
	<ul>
    @{
        if (ViewBag.menus != null)
        {
            foreach (var item in ViewBag.menus)
            {
                if (item.Slug == StringHelper.lang("lien-he-slug")) {continue;}
	        <li class="@(Segment2 == item.Slug || Segment3 == item.Slug ? "active" : "")">
		        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + item.Link)" title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</a>
                @if (item.lstSubMenu != null && item.lstSubMenu.Count > 0 && item.Id == WizardCMS.Const.Constants.NODE_HUONG_DAN)
                {
                    <ul class="sub-right">
                    @foreach (var sub in item.lstSubMenu)
                    {
                        <li class="@(Segment3 == sub.Slug || Segment4 == sub.Slug ? "active" : "")"><a href="@(Url.Content("~") + Lang + "/" + item.Link + "#" + sub.Slug)" title="@Html.Raw(sub.Title)"><span>&mdash;</span> @Html.Raw(sub.Title)</a></li>
                    }
                    </ul>
                }
            
                @if (item.Id == WizardCMS.Const.Constants.NODE_HOI_THAO_DAO_TAO)
                {
                    <ul class="sub-right">
                        <li class="register-ws-menu @(Segment3 == StringHelper.lang("hoi-thao-dao-tao-slug") || Segment4 == StringHelper.lang("hoi-thao-dao-tao-slug") ? "active" : "")"><a class='ws-news' href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("hoi-thao-dao-tao-slug" + "#" + StringHelper.lang("slug_tintuc")))"><span>&mdash;</span> @StringHelper.lang("tin-tuc")</a></li>
                        <li class="register-ws-menu @(Segment3 == StringHelper.lang("dang-ky-hoi-thao-slug") || Segment4 == StringHelper.lang("dang-ky-hoi-thao-slug") ? "active" : "")"><a class='ws-register' href="@(Url.Content("~") + Lang + "#" + StringHelper.lang("dang-ky-hoi-thao-slug"))"><span>&mdash;</span> @StringHelper.lang("dang-ky-hoi-thao")</a></li>
                    </ul>
                }
            </li>
            }
            <li class="mn-customer-support @(Segment3 == StringHelper.lang("slug_ho_tro_khach_hang") ? "active" : "")">
		        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("slug_chamsoc_kh") + "#" + StringHelper.lang("slug_ho_tro_khach_hang"))">@StringHelper.lang("text_ho_tro_kh")</a>
            </li>
            <li class="@(Segment3 == StringHelper.lang("lich-su-kien-slug") ? "active" : "")">
		        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("link_lich_sk"))" title="@StringHelper.lang("text_lich_sk")">@StringHelper.lang("text_lich_sk")</a>
            </li>
            <li class="@(Segment3 == StringHelper.lang("lien-he-slug") ? "active" : "")">
		        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("lien-he-link"))" title="@StringHelper.lang("contact")">@StringHelper.lang("contact")</a>
            </li>
        }
    }
	</ul>
</div>
