﻿@model IEnumerable<WizardCMS.Models.LogModel>

@{
    int no = 0;
    string cssClass = "";
    
}
@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        $(".custom_chk").jqTransCheckBox();
    });
</script>

<div class="content_table">
    <input type="hidden" value="@ViewBag.SortBy" id="by_sort" />
	<input type="hidden" value="@ViewBag.SortType" id="type_sort" />

    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
            <tr>
                <th class="th_no_cursor" width="40">No.</th>
                <th class="th_no_cursor" width="31">
                    <input type="checkbox" class="custom_chk" id="selectAllItems" onclick="selectAllItems(@Model.Count())" />
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'TYPE')">
                    @if (ViewBag.SortBy.ToUpper() == "TYPE")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="type" class="@cssClass">Type</div>
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'FUNCTION')">
                    @if (ViewBag.SortBy.ToUpper() == "FUNCTION")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                   <div id="table" class="@cssClass">Table</div>
                </th>
                <th width="70" onclick="ColumnSort('@ViewBag.AjaxUrl', 'FIELD')">
                    @if (ViewBag.SortBy.ToUpper() == "FIELD")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="field" class="@cssClass">Field</div>
                </th>
                <th nowrap>
                    <div id="title_vi" class="th_no_cursor">Old Value</div>
                </th>
                <th nowrap>
                    <div id="title_vi" class="th_no_cursor">New Value</div>
                </th>
                <th nowrap>
                    <div id="title_vi" class="th_no_cursor">Account</div>
                </th>
                <th class="th_last" width="30" onclick="ColumnSort('@ViewBag.AjaxUrl', 'CREATED')" nowrap>
                    @if (ViewBag.SortBy.ToUpper() == "CREATED")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="field" class="@cssClass">Created</div>
                </th>
            </tr>
            @if (@Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    if (no % 2 == 0)
                    {
                        cssClass = "row1";
                    }
                    else
                    {
                        cssClass = "row2";
                    }
                   <tr class="@("item_row" + no) @cssClass">
                        <td class="td_center">@(no + 1)</td>
                        <td class="td_no_padd"><input type="checkbox" class="custom_chk" id="@("item" + no)" onclick="selectItem('@no')" value="@item.ID"/></td>
                        <td class="th_left">@item.TYPE</td>
                        <td class="th_left">@item.FUNCTION</td>
                        <td class="th_left">@item.FIELD</td>
                        <td class="th_left" style="word-break: break-all;width: 350px;">@Html.Raw(@item.OLD_VALUE.ToString())</td>
                        <td class="th_left" style="word-break: break-all;width: 350px;">@Html.Raw(@item.NEW_VALUE.ToString())</td>
                        <td class="th_left">@item.ACCOUNT</td>
                        <td class="th_last td_center" nowrap>@item.CREATED.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    </tr>
                    no++;
                }
            }
            else
            {
                <tr class="row1">
                    <td class="th_last td_center" colspan="50" style="font-size: 20px; padding: 50px 0">No data</td>
		        </tr>
            }
        </tbody>
    </table>

</div>
@RenderPage("~/Views/BackEnd/Paging.cshtml")
<div class="clearAll"></div>
<span id="actionMessage"></span>