﻿@using WizardCMS.Const;
@model IEnumerable<WizardCMS.Models.RegWorkshopViewModel>
@{
    Layout = null;
    int no = 0;
    string cssClass = "";
    string sort_by = ViewBag.SortBy.ToUpper();
    string sort_type = ViewBag.SortType;
}
@{
    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
            <script type="text/javascript">
                $(function () {
                    $(".gr_perm_error").fadeIn(500);
                    $("#loader").fadeOut(300);
                    $(".table").css("marginTop", 4);
                    setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
                });
            </script>
        }
    }
}
<script type="text/javascript">
    $(function () {
        $(".custom_chk").jqTransCheckBox();
    });
    function show_error() {
        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>
<div class="content_table">
    <input type="hidden" value="@ViewBag.SortBy" id="by_sort" />
    <input type="hidden" value="@ViewBag.SortType" id="type_sort" />
    <input type="hidden" value="@ViewBag.parentId" id="parentId" />
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
            <tr>
                <th class="th_no_cursor" width="40">
                    No.
                </th>
                <th class="th_no_cursor" width="31">
                    <input type="checkbox" class="custom_chk" id="selectAllItems" onclick="selectAllItems(@if (Model != null)
                                                                                                          { @Model.Count()}
                                                                                                          else
                                                                                                          { @Html.Raw("0") })" />
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'FULLNAME')">
                    <div id="fullname" class="@(sort_by == "FULLNAME" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">FULLNAME</div>
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'CMND')">
                    <div id="cmnd" class="@(sort_by == "CMND" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">CMND</div>
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'PHONE')">
                    <div id="phone" class="@(sort_by == "PHONE" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">PHONE</div>
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'EMAIL')">
                    <div id="email" class="@(sort_by == "EMAIL" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">EMAIL</div>
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'NID')">
                    <div id="bank_card" class="@(sort_by == "NID" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">HỘI THẢO</div>
                </th>
                <th width="70" onclick="ColumnSort('@ViewBag.AjaxUrl', 'STATUS')">
                    <div id="status" class="@(sort_by == "STATUS" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">Action</div>
                </th>
                <th class="th_last" width="100" onclick="ColumnSort('@ViewBag.AjaxUrl', 'CREATED')">
                    <div id="created" class="@(sort_by == "CREATED" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">Created</div>
                </th>
            </tr>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    cssClass = no % 2 == 0 ? "row2" : "row1";
                <tr class="@cssClass @("item_row" + no)">
                    <td class="td_center">
                        @(no + 1)
                    </td>
                    <td class="td_no_padd">
                        <input type="checkbox" class="custom_chk" id="@("item" + no)" onclick="selectItem('@no')" value="@item.ID"/>
                    </td>
					<td class="th_left"><a href='@Url.Content("~")admincp/workshop/update/@item.ID'>@item.FULLNAME</a></td>
                    <td class="th_left">@item.CMND</td>
                    <td class="th_left">@item.PHONE</td>
                    <td class="th_left">@item.EMAIL</td>
                    <td class="th_left">@item.WORKSHOP</td>
                    <td class="td_center" id='@Html.Raw("loadStatusID_" + @item.ID)'>
                            @if (item.STATUS == 1)
                            {
                                <span style="color:green">Read</span>
                            }
                            else
                            {
                                <span style="color:red">Unread</span>
                            }
                    </td>
                    <td class="th_last td_center">
                        @item.CREATED.ToString("dd-MM-yyyy HH:mm:ss")
                    </td>
                </tr>                    
                   no++;
                    //}
                }
            }
            else
            {
                <tr class="row1">
                    <td class="th_last td_center" colspan="50" style="font-size: 20px; padding: 50px 0">
                        No data
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
@RenderPage("~/Views/BackEnd/Paging.cshtml")
<div class="clearAll">
</div>
<span id="actionMessage"></span>