﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.ArticleViewModel>
@if (Model != null && Model.Count > 0)
{
    int i = 0;
    foreach (var child in Model)
    {
        <div class="@((i%2==0) ? "item left" : "item right")">
			<div class="img"></div>
			<div class="it-ct">
				<div class="tit"><a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)">@Html.Raw(child.TITLE)</a></div>
				<div class="dat"><b>@StringHelper.lang("text_created"): </b>@child.CREATED.ToString("dd/MM/yyyy")</div>
				<div class="con">@CommonHelper.CutText(child.DESCRIPTION, 190)</div>
                @if (!string.IsNullOrEmpty(child.ATTACHMENT))
                {
					<div class="down">
                        <a href="@child.ATTACHMENT"></a>
                    </div>
                }
            </div>
			<div class="clear"></div>
		</div>
        if(i%2 != 0){
            <div class="clear"></div>
        }
        i++;
    }
}
else
{ 
    <div class="no-data">@StringHelper.lang("text_no_data")</div>
}
@if (!string.IsNullOrEmpty(ViewBag.pagination))
{
    <div class='paging'>
        @Html.Raw(ViewBag.pagination)
    </div>
}