﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-trungtamphantich.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(ViewBag.node_phan_tich.TITLE)</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right program-ud-detail">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
	    	<div class="program-detail">
				<div class="date"><span>@StringHelper.lang("text_created"):</span> @Model.CREATED.ToString("dd/MM/yyyy")</div>
				<div class="detail-pr mt10">
                    @Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))
                    @if (!string.IsNullOrEmpty(Model.ATTACHMENT))
                    {	
                    	<div class="down" style="padding: 0;">
                        	<a class="ptbc-down" href="@Model.ATTACHMENT" title="@Html.Raw(Model.TITLE)">@Html.Raw(Model.TITLE)</a>
                    		<img style="padding-top: 0; padding-left: 10px;" src="@Url.Content("~/Assets/images/icon/icon-down.png")">
                    	</div>
                    }
				</div>
                <div class="clear"></div>
				<div class="line-space mt16"></div>
			</div>
            @if (ViewBag.related != null && ViewBag.related.Count > 0)
            {
                int i = 0;
			<div class="program-other">
				<div class="page-title">
					<p>@StringHelper.lang("text_other_report")</p>
					<div class="line"></div>
				</div>
                <div class="bctc-page ptbc">
					<div class="list-item">
                    @foreach (var item in ViewBag.related)
                    {
						@(i % 2 == 0 ? Html.Raw("<div>") : Html.Raw(""))
							<div class="item">
								<div class="img"></div>
								<div class="it-ct">
									<div class="tit"><a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
									<!-- <div class="dat ptncp">@(ViewBag.parent!=null?ViewBag.parent.TITLE:"")</div> -->
									<div class="con"><a class="ptbc-down" href="@(Url.Content("~") + Lang)/@item.LINK">@StringHelper.lang("text_view_more")</a></div>
                                    @if (!string.IsNullOrEmpty(item.ATTACHMENT))
                                    {       
									<div class="down"><a href="@item.ATTACHMENT">@StringHelper.lang("text_download_report")<img style="padding-top: 0; padding-left: 10px;"  alt="@StringHelper.lang("text_download_report")" src="@Url.Content("~/Assets/images/icon/icon-down.png")" /></a></div>
                                    }
                                </div>
								<div class="clear"></div>
							</div>
                        @((i + 1) % 2 == 0 || ((i + 1) % 2 != 0 && (i + 1) == ViewBag.childs.Count) ? Html.Raw("</div>") : Html.Raw(""))
                        if(i%2 != 0){
				            <div class="clear"></div>
				        }
                        i++;
                    }
					</div>
				</div>
				<div class="clear"></div>
			</div>
            }
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->