﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
    string refer_ws = Request.QueryString["ws"];
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-trungtamphantich.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(ViewBag.node_phan_tich.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right workshops">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="bctc-page lbcpt">
                <div class="search-by-date">
                    <div class="label left">Tìm báo cáo từ</div>
                    <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_from" type="text" /><div class="icon"></div></div>
                    <div class="br clearAll"></div>
                    <div class="label left">đến</div>
                    <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_to" type="text" /><div class="icon"></div></div>
                    <div class="btn btn-search-news input-search left">Tìm kiếm</div>
                    <div class="clearAll"></div>
                </div>
				<div class="list-item" id="list_content">
                @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                {
                    int i = 0;
                    foreach (var child in ViewBag.childs)
                    {
                        <div class="@((i%2==0) ? "item left" : "item right")">
						    <div class="img"></div>
						    <div class="it-ct">
							    <div class="tit"><a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)">@Html.Raw(child.TITLE)</a></div>
							    <div class="dat"><b>@StringHelper.lang("text_created"): </b>@child.CREATED.ToString("dd/MM/yyyy")</div>
							    <div class="con">@CommonHelper.CutText(child.DESCRIPTION, 190)</div>
                                @if (!string.IsNullOrEmpty(child.ATTACHMENT)) {
							        <div class="down"><a href="@child.ATTACHMENT" title="@Html.Raw(child.TITLE)"></a></div>
                                }
                            </div>
						    <div class="clear"></div>
					    </div>
                        if(i%2 != 0){
                            <div class="clear"></div>
                        }
                        i++;
                    }
                    <div class="clear"></div>
                }
                else
                { 
                    <div class="no-data" style="display:none">@StringHelper.lang("text_cap_nhat")</div>
                }
                @if (!string.IsNullOrEmpty(ViewBag.pagination))
                {
                    <div class='paging'>
                        @Html.Raw(ViewBag.pagination)
                    </div>
                }
                </div>
            </div>
            <div class="clear"></div>
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $(".datepicker").datepicker({
        format: "dd-mm-yyyy"
    });

    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: $('#date_from').val(),
            dateTo: $('#date_to').val(),
            searchText: "",
            parrent: parrent
        }, function (e) {
            $("#list_content").html(e);
            scrollToDiv3("content-page");
        })
    }

    $(document).on("click", ".btn-search-news", function () {
        SearchContent(0, 1);
    })
</script>