﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.ArticleViewModel>
@if (Model != null)
{
    foreach (var child in Model)
    {
        <div class="it-wk">
			<div class="img-wk left">
				<a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 150, 102))" alt="@Html.Raw(child.TITLE)"></a>
			</div>
			<div class="info-wk left">
				<a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)" class="name-wk">@Html.Raw(child.TITLE)</a>
				<div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @child.CREATED.ToString("dd/MM/yyyy")</div>
				<div class="desc-wk">@CommonHelper.CutText(child.DESCRIPTION, 220)<a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Resources.Resources.READ_MORE">@Resources.Resources.READ_MORE</a></div>
			</div>
			<div class="clear"></div>
		</div>
    }
    
    if (!string.IsNullOrEmpty(ViewBag.pagination))
    {
        <div class='paging'>
            @Html.Raw(ViewBag.pagination)
        </div>
    }
}
