﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE("404 - Không tìm thấy trang");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CUR_LANG = StringHelper.language();
}
<!-- 404 -->
<div class="page-404 one" style="display:none">
	<div class="wrapper">
		<table class="tb100">
			<tbody>
				<tr>
					<td>
						<p class="p1">404</p>
						<p class="p2">@StringHelper.lang("text_page_not_found")</p>
						<p class="p3">Hiện tại server đang bảo trì.<br/>Trang web sẽ sớm hoạt động lại.</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="page-404 two">
	<div class="wrapper">
		<table class="tb100">
			<tbody>
				<tr>
					<td>
						<p class="p1">404</p>
						<p class="p2">@StringHelper.lang("text_page_not_found")</p>
						<p class="p3">@StringHelper.lang("text_url_incorrect")<br/>@StringHelper.lang("text_goto") <a href="@StringHelper.base_url_lang()" title="">@StringHelper.lang("home")</a></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- 404 -->