﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("dieu-khoan-su-dung"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-mtk.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("dieu-khoan-su-dung")</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right dksd">
		    <div class="page-title">
				<p>@StringHelper.lang("dieu-khoan-su-dung")</p>
				<div class="line"></div>
			</div>
			<div class="fs14 c_555 mt15 rol">Dưới đây là các  điều khoản, quy định đối với Khách hàng khi truy cập vào trang web MBS. Khách hàng sử dụng website này được mặc nhiên hiểu rằng đã đọc, hiểu rõ và đồng ý những điều khoản được đặt ra.</div>
			<div class="tit-dk">Giải thích một số thuật ngữ:</div>
			<div class="info-dk">
				<p>“MBS” sẽ có nghĩa là Công ty CP Chứng khoán MB và toàn thể cán bộ, nhân viên của Công ty CP Chứng khoán MB.</p>
				<p>“Trang web MBS” là trang web có địa chỉ truy cập là:  www.mbs.com.vn , bao gồm cả các trang liên kết đối với các sản phẩm và dịch vụ của MBS.</p>
				<p>“Khách hàng” là những cá nhân, tổ chức, hoặc bất kỳ ai truy cập và sử dụng trang web www.mbs.com.vn dưới mọi hình thức.</p>
			</div>
			<div class="tit-dk">1. Quy định về bản quyền:</div>
			<div class="info-dk">
				<p>Tất cả các sản phẩm, thông tin của MBS được đăng tải trên trên trang web MBS bao gồm mọi hình thức thiết kế, nội dung và hình ảnh đều thuộc quyền sở hữu của MBS trừ trường hợp do chính MBS công bố khác đi và được bảo vệ bởi luật bản quyền của Việt Nam. Nếu không có văn bản đồng ý chính thức của MBS, các bản quyền nêu trên không được phép sao chép, chuyển giao, trưng bày, trình chiếu, phân phối, lưu trữ hoặc tạo ra những phiên bản dưới bất cứ hình thức nào.</p>
			</div>
			<div class="tit-dk">2. Quy định sử dụng:</div>
			<div class="cl-left left">
				<div class="it-pro">Nghiêm cấm mọi hình thức sử dụng không được phép đối với trang web MBS, bao gồm sự lạm dụng, ăn cắp bản quyền, sử dụng sai ý nghĩa của bất cứ sản phẩm nào trên trang web này và các quy định về tính bảo mật của nó.</div>
				<div class="it-pro">Người sử dụng trang web MBS có thể download (tải xuống) và in trên giấy những thông tin trên trang web cho mục đích sử dụng cá nhân với điều kiện người sử dụng phải giữ nguyên bất cứ tác quyền hoặc thông báo nào chứa đựng trong các thông tin được tải xuống và phải có chú thích rõ ràng.</div>
			</div>
			<div class="cl-left left">
				<div class="it-pro">MBS có thể kiểm soát, theo dõi và ghi lại bất cứ việc sử dụng nào của người truy cập, sử dụng trang web này.</div>
				<div class="it-pro">Trong  trường hợp việc truy cập một số phần của trang web này yêu cầu thông tin định danh (user idenfication) và mật khẩu (password), người sử dụng phải tự thiết lập các quy trình bảo mật và có ý thức tự giữ gìn các thông tin bảo mật đó, hạn chế đối với những cá nhân khác trong việc sử dụng các thông tin định danh và mật khẩu của mình.</div>
			</div>
			<div class="clear"></div>
			<div class="tit-dk">3. Các điều khoản miễn trách đối với MBS:</div>
			<div class="cl-left left">
				<div class="it-pro">Mọi thông tin trên trang web MBS được cung cấp với mức độ tin cậy cao nhất có thể, tuy nhiên, các thông tin chỉ có giá trị tham khảo đối với người sử dụng. Khách hàng cần tự phân loại cho phù hợp với từng mục đích cụ thể trước khi đưa ra quyết định sử dụng hoặc những quyết định có liên quan. MBS không phải chịu bất cứ trách nhiệm gì đối với việc sử dụng các thông tin có trên web MBS.  Sẽ không có thông tin nào tại trang web này cấu thành một lời mời đầu tư chứng khoán hoặc đầu tư bất kỳ sản phẩm tài chính nào. Do đó, Khách hàng sẽ tự chịu mọi rủi ro trong việc sử dụng thông tin của trang web.</div>
				<div class="it-pro">MBS sẽ không chịu trách nhiệm pháp lý đối với những hư hại phát sinh có liên quan hoặc xuất phát từ việc sử dụng hoặc không sử dụng trang web, bao gồm cả những hư hại trực tiếp, gián tiếp như mất hoặc hư hỏng dữ liệu; mất hoặc hư hỏng, trục trặc máy tính; …</div>
				<div class="it-pro">Trang web MBS có thể cung cấp những đường liên kết tới các trang web khác của bên thứ ba nhằm mục đích đem lại sự tiện lợi cho người sử dụng. Do đó, MBS không bảo đảm bất kỳ điều gì liên quan đến nội dung của trang web của bên thứ ba. Việc MBS cung cấp đường liên kết tới trang web của bên thứ ba không hàm ý xác thực, cho phép, bảo trợ hay liên kết của MBS với trang web của bên thứ ba, hoặc người sở hữu hay người cung cấp trang web của bên thứ ba.</div>
			</div>
			<div class="cl-left left">
				<div class="it-pro">Đôi khi do quá nhiều người truy cập trang web MBS, các vấn đề truyền tải, giới hạn dung lượng hệ thống, và các vấn đề khác, người sử dụng có thể gặp khó khăn khi truy cập trang web hay liên hệ với MBS thông qua Internet hay các dịch vụ điện tử và không dây khác. Bất kỳ hệ thống máy tính hay thiết bị điện tử, dù là của người sử dụng, của nhà cung cấp dịch vụ Internet hay của MBS đều có thể bất ngờ bị ngừng hoạt động, hoạt động chậm chạp hay bị giới hạn khả năng.</div>
				<div class="it-pro">Không có nội dung nào trong văn bản này có thể chắc chắn rằng, việc khách hàng sử dụng các thông tin do MBS cung cấp tại trang web sẽ không vi phạm quyền phát minh, sở hữu hay sở hữu trí tuệ hoặc vi phạm các quy định khác. Vì thế, MBS không có bất cứ điều khoản đảm bảo nào đối với việc khách hàng sử dụng những thứ nêu trên sẽ không vi phạm bất kỳ quyền phát minh, sở hữu, sở hữu trí tuệ hoặc quy định khác.</div>
				<div class="it-pro">MBS hoặc bất cứ nhà cung cấp thứ ba nào không có nghĩa vụ duy trì thông tin và các dịch vụ sẵn sàng trên trang web này; và cũng không có nghĩa vụ cập nhật hay chỉnh sửa các thông tin đó. Mọi thông tin và dịch vụ có thể được thay đổi mà không báo trước.</div>
			</div>
			<div class="clear"></div>
			<div class="tit-dk">4. Các điều khoản khác:</div>
			<div class="cl-left left">
				<div class="it-pro">MBS có quyền xây dựng, sửa đổi, bổ sung quy định sử dụng trang web MBS hoặc quy định sử dụng từng nội dung cụ thể của trang web tại bất cứ thời điểm nào theo yêu cầu của việc quản lý và vận hành trang web. Những quy định sử dụng mới này sẽ có hiệu lực ngay lập tức khi được đăng tải trên trang web và được hiểu là đã có sự đồng ý của người sử dụng khi người sử dụng truy cập trang web</div>
			</div>
			<div class="cl-left left">
				<div class="it-pro">Các Điều khoản miễn trách đối với MBS sẽ được áp dụng cho bất kỳ người nào truy cập trang web MBS. Và khách hàng sử dụng trang web này được mặc nhiên hiểu rằng đã đọc, hiểu rõ và tự nguyện đồng ý với những điều khoản được đặt ra.</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>