﻿@using WizardCMS.Const
@using WizardCMS.Helpers

@{ 
    var id = ViewData["id"];
    var name = ViewData["name"];
    var button_id = ViewData["button_id"]; 
}

<input type="text" class='file-upload-url'  id="@name" name="@name" value="@Model"/>
<div class="button button-standard button-upload button-upload-file" id="@button_id">Browse Server</div>
<div class="clear"></div>
@if (!string.IsNullOrEmpty(Model))
{
    <a class="file-upload-preview" target="_blank" href="@Url.Content("~")@Model">Review</a>
}
else
{
    <a class="file-upload-preview" target="_blank" href=""></a>
}