﻿@using WizardCMS.Helpers;
@using WizardCMS.Const;

@model IEnumerable<WizardCMS.Models.ModuleModel>
<script type="text/javascript">
    $(document).ready(function () {
        $('.submenu_arrow').bind('click', function () {
            //$(this).addClass('active');
            $(this).parent().find('.submenu_toggle').slideToggle();

            var arrow = $(this); //.find('.submenu_arrow');
            if ($(arrow).hasClass("submenu_down")) {
                $(arrow).removeClass("submenu_down");
                $(arrow).addClass("submenu_up");
            } else {
                $(arrow).removeClass("submenu_up");
                $(arrow).addClass("submenu_down");
            }
        });

        //Load article sub menu
        if ($("#submenu_" + "@ViewBag.ArticleFunctionName").length > 0) {
            var ajaxUrl = root + "Admincp/MenuAdminArticle/";
            $.ajax({
                type: 'POST',
                url: ajaxUrl,
                data: { FunctionName: "@ViewBag.ArticleFunctionName" },
                success: function (content) {
                    $("#submenu_" + "@ViewBag.ArticleFunctionName").html(content);
                }
            });
        }
    });
</script>

<script type="text/javascript">
    function open_active_menu_level(menu_level) {
        var menu_level_class = 'menu_level_' + menu_level;
        $('.group_menu li.' + menu_level_class + ' > ul').slideUp(); // Collapse all menus same level with menu_level
        $('.group_menu li.' + menu_level_class + ' > a').each(function () {
            var current_class = $(this).attr('class');
            if (current_class.indexOf('active') != -1) {
                $(this).next().slideDown();
            }
        });
    }
    //hien active tai menu khi click
    function attach_click_event_to_open_menu_level(menu_level) {
        var menu_level_class = 'menu_level_' + menu_level;
        $('.group_menu li.' + menu_level_class + ' > a.clickable').click(function (e) {
            var current_class = $(this).attr('class');
            if (current_class.indexOf('active') == -1) {
                $('.group_menu li.' + menu_level_class + ' > a').removeClass('active');
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
            open_active_menu_level(menu_level);
            return false;
        });
    }
    // mo menu cha khi menu con da duoc active
    function open_menu_level(parent_menu_level) {
        // $("#group_menu").show();
        var parent_menu_level_class = 'menu_level_' + parent_menu_level;
        var menu_level = parent_menu_level + 1;
        var menu_level_class = 'menu_level_' + menu_level;
        $('.group_menu li.' + menu_level_class + ' > a').each(function (e) {
            var current_class = $(this).attr('class');
            if (current_class.indexOf('active') != -1) {
                $(this).closest('li.' + parent_menu_level_class).find('> a').addClass('active');
            }
        });
        open_active_menu_level(parent_menu_level);
    }
    $(document).ready(function () {
        attach_click_event_to_open_menu_level(1);
        attach_click_event_to_open_menu_level(2);
        attach_click_event_to_open_menu_level(3);
        attach_click_event_to_open_menu_level(4);

        // Open lower levels first!
        open_menu_level(4);
        open_menu_level(3);
        open_menu_level(2);
        open_menu_level(1);

        $('.menu-expand').each(function () {
            var $this = $(this);
            if ($this.find('a.active').length > 0) {
                $this.addClass('expanded');
                $this.removeClass('collapes');
                $this.find('> a').addClass('active');

            } else {
                $this.addClass('collapes');
                $this.removeClass('expanded');
            }
        });

        $("#loadMenu li").each(function () {
            var $this = $(this);
            if ($this.hasClass('expanded')) {
                $this.find(".group_menu:first").slideDown();
            }
            else {
                $this.find(".group_menu:first").hide();
            }
        });

        $("#loadMenu li.menu-expand a").live('click', function (e) {
            if ($(this).hasClass('active')) {
                return true;
            }
            if ($(this).next('.group_menu').length > 0) {
                e.preventDefault();
                $(this).addClass('active');
                //console.log($(this));
                //$(this).parent().next().slideToggle();
                $(this).parent().find(".group_menu:first").slideToggle();
                //$("#group_menu").slideToggle();
            } else {
                return true;
            }

        });

        $('.parent_nav').live('click', function () {
            //console.log($(this));
            //$(this).parent().next().slideToggle();
            $(this).parent().find(".group_menu:first").slideToggle();
        });
    });

</script>

<div class="left_content">
    <ul>
        <div id="loadMenu">
        @{
            string curentUrl = "", cssClassActive = "";
            bool hasSubmenu = false;

            if (Request.IsAjaxRequest())
            {
                curentUrl = Request.UrlReferrer.AbsoluteUri;
            }
            else
            {
                curentUrl = Request.Url.AbsoluteUri;
            }
            string perm = ViewBag.Permission;
            string segment2 = CommonHelper.GetSegment(2, curentUrl);
            string segment4 = CommonHelper.GetSegment(4, curentUrl);
            string category = Request.QueryString["category"];

            foreach (var item in Model)
            {
                int pos = perm.IndexOf("," + item.ID + "|");
                if (pos > 0)
                {
                    pos += item.ID.ToString().Length;
                    string p = perm.Substring(pos + 2, 3);
                    if (p != "---")
                    {
                        hasSubmenu = false;
                        cssClassActive = "";

                        if (item.NAME_FUNCTION.ToLower() == ViewBag.ArticleFunctionName.ToLower())
                        {
                            hasSubmenu = true;
                        }
                        if (curentUrl.ToLower().Contains("/" + item.NAME_FUNCTION.ToLower()) == true)
                        {
                            cssClassActive = "active";
                        }
                        
                        <li class="menu-expand">
		                    <a class="@cssClassActive" href="@( item.NAME_FUNCTION == "article" ? "javascript: void(0)" : "/admincp/" + item.NAME_FUNCTION + "/")"><span class="menu_items">@item.NAME</span></a>
		                    @if (item.NAME_FUNCTION == "article" && ViewBag.SubArticleMenus != null)
                      {
		                        <ul class="group_menu">
                                    <li class="menu_level_1"><a class="parent_nav @(category == "menu" ? "active" : "")" href="@("/admincp/article?category=menu")"><span class="menu_items_1">Tất cả menu</span></a></li>
							        <li class="menu_level_1"><a class="@(category == "all" ? "active" : "")" href="@("/admincp/article?category=all")"><span class="menu_items_1">Tất cả bài viết</span></a></li>
			                        @foreach (WizardCMS.DTO.MenuItemDTO sub in ViewBag.SubArticleMenus)
                           {
                               if (segment4 == sub.Id.ToString())
                               {
                                   cssClassActive = "active";
                               }

                               string sub_link = "/admincp/article?category=" + sub.Id;
                               if (Constants.LST_STATiC_PAGES.Contains(sub.Id))
                               {
                                   sub_link = "/admincp/article/update/" + sub.Id + (category != string.Empty ? "?category=" + category : "");
                               }
                                            
					            <li class="menu_level_1 menu-expand">
						            <a class="@(category == sub.Id.ToString() ? "active" : "")" href="@sub_link"><span class="menu_items_1">@Html.Raw(HttpUtility.HtmlDecode(sub.Title))</span></a>
                                    @if (sub.lstSubMenu != null)
                                    {
						            <ul class="group_menu">
							            @foreach (WizardCMS.DTO.MenuItemDTO sub2 in sub.lstSubMenu)
                                        {
                                            sub_link = "/admincp/article?category=" + sub2.Id;
                                            if (Constants.LST_STATiC_PAGES.Contains(sub2.Id))
                                            {
                                                sub_link = "/admincp/article/update/" + sub2.Id + (category != string.Empty ? "?category=" + category : "");
                                            }
								            <li class="menu_level_2 menu-expand"><a class="@(category == sub2.Id.ToString() ? "active" : "")" href="@sub_link"><span class="menu_items_2">@Html.Raw(HttpUtility.HtmlDecode(sub2.Title))</span></a>
									            @if (sub2.lstSubMenu != null && sub2.lstSubMenu.Count > 0)
                                                {
									                <ul class="group_menu">
										                @foreach (WizardCMS.DTO.MenuItemDTO sub3 in sub2.lstSubMenu)
                                                        {
                                                            sub_link = "/admincp/article?category=" + sub3.Id;
										                    <li class="menu_level_3 menu-expand">
											                    <a class="@(category == sub3.Id.ToString() ? "active" : "")" href="@sub_link"><span>@Html.Raw(HttpUtility.HtmlDecode(sub3.Title))</span></a>
											                    @if (sub3.lstSubMenu != null)
                                                                {
											                        <ul id="group_menu">
                                                                        @foreach (WizardCMS.DTO.MenuItemDTO sub4 in sub3.lstSubMenu)
                                                                        {
                                                                            sub_link = "/admincp/article?category=" + sub4.Id;
												                            <li class="menu_level_4">
													                            <a class="@(category == sub3.Id.ToString() ? "active" : "")" href="@sub_link"><span>@Html.Raw(HttpUtility.HtmlDecode(sub4.Title))</span></a>
												                            </li>
                                                                        }
											                        </ul>
                                                                }
										                    </li>
                                                        }
									                </ul>
                                                }
								            </li>
                                        }
						            </ul>
                                    }
					            </li>
                                                }
		                        </ul>
                      }
	                    </li>
                    }
                }
            }
        }
        </div>
    </ul>
</div>
