﻿@using WizardCMS.Helpers;
@{
    Layout = null;
}
<p>Xin chào </p>
<p>Bạn đã sử dụng tính năng quên mật khẩu tài khoản tại MBS.</p>
<p>Bạn vui lòng truy cập vào địa chỉ này để lấy mật khẩu mới cho tài khoản của bạn.</p>
<p>
    Để lấy mật khẩu mới vui lòng click vào liên kết sau:<br/>
    @StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/get-pass/@ViewBag.hash
</p>
<p>Nếu bạn vẫn có vấn đề về tài khoản của bạn, vui lòng liên hệ với nhân viên hỗ trợ khách hàng tại support@mbs.com.vn</p>
<p>MBS<br/>http://mbs.com.vn</p>
