﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Model.TITLE);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-trungtamphantich.jpg) center center">
	<div class="wrapper">
		<span>@(ViewBag.parent != null ? StringHelper.post_title(ViewBag.parent.TITLE) : StringHelper.post_title( Model.TITLE ) )</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Model.TITLE</p>
			    <div class="line"></div>
			</div>
	    	<div class="tt-gtcl first">
                <div class="date"><span>@StringHelper.lang("text_created"):</span> @Model.CREATED.ToString("dd/MM/yyyy")</div>
                <div class="content-detail">@Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))</div>
            </div>
        </div>
	</div>
</div>
<!-- end content home -->