﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.MessageViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Model.TITLE);
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-trungtamphantich.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(ViewBag.node_phan_tich.TITLE)</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right program-ud-detail">
			<div class="page-title">
			    <p>@Model.TITLE</p>
			    <div class="line"></div>
			</div>
	    	<div class="program-detail">
				<div class="date"><span>@StringHelper.lang("text_created"):</span> @Model.CREATED.ToString("dd/MM/yyyy")</div>
				<div class="detail-pr mt10">
                    @Html.Raw(Model.CONTENT)
				</div>
				<div class="line-space mt16"></div>
			</div>
            @if (ViewBag.related != null){
                int i = 0;
			<div class="program-other">
				<div class="page-title">
					<p>@StringHelper.lang("text_other_news")</p>
					<div class="line"></div>
				</div>
				<div class="list-other-pr">
                    @foreach (var item in ViewBag.related){
					    <div class="it-pro-other @(i%2==0?"left":"right")">
						    <div class="img-proth left">
                                <a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@item.ID/@StringHelper.CreateSlug(item.TITLE)" title="@item.TITLE">
                                <img src="@Url.Content("~")@CommonHelper.FetchImage(item.THUMBNAIL, 149, 78, 2)" alt="@item.TITLE" title="@item.TITLE" />
                                </a>
						    </div>
						    <div class="info-proth left">
							    <a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@item.ID/@StringHelper.CreateSlug(item.TITLE)" title="@item.TITLE">@item.TITLE</a>
							    <div class="date"><span>@StringHelper.lang("text_created"):</span> @item.CREATED.ToString("dd/MM/yyyy")</div>
						    </div>
						    <div class="clear"></div>
					    </div>
                                                                         i++;
                    }
					<div class="clear"></div>
				</div>
			</div>
            }
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->