﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
    string refer_ws = Request.QueryString["ws"];
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-trungtamphantich.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.post_title(ViewBag.node_ck_phai_sinh.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right workshops">
            @if (ViewBag.list_category != null)
            {
                foreach (var category in ViewBag.list_category)
                {
			        <div class="page-title">
			            <p>@category.TITLE</p>
			            <div class="line"></div>
			        </div>
                    <div class="bctc-page lbcpt">
				        <div class="list-item mt20" id="list_content">
                        @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                        {
                            int i = 0;
                            foreach (var child in ViewBag.childs)
                            {
                                if (child.PARENT_ID == category.ID)
                                {
                                    <div class="@((i % 2 == 0) ? "item left" : "item right")">
						                <div class="img"></div>
						                <div class="it-ct">
							                <div class="tit"><a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)">@StringHelper.post_title(child.TITLE)</a></div>
							                <div class="dat"><b>@StringHelper.lang("text_created"): </b>@child.CREATED.ToString("dd/MM/yyyy")</div>
							                <div class="con">@CommonHelper.CutText(child.DESCRIPTION, 190)</div>
                                            @if (!string.IsNullOrEmpty(child.ATTACHMENT))
                                            {
							                    <div class="down"><a href="@child.ATTACHMENT" title="@Html.Raw(child.TITLE)"></a></div>
                                            }
                                        </div>
						                <div class="clear"></div>
					                </div>
                                    if (i % 2 != 0)
                                    {
                                        <div class="clear"></div>
                                    }
                                    i++;
                                }
                            }
                        }
                        else
                        { 
                            <div class="no-data" style="display:none">@StringHelper.lang("text_cap_nhat")</div>
                        }
                        @if (ViewBag.show_style == "SINGLE_CATEGORY")
                        {
                            if (!string.IsNullOrEmpty(ViewBag.pagination))
                            {
                                <div class='paging'>
                                    @Html.Raw(ViewBag.pagination)
                                </div>
                            }
                        }
                        else
                        {
                            <div class="clear"></div>
                            <div style="height:30px; padding-top:5px"><a class="exchange-more right" href="@StringHelper.base_url_lang()@StringHelper.lang("")@category.LINK" title="">@StringHelper.lang("text_view_all") &gt;&gt;</a></div>
                        }
                        
                        </div>
                    </div>
                    <div class="clear"></div>
                }
            }
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $(".datepicker").datepicker({
        format: "dd-mm-yyyy",
        todayHighlight: true, 
        autoclose: true
    });

    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: $('#date_from').val(),
            dateTo: $('#date_to').val(),
            searchText: "",
            parrent: parrent
        }, function (e) {
            $("#list_content").html(e);
            scrollToDiv3("content-page");
        })
    }

    $(document).on("click", ".btn-search-news", function () {
        SearchContent(0, 1);
    })
</script>