﻿@using WizardCMS.Helpers;
@{
    Layout = null;
}
<p>Xin chào </p>
<p>Mật khẩu của bạn tại MBS đã được khởi tạo lại.</p>
<p>Thông tin tài khoản của bạn:</p>
<p>
    Username: @Model.USERNAME<br/>
    Password: @ViewBag.Password
</p>
<p>Bạn vui lòng truy cập vào địa chỉ này để đổi mật khẩu khác cho tài khoản của bạn.</p>
<p>
    Để thay đổi mật khẩu vui lòng đăng nhập vào tài khoản của bạn và sử dụng tính năng đổi mật khẩu:<br/>
    @StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("text_dang_nhap")
</p>
<p>Nếu bạn vẫn có vấn đề về tài khoản của bạn, vui lòng liên hệ với nhân viên hỗ trợ khách hàng tại support@mbs.com.vn</p>
<p>MBS<br/>http://mbs.com.vn</p>
