﻿@using WizardCMS.Helpers;
@{
    Layout = null;
}
<p>Xin chào </p>
<p>Cám ơn bạn đã đăng ký tài khoản tại MBS.</p>
<p>Lưu ý - bạn phải hoàn thành bước cuối để trở thành thành viên chính thức. Bạn chỉ cần truy cập vào địa chỉ này một lần để kích hoạt tài khoản của bạn.</p>
<p>
    Để hoàn thành việc đăng ký vui lòng click vào liên kết sau:<br/>
    @StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/active?u=@Model.ID&token=@Model.TOKEN
</p>
<p>Nếu bạn vẫn có vấn đề với việc đăng ký tài khoản, vui lòng liên hệ với nhân viên hỗ trợ khách hàng tại support@mbs.com.vn</p>
<p>MBS<br/>http://mbs.com.vn</p>
