﻿@using WizardCMS.Const;
@using WizardCMS.Helpers;
<div class="box_search right">
	<form action="@StringHelper.base_url_lang()@Resources.Resources.SEARCH_LINK" name="frSearch" id="frSearch" method="get">
		<input type="text" name="k" value="@Resources.Resources.KEY_WORD" onfocus="if(this.value=='@Resources.Resources.KEY_WORD'){this.value=''}" onblur="if(this.value==''){this.value='@Resources.Resources.KEY_WORD'}" />
        <nobr>
        &nbsp;<a href="javascript:void(0);" title="" id="_btnSearch"><img class='png' src="@Url.Content("~/Images/btn/btn_search.png")" alt='search' /></a>
        </nobr>
	</form>

</div>