﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(ViewBag.node_cham_soc.TITLE)</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>
		<div class="wrap-content-right program-ud-detail">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
	    	<div class="program-detail">
				<div class="date"><span>@StringHelper.lang("text_created"):</span> @Model.CREATED.ToString("dd/MM/yyyy")</div>
				<div class="detail-pr mt10">
                    @Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))
				</div>
				<div class="line-space mt16"></div>
			</div>
            @if (ViewBag.related != null){
                int i = 0;
			<div class="program-other">
				<div class="page-title">
					<p>@StringHelper.lang("chuong-trinh-lien-quan")</p>
					<div class="line"></div>
				</div>
				<div class="list-other-pr">
                    @foreach (var item in ViewBag.related){
					    <div class="it-pro-other @(i%2==0?"left":"right")">
						    <div class="img-proth left">
                                <a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img(item.THUMBNAIL, 149, 78))" alt="@Html.Raw(item.TITLE)" title="@Html.Raw(item.TITLE)" /></a>
						    </div>
						    <div class="info-proth left">
							    <a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a>
							    <div class="date"><span>@StringHelper.lang("text_created"):</span> @item.CREATED.ToString("dd/MM/yyyy")</div>
						    </div>
						    <div class="clear"></div>
					    </div>
                        i++;
                    }
					<div class="clear"></div>
				</div>
			</div>
            }
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->