﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(ViewBag.node_cham_soc.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>
		<div class="wrap-content-right program-ud">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="wrap-tab-wk">
				<div class="tab-wk work active">
                    @if (ViewBag.featured != null)
                    {
                    <div class="it-wk first">
						<div class="img-wk"><a href="@(Url.Content("~") + Lang)/@ViewBag.featured.LINK" title="@Html.Raw(ViewBag.featured.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img(ViewBag.featured.THUMBNAIL, 745, 260))" alt="@Html.Raw(ViewBag.featured.TITLE)" /></a></div>
						<div class="info-wk">
							<a href="javascript: void(0);" title="@Html.Raw(ViewBag.featured.TITLE)" class="name-wk">@Html.Raw(ViewBag.featured.TITLE)</a>
							<div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @ViewBag.featured.CREATED.ToString("dd/MM/yyyy")</div>
							<div class="desc-wk">@CommonHelper.CutText(ViewBag.featured.DESCRIPTION, 440)<a href="@(Url.Content("~") + Lang)/@ViewBag.featured.LINK" title="@Resources.Resources.READ_MORE">@Resources.Resources.READ_MORE</a></div>
						</div>
					</div>
                    }
                    <div id="content_list">
                    @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                    {
                        int i = 0;
                        foreach (var child in ViewBag.childs)
                        {
                            <div class="it-wk">
						        <div class="img-wk left">
							        <a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 150, 102))" alt="@Html.Raw(child.TITLE)" /></a>
						        </div>
						        <div class="info-wk left">
							        <a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)" class="name-wk">@Html.Raw(child.TITLE)</a>
							        <div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @child.CREATED.ToString("dd/MM/yyyy")</div>
							        <div class="desc-wk">@CommonHelper.CutText(child.DESCRIPTION, 220)<a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Resources.Resources.READ_MORE">@Resources.Resources.READ_MORE</a></div>
						        </div>
						        <div class="clear"></div>
					        </div>
                        }
                    }
                    else
                    { 
                        <div class="no-data">@StringHelper.lang("text_cap_nhat")</div>
                    }
				    
                    @if (!string.IsNullOrEmpty(ViewBag.pagination))
                    {
                        <div class='paging'>
                            @Html.Raw(ViewBag.pagination)
                        </div>
                    }
                    </div>
				</div>
			</div>
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->
<script type="text/javascript">
    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: "",
            dateTo: "",
            searchText: "",
            parrent: parrent
        }, function (e) {
            $("#content_list").html(e);
            scrollToDiv3("content-page");
        })
    }
</script>
