﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Banner = "Assets/images/banner/banner-0406/banner-dichvuchungkhoang.jpg";
    if (ViewBag.parent.ID == Constants.NODE_DV_NHDT_TC)
    {
        Banner = "Assets/images/banner/banner-0406/banner-nganhangdautu.jpg";
    }
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")@Banner) center center">
	<div class="wrapper">
		<span>@(ViewBag.parent != null ? Html.Raw(ViewBag.parent.TITLE) : Html.Raw(Model.TITLE))</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
	    	<div class='page-content-body'>
                
            </div>
			<div class="banking-services">
				<div class="banking-share">
					<div class="info">
                        @Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))
					</div>
                    @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                    {
                    int i = 0;
                    int j = 0;
                    string _RootURL = Url.Content("~") + StringHelper.language() + "/";
                        
					<div class="banking-advisory @(ViewBag.childs.Count==2?"ma":"")">
                        @foreach (var item in ViewBag.childs)
                        {
                            i++;
                            string _ScriptForLink = "javascript:scroll_to_sub_article('#sa" + i + "');";
                            if (item.SUB_TITLE != null)
                            {
                                if (item.SUB_TITLE.IndexOf("[LINK]") >= 0)
                                {
                                    _ScriptForLink = _RootURL + item.SUB_TITLE.Substring(6, item.SUB_TITLE.Length - 6);
                                    i--;
                                }
                            }
						<div class="item-advisory">
							<a href="@(_ScriptForLink)" title="@Html.Raw(item.TITLE)">
								<table>
									<tbody>
										<tr>
											<td>
                                                @if (item.ICON != null)
                                                {
												    <p><img src="@item.ICON" alt="" title="" /><span class="imba"></span></p>
                                                }
												<p><span class="text">@Html.Raw(item.TITLE)</span></p>
											</td>
										</tr>
									</tbody>
								</table>
							</a>
						</div>
                        }
						<div class="clear"></div>
					</div>
					<div class="banking-counsel">
                        @foreach (var item in ViewBag.childs)
                        {
                            string _SubTitle = item.TITLE;
                            bool _ShowSubArticle = true;
                            if (item.SUB_TITLE != null)
                            {
                                if (item.SUB_TITLE.IndexOf("[LINK]") >= 0)
                                {
                                    _SubTitle = "";
                                    _ShowSubArticle = false;
                                }
                            }
                            
                            if (_ShowSubArticle)
                            {
                            j++;
						    <div class="banking-counsel-it">
							    <div class="tt" style="width:100%">
								    <p><a id="sa@(j)" href="#sa@(j)"></a>@(StringHelper.post_title(_SubTitle))</p>
								    <span class="line"></span>
							    </div>
							    <div class="banking-info" style="width:100%">@Html.Raw(item.CONTENT)</div>
							    <div class="clear"></div>
						    </div>
                            }
                        }
					</div>
                    }
                    </div>
			</div>
        </div>
	</div>
</div>
<script language="javascript">
    function scroll_to_sub_article(anchorName) {
        try {
            $(document.body).animate({
                'scrollTop': $(anchorName).offset().top
            }, 2000);
        }
        catch (err) {
            alert(err);
        }
    }

    var arrTemp = $(location).attr('href').split('#');

    if (arrTemp.length > 1) {
        scroll_to_sub_article('#' + arrTemp[1]);
    }
    
</script>
<!-- end content home -->