﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-taichinh.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="bctc-page news-page" id="content_list">
				<div class="list-item">
				@if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                {
                    int i = 0;
                    foreach (var child in ViewBag.childs)
                    {
					    <div class="item itemnews">
						    <div class="img">
							    <a href="@(Url.Content("~") + Lang)@child.LINK" title="@Html.Raw(child.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 185, 111))" alt="" /></a>
						    </div>
						    <div class="it-ct">
							    <div class="tit"><a href="">@Html.Raw(child.TITLE)</a></div>
							    <div class="dat"><b>@StringHelper.lang("text_created"): </b>@child.CREATED.ToString("dd/mm/yyyy")</div>
							    <div class="con">@CommonHelper.CutText(child.DESCRIPTION, 220)<a class="rm" href="@(Url.Content("~") + Lang)@child.LINK"> @Resources.Resources.READ_MORE</a></div>
						    </div> 
						    <div class="clear"></div>
					    </div>
                    }
                }
                else
                { 
                    <div class="no-data">@StringHelper.lang("text_cap_nhat")</div>
                }
				</div>
                @if (!string.IsNullOrEmpty(ViewBag.pagination))
                {
                    <div class='paging'>
                        @Html.Raw(ViewBag.pagination)
                    </div>
                }
			</div>
            <div class="clear"></div>
        </div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: "",
            dateTo: "",
            searchText: "",
            parrent: parrent
        }, function (e) {
            $("#content_list").html(e);
            scrollToDiv3("content-page");
        })
    }
</script>
