﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-nganhangdautu.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>

            <div class="banking-services">
				<div class="banking-share">

                    <div class="info">
					    <p>@Html.Raw(StringHelper.lang("text_thuong_vu_mota"))</p>
				    </div>
                    <div class="banking-business">
					    <div class="banking-business-all">
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv1.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Ngân hàng TMCP Quân đội</span>
									    <span class="text">Tư vấn phát hành trái phiếu<br/>Giá trị thu xếp: 1.430 tỷ VNĐ<br/>Tư vấn phát hành cổ phiếu<br/>Vốn huy động: 1.360 tỷ VNĐ<br/>Năm thục hiện: 2010</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv2.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Công ty CP cao su<br/>Phước Hòa (PHR)</span>
									    <span class="text">Tư vấn chuyển đổi,<br/>Tư vấn niêm yết, Tư vấn IPO <br/>Giá trị IPO: 889 tỷ VNĐ <br/>Năm thục hiện: 2007 - 2008</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv3.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Công ty CP Cơ điện và<br/>Xây dựng Việt Nam (MCG)</span>
									    <span class="text">Tư vấn phát hành cổ phiếu <br/>Vốn huy động: 358 tỷ VNĐ <br/>Năm thục hiện: 2010</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="clear"></div>
					    </div>
					    <div class="banking-business-all">
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv4.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Cty CP Tài Chính và phát<br/>triển doanh nghiệp FBS</span>
									    <span class="text">Tư vấn và BLPH trái phiếu<br/>Vốn thu xếp: 300 tỷ VNĐ<br/>Năm thục hiện 2009</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv5.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Công ty CP Ống thép<br/>Việt Đức (VGS)</span>
									    <span class="text">Tư vấn phát hành cổ phiếu<br/>Vốn huy động: 250 tỷ VNĐ<br/>Năm thục hiện 2009</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv6.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Công ty CP Đầu tư<br/>Tổng hợp Hà Nội (SHN)</span>
									    <span class="text">Tư vấn phát hành cổ phiếu <br/>Vốn huy động: 238 tỷ VNĐ<br/>Năm thục hiện: 2010</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="clear"></div>
					    </div>
					    <div class="banking-business-all">
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv7.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Công ty CP<br/>Tập đoàn Tân Mai</span>
									    <span class="text">Tư vấn và BLPH trái phiếu<br/>Vốn thu xếp: 300 tỷ VNĐ<br/>Năm thục hiện 2009</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv8.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Công ty CP Xây dựng<br/>Hà tầng Sông Đà (SDH)</span>
									    <span class="text">Tư vấn phát hành cổ phiếu<br/>Vốn huy động: 250 tỷ VNĐ<br/>Năm thục hiện 2009</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="banking-business-it">
							    <a href="javascript:void(0);" title="">
								    <img src="@Url.Content("~")Assets/images/img/img-tv9.jpg" alt="" title="" />
								    <p>
									    <span class="tit">Công ty CP Cao su<br/>Đồng Phú (DPR)</span>
									    <span class="text">Tư vấn chuyển đổi, Tư vấn IPO<br/>Giá trị IPO: 626 tỷ VNĐ<br/>Năm thục hiện 2006</span>
									    <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
								    </p>
							    </a>
						    </div>
						    <div class="clear"></div>
					    </div>
				    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $(".gr-bp li").click(function () {
        var $this = $(this);
        var id = $this.attr('rel')
        //$(this).animate(function(){
        $('html, body').animate({
            scrollTop: $(id).offset().top
        }, 500);
        //});
    });

    $('.dr-icon').click(function () {
        $('html, body').animate({
            scrollTop: 0
        }, 500);
    })
</script>