﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.TaxonomyViewModel

<script type="text/javascript">
    
    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });
        $(".order").numeric();
        MaxAllowSize = @ViewBag.MaxAllowSize;
        if(MaxAllowSize != null){
            //alert("Oh Yeah");
        }
        else{
            MaxAllowSize = 3;
        }

        //lang switcher
        $('#lang_switch').tabs();

        $("#provinceAdmincp").trigger("change");
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };

        update_ck();
              
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if (form.nameAdmincp.value == '') {
            $('#txt_error').html('Chưa nhập tên.');
            $('#loader').fadeOut(300);
            show_error();
            $('input[name="nameAdmincp"]').addClass('error-fr');
            $('.error_template').fadeIn();
            return false;
        }
    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            location.href = root + "admincp/" + module + "/#/save";
        } else if (responseText == 'ERROR_SLUG') {
            show_error('Tên banner bị trùng.');
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }

    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }

    function changeProvince(e){
        var province = $(e).val();
        var district = $('#districtAdmincp').attr("current-value");

        $.post(root+"branch/changeProvince", {PROVINCE_ID:province, DISTRICT_ID:district}, function(res){
            $('#districtAdmincp').html(res);
            return true;
        });
    }
</script>
@{
    string backlink = Url.Content("~") + "admincp/"+ViewBag.module+"/#/back";
}
<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" class="" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">
                            @ViewBag.module Update</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")@ViewBag.module/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null) { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @if (Model != null)
                                               {
                                                   if (Model.STATUS == 1)
                                                   { 
                                                       @Html.Raw("checked = 'checked'") }
                                               }
                                               else
                                               {
                                                       @Html.Raw("checked = 'checked'") 
                                               } type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Name: <span class="error_template txt-error-fr">*</span>
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="nameAdmincp" id="nameAdmincp" value="@if (Model != null){@Html.Raw(Model.NAME)}" onblur="checkInp(this.value,'nameAdmincp')"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Referance:
                                </td>
                                <td class="right_text_field">
                                    <select name="referance" id="referance" style="width: 200px; height: 24px;">
                                        <option value="0">[ Referance ]</option>
                                        <!-- option list -->
                                        @if (ViewBag.OptionList != null)
                                        {
                                            @Html.Raw(ViewBag.OptionList)
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Priority:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null){@Model.PRIORITY}
                                                  else { @Html.Raw("0"); }" type="text" name="priority" class="priority" id="priority" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                                      
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
