﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-dichvuchungkhoang.jpg) center center">
	<div class="wrapper">
		<span>@(ViewBag.parent != null ? Html.Raw(ViewBag.parent.TITLE) : Html.Raw(Model.TITLE))</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>

            <div class='page-content-body'>
                <!-- <div class="fs14 c_555 mt15">@Html.Raw(StringHelper.field_content(Model.ContentTranslates, "CONTENT"))</div> -->
                <br />
                <table style="width:100%" border="0px">
					<colgroup><col width="20%" /><col width="20%" /><col width="20%" /><col width="20%" /><col width="20%" /></colgroup>
                    @if (ViewBag.childs != null)
                    {
                        int i = 1;
                        foreach (var item in ViewBag.childs)
                        {
                            @(i % 5 == 1 ? Html.Raw("<tr>") : Html.Raw(""))
                        
                            @(i % 5 == 1 && i > 1 ? Html.Raw("</tr>") : Html.Raw(""))
                                
                            <td style="padding-right:16px; padding-bottom:25px; height:100%">
							    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="height:170px; background-color:#0066b3">
                                    <tr><td align="center" valign="middle" style="padding:5px" class="_box_link" rel="#item_bp@(i)" data-hash='#@item.SLUG'>
								        <div>
									        <span>
										        <a href="#@item.SLUG" title=""><img alt="" src="@item.ICON" class=""></a>
									        </span>
								        </div>
								        <p class="box_link"><a href="#@item.SLUG" title="">@(StringHelper.IsNullOrEmptyOrWhiteSpace(item.SUB_TITLE) ? StringHelper.post_title(item.TITLE) : StringHelper.post_title(item.SUB_TITLE))</a></p>
                                    </td></tr>
                                </table>
                            </td>
                            i++;
                        }
                        
                        @(i % 5 != 1 ? Html.Raw("</tr>") : Html.Raw(""))
                    }
				</table>

                @if (ViewBag.childs != null)
                {
                    int i = 1;
                    foreach (var item in ViewBag.childs)
                    {
						<div class="linedraw mt30"></div>
			            <div class="item_bp item_bp@(i) mt30 @item.SLUG" id="item_bp@(i)">
				            <div class="draw-blue">
					            <p>@(i). @StringHelper.post_title(item.TITLE)</p>
					            <img data-cl="itembp@(i)" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
				            </div>
			            </div>
			            <div class="text-bpshow fs14 c_555">
				            @Html.Raw(item.CONTENT)
			            </div>
           i++;
                    }
                }
                
            </div>
        </div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $("._box_link").click(function () {
        var $this = $(this);
        var id = $this.attr('rel');
        window.location.hash = $this.data('hash');

        //$(this).animate(function(){
        $('html, body').animate({
            scrollTop: $(id).offset().top
        }, 500);
        //});
    });

    $('.dr-icon').click(function () {
        var cl = $(this).data("cl");
        $('html, body').animate({
            scrollTop: $("." + cl).offset().top
        }, 500);
    });

    $(document).ready(function () {
        var url = location.href;
        if (url.indexOf('#') >= 0) {
            console.log('scroll beiu phi');
            var hash = url.substr(url.indexOf('#') + 1);
            console.log(hash);
            if (hash != '' && $("." + hash).length > 0) {
                //scrollToDiv2(hash);
                $('html, body').animate({
                    scrollTop: $("." + hash).offset().top
                }, 500);
            }
        }
    });
</script>