﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Model.TITLE);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-dvdt.jpg) center center">
	<div class="wrapper">
		<span>@(ViewBag.parent != null ? ViewBag.parent.TITLE : Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Model.TITLE</p>
			    <div class="line"></div>
			</div>
	    	<div class='page-content-body'>
                <div class="fs14 c_555 mt15">
					@Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))
				</div>
				<div class="list_dvdt mt25">
					<ul>
						<li class="itemdt1" rel="#item_click1">
							<img class="bg" src="@Url.Content("~")Assets/images/img/dt_img1.jpg" alt="" />
							<div class="bd-dvdt">
								<div class="tbc">
									<img src="@Url.Content("~")Assets/images/icon/dt_ico1.png" alt="" />
									<p>Giao dịch chứng khoán trực tuyến</p>
								</div>
							</div>
						</li>
						<li class="itemdt2" rel="#item_click2">
							<img class="bg" src="@Url.Content("~")Assets/images/img/dt_img2.jpg" alt="" />
							<div class="bd-dvdt">
								<div class="tbc">
									<img src="@Url.Content("~")Assets/images/icon/dt_ico2.png" alt="" />
									<p>Giao dịch chứng khoán qua điện thoại</p>
								</div>
							</div>
						</li>
						<li class="itemdt3" rel="#item_click3">
							<img class="bg" src="@Url.Content("~")Assets/images/img/dt_img3.jpg" alt="" />
							<div class="bd-dvdt">
								<div class="tbc">
									<img src="@Url.Content("~")Assets/images/icon/dt_ico3.png" alt="" />
									<p>Tổng đài tra cứu <br/>&amp; giao dịch chứng khoán <br/>qua điện thoại</p>
								</div>
							</div>
						</li>
                        <li class="itemdt4" rel="#item_click4">
							<img class="bg" src="@Url.Content("~")Assets/images/img/dt_img4.jpg" alt="" />
							<div class="bd-dvdt">
								<div class="tbc">
									<img src="@Url.Content("~")Assets/images/icon/dt_ico4.png" alt="" />
									<p>Giao dịch chứng khoán trực tuyến</p>
								</div>
							</div>
						</li>
						<li class="itemdt5" rel="#item_click5">
							<img class="bg" src="@Url.Content("~")Assets/images/img/dt_img5.jpg" alt="" />
							<div class="bd-dvdt">
								<div class="tbc">
									<img src="@Url.Content("~")Assets/images/icon/dt_ico5.png" alt="" />
									<p>Bảng giá chứng khoán trực tuyến</p>
								</div>
							</div>
						</li>
						<li class="itemdt6" rel="#item_click6">
							<img class="bg" src="@Url.Content("~")Assets/images/img/dt_img6.jpg" alt="" />
							<div class="bd-dvdt">
								<div class="tbc">
									<img src="@Url.Content("~")Assets/images/icon/dt_ico6.png" alt="" />
									<p>Tra cứu thông tin <br/>giao dịch qua tin nhắn SMS</p>
								</div>
							</div>
						</li>
					</ul>
					<div class="clearAll"></div>
				</div>

				<div class="linedraw mt10"></div>

                <div class="item_click item_click1 mt30" id="item_click1">
					<div class="draw-blue">
						<img class="tit" src="@Url.Content("~")Assets/images/icon/dt_ico1.png" alt="" />
						<img data-cl="itemdt1" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
					</div>
				</div>
				<div class="text-dtshow fs14 c_555">
					<p>Stock24 là sản phẩm giao dịch trực tuyến được MBS nghiên cứu và phát triển nhằm cung cấp các tiện ích giao dịch và hỗ trợ tra cứu thông tin cho Khách hàng.</p>
					<p>Stock24 là một sản phẩm thân thiện, đơn giản và dễ sử dụng, dành cho mọi đối tượng Khách hàng giao dịch chứng khoán tại MBS.</p>
					<p>Chỉ cần một máy tính được kết nối Internet, dù ở bất kỳ đâu, Khách hàng truy cập vào địa chỉ <br/><a href="http://stock24.mbs.com.vn" target="_blank">http://stock24.mbs.com.vn</a> là có thể:</p>
					<div>
						<ul>
							<li>Tạo nhiều danh mục chứng khoán, thuận tiện cho việc theo dõi;</li>
							<li>Giao dịch cùng một lúc nhiều tài khoản dịch vụ;</li>
							<li>Đặt lệnh không bị giới hạn ;</li>
							<li>Đặt lệnh và theo dõi trạng thái lệnh trực tuyến;</li>
							<li>Tích hợp bảng giá, tính năng đặt lệnh thông minh từ bảng giá vào màn hình giao dịch;</li>
							<li>Chia lệnh lớn HSX thành các lệnh nhỏ tự động; đặt lệnh lô lẻ sàn HNX;</li>
							<li>Giao dịch tiền trực tuyến như: chuyển khoản nội bộ &amp; chuyển khoản ra ngoài ngân hàng theo thời gian thực (Realtime) 24/24 kể cả thứ 7, CN;</li>
						</ul>
						<ul>
							<li>Quản lý lãi lỗ tài khoản;</li>
							<li>Ứng trước giao dịch bán online;</li>
							<li>Quản lý thực hiện quyền online;</li>
							<li>Bán chứng khoán lô lẻ online;</li>
							<li>Hợp tác kinh doanh chứng khoán Online;</li>
							<li>Hợp tác kinh doanh chứng khoán Online;</li>
							<li>Theo dõi tư vấn chiến lược đầu tư online;</li>
							<li>Tra cứu báo cáo tài sản;</li>
							<li>Thay đổi thông tin cá nhân online.</li>
						</ul>
					</div>
				</div>

				<div class="linedraw"></div>

				<div class="item_click item_click2 mt30" id="item_click2">
					<div class="draw-blue">
						<img class="tit" src="@Url.Content("~")Assets/images/icon/dt_ico2.png" alt="" />
						<img data-cl="itemdt2" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
					</div>
				</div>

				<div class="text-dtshow fs14 c_555">
					<p>M.Stock24 là kênh giao dịch trực tuyến trên điện thoại thông minh với các hệ điều hành thông dụng như IOS và Android, giúp khách hàng có thể giao dịch mọi lúc, mọi nơi. Với M.Stock24, khách hàng có thể:</p>
					<div>
						<ul>
							<li>Theo dõi thông tin thị trường;</li>
							<li>Theo dõi thông tin chi tiết các mã cổ phiếu quan tâm;</li>
							<li>Giao dịch mua bán nhanh chóng, chính xác;</li>
							<li>Hủy sửa lệnh giao dịch thuận tiện;</li>
							<li>Chuyển tiền nội bộ giữa các tài khoản trong MBS;</li>
							<li>Chuyển tiền trực tuyến 24/7 sang tài khoản ngân hàng MB;</li>
						</ul>
						<ul>
							<li>Chuyển tiền trực tuyến sang tài khoản ngân hàng khác;</li>
							<li>Ứng trước tiền bán chứng khoán;</li>
							<li>Sao kê tiền, chứng khoán;</li>
							<li>Quản lý danh mục đầu tư tài khoản;</li>
							<li>Theo dõi thông tin số dư.</li>
						</ul>
					</div>
				</div>

				<div class="linedraw"></div>

				<div class="item_click item_click3 mt30" id="item_click3">
					<div class="draw-blue">
						<img class="tit" src="@Url.Content("~")Assets/images/icon/dt_ico3.png" alt="" />
						<img data-cl="itemdt3" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
					</div>
				</div>

				<div class="text-dtshow fs14 c_555">
					<p>Contact24 là hệ thống tổng đài tra cứu thông tin tự động và giao dịch qua điện thoại của MBS, chỉ một đầu số riêng biệt cho phép khách hàng lựa chọn nhiều tính năng, dịch vụ khác nhau. Đầu số tổng đài: 19009088. Sử dụng Contact24, khách hàng có thể:</p>
					<div>
						<ul>
							<li>Tra cứu thông tin tài khoản tự động: số dư, kết quả khớp lệnh trong ngày, thông báo và thông tin thực hiện quyền;</li>
							<li>Đổi mật khẩu Contact24 tự động;</li>
						</ul>
						<ul>
							<li>Gặp nhân viên đặt lệnh và tra cứu thông tin tài khoản;</li>
							<li>Yêu cầu hỗ trợ: lấy lại mật khẩu Contact24 tự động, hỗ trợ Stock24, hỗ trợ thông tin khác.</li>
						</ul>
					</div>
					<p>Ưu điểm</p>
					<div>
						<ul>
							<li>Xác thực nhanh chóng, tính bảo mật cao: Quý khách có thể lấy lại mật khẩu Contact24 tự động và nhận qua tin nhắn SMS;</li>
							<li>Kênh nhận thông tin đa dạng: Quý khách có thể nhận thông tin tra cứu tự động bằng hình thức nghe lời thoại hoặc nhận qua tin nhắn SMS;</li>
						</ul>
						<ul>
							<li>Đặt lệnh, tra cứu và giao dịch cho nhiều tài khoản:<br/>
							 	&#8226; &nbsp;Tài khoản thường và các tài khoản dịch vụ (tài khoản tiểu khoản).<br/>
							 	&#8226; &nbsp;Tài khoản được ủy quyền.
							</li>
						</ul>
					</div>

					<p>Để biết thêm chi tiết xin Quý khách vui lòng liên hệ qua kênh hỗ trợ trực tuyến (Email, Gtalk, Skype, Yahoo), hotline: <strong>19009088</strong> nhánh 4 hoặc các CN/PGD của MBS.</p>

					<div>
						<ul>
							<li><strong>Yahoo:</strong> mbs.hotrotructuyen</li>
							<li><strong>Gtalk:</strong> mbs.hotrotructuyen</li>
						</ul>
						<ul>
							<li><strong>Skype:</strong> mbs.hotrotructuyen</li>
							<li><strong>Email:</strong> <a href="mailto: etrading.support@mbs.com.vn">etrading.support@mbs.com.vn</a></li>
						</ul>
					</div>
				</div>
				<div class="linedraw"></div>
                <div class="item_click item_click4 mt30" id="item_click4">
					<div class="draw-blue">
						<img class="tit" src="@Url.Content("~")Assets/images/icon/dt_ico4.png" alt="" />
						<img data-cl="itemdt4" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
					</div>
				</div>

				<div class="text-dtshow fs14 c_555">
					<p>Open24 là dịch vụ mở tài khoản trực tuyến  áp dụng cho  Khách hàng cá nhân trong nước muốn mở tài khoản trực tuyến tại MBS. Quý khách dễ dàng hoàn tất việc khai báo thông tin Online chỉ trong 1 bước thông qua trang web Open24 tại địa chỉ: <span class="brw"><a href="http://open24.mbs.com.vn/Presentation/Welcome.aspx" target=_"blank">http://open24.mbs.com.vn/Presentation/Welcome.aspx</a></span> . Sau khi hoàn tất việc khai báo thông tin mở tài khoản, Quý khách in 02 bộ hồ sơ và mang tới các Điểm giao dịch trực tuyến hoặc Chi nhánh/Phòng giao dịch của MBS để được kích hoạt tài khoản.</p>
					<p>Với Open24, Khách hàng có thể:</p>
					<div>
						<ul>
							<li>Mở tài khoản giao dịch chứng khoán trực tuyến;</li>
							<li>Giao dịch chứng khoán, giao dịch tiền, quản lý tài khoản trực tuyến qua Stock24</li>
						</ul>
						<ul>
							<li>Hưởng phí giao dịch trực tuyến ưu đãi;</li>
							<li>Hưởng dịch vụ chăm sóc khách hàng chuyên nghiệp.</li>
						</ul>
					</div>
				</div>

				<div class="linedraw"></div>

				<div class="item_click item_click5 mt30" id="item_click5">
					<div class="draw-blue">
						<img class="tit" src="@Url.Content("~")Assets/images/icon/dt_ico5.png" alt="" />
						<img data-cl="itemdt5" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
					</div>
				</div>

				<div class="text-dtshow fs14 c_555">
					<p>Quote24 là bảng giá chứng khoán dành cho tất cả các khách hàng có nhu cầu sử dụng tại địa chỉ <br/><a href="http://quote24.mbs.com.vn" target="_blank">http://quote24.mbs.com.vn</a>, với những tiện ích ưu việt như:</p>
					<div>
						<ul>
							<li>Tốc độ kết nối và tải dữ liệu nhanh nhất hiện nay;</li>
							<li>Hỗ trợ đồ thị theo dõi biến động chỉ số của 3 sàn HSX/HNX/Upcom;</li>
							<li>Chọn mã chứng khoán nhanh, tạo và chọn danh mục chứng khoán mặc định để ‘treo” lên đầu bảng giá;</li>
						</ul>
						<ul>
							<li>Tra cứu nhanh thông tin các mã chứng khoán bằng cách click trực tiếp vào mã CK với dữ liệu được cung cấp qua Trang thông tin trực tuyến Search24;</li>
							<li>Theo dõi giá trung bình sàn HNX, room nước ngoài;</li>
							<li>Tích hợp với nhiều trình duyệt thông dụng như Chrome, Firefox, IE, Safari…</li>
						</ul>
					</div>
					<p>Quote24Pro là bảng giá chứng khoán dành riêng cho khách hàng sử dụng dịch vụ giao dịch trực tuyến Stock24 của MBS. Bên cạnh các tính năng của Quote24, Quote24Pro còn hỗ trợ khách hàng các tính năng nâng cao như:</p>
					<div>
						<ul>
							<li>Tích hợp bảng giá tổng hợp giúp khách hàng lựa chọn các danh mục đầu tư cũng như tự tạo danh mục mặc định với các mã chứng khoán trên HSX, HNX, Upcom để theo dõi trên cùng một màn hình;</li>
						</ul>
						<ul>
							<li>Hỗ trợ theo dõi thông tin chi tiết của một mã chứng khoán: các deal khớp trong phiên, tổng dư mua, tổng dư bán, đồ thị khớp lệnh;</li>
							<li>Kết nối trực tiếp với Stock24, giúp khách hàng có thể đặt lệnh giao dịch một cách nhanh chóng, thuận tiện nhất. </li>
						</ul>
					</div>
					<p>Để sử dụng Quote24Pro, khách hàng đăng nhập vào http://quote24pro.mbs.vn với Account và Password là số tài khoản và mật khẩu đăng nhập Stock24.</p>
					<p>Với hệ thống bảng giá trực tuyến Quote24 và Quote24Pro, MBS ngày càng khẳng định vị thế là một công ty chứng khoán luôn coi trọng việc ứng dụng công nghệ mới vào các sản phẩm và dịch vụ nhằm hỗ trợ tốt nhất cho khách hàng trong việc đưa ra các quyết định đầu tư đúng lúc, kịp thời và hiệu quả.</p>
				</div>

				<div class="linedraw"></div>

				<div class="item_click item_click6 mt30" id="item_click6">
					<div class="draw-blue">
						<img class="tit" src="@Url.Content("~")Assets/images/icon/dt_ico6.png" alt="" />
						<img data-cl="itemdt6" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
					</div>
				</div>

				<div class="text-dtshow fs14 c_555">
					<p>MBS cung cấp dịch vụ thông báo kết quả khớp lệnh, tra cứu kết quả khớp lệnh và tra cứu số dư tài khoản, tra cứu thông tin thị trường và thông tin chứng khoán qua tin nhắn SMS.</p>
					<p>Để biết thêm thông tin chi tiết Quý khách vui lòng xem Hướng dẫn sử dụng tại: <br/><span class="brw"><a href="https://mbs.com.vn/Upload/HDSD_SMS24_moinhat.pdf" target="_blank">https://mbs.com.vn/Upload/HDSD_SMS24_moinhat.pdf</a></span></p>
				</div>
            </div>
        </div>
	</div>
</div>
<!-- end content home -->
<script>
$(document).ready(function(){
	var w_box = $('.list_dvdt li img.bg').width();
	$('.bd-dvdt').height(w_box*(55.3191/100));
	$(window).resize(function(){
		w_box = $('.list_dvdt li img.bg').width();
		$('.bd-dvdt').height(w_box*(55.3191/100));
	})

	$(".list_dvdt li").click(function (){
		var $this = $(this);
		var id = $this.attr('rel')
        //$(this).animate(function(){
            $('html, body').animate({
                scrollTop: $(id).offset().top
            }, 500);
        //});
    });

    $('.dr-icon').click(function () {
    	var cl = $(this).data("cl");
        $('html, body').animate({
            scrollTop: $("."+cl).offset().top
        }, 500);
    });
})
</script>