﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-nganhangdautu.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(ViewBag.parent.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="doingu-page dvck">
                <div class="tt-gtcl first">@Html.Raw(Model.CONTENT)</div>
                <div class="all-boss">
					<div class="all-boss-it">
						<table>
                        @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                        {
                            int i = 0;
                            foreach (var child in ViewBag.childs)
                            {
                                @(i % 2 == 0 ? Html.Raw("<tr>") : Html.Raw(""))
                                <td>
									<a class="fancybox" href="#popup-dn-@child.ID" title=""><img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 101, 135))" alt="" /></a>
									<span class="gen">@StringHelper.post_title(child.SUB_TITLE) </span>
									<a class="fancybox name" href="#popup-dn-@child.ID" title="">@Html.Raw(child.TITLE)</a>
									<span class="pos">@Html.Raw(child.DESCRIPTION)</span>
								</td>
                                @( ((i + 1) % 2 == 0 || ((i + 1) % 2 != 0 && i + 1 == ViewBag.childs.Count)) ? Html.Raw("</tr>") : Html.Raw(""))
                            i++;
                            }
                        }
                        else
                        { 
                            <tr><td colspan='2'><div class="no-data">@StringHelper.lang("text_cap_nhat")</div></td></tr>
                        }
						</table>
						<table class="mob">
                        @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                        {
                            int i = 0;
                            foreach (var child in ViewBag.childs)
                            {
                                <tr>
                                <td>
									<a class="fancybox" href="#popup-dn-@child.ID" title="@Html.Raw(child.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 101, 135))" alt="@Html.Raw(child.TITLE)" /></a>
									<span class="gen">@StringHelper.post_title(child.SUB_TITLE) </span>
									<span class="name">@Html.Raw(child.TITLE)</span>
									<span class="pos">@Html.Raw(child.CONTENT)</span>
								</td>
                                </tr>
                            i++;
                            }
                        }
                        else
                        { 
                            <tr><td><div class="no-data">@StringHelper.lang("text_cap_nhat")</div></td></tr>
                        }
						</table>
					</div>
				</div>
				<div class="clear"></div>
            </div>
        </div>
	</div>
    <div class="clear"></div>
</div>
<!-- end content home -->
@if (ViewBag.childs != null && ViewBag.childs.Count > 0)
{
    int i = 0;
    foreach (var child in ViewBag.childs)
    {
       <div id="popup-dn-@child.ID" class="doingu-popup" style="display:none">
			<div class="img"><img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 200, 244))" alt="" /></div>
			<div class="tieusu">
				<span class="gen">@StringHelper.post_title(child.SUB_TITLE) </span>
				<span class="name">@Html.Raw(child.TITLE)</span>
				<span class="pos">@Html.Raw(child.DESCRIPTION)</span>
				<span class="des">@Html.Raw(child.CONTENT)</span>
			</div>
			<div class="clear"></div>
		</div>
        i++;
    }
}
