﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.ArticleViewModel>

@if (Model != null)
{
    int i = 0;
    foreach (var item in Model)
    {
        @(i % 2 == 0 ? Html.Raw("<div class='tr-scc'>") : Html.Raw(""))
        <div class="td-scc">
			<div class="it-supp"><a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
		</div>
        @( (i + 1) % 2 == 0 || ((i + 1) % 2 != 0 && (i + 1) == Model.Count) ? Html.Raw("</div>") : Html.Raw(""))
    i++;
    }
}
else
{
    <div class='no-data'>@StringHelper.lang("text_no_data")</div>
}
