﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh-1.jpg) center center">
	<div class="wrapper">
		<span>@(StringHelper.IsNullOrEmptyOrWhiteSpace(ViewBag.node_cham_soc.SUB_TITLE) ? StringHelper.post_title(ViewBag.node_cham_soc.TITLE) : StringHelper.post_title(ViewBag.node_cham_soc.SUB_TITLE))</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>
		<div class="wrap-content-right trading-guide detail">
            <div class="support-center">
				<div class="page-title">
					<p>@Html.Raw(Model.TITLE)</p>
					<div class="line"></div>
				</div>
				<div class="control-guide">
					<div class="it-gui it-gui-prev">
                    @if (ViewBag.previous != null)
                    {
						<a href="@StringHelper.base_url_lang()@ViewBag.previous.LINK" title="@Html.Raw(ViewBag.previous.TITLE)">@Html.Raw(ViewBag.previous.TITLE)</a>
						<div class="icon prev icon-mb"></div>
						<a class="icon prev icon-pc" href="@StringHelper.base_url_lang()@ViewBag.previous.LINK" title="@Html.Raw(ViewBag.previous.TITLE)"></a>
                    }
					</div>
					<div class="it-gui it-gui-next">
                    @if (ViewBag.next != null)
                    {
						<a href="@StringHelper.base_url_lang()@ViewBag.next.LINK" title="@Html.Raw(ViewBag.next.TITLE)">@Html.Raw(ViewBag.next.TITLE)</a>
						<a class="icon next icon-pc" href="@StringHelper.base_url_lang()@ViewBag.next.LINK" title="@Html.Raw(ViewBag.next.TITLE)"></a>
						<div class="icon next icon-mb"></div>
                    }
					</div>
                    <div class="clear"></div>
					<a href="@StringHelper.base_url_lang()@ViewBag.node_huongdan.LINK#@StringHelper.lang("huong-dan-slug")" title="" class="type-show"></a>
				</div>
                <div class='guide-detail'>
                    @Html.Raw(Model.CONTENT)
                </div>
				
                @if (!string.IsNullOrEmpty(Model.ATTACHMENT))
                {
				<div class="wrap-download">
					<a class="download-gui" href="@Model.ATTACHMENT" title="">@StringHelper.lang("tai-huong-dan")</a>
				</div>
                }
			</div>
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->