﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_dang_nhap"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-dangky.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("recruitment")</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page">
	<div id="menu-right-mobile">
		 @Html.Partial("Recruitment/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("Recruitment/Menu")
		</div>
		<div class="wrap-content-right contact-page">
			<div class="page-title">
				<p>@StringHelper.lang("text_active_account")</p>
				<div class="line"></div>
			</div>
			<div class="tab-wk signup register">
				<div class="info">@ViewBag.message</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- end content lien he -->