﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_bieu_mau"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/bg/bg-banner-bieumau.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("text_bieu_mau")</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("Recruitment/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("Recruitment/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@StringHelper.lang("text_bieu_mau")</p>
			    <div class="line"></div>
			</div>
            <div class="bctc-page">
				<div class="info-bm">@StringHelper.lang("text_bieu_mau_mota")</div>
                <div id="content_list">
				    <div class="list-item">
                    @if (ViewBag.childs != null)
                    {
                        int i = 0;
                        foreach (var child in ViewBag.childs)
                        {
                            <div class="item">
							    <div class="img"></div>
						        <div class="it-ct it-form">
							        <div class="tit">@child.TITLE</div>
							        <div class="con">@CommonHelper.CutText(child.DESCRIPTION, 190)</div>
                                    @if (!string.IsNullOrEmpty(child.FILE_DOWNLOAD))
                                    {
								        <div class="down"><a href="@child.FILE_DOWNLOAD" title="@child.TITLE"></a></div>
                                    }
						        </div>
						        <div class="clear"></div>
						    </div>
                        }
                    }
                    else
                    { 
                        <div class="no-data">@StringHelper.lang("text_cap_nhat")</div>
                    }
				    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.pagination))
                    {
                        <div class='paging'>
                            @Html.Raw(ViewBag.pagination)
                        </div>
                    }
			    </div>
            </div>
        </div>
        <div class="clear"></div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    var link = root_lang + '@StringHelper.lang("slug_tuyen_dung")' + '/' + '@StringHelper.lang("slug_bieu_mau")';
    function SearchContent(parent, page, perpage) {
        $.post(link, {
            page: page,
            perpage: perpage,
            searchText: "",
        }, function (e) {
            $("#content_list").html(e);
            scrollToDiv3("content-page");
            Page.scrollrightmenu();
        })
    }
</script>
