﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.JobViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_bieu_mau"));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
    WizardCMS.Models.JobContent jobContent = null;
    if (Model.ContentTranslates != null && Model.ContentTranslates.ContainsKey(Lang))
    {
        jobContent = Model.ContentTranslates[Lang];
    }
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/bg/bg-vttd.jpg) center center">
	<div class="wrapper">
		<span>@(ViewBag.category!= null ? ViewBag.category.NAME : Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("Recruitment/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("Recruitment/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Model.TITLE</p>
			    <div class="line"></div>
			</div>
            <div class="recruitment-detail">
				<p><strong>@StringHelper.lang("text_vitri_tuyendung"):</strong> @Model.TITLE</p>
				<p><strong>@StringHelper.lang("text_quantity"): </strong>@Model.NUM</p>
				<p><strong>@StringHelper.lang("text_job_desc"):</strong></p>
				<p>@Html.Raw(jobContent.DESCRIPTION)</p>
				<p><strong>@StringHelper.lang("text_general_require"):</strong></p>
                <div>
                    @Html.Raw(jobContent.REQUIRE)
                </div>
				
				<p><strong>@StringHelper.lang("text_benefit"):</strong></p>
                <div>
                    @Html.Raw(jobContent.BENEFIT)
                </div>
				<p><strong>@StringHelper.lang("text_document"):</strong></p>
                <div>
                    @Html.Raw(jobContent.DOC_REQUIRE)
                </div>
				<p><strong>@StringHelper.lang("text_timeline"): </strong>@jobContent.DEADLINE</p>
				<p><strong>@StringHelper.lang("text_place_cv"):</strong></p>
                <div>
                    @Html.Raw(jobContent.PLACE_CV)
                </div>
			</div>
			<a class="btn-applicant" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_huongdan_nophoso"))" title="">@StringHelper.lang("text_nop_don")</a>
		</div>
        <div class="clear"></div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    var link = root_lang + '@StringHelper.lang("slug_tuyen_dung")' + '/' + '@StringHelper.lang("slug_vitri_tuyendung")';
    function SearchContent(parent, page, perpage) {
        $.post(link, {
            page: page,
            perpage: perpage,
            term: $("#term").val(),
            province: $("#province").val(),
            searchText: "",
        }, function (e) {
            $("#content_list").html(e);
            scrollToDiv3("content-page");
            Page.scrollrightmenu();
        })
    }
</script>
