﻿@using WizardCMS.Helpers
@{
    string Segment2 = CommonHelper.GetSegment(2);
    string Segment3 = CommonHelper.GetSegment(3);
    string Segment4 = CommonHelper.GetSegment(4);
    string Lang = StringHelper.language();
    string c = Request.QueryString["c"];
}

<ul>
    <li class="@(Segment3 == StringHelper.lang("slug_cv") ? "active" : "")" style="display:none">
        <a href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("slug_cv")">@StringHelper.lang("text_cv")</a>
        <ul class="sub-right">
            <li class="@(Segment4 == "thong-tin-ca-nhan" ? "active" : "")"><a href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("slug_cv")/thong-tin-ca-nhan">Thông tin cá nhân</a></li>
            <li class="@(Segment4 == "hoc-van-va-chuyen-mon" ? "active" : "")"><a href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("slug_cv")/hoc-van-va-chuyen-mon">Trình độ học vấn và chuyên môn</a></li>
            <li class="@(Segment4 == "kinh-nghiem-lam-viec" ? "active" : "")"><a href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("slug_cv")/kinh-nghiem-lam-viec">Kinh nghiệm làm việc</a></li>
            <li class="@(Segment4 == "thong-tin-khac" ? "active" : "")"><a href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("slug_cv")/thong-tin-khac">Thông tin khác</a></li>
        </ul>
    </li>
    <li class="@(Segment3 == StringHelper.lang("slug_vitri_tuyendung") ? "active" : "")">
        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_vitri_tuyendung"))">@StringHelper.lang("text_vitri_tuyendung")</a>
        @if (ViewBag.categories != null && ViewBag.categories.Count > 0)
        {
            <ul class="sub-right">
            @foreach (var sub in ViewBag.categories)
            {
                <li class="@(c == sub.SLUG ? "active" : "")" data-cid="@sub.ID"><a href="@("?c=" + sub.SLUG)">@sub.NAME</a></li>
            }
            </ul>
        }
    </li>
    <li class="@(Segment3 == StringHelper.lang("slug_bieu_mau") ? "active" : "")">
        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_bieu_mau"))">@StringHelper.lang("text_bieu_mau")</a>
    </li>
    <li class="@(Segment3 == StringHelper.lang("slug_huongdan_nophoso") ? "active" : "")">
        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_huongdan_nophoso"))">@StringHelper.lang("text_huongdan_nophoso")</a>
    </li>
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $('.register-ws-menu').on('click', function () {
            console.log('click register workshop');
            $(this).parent().find('li').removeClass('active');
            $(this).addClass('active');
            $('.tab-ctr.signup').trigger('click');
        });

        var url = location.href;
        if (url.indexOf('#') >= 0) {
            var hash = url.substr(url.indexOf('#') + 1);
            console.log(hash);
            if (hash == '@StringHelper.lang("dang-ky-hoi-thao-slug")') {
                setTimeout(function () {
                    $('.register-ws-menu').trigger("click");
                },500);
            }
        }
    });
</script>
