﻿@using WizardCMS.Helpers
@{ 
    List<WizardCMS.Models.ModuleModel> Footers = ViewBag.footermenu;
    //var fastLinkBottoms = WizardCMS.Models.FastLinkServices.GetFastLink(2, 1);
    var fastLinkBottomAll = WizardCMS.Models.FastLinkServices.GetFastLink(2, 0);

    WizardCMS.Models.Paging paging = new WizardCMS.Models.Paging();
    paging.Perpage = 8;
    paging.Page = 1;
    List<WizardCMS.Models.BranchFooterViewModel> branches = WizardCMS.Models.BranchFooterServices.GetList("", "", "", paging, "priority", "ASC", "vi");

    string seg2 = CommonHelper.GetSegment(2);
    string seg3 = CommonHelper.GetSegment(3);
    List<string> lstClass = new List<string> { "one", "two", "three", "four" };
}

<!-- footer -->
<div id="footer">
	<div class="wrapper">
		<!-- layer one -->
		<div class="layer-one">
		    <div class="title-footer">@StringHelper.lang("text_mang_luoi_giao_dich")</div>
		    <!-- box pc -->
		    <div class="box-pc">
                @if (branches != null)
                {
                    int i = 0;
                    int index = 0;
                    foreach (var item in branches) {
                        @Html.Raw(i % 4 == 0 ? "<div class='row-net'>" : "")
                        <div class="col-net col-net-@lstClass[index]">
		    			    <div class="title-net @(i==0?"text-uppercase":"") @(!string.IsNullOrEmpty(item.LINK) ? "txt-udl" : "")">
                            @if ( !string.IsNullOrEmpty(item.LINK) )
                            {
                                <a href="@item.LINK" title="@item.NAME">@item.NAME</a>
                            }
                            else
                            {
                                @item.NAME
                            }
                            </div>
		    			    <div class="info-net">
		    				    @Html.Raw(item.DESCRIPTION)
		    			    </div>
		    		    </div>
                        @Html.Raw(((i + 1) % 4 == 0 || ((i + 1) % 4 != 0 && i + 1 == branches.Count)) ? "<div class='clear'></div></div>" : "")
                        i++;
                        index++;
                        if (i == 4) { index = 0; }
                    }
                }
		    </div>
		    <!-- box tablet -->
		    <div class="box-tablet">
                @if (branches != null)
                {
                    int i = 0;
                    int index = 0;
                    foreach (var item in branches) {
                        @Html.Raw(i % 3 == 0 ? "<div class='row-net'>" : "")
                        <div class="col-net col-net-@lstClass[index]">
		    			    <div class="title-net @(!string.IsNullOrEmpty(item.LINK) ? "txt-udl" : "")">
                            @if ( !string.IsNullOrEmpty(item.LINK) )
                            {
                                <a href="@item.LINK" title="@item.NAME">@item.NAME</a>
                            }
                            else
                            {
                                @item.NAME
                            }
                            </div>
		    			    <div class="info-net">
		    				    @Html.Raw(item.DESCRIPTION)
		    			    </div>
		    		    </div>
                        @Html.Raw(((i + 1) % 3 == 0 || ((i + 1) % 3 != 0 && i + 1 == branches.Count)) ? "<div class='clear'></div></div>" : "")
                        i++;
                        index++;
                        if ( (i+1)%4 == 0) { index = 0; }
                    }
                }
		    </div>
		    <!-- box mobile -->
		    <div class="box-mobile">
                @if (branches != null)
                {
                    int i = 0;
                    foreach (var item in branches) {
                        <div class="row-net @(i==0?"active":"")">
    				        <div class="title-net @(!string.IsNullOrEmpty(item.LINK) ? "txt-udl" : "")">
                            @if ( !string.IsNullOrEmpty(item.LINK) )
                            {
                                <a href="@item.LINK" title="@item.NAME">@item.NAME</a>
                            }
                            else
                            {
                                @item.NAME
                            }
                            </div>
                            <div class="info-net">
		    			        @Html.Raw(item.DESCRIPTION)
		    		        </div>
					        <div class="icon"></div>
    			        </div>
                        i++;
                    }
                }
    		</div>
		</div>
		<!-- layer two -->
		<div class="row layer-two">
			<div class="col-sm-8 col-xs-6 box-left">
				<div class="title-footer">MB GROUP</div>
				<div class="row group">
					<div class="col-sm-6 col-xs-12 item-group">
						<ul>
							<li><a class="" target="_blank" href="https://mbbank.com.vn/Pages/Default.aspx" title="">Ngân hàng TMCP Quân đội</a></li>	
							<li><a target="_blank" href="http://mbcapital.com.vn/" title="">Công ty CP Quản lý Quỹ đầu tư MB</a></li>	
							<li><a target="_blank" href="https://mic.vn/" title="">Tổng công ty Cổ phần Bảo hiểm Quân đội</a></li>	
						</ul>
					</div>
					<div class="col-sm-6 col-xs-12 item-group">
						<ul>
							<li><a target="_blank" href="http://www.mbamc.com.vn/Home.aspx" title="">Công ty Quản lý nợ và Khai thác tài sản</a></li>	
							<li><a target="_blank" href="http://mbland.vn/index.php?trang-chu" title="">Công ty Cổ phần Địa ốc MB</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-6 box-right">
				<div class="app right">
					<div class="title-footer">Ứng dụng chứng khoán MBS</div>
					<a target="_blank" href="https://itunes.apple.com/us/app/mstock24/id902140265?mt=8" title=""><img src="@Url.Content("~")Assets/images/icon/ico-ios.png" alt=""/></a>
					<a target="_blank" href="https://play.google.com/store/apps/details?id=com.mbs.mstock24&hl=en" title=""><img src="@Url.Content("~")Assets/images/icon/ico-gg.png" alt=""/></a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="footer-copy">
		<div class="wrapper">
		    <div class="text-copy">
		    	<ul class="right">
		    		<li>
		    			<a class="@(seg2 == "" ? "active" : "")" href="@StringHelper.base_url_lang()" title="">@StringHelper.lang("home")</a>
		    		</li>
		    		<li>
		    			<a class="@(seg2 == StringHelper.lang("lien-he-slug") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("lien-he-link")" title="">• Liên hệ</a>
		    		</li>
		    		<li>
		    			<a class="@(seg2 == StringHelper.lang("dieu-khoan-su-dung-slug") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("dieu-khoan-su-dung-slug")" title="@StringHelper.lang("dieu-khoan-su-dung")">• Điều khoản sử dụng</a>
		    		</li>
		    		<li>
		    			<a class="@(seg2 == StringHelper.lang("sitemap-slug") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("sitemap-slug")" title="">• Sitemap</a>
		    		</li>
		    	</ul>
		    	<div class="bloo"><span>Bloomberg: MBSV &lt;GO&gt;</span></div>
		    	<div class="right tt-cp"><span>© Copyrights 2000 - @DateTime.Now.Year MBS, thành viên của Tập đoàn MB</span></div>
		    	<div class="clear"></div>
		    </div>
		</div>
	</div>
</div>
<div class="footer-menu">
	<div class="fix-menu">
		<div class="wrapper">
			<div class="tit-fm left"><div>Liên kết <span>nhanh</span></div></div>
			<div class="wrap-owl-menu-m left">
				<div class="wrap-owl-menu">
					<div class="swiper-wrapper">
                    @if (ViewBag.fastLinkBottoms != null)
                    {
                        foreach (var item in ViewBag.fastLinkBottoms)
                        {
                            <div class="swiper-slide">
                    		    <a @Html.Raw(string.IsNullOrEmpty(item.LINK) ? "class='no-link'" : " target='_blank'") href="@(string.IsNullOrEmpty(item.LINK) ? "javascript: void(0)" : item.LINK)" title="">
                    			    <span class="img">
                    				    <span><img src="@Url.Content("~")@CommonHelper.Img2(item.ICON, 44, 40)" title=""></span>
                    			    </span>
                    			    <span class="text">@Html.Raw(item.NAME)</span>
                    			    <span class="line"></span>
                			    </a>
                		    </div>
                        }
                    }
					</div>
	   				<!-- <div class="owl-next"></div>
					<div class="owl-prev"></div> -->
				</div>
				<div class="owl-prev"></div>
				<div class="owl-next"></div>
			</div>
			<div class="icon-plus">
				<div class="icon-plus-rt"></div>
				<div class="fix-sub-plus">
					<div class="sub-plus">
						<div class="scroll">
                        @if (fastLinkBottomAll != null)
                        {
                            foreach (var item in fastLinkBottomAll)
                            {
							<div class="item-plus left" data-id='@item.ID' data-url="@Url.Content("~")@CommonHelper.Img2(item.ICON, 44, 40)" data-text="@Html.Raw(item.NAME)" data-link="@(string.IsNullOrEmpty(item.LINK) ? "javascript: void(0)" : item.LINK)">
								<a href="javascript: void(0);" title="">
									<span class="img">
										<span><img src="@Url.Content("~")@CommonHelper.Img2(item.ICON, 40, 51)" alt=""/></span>
									</span>
									<span class="text">@StringHelper.StripTags(item.NAME)</span>
								</a>
							</div>
                            }
                        }
							<div class="clearAll"></div>
						</div>
						<div class="icon"></div>
					</div>
				</div>
			</div>
			<div class="btn-control hide-btn">
				<div class="kln">
					<span>Liên kết nhanh</span>
				</div>
				<div class="icon"></div>
			</div>
		</div>
	</div>
</div>
<div class="footer-menu-mobile" data-top="">
	<div class="title-flink">
	    <div><span>Liên kết <span>nhanh</span></span></div>
	</div>
    <div class="list-flink">
    	<div class="scroll-flink">
            @if (ViewBag.fastLinkBottoms != null)
            {
                foreach (var item in ViewBag.fastLinkBottoms)
                {
                    <a @Html.Raw(string.IsNullOrEmpty(item.LINK) ? "class='no-link'" : " target='_blank'") href="@(string.IsNullOrEmpty(item.LINK) ? "javascript: void(0)" : item.LINK)" data-href="@(string.IsNullOrEmpty(item.LINK) ? "javascript: void(0)" : item.LINK)" title="" class="it-flink left">
	    		        <span class="border-flink">
	    			        <span class="img-flink">
	    				        <span><img src="@Url.Content("~")@CommonHelper.Img2(item.ICON, 40, 51)" alt=""/></span>
	    			        </span>
	    			        <span class="tt-flink">@Html.Raw(item.NAME)</span>
	    		        </span>
	    	        </a>
                }
            }
            @if (fastLinkBottomAll != null)
            {
                foreach (var item in fastLinkBottomAll)
                {
                    <a @Html.Raw(string.IsNullOrEmpty(item.LINK) ? "" : " target='_blank'") href="@(string.IsNullOrEmpty(item.LINK) ? "javascript: void(0)" : item.LINK)" title="" class="it-flink left">
	    		        <span class="border-flink">
	    			        <span class="img-flink">
	    				        <span><img src="@Url.Content("~")@CommonHelper.Img2(item.ICON, 40, 51)" alt=""/></span>
	    			        </span>
	    			        <span class="tt-flink">@Html.Raw(item.NAME)</span>
	    		        </span>
	    	        </a>
                }
            }
	    	<div class="clear"></div>
    	</div>
    </div>
</div>
<div class="btn-control-fmm"><span class="icon"></span><span class="txt">Ẩn</span></div>