﻿@model CaptchaMvc.Models.DefaultBuildInfoModel
@if (Model.IsRequired)
{
    @Html.TextBox(Model.InputElementId, null, new Dictionary<string, object>
                                                  {
                                                      {"data-val", "true"},
                                                      {"data-val-required", Model.RequiredMessage}
                                                  })
}
else
{
    @Html.TextBox(Model.InputElementId)
}

<span class="captcha-img"><img id="@Model.ImageElementId" src="@Model.ImageUrl" /></span>

@Html.Hidden(Model.TokenElementId, Model.TokenValue)
<br />
@{
    string id = Guid.NewGuid().ToString("N");
    string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
    <script type="text/javascript">

        $(function () {
            $('#@id').show();
        });

        function @functionName {
                $('#@id').hide();
            $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() }, 
                function () {
                    $('#@id').show();
                });
            return false;
        }
    </script>

    <a class='captcha-refresh' href="#@Model.InputElementId" id="@id" onclick="@functionName" style="display: none;">@Model.RefreshButtonText</a>
}

<span class="captcha-message">@Html.ValidationMessage(Model.InputElementId)</span>