﻿@model ThanhThanhCong.Models.ErrorModel

 
<h2>@Model.ErrorTitle</h2>
 
Sorry, an error occurred while processing your request.
 
<br />
 
@if (Model.ExceptionDetail != null)
{
      @Model.ExceptionDetail.Message
}