﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-doingulanhdao.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page dn-page">
	<div id="menu-right-mobile">
		@Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
				<p>@Html.Raw(Model.TITLE)</p>
				<div class="line"></div>
			</div>
			<div class="doingu-page">
				<div class="tab-doingu">
					<div class="tab-ydoingu"></div>
					<ul>
                    @if (ViewBag.childs != null)
                    {
                        int i = 0;
                        foreach (var item in ViewBag.childs)
                        {
						    <li class="@(i==0?"active":"")">@Html.Raw(item.TITLE)</li>
                            i++;
                        }
                    }
					</ul>
				</div>
				<!-- <div class="tab-doingu-mobile">
					<ul>
					@if (ViewBag.childs != null)
                    {
                        int i = 0;
                        foreach (var item in ViewBag.childs)
                        {
						    <li class="@(i==0?"active":"")">@item.TITLE</li>
                            i++;
                        }
                    }
					</ul>
				</div> -->
				<div class="all-boss">
                @if (ViewBag.childs != null)
                {
                    int i = 0;
                    foreach (var item in ViewBag.childs)
                    {
                        int j = 0;
                        <div class="all-boss-it">
                        @if (item.Childs != null && item.Childs.Count > 0) 
                        {
                            if (j == 0)
                            {
                                var first = item.Childs[0];
                                <div class="boss">
							        <a class="fancybox" href="#popup-dn-@item.Childs[0].ID" title=""><img alt="@Html.Raw(item.Childs[0].TITLE)" src="@Url.Content("~")@(CommonHelper.Img2(item.Childs[0].THUMBNAIL, 205, 250))"/></a>
							        <div class="tieusu">
								        <span class="gen">@StringHelper.post_title(item.Childs[0].SUB_TITLE) </span>
								        <a class="fancybox name" href="#popup-dn-@item.Childs[0].ID" title="">@StringHelper.post_title(item.Childs[0].TITLE)</a>
								        <span class="pos">@item.Childs[0].DESCRIPTION</span>
								        <span class="des">@Html.Raw(item.Childs[0].CONTENT)</span>
							        </div>
						        </div>
                                <div id="popup-dn-@item.Childs[0].ID" class="doingu-popup" style="display:none">
		                            <div class="img"><img alt="@Html.Raw(item.Childs[0].TITLE)" src="@Url.Content("~")@(CommonHelper.Img2(item.Childs[0].THUMBNAIL, 205, 250))"/></div>
		                            <div class="tieusu">
			                            <span class="gen">@StringHelper.post_title(item.Childs[0].SUB_TITLE) </span>
			                            <span class="name">@StringHelper.post_title(item.Childs[0].TITLE)</span>
			                            <span class="pos">@item.Childs[0].DESCRIPTION</span>
			                            <span class="des">@Html.Raw(item.Childs[0].CONTENT)</span>
		                            </div>
		                            <div class="clear"></div>
	                            </div>
                                item.Childs.RemoveAt(0);
                            }
                            <table>
                            @if (item.Childs != null && item.Childs.Count > 0)
                            {
                                for (int k = 0; k < item.Childs.Count; k++)
                                {
                                    if (k % 2 == 0)
                                    { @Html.Raw("<tr>") }
								        <td>
									        <a class="fancybox" href="#popup-dn-@item.Childs[k].ID" title=""><img alt="@Html.Raw(item.Childs[k].TITLE)" src="@Url.Content("~")@(CommonHelper.Img2(item.Childs[k].THUMBNAIL, 101, 135))"/></a>
									        <span class="gen">@StringHelper.post_title(item.Childs[k].SUB_TITLE) </span>
									         <a class="fancybox name" href="#popup-dn-@item.Childs[k].ID" title="">@StringHelper.post_title(item.Childs[k].TITLE)</a>
									        <span class="pos">@item.Childs[k].DESCRIPTION</span>

                                            <div id="popup-dn-@item.Childs[k].ID" class="doingu-popup" style="display:none">
		                                        <div class="img"><img alt="@Html.Raw(item.Childs[k].TITLE)" src="@Url.Content("~")@(CommonHelper.Img2(item.Childs[k].THUMBNAIL, 205, 250))"/></div>
		                                        <div class="tieusu">
			                                        <span class="gen">@StringHelper.post_title(item.Childs[k].SUB_TITLE) </span>
			                                        <span class="name">@StringHelper.post_title(item.Childs[k].TITLE)</span>
			                                        <span class="pos">@item.Childs[k].DESCRIPTION</span>
			                                        <span class="des">@Html.Raw(item.Childs[k].CONTENT)</span>
		                                        </div>
		                                        <div class="clear"></div>
	                                        </div>
								        </td>
                                if (k % 2 != 0 || k == item.Childs.Count)
                                { @Html.Raw("</tr>") }
                                }
                            }
                            </table>
                            <table class="mob">
                            @if (item.Childs != null && item.Childs.Count > 0)
                            {
                                for (int k = 0; k < item.Childs.Count; k++)
                                {
								<tr>
                                    <td>
									    <a class="fancybox" href="#popup-dn-@item.Childs[k].ID" title=""><img alt="" src="@Url.Content("~")@(CommonHelper.Img2(item.Childs[k].THUMBNAIL, 101, 135))"/></a>
									    <span class="gen">@StringHelper.post_title(item.Childs[k].SUB_TITLE) </span>
									    <a class="fancybox name" href="#popup-dn-@item.Childs[k].ID" title="">@StringHelper.post_title(item.Childs[k].TITLE)</a>
									    <span class="pos">@item.Childs[k].DESCRIPTION</span>
								    </td>
								</tr>
                                }
                            }
							</table>
                        }
                        </div>
                        i++;
                    }
                }
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>