﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    string Segment2 = CommonHelper.GetSegment(2);
    string Segment3 = CommonHelper.GetSegment(3);
    string Segment4 = CommonHelper.GetSegment(4);
    string Lang = StringHelper.language();
}

<ul>
@{
    if (ViewBag.menus != null)
    {
        foreach (var item in ViewBag.menus)
        {
	    <li class="@(Segment2 == item.Slug || Segment3 == item.Slug ? "active" : "")">
            @if (item.Slug == StringHelper.lang("lich-su-kien-slug")) {
		        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + item.Slug)" title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</a>
            }  else if (item.Slug == StringHelper.lang("hoi-thao-slug")) {
		        <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("hoi-thao-dao-tao-link"))" title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</a>
            }
            else {
                <a class="ttone" href="@(Url.Content("~") + Lang + "/" + item.Link)" title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</a>
            }
            @if (item.lstSubMenu != null && item.lstSubMenu.Count > 0)
            {
                int k = 0;
                <ul class="sub-right">
                @foreach (var sub in item.lstSubMenu)
                {
                    if (item.Id == Constants.NODE_TINTUC_THITRUONG){
                    <li data-slug="@sub.Slug" class="hash-sub @( (k==0 && Segment4 == "") || Segment4 == sub.Slug ? "active" : "")"><a href="@(Url.Content("~") + Lang + "/" + item.Link + "#"+sub.Slug)" title="@Html.Raw(sub.Title)">@Html.Raw(sub.Title)</a></li>
                    } else {
                    <li class="@(Segment3 == sub.Slug || Segment4 == sub.Slug ? "active" : "")"><a href="@(Url.Content("~") + Lang + "/" + sub.Link)" title="@Html.Raw(sub.Title)">@Html.Raw(sub.Title)</a></li>
                    }
                    k++;
                }
                </ul>
            }
        </li>
        }
    }
}
</ul>
