﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-sodotochuc.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
				<p>@Html.Raw(Model.TITLE)</p>
				<div class="line"></div>
			</div>
            <div class="sdtc-page">
				<div class="org-chart cf">
					<ul class="hoidongcodong">
						<li class="bgred fpd">
							<a href="javascript: void(0);" title=""><span>Đại hội đồng cổ đông</span></a>
						</li>
						<ul class="bankiemsoat">
							<li class="bgblue fpd">
								<a href="javascript: void(0);" title=""><span>Ban Kiểm soát</span></a>
							</li>
						</ul>
					</ul>
					<ul class="hoidongquantri">
						<li class="bgred fpd">
							<a href="javascript: void(0);" title=""><span>Hội đồng Quản trị</span></a>
						</li>
						<ul class="sub-hoidongquantri">
							<li class="bgblue fpd one">
								<a href="javascript: void(0);" title=""><span>Bộ phận <br/> Kiểm toán nội bộ</span></a>
							</li>
							<li class="bgblue fpd two">
								<a href="javascript: void(0);" title=""><span>Văn phòng <br /> Hội đồng quản trị</span></a>
							</li>
						</ul>
					</ul>
					<ul class="tonggiamdoc">
						<li class="bgred fpd bos-org">
							<a href="javascript: void(0);" title=""><span>Ban Tổng Giám đốc</span></a>
						</li>
						<ul class="line-tonggiamdoc">
							<li class="line-tgd"></li>
						</ul>
						<ul class="sub-tonggiamdoc">
	                        <li class="bgblue fpd one">
		                        <ul class="bd-lm">
			                        <li class="title-org">
				                        <span>Các đơn vị quản trị<br/> &amp; kiểm soát</span>
			                        </li>
			                        <ul class="box-blue">
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Quản trị rủi ro</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Kiểm soát nội bộ</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Pháp chế</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Tài chính</span></a>
				                        </li>
			                        </ul>
		                        </ul>
	                        </li>
	                        <li class="bgblue fpd two">
		                        <ul class="bd-lm">
			                        <li class="title-org">
				                        <span>Các đơn vị hỗ trợ</span>
			                        </li>
			                        <ul class="box-blue">
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Nghiên cứu</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Công nghệ thông tin</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Nghiệp vụ</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Nhân sự tổng hợp</span></a>
				                        </li>
			                        </ul>
		                        </ul>
	                        </li>
	                        <li class="bgblue fpd three">
		                        <ul class="bd-lm last">
			                        <li class="title-org">
				                        <span>Các đơn vị kinh doanh</span>
			                        </li>
			                        <ul class="box-blue">
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Dịch vụ <br/>Ngân hàng Đầu tư</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Dịch vụ Chứng khoán <br/>Khách hàng cá nhân</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>Dịch vụ Chứng khoán<br/>Khách hàng nước ngoài <br/> & tổ chức</span></a>
				                        </li>
			                        </ul>
		                        </ul>
	                        </li>
                        </ul>
					</ul> 
					<ul class="cacchinhanh">
						<li class="bgblue fpd">
							<a href="javascript: void(0);" title=""><span>Chi nhánh,<br/>Phòng giao dịch</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
