﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-tamnhinsumenh.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
        @if (ViewBag.childs != null)
        {
            int i = 0;
            foreach (var item in ViewBag.childs)
            {
			    <div class="page-title">
				    <p>@Html.Raw(item.TITLE)</p>
				    <div class="line"></div>
			    </div>
                if (i == 0)
                {
			        <div class="tt-gtcl first">
                        @Html.Raw(item.CONTENT)
				    </div>
                }
                <ul class="ltct">
                @if (item.Childs != null && item.Childs.Count > 0){
                    foreach (var child in item.Childs)
                    {
					<li>
						<img class="icon-cir" src="@Url.Content("~")Assets/images/icon/icon-cir.png" alt="" />
						<div class="tx">
							<table>
								<tr>
									<td>@Html.Raw(child.CONTENT)</td>
								</tr>
							</table>
						</div>
						<div class="bg-sha">
							<img src="@Url.Content("~")Assets/images/bg/bg-sha.png" alt="" />
						</div>
					</li>
                    }
                }
				</ul>
				if (i == 0)
                {
			    	<div class="line-space mt10 mbt20"></div>
                }
                i++;
            }
        }
		</div>
	</div>
	<div class="clear"></div>
</div>
