﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
}
@model List<WizardCMS.Models.ArticleViewModel>
@if (Model != null)
{
    <div class="list-item">
    @foreach (var item in Model)
    {
        <div class="item itemnews @(!StringHelper.IsNullOrEmptyOrWhiteSpace(item.THUMBNAIL) ? "" : "no-img")">
            @if (!StringHelper.IsNullOrEmptyOrWhiteSpace(item.THUMBNAIL))
            {
                <div class="img">
					<a title="" href="@StringHelper.base_url_lang()@item.LINK"><img alt="" src="@StringHelper.base_url()@CommonHelper.Img2(item.THUMBNAIL, 150, 90)"></a>
				</div>
            }
		    <div class="it-ct">
			    <div class="tit"><a href="@StringHelper.base_url_lang()@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
			    <div class="dat"><b>@StringHelper.lang("text_created"): </b>@item.CREATED.ToString("dd/MM/yyyy")</div>
			    <div class="con">@Html.Raw(CommonHelper.CutText(item.DESCRIPTION, 220))</div>
                @if (!string.IsNullOrEmpty(item.ATTACHMENT))
                {
				    <div class="down"><a href="@item.ATTACHMENT" target="_blank" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)<img alt="@Html.Raw(item.TITLE)" src="@Url.Content("~")Assets/images/icon/icon-down.png"/></a></div>
                }
		    </div>
		    <div class="clear"></div>
	    </div>
    }
    </div>
    
    if (!string.IsNullOrEmpty(ViewBag.pagination))
    {
        <div class='paging'>
            @Html.Raw(ViewBag.pagination)
        </div>
    }
}
else
{
    <div class="no-data">@StringHelper.lang("text_no_data")</div> 
}
