﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_timkiem"));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-timkiem.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("text_timkiem")</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
		    <div class="stock-exchange-guide">
				<div class="page-title">
					<p>@StringHelper.lang("text_timkiem")</p>
					<div class="line"></div>
				</div>
				<div class="search-page">
				    <div class="search-scc">
					    <div class="input-scc">
	                        <a title="search" href="javascript: void(0);" class="btn-search-scc"></a>
	                        <a title="search" href="javascript: void(0);" class="btn-search-ab" id="btn-search-ab">@StringHelper.lang("text_timkiem")</a>
						    <input name="searchText" onkeypress="return enterSearch(event)" id="searchText" placeholder="@StringHelper.lang("text_search_by_keyword")" value="@Request.QueryString["keyword"]" />
					    </div>
				    </div>
				    <div class="result-search bctc-page" id="search_content_wrap">
					    <div class="list-item">
                        @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                        {
                            foreach (var item in ViewBag.childs)
                            {
						    <div class="item itemnews @(!StringHelper.IsNullOrEmptyOrWhiteSpace(item.THUMBNAIL) ? "" : "no-img")">
                                @if (!StringHelper.IsNullOrEmptyOrWhiteSpace(item.THUMBNAIL))
                                {
						        <div class="img">
							        <a title="" href="@StringHelper.base_url_lang()@item.LINK"><img alt="" src="@StringHelper.base_url()@CommonHelper.Img2(item.THUMBNAIL, 150, 90)" /></a>
						        </div>
                                }
						        <div class="it-ct">
							        <div class="tit"><a href="@StringHelper.base_url_lang()@item.LINK">@Html.Raw(item.TITLE)</a></div>
							        <div class="dat"><b>@StringHelper.lang("text_created"): </b>@item.CREATED.ToString("dd/MM/yyyy")</div>
							        <div class="con">@Html.Raw(CommonHelper.CutText(item.DESCRIPTION, 220)) <a href="@StringHelper.base_url_lang()@item.LINK" class="rm" title="@Resources.Resources.READ_MORE">@Resources.Resources.READ_MORE</a></div>
						        </div> 
						        <div class="clear"></div>
					        </div>
                            }
                        }
                        else
                        { 
                            <div class="no-data" style="">@StringHelper.lang("text_no_data")</div>
                        }
					    </div>
                        @if (!string.IsNullOrEmpty(ViewBag.pagination))
                        {
                            <div class='paging'>
                                @Html.Raw(ViewBag.pagination)
                            </div>
                        }
				    </div>
			    </div>
			</div>
        </div>
        <div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">
    var link = '@StringHelper.lang("slug_timkiem")';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            p: page,
            perpage: perpage,
            dateFrom: "",
            dateTo: "",
            keyword: $('#searchText').val(),
            parrent: parrent
        }, function (e) {
            $("#search_content_wrap").html(e);
            scrollToDiv("search_content_wrap");
        })
    }

    function enterSearch(a) {
        if (a.keyCode == 13) {
            SearchContent(0, 1)
        }
    }
    $(document).ready(function () {
        $('#btn-search-ab').on("click", function () {
            return SearchContent(0, 1);
        })
    });
</script>