﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE("WEBSITE ĐANG BẢO TRÌ");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CUR_LANG = StringHelper.language();
}
<!-- 404 -->
<div class="page-404 one">
	<div class="wrapper">
		<table class="tb100">
			<tbody>
				<tr>
					<td>
						<p class="p1">BẢO TRÌ</p>
						<p class="p3">Hiện tại server đang bảo trì.<br/>Trang web sẽ sớm hoạt động lại.</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- 404 -->