﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("dieu-khoan-su-dung"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-mtk.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("dieu-khoan-su-dung")</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right dksd">
		    <div class="page-title">
				<p>@StringHelper.lang("dieu-khoan-su-dung")</p>
				<div class="line"></div>
			</div>
			<div class="fs14 c_555 mt15 rol">Below are terms and conditions for customers when accessing MBS’s website. Customers, who use this website, are deemed to have read, understood and agreed with the set terms and conditions.</div>
			<div class="tit-dk">Interpretation of some terms:</div>
			<div class="info-dk">
				<p>“MBS” refers to MB Securities Joint Stock Company and all the officers and staffs of MB Securities Joint Stock Company.</p>
				<p>“MBS’s website” refers to the website with the address: www.mbs.com.vn , including linked websites for MBS’s products and services</p>
				<p>“Customers” refer to individuals and organizations or anyone who access and use the website www.mbs.com.vn under any form.</p>
			</div>
			<div class="tit-dk">1. Provision on copyright:</div>
			<div class="info-dk">
				<p>All products and information of MBS are posted on MBS website, including all designs, contents and images whatsoever belong to MBS, unless otherwise being announced by MBS and being protected by the Law on Intellectual Property Rights of Vietnam. If there is no official written consent from MBS, all above copyrights shall not be copied, transferred, displayed, projected, distributed, stored or created with latest versions under any form.</p>
			</div>
			<div class="tit-dk">2. Terms of use:</div>
			<div class="cl-left left">
				<div class="it-pro">All unauthorized uses of MBS’s website are strictly prohibited, including abuse, piracy, misuse of any products on this website and regulations on its privacy.</div>
				<div class="it-pro">Users of MBS’s website can download and print information on the website for personal purposes providing that users shall preserve any copyright or notice contained in the downloaded information and include clear captions.</div>
			</div>
			<div class="cl-left left">
				<div class="it-pro">MBS is entitled to control, track and record any uses of those accessing and using this website.</div>
				<div class="it-pro">In case the access to some part of the website requires user identification and password, users need to self-establish privacy process and self-protect those private information and restrict other persons from using their user identification and password.</div>
			</div>
			<div class="clear"></div>
			<div class="tit-dk">3. Disclaimer for MBS:</div>
			<div class="cl-left left">
				<div class="it-pro">All information on MBS’s website is provided with the highest possible reliability; however, information only has referential value for users. Customers need to classify information to match their specific purposes before deciding to use the information or making relevant decisions. MBS is free of any responsibilities from the use of information on MBS’s website. No information on this website constitutes an invitation for securities investment or investment in any financial product. Consequently, customers shall bear all risks in the use of information on the website.</div>
				<div class="it-pro">MBS shall not bear any liability for damages related to or rooted from the use or unused of the website, including direct or indirect damages such as damage to data; losses or damages to computer, etc.</div>
				<div class="it-pro">MBS’s website may provide links to third parties’ websites so as to bring in convenience for users. Therefore, MBS does not make any warranty related to third parties’ websites. That MBS offers links to third parties’ website does not imply any verification, authorization, sponsorship or connection of MBS to third parties’ websites or owners/providers of third parties’ websites.</div>
			</div>
			<div class="cl-left left">
				<div class="it-pro">Sometimes when there are too many people access MBS’ website, users may encounter problems related to transmission, system capacity limit and other problems, causing difficulties for users when accessing the website, please contact to MBS via the Internet or other electronic/wireless services. Any computer or electric equipment, regardless of belonging to users, Internet service providers or MBs may suddenly break out, operate slowly or have capacity restricted.</div>
				<div class="it-pro">No content in this document ensure s that customers using information provided by MBS on the website will not violate the invention right, ownership, intellectual property right or violations on other regulations. Therefore, MBS does not provide any term warranting that customers will not violate invention right, ownership, intellectual property right or other regulations when using the above-mentioned information.</div>
				<div class="it-pro">MBS or any third-party provider is not obliged to maintain information and services available on this website; and is not responsible for updating or editing the information. All information and services can be adjusted without prior notice.</div>
			</div>
			<div class="clear"></div>
			<div class="tit-dk">4. Others:</div>
			<div class="cl-left left">
				<div class="it-pro">MBS is entitled to develop, amend or supplement terms of use for MBS’s website or terms of use for each specific content of the website at any point of time in accordance with the requirements on the website operation and management. These new terms of use will take effect immediately after being posted on the website and are deemed to get the consent from users when accessing the website.</div>
			</div>
			<div class="cl-left left">
				<div class="it-pro">Indemnity terms for MBS will be applied for any person accessing MB’s website; and customers, who use this website, are deemed to have read, understood and voluntarily agree with the set provisions.</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>