﻿@model IEnumerable<ThanhThanhCong.Models.BannerDTO>
@{
    Layout = null;
}
<script type="text/javascript">
    function checkImageUpload() {
        $('input[data-type="image"]').change(function () {
            var value = $(this).val();
            var ext = value.substr((value.lastIndexOf('.') + 1));
            var in_ext = $.inArray(ext, ['jpg', 'png']);
            if (in_ext == -1) {
                $('#txt_error').html('Định dạng file không hợp lệ (.jpg, .png) ');
                showError();
                $(this).val('');
                return false;
            }
        });
    }

    function showError(content) {
        if (content != null && content != "") {
            $('#txt_error').html(content);
        }
        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
    function HidenInput() {
        $('.button , .update-banner').remove();
        $('.w_upload').parent().parent().parent().parent().parent().remove();
    }
</script>
@{    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
    <script type="text/javascript">
        showError();
            </script>
        }
    } 
}
@foreach (var item in Model)
{
    <div class="item" data-id="@item.Id">
        <div class="lang">
            <img src="@Url.Content("~")Images/admin/flag/vn.png" class="_btn c-lang" data-lang="vi" width="25" />
            <img src="@Url.Content("~")Images/admin/flag/en.png" class="_btn c-lang" data-lang="en" width="20" />
        </div>
        <div class="img">
            <div class="banner_vi banner_lang">
                <input type="file" name="banner_vi" data-type="image" class="update-banner" />
                <img src="@Url.Content("~")Images/uploads/banner/@item.Banner_vi" alt="" title="Click here to delete banner" class="item_img img_vi" />
                <input type="hidden" name="lang" class="language" value="vi" />
                <input type="hidden" name="id" value="@item.Id" />
            </div>
            <div class="banner_en banner_lang">
                <input type="file" name="banner_en" data-type="image" class="update-banner" />
                <img src="@Url.Content("~")Images/uploads/banner/@item.Banner_en" alt="" title="Click here to delete banner" class="item_img img_en" />
                <input type="hidden" name="lang" class="language" value="en" />
                <input type="hidden" name="id" value="@item.Id" />
            </div>
        </div>
        <div class="button">
            <div class="left">
                <input type="text" name="order" id="order" class="numeber_order" value="@item.Order" />
                <input type="hidden" name="id" id="id" value="@item.Id" />
            </div>
            <div class="middle _btnUpdate">
            </div>
            <div class="@(item.Status == 1 ? "rightshow" : "righthide") _btnStatus">
            </div>
            <div class="clearAll">
            </div>
        </div>
    </div>
}
@{
    string write = ViewBag.PermissionWrite;
    if (write == "permission-denied")
    {
    <script type="text/javascript">
        HidenInput();
        </script>
    }   
}
<script type="text/javascript">
    $(".numeber_order").numeric();
    checkImageUpload();
</script>
