﻿@model IEnumerable<ThanhThanhCong.Models.BannerDTO>
@{
    string cssStyle = "";
}
<script type="text/javascript">
    $(function () {
        $('.ip_up').live('change', function () {
            var url = root + 'Banner/UpImage';
            $(this).parent().upload(url, function (data) {
                alert(data);
                if (data != "success") {
                    showError(data);
                }
                var ajaxurl = root + 'Banner/BannerList/';
                $.ajax({
                    type: 'POST',
                    url: ajaxurl,
                    success: function (content) {
                        $("#ajax_load_banner").html(content);
                        $(".numeber_order").numeric();
                        checkImageUpload();
                    }
                });
                var source = this.clone();
                this.replaceWith(source);
                //$("#ajax_load_banner").html(data);
                //                $(".numeber_order").numeric();
            });
        });

        $('.update-banner').live('change', function () {
            var url = root + 'banner/changeImg';
            var $this = $(this);
            var lang = $this.parent().find(".language").attr("value");
            var id = $(this).parent().parent().parent().attr('data-id');
            $(this).parent().upload(url, { id: id, lang: lang }, function (data) {
                if (data == 'permission-denied') {
                    ShowError();
                }
                else if (data.indexOf('File') !== -1) {
                    $('#txt_error').html(data);
                    ShowError();
                } else {
                    $(this).find('img').attr({ src: data });
                    var source = this.clone();
                    this.replaceWith(source);
                }
                $(".numeber_order").numeric();
                checkImageUpload();
            });

        });

        $('.item_img').live('click', function () {
            var C = confirm("Delete images ?");
            if (C == true) {
                var id = $(this).parent().parent().parent().attr('data-id');
                var url = root + "banner/DeleteImg";
                var namefile = $(this).attr('src');
                $.post(url, { id: id, namefile: namefile }, function (data) {
                    $("#ajax_load_banner").html(data);
                });

            }
        });

        $('._btnUpdate').live('click', function () {
            var url = root + 'banner/Edit';
            var id = $(this).parent().find("#id").attr("value");
            var $this = $(this).parent().find("#order");
            var order = $this.attr("value");
            if (order == "") {
                order = parseInt(0);
            }
            if (order.length > 10) {
                order = parseInt(order.substring(0, 10));
            }

            $.post(url, { id: id, value: order }, function (data) {
                if (data == 'permission-denied') {
                    ShowError();
                    return false;
                }
                else {
                    $this.fadeOut(300);
                    $this.fadeIn();
                    $this.attr('value', data);
                }
            });
        });

        $('._btnStatus').live('click', function () {
            var url = root + 'banner/UpdateStatus';
            var id = $(this).parent().find("#id").attr("value");
            var $this = $(this);

            $.post(url, { id: id }, function (data) {
                if (data == 'permission-denied') {
                    ShowError();
                    return false;
                }
                else {
                    if ($($this).hasClass("rightshow")) {
                        $this.removeClass("rightshow").addClass("righthide");
                    }
                    else {
                        $this.removeClass("righthide").addClass("rightshow");
                    }
                }
            });
        });


        $('.c-lang').live('click', function () {
            $(this).parent().find('.c-lang').attr({ 'width': '20' });
            $(this).attr({ 'width': '25' });
            var lang = $(this).attr('data-lang');
            $(this).parent().parent().find('.banner_lang').hide();
            $(this).parent().parent().find('.banner_' + lang).show();
        });

        function ShowError() {
            $(".gr_perm_error").fadeIn(500);
            $("#loader").fadeOut(300);
            $(".table").css("marginTop", 4);
            setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
        }
    });

</script>
@{
    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
    <script type="text/javascript">
        ShowError();
            </script>
        }
    }
}
<div style="float: right; height: 128px;">
    <div class="midNav">
        @* <ul>
            <li><a href='@Url.Content("~")admincp/@ViewBag.SeletedNameModule/#/back'><span class="back">
                Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0)" onclick="save()"><span
                id="saveContent" class="save">Save</span></a></li>
        </ul>*@
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                @if (Model != null)
                {
                    cssStyle = "display: none;";
                }
                <div class="gr_perm_error" style="@cssStyle">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                @if (Model != null)
                {
                    <div class="table">
                        <div class="head_table">
                            <div class="head_title_edit">
                                banner</div>
                        </div>
                        <div class="clearAll">
                        </div>
                        <form id="frmManagement" action="@Url.Content("~")banner/save/" method="post" enctype="multipart/form-data">
                        <input type="hidden" value="0" name="hiddenIdAdmincp" />
                        <div class="row_text_field_first">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td class="left_text_field">
                                        Add new banner:
                                    </td>
                                    <td class="right_text_field">
                                        <div class="w_upload">
                                            <input type="file" name="banner[]" class="ip_up" multiple="true" data-type="image" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row_text_field">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td class="left_text_field">
                                        Banner:<br />
                                        input 1: Tiêu đề (VI)<br />
                                        input 2: Title (EN)<br />
                                        input 3: Sắp xếp
                                    </td>
                                    <td class="right_text_field">
                                        <div class="list_banner">
                                            <div id="ajax_load_banner">
                                                @RenderPage("~/Views/BackEnd/Banner/AjaxLoadContent.cshtml")
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        </form>
                    </div>
                }
            </div>
        </td>
    </tr>
</table>
