﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.MessageViewModel>

@if (Model != null && Model.Count > 0)
{
    int i = 0;
    foreach (var child in Model)
    {
@*        if (i==0){
        <div class="it-wk @(i==0?"first":"")">
			<div class="img-wk"><a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@child.TITLE"><img src="@Url.Content("~")@CommonHelper.FetchImage(child.THUMBNAIL, 745, 260, 2)" alt="@child.TITLE"></a></div>
			<div class="info-wk">
				<a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@child.TITLE" class="name-wk">@child.TITLE</a>
				<div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @child.CREATED.ToString("dd/MM/yyyy")</div>
				<div class="desc-wk">@CommonHelper.CutText(child.DESCRIPTION, 440) <a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@StringHelper.lang("text_view_more")">@StringHelper.lang("text_view_more")</a></div>
			</div>
		</div>
        } else {*@
        <div class="it-wk">
	@*		<div class="img-wk left">
				<a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@child.TITLE">
                @if (!string.IsNullOrEmpty(child.THUMBNAIL)) {
                    @Html.Raw(child.THUMBNAIL)
                }
                else
                {
                    <img src="@Url.Content("~")@CommonHelper.Img2("", 150, 90, 2)" alt="@child.TITLE" />
                }
                </a>
			</div>*@
			<div class="info-wk left">
				<a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@child.TITLE" class="name-wk">@child.TITLE</a>
				<div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @child.CREATED.ToString("dd/MM/yyyy")</div>
				<div class="desc-wk">@CommonHelper.CutText(child.DESCRIPTION, 160) <a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@StringHelper.lang("text_view_more")">@StringHelper.lang("text_view_more")</a></div>
			</div>
			<div class="clear"></div>
		</div>
        //}

        i++;
    }
}
else
{ 
    <div class="no-data mt10">@StringHelper.lang("text_no_data")</div>
}
				    
@if (!string.IsNullOrEmpty(ViewBag.pagination))
{
    <div class='paging'>
        @Html.Raw(ViewBag.pagination)
    </div>
}
