﻿@using WizardCMS.Const;
@model IEnumerable<WizardCMS.Models.MessageViewModel>
@{
    Layout = null;
    int no = 0;
    string cssClass = "";
    string sort_by = ViewBag.SortBy.ToUpper();
    string sort_type = ViewBag.SortType.ToUpper();
}
@{
    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
    <script type="text/javascript">
        $(function () {
            $(".gr_perm_error").fadeIn(500);
            $("#loader").fadeOut(300);
            $(".table").css("marginTop", 4);
            setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
        });
           </script>
        }
    }
}
<script type="text/javascript">
    $(function () {
        $(".custom_chk").jqTransCheckBox();
    });
    function updateOrder(d, a, c) {
        var b = root + "" + c + "/UpdateOrder/";
        $.post(b, {
            id: d,
            order: a
        }, function (e) {
            if (e == 'permission-denied') {
                $('#txt_error').html('Permission denied');
                show_error();
            }
            else {
                $("#loadOrderID_" + d).html(e);
                if (c == "manager_modules") {
                    $.get(root + "admincp/menu", function (f) {
                        $("#loadMenu").html(f)
                    })
                }
            }
        })
    }
    function show_error() {
        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>
<style type="text/css">
.td_center.thumbnail img 
{
    width: 150px;
    max-height: 150px;    
}
</style>
<div class="content_table">
    <input type="hidden" value="@ViewBag.SortBy" id="by_sort" />
    <input type="hidden" value="@ViewBag.SortType" id="type_sort" />
    <input type="hidden" value="@ViewBag.parentId" id="parentId" />
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
            <tr>
                <th class="th_no_cursor" width="40">
                    No.
                </th>
                <th class="th_no_cursor" width="31">
                    <input type="checkbox" class="custom_chk" id="selectAllItems" onclick="selectAllItems(@if (Model != null)
                                                                                                          { @Model.Count()}
                                                                                                          else
                                                                                                          { @Html.Raw("0") })" />
                </th>
                <th class="th_center">
                    <div id="thumbnail">Thumbnail</div>
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'TITLE')">
                    <div id="title" class="@(sort_by == "TITLE" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">Title</div>
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'DESCRIPTION')">
                    <div id="DESCRIPTION" class="@(sort_by == "DESCRIPTION" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">Description</div>
                </th>
                <th width="70" onclick="ColumnSort('@ViewBag.AjaxUrl', 'STATUS')">
                    <div id="status" class="@(sort_by == "STATUS" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">Action</div>
                </th>
                <th class="th_last" width="100" onclick="ColumnSort('@ViewBag.AjaxUrl', 'CREATED')">
                    <div id="created" class="@(sort_by == "CREATED" ? (sort_type == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "")">Created</div>
                </th>
            </tr>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    cssClass = no % 2 == 0 ? "row2" : "row1";
                <tr class="@cssClass @("item_row" + no)">
                    <td class="td_center">
                        @(no + 1)
                    </td>
                    <td class="td_no_padd">
                        <input type="checkbox" class="custom_chk" id="@("item" + no)" onclick="selectItem('@no')" value="@item.ID"/>
                    </td>
                    <td class="td_center thumbnail" width="200">
                        @if (!string.IsNullOrEmpty(item.THUMBNAIL)){
                            @Html.Raw(item.THUMBNAIL);
                        }
                    </td>
                    <td class="th_left">
                        @item.TITLE
                    </td>
                    <td class="th_left">
                        @item.DESCRIPTION
                    </td>
                    <td class="td_center" id='@Html.Raw("loadStatusID_" + @item.ID)'>
                        <a class="myclass" href="javascript:void(0)" onclick="return updateStatus(@item.ID,@item.STATUS,'News', 'true')">
                            @if (item.STATUS == 2)
                            {
                                <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/check_16x16.png" />
                            }
                            else
                            {
                                <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/uncheck_16x16.png" />
                            }
                        </a>
                    </td>
                    <td class="th_last td_center">
                        @item.CREATED.ToString("dd-MM-yyyy HH:mm:ss")
                    </td>
                </tr>                    
                   no++;
                    //}
                }
            }
            else
            {
                <tr class="row1">
                    <td class="th_last td_center" colspan="50" style="font-size: 20px; padding: 50px 0">
                        No data
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
@RenderPage("~/Views/BackEnd/Paging.cshtml")
<div class="clearAll">
</div>
<span id="actionMessage"></span>