﻿@model WizardCMS.Models.AccountGroupModel
@{
    string cssClass = "";
    string checkMark = "";
}
<script type="text/javascript">
    function chk_perm(b, a) {
        if (a != "no_access") {
            if (a == "read") {
                if ($("#read" + b).attr("checked") == "checked") {
                    $("#noaccess" + b).attr("checked", true);
                    $("#write" + b).attr("checked", false);
                    $("#delete" + b).attr("checked", false);
                    $(".custom_noaccess" + b).addClass("jqTransformChecked");
                    $(".custom_write" + b).removeClass("jqTransformChecked");
                    $(".custom_delete" + b).removeClass("jqTransformChecked")
                } else {
                    $("#noaccess" + b).attr("checked", false);
                    $(".custom_noaccess" + b).removeClass("jqTransformChecked")
                }
            } else {
                $("#read" + b).attr("checked", true);
                $("#noaccess" + b).attr("checked", false);
                $(".custom_read" + b).addClass("jqTransformChecked");
                $(".custom_noaccess" + b).removeClass("jqTransformChecked")
            }
        } else {
            if ($("#noaccess" + b).attr("checked") == "checked") {
                $("#read" + b).attr("checked", true);
                $(".custom_read" + b).addClass("jqTransformChecked")
            } else {
                $(".perm_access" + b).attr("checked", false);
                $(".custom_read" + b).removeClass("jqTransformChecked");
                $(".custom_write" + b).removeClass("jqTransformChecked");
                $(".custom_delete" + b).removeClass("jqTransformChecked")
            }
        }
    };
    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback 
            success: showResponse  // post-submit callback 
        };

        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        form = jqForm[0];
        if ($.trim(form.nameAdmincp.value) == '') {
            $('#loader').fadeOut(0);
            alert('Vui lòng điền đầy đủ thông tin.');
            return false;
        }
    }

    function showResponse(responseText) {
        if (responseText == 'success') {
            location.href = "admincp/accountgroups/#/save";
        }

        if (responseText == 'name-group-exist') {
            $('#txt_error').html('name-group-exist');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        if (responseText == 'fault') {
            $('#txt_error').html('An error has been occured. The server cannot connect to the database');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        if (responseText == 'permission-denied') {
            $('#txt_error').html('permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
    }
    function show_error() {
        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
    $(document).ready(function () {
        $('.custom_chk').jqTransCheckBox();
    });
</script>
<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href="@Url.Content("~")admincp/accountgroups/#/back"><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0)" onclick="save()"><span
                id="saveContent" class="save">Save</span></a> </li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">Account Group Update</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")accountgroups/save' 
                        method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.ID" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    @if (Model.STATUS == 1)
                                    {
                                        cssClass = "jqTransformChecked";
                                        //checkMark = "checked=checked";
                                    }
                                    <td class="right_text_field">
                                        @* <span class="jqTransformCheckboxWrapper">
                                        <a href="javascript:void(0)" class="jqTransformCheckbox @cssClass">
                                        </a>*@
                                        <input type="checkbox" @if (Model.STATUS != null)
                                                               {
                                                                   if (Model.STATUS == 1)
                                                                   {
                                                                       checkMark = "checked=checked";
                                                                   }
                                                                   else
                                                                   {
                                                                       checkMark = "";
                                                                   }
                                                               }
                                                               else
                                                               {
                                                                   checkMark = "checked=checked";
                                                               }
                                                    @checkMark class="custom_chk" name="statusAdmincp" />
                                        @*</span>*@ @* <input <?php if(isset($result->status)){ if($result->status==1){ ?>checked="checked"<?php }}else{ ?>checked="checked"<?php } ?> type="checkbox" class="custom_chk" name="statusAdmincp" />*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">@Html.Label("Name:")
                                </td>
                                <td class="right_text_field">
                                    <input value="@Model.NAME" type="text" name="nameAdmincp" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">@Html.Label("Permission:")
                                </td>
                                <td class="right_text_field" id="ajax_perm">
                                    @* @if(Model.Id !=1)
                                    {
                                        @{Html.RenderPartial("~/Views/BackEnd/Account_Groups/AjaxLoadPermission.cshtml", new ThanhThanhCong.Models.Permission { Perm = Model.Permission, LstModule = ViewBag.ListModule });}
                                    }
                                    else
                                    {
                                        
                                    }*@
                                    <div class="gr_perm">
                                        <div class="title_perm">
                                            Default</div>
                                        <div class="content_perm">
                                            <div class="gr_item_perm">
                                                <div class="item_perm_chk">
                                                    <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                           {
                                                                               if (Model.PERMISSION.Substring(2, 3) == "---")
                                                                               {
                                                                                   checkMark = "checked=checked";
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                                           }
                                                                           else
                                                                           {
                                                                               checkMark = "checked=checked";
                                                                           }
                                                           @checkMark class="custom_chk" onclick="chk_perm(0,'no_access')" name="noaccess0Admincp" id="noaccess0" />
                                                </div>
                                                <div class="item_perm_label">
                                                    No Access</div>
                                            </div>
                                            <div class="gr_item_perm">
                                                <div class="item_perm_chk">
                                                    <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                           {
                                                                               if (Model.PERMISSION.Substring(2, 1) == "r")
                                                                               {
                                                                                   checkMark = "checked=checked";
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                                           }
                                                                           else
                                                                           {
                                                                               checkMark = "";
                                                                           }
                                                                               
                                                           @checkMark  class="custom_chk perm_access0"  onclick="chk_perm(0,'read')" name="read0Admincp" id="read0" /></div>
                                                <div class="item_perm_label">
                                                    Read</div>
                                            </div>
                                            <div class="gr_item_perm">
                                                <div class="item_perm_chk">
                                                    <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                           {
                                                                               if (Model.PERMISSION.Substring(3, 1) == "w")
                                                                               {
                                                                                   checkMark = "checked=checked";
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                                           }
                                                                           else
                                                                           {
                                                                               checkMark = "";
                                                                           }
                                                           @checkMark class="custom_chk perm_access0" onclick="chk_perm(0,'write')" name="write0Admincp" id="write0" /></div>
                                                <div class="item_perm_label">
                                                    Edit</div>
                                            </div>
                                            <div class="gr_item_perm">
                                                <div class="item_perm_chk">
                                                    <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                           {
                                                                               if (Model.PERMISSION.Substring(4, 1) == "d")
                                                                               {
                                                                                   checkMark = "checked=checked";
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                                           }
                                                                           else
                                                                           {
                                                                               checkMark = "";
                                                                           }
                                                           @checkMark class="custom_chk perm_access0" type="checkbox" onclick="chk_perm(0,'delete')" name="delete0Admincp" id="delete0" />
                                                </div>
                                                <div class="item_perm_label">
                                                    Delete</div>
                                            </div>
                                        </div>
                                    </div>
                                    @{                                       
                                        List<int> lst = ViewBag.ListModuleLimit;
                                        foreach (WizardCMS.Models.ModuleModel m in ViewBag.ListModule)
                                        {
                                            int posId = Model.PERMISSION.IndexOf(m.ID.ToString());
                                            int flag = 0;
                                            if (posId > 0)
                                            {
                                                flag = Model.PERMISSION.IndexOf("|", posId);
                                                if (flag < 0)
                                                {
                                                    flag = 0;
                                                }
                                            }
                                            if (Model.ID != 1)
                                            {
                                                if (lst.Contains((int)m.ID) == false && m.STATUS == 1)
                                                {
                                                   
                                        <div class="gr_perm">
                                            <div class="title_perm">@(m.NAME)</div>
                                            <div class="content_perm">
                                                <div class="gr_item_perm">
                                                    <div class="item_perm_chk">
                                                        <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                               {
                                                                                   string temp = Model.PERMISSION.Substring(flag + 1, 3);
                                                                                   if (Model.PERMISSION.Substring(flag + 1, 3) == "---")
                                                                                   {
                                                                                       checkMark = "checked=checked";
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       checkMark = "";
                                                                                   }
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "checked=checked";
                                                                               }
                                                           @checkMark onclick="chk_perm(@(m.ID),'no_access')" class="custom_chk" name="noaccess@(m.ID)Admincp" id="noaccess@(m.ID)" /></div>
                                                    <div class="item_perm_label">
                                                        No Access</div>
                                                </div>
                                                <div class="gr_item_perm">
                                                    <div class="item_perm_chk">
                                                        <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                               {
                                                                                   string temp = Model.PERMISSION.Substring(flag + 1, 1);
                                                                                   if (Model.PERMISSION.Substring(flag + 1, 1) == "r")
                                                                                   {
                                                                                       checkMark = "checked=checked";
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       checkMark = "";
                                                                                   }
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                           @checkMark onclick="chk_perm(@(m.ID),'read')" class="custom_chk perm_access@(m.ID)" name="read@(m.ID)Admincp" id="read@(m.ID)" /></div>
                                                    <div class="item_perm_label">
                                                        Read</div>
                                                </div>
                                                <div class="gr_item_perm">
                                                    <div class="item_perm_chk">
                                                        <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                               {
                                                                                   string temp = Model.PERMISSION.Substring(flag + 2, 1);
                                                                                   if (Model.PERMISSION.Substring(flag + 2, 1) == "w")
                                                                                   {
                                                                                       checkMark = "checked=checked";
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       checkMark = "";
                                                                                   }
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                           @checkMark onclick="chk_perm(@(m.ID),'write')" class="custom_chk perm_access@(m.ID)" name="write@(m.ID)Admincp" id="write@(m.ID)" /></div>
                                                    <div class="item_perm_label">
                                                        Edit</div>
                                                </div>
                                                <div class="gr_item_perm">
                                                    <div class="item_perm_chk">
                                                        <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                               {
                                                                                   string temp = Model.PERMISSION.Substring(flag + 3, 1);
                                                                                   if (Model.PERMISSION.Substring(flag + 3, 1) == "d")
                                                                                   {
                                                                                       checkMark = "checked=checked";
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       checkMark = "";
                                                                                   }
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                           @checkMark onclick="chk_perm(@(m.ID),'delete')" class="custom_chk perm_access@(m.ID)" name="delete@(m.ID)Admincp" id="delete@(m.ID)" /></div>
                                                    <div class="item_perm_label">
                                                        Delete</div>
                                                </div>
                                            </div>
                                        </div>
                                                }
                                            }
                                            else
                                            {
                                        <div class="gr_perm">
                                            <div class="title_perm">@(m.NAME)</div>
                                            <div class="content_perm">
                                                <div class="gr_item_perm">
                                                    <div class="item_perm_chk">
                                                        <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                               {
                                                                                   string temp = Model.PERMISSION.Substring(flag + 1, 3);
                                                                                   if (Model.PERMISSION.Substring(flag + 1, 3) == "---")
                                                                                   {
                                                                                       checkMark = "checked=checked";
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       checkMark = "";
                                                                                   }
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "checked=checked";
                                                                               }
                                                           @checkMark onclick="chk_perm(@(m.ID),'no_access')" class="custom_chk" name="noaccess@(m.ID)Admincp" id="noaccess@(m.ID)" /></div>
                                                    <div class="item_perm_label">
                                                        No Access</div>
                                                </div>
                                                <div class="gr_item_perm">
                                                    <div class="item_perm_chk">
                                                        <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                               {
                                                                                   string temp = Model.PERMISSION.Substring(flag + 1, 1);
                                                                                   if (Model.PERMISSION.Substring(flag + 1, 1) == "r")
                                                                                   {
                                                                                       checkMark = "checked=checked";
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       checkMark = "";
                                                                                   }
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                           @checkMark onclick="chk_perm(@(m.ID),'read')" class="custom_chk perm_access@(m.ID)" name="read@(m.ID)Admincp" id="read@(m.ID)" /></div>
                                                    <div class="item_perm_label">
                                                        Read</div>
                                                </div>
                                                <div class="gr_item_perm">
                                                    <div class="item_perm_chk">
                                                        <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                               {
                                                                                   string temp = Model.PERMISSION.Substring(flag + 2, 1);
                                                                                   if (Model.PERMISSION.Substring(flag + 2, 1) == "w")
                                                                                   {
                                                                                       checkMark = "checked=checked";
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       checkMark = "";
                                                                                   }
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                           @checkMark onclick="chk_perm(@(m.ID),'write')" class="custom_chk perm_access@(m.ID)" name="write@(m.ID)Admincp" id="write@(m.ID)" /></div>
                                                    <div class="item_perm_label">
                                                        Edit</div>
                                                </div>
                                                <div class="gr_item_perm">
                                                    <div class="item_perm_chk">
                                                        <input type="checkbox" @if (string.IsNullOrEmpty(Model.PERMISSION) == false)
                                                                               {
                                                                                   string temp = Model.PERMISSION.Substring(flag + 3, 1);
                                                                                   if (Model.PERMISSION.Substring(flag + 3, 1) == "d")
                                                                                   {
                                                                                       checkMark = "checked=checked";
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       checkMark = "";
                                                                                   }
                                                                               }
                                                                               else
                                                                               {
                                                                                   checkMark = "";
                                                                               }
                                                           @checkMark onclick="chk_perm(@(m.ID),'delete')" class="custom_chk perm_access@(m.ID)" name="delete@(m.ID)Admincp" id="delete@(m.ID)" /></div>
                                                    <div class="item_perm_label">
                                                        Delete</div>
                                                </div>
                                            </div>
                                        </div>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
