﻿@model IEnumerable<WizardCMS.domain.WZ_CT_DISTRICT>
<option value="">Chọn quận/huyện</option>

@if (Model != null)
{
    foreach (var district in Model)
    {
        <option value="@district.DISTRICT_ID" @(ViewBag.DISTRICT_ID == district.DISTRICT_ID ? "selected='selected'" : "")>@district.DISTRICT_NAME</option> 
    }
}