﻿@*@model List<ThanhThanhCong.Models.MenuItemDTO>*@
@{ 
    int count = 1; string CsClass = "";
    List<WizardCMS.Models.ModuleModel> Footers = ViewBag.footermenu;
}

<div id="footer">
	@if(Footers != null)
    {
		//$title_lang= field('title');$link_lang= field('link');
		int count_sum = Footers.Count;
        
		foreach (var row in Footers)
        {
	        <a href="@Url.Content("~")@ViewBag.lang/@row.NAME" title="@row.NAME">@row.NAME</a>if (count != count_sum)
                                                                                            { @Html.Raw("&nbsp;|") }
                                                                                            count++;
        }
    }
	@Resources.Resources.COPYRIGHT
</div>