﻿@model List<ThanhThanhCong.Models.MenuItemDTO>
@{ int count = 0; string CsClass = ""; string Class_home = "";}

<div class="header_menu mt48">
    <ul id="menu">
        @foreach (var menuitem in Model)
        {
            count++;
            if (count == 1)
            {
                CsClass = "frist-child";
            }
            else
            {
                CsClass = string.Empty;
            }
            if (ViewBag.segment != string.Empty && menuitem.Link.Contains(ViewBag.segment))
            {
                CsClass += " active";
            }
            <li class="@CsClass" ><a href="javascript:void(0);" style="cursor:default;" class="@CsClass">@menuitem.Title</a>
            @if (menuitem.lstSubMenu != null && menuitem.lstSubMenu.Count > 0)
            {
                <div class="sub_menu">
				    <div class="sub_menu_content">
					    <ul>
                            @foreach (var sub in menuitem.lstSubMenu)
                            {
                                if (ViewBag.CurrentUrl != string.Empty && ViewBag.CurrentUrl.Contains(sub.Link))
                                {
                                    CsClass = "sub_active";
                                } else {
                                    CsClass = string.Empty;
                                }
                                <li class="@CsClass"><a href='@Url.Content("~")@ViewBag.lang/@sub.Link'>@sub.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
            </li>
        }
        @if (ViewBag.segment == string.Empty)
        {
            Class_home = "active";
        }
        <li class='menu_home @Class_home'><a href="@Url.Content("~")">@Resources.Resources.HOMEPAGE</a></li>
    </ul>
</div>