﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.JobViewModel
@{
    string cssClass = "";

    string ParrentPath = "";
    string category = Request.QueryString["category"];

    string backlink = Url.Content("~") + "admincp/" + ViewBag.module + "/#/back";
    string trail = "";

    if (category != string.Empty && category != "all" && category != "menu")
    {
        backlink = Url.Content("~") + "admincp/" + ViewBag.module + "?category=" + category;

        trail = "?category=" + category;
    }
    var work_places = new int[] { };
}

<script src="@Url.Content("~")Assets/js/jquery.numeric.js" type="text/javascript"></script>
<script type="text/javascript">
    var trail = '@trail';
    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });

        $(".priority").numeric();

        //$('.fancybox').fancybox();

        //lang switcher
        $('#lang_switch').tabs();
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }

        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        
        if (form.post_day.value == '') {
            $('#loader').hide();
            alert('Chưa chọn ngày đăng.');
            return false;
        }
        if (form.dead_line.value == '') {
            $('#loader').hide();
            alert('Chưa chọn ngày hết hạn.');
            return false;
        }

        var order = $("#priority").attr("value");
        if (order == "") {
            order = parseInt(0);
        }
        if (order >= 32767) {
            $('#loader').hide();
            alert('Thứ tự: Nhập số quá lớn. Số không lớn hơn 32.767');
            $('input[name="order"]').addClass('error-fr');
            return false;
        }
        if (order < 0) {
            $('#loader').hide();
            alert('Thứ tự: Không nhập số âm');
            $('input[name="order"]').addClass('error-fr');
            return false;
        }

        if (form.cid.value == '' || form.cid.value == '0') {
            $('#loader').hide();
            alert('Chưa chọn danh mục.');
            $('.error_template').fadeIn();
            return false;
        }
        if (form.term.value == '' || form.term.value == '0') {
            $('#loader').hide();
            alert('Chưa chọn ngành nghề.');
            $('.error_template').fadeIn();
            return false;
        }

        if (form.name_vi.value == '') {
            $('#txt_error').html('Chưa nhập tên vị trí tuyển dụng.');
            $('#loader').fadeOut(300);
            show_error();
            show_content('vi');
            $('input[name="name_vi"]').addClass('error-fr');
            $('.error_template').fadeIn();
            return false;
        }
        if (form.name_en.value == '') {
            $('#loader').hide();
            alert('Chưa nhập tên vị trí tuyển dụng (tiếng Anh).');
            show_content('en');
            $('input[name="name_en"]').addClass('error-fr');
            $('.error_template').fadeIn();
            return false;
        }
    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            var parrent = $("#save_id").attr("class");
            location.href = root + "admincp/" + module + trail + "&save=1";
        } else if (responseText == 'ERROR_SLUG') {
            alert('Ten danh mục bị trùng');
            $('#loader').hide();
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }
    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>

<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" class="@ParrentPath" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">
                            Manager @ViewBag.module</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")@ViewBag.module/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null) { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @if (Model != null)
                                               {
                                                   if (Model.STATUS == 1)
                                                   { 
                                                       @Html.Raw("checked = 'checked'") }
                                               }
                                               else
                                               {
                                                       @Html.Raw("checked = 'checked'") 
                                               } type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Priority:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null)
                                                  {@Model.PRIORITY}
                                                  else
                                                  { @Html.Raw("0");
                                                  }" type="text" name="priority" class="priority" id="priority" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Số lượng tuyển dụng:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null)
                                                  {@Model.NUM}
                                                  else
                                                  { @Html.Raw("1");
                                                  }" type="text" name="num" class="num" id="num" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Ngày đăng:
                                </td>
                                <td class="right_text_field">
                                    <input type="text" class="Datepicker" name="post_day" value="@(Model != null && Model.POST_DAY != null ? Model.POST_DAY.ToString("dd-MM-yyyy") : DateTime.Now.ToString("dd-MM-yyyy"))" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Thời hạn:
                                </td>
                                <td class="right_text_field">
                                    <input type="text" class="Datepicker" name="dead_line" value="@(Model != null && Model.DEADLINE != null ? Model.DEADLINE.ToString("dd-MM-yyyy") : DateTime.Now.ToString("dd-MM-yyyy"))" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Danh mục:
                                </td>
                                <td class="right_text_field">
                                    <select name="cid" id="cid" style="width:200px;height:24px;">
                                        <option value="0">[ Chọn danh mục ]</option>
                                        <!-- option list -->
                                        @if (ViewBag.categories != null) {
                                            foreach (var term in ViewBag.categories)
                                            { 
                                                <option value="@term.ID" @(Model != null && Model.CID == term.ID ? "selected":"") data-taxonomy="@term.TAXONOMY_ID">&nbsp;&nbsp;&nbsp;@term.NAME</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Ngành nghề:
                                </td>
                                <td class="right_text_field">
                                    <select name="term" id="term" style="width:200px;height:24px;">
                                        <option value="0">[ Chọn ngành ]</option>
                                        <!-- option list -->
                                        @if (ViewBag.terms != null) {
                                            foreach (var term in ViewBag.terms) { 
                                                <option value="@term.ID" @(Model != null && Model.TERM_ID == term.ID ? "selected":"") data-taxonomy="@term.TAXONOMY_ID">&nbsp;&nbsp;&nbsp;@term.NAME</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Nơi làm việc:
                                </td>
                                <td class="right_text_field">
                                    <div class='wrap-item mt10'>
                                        <div>
                                            @if (ViewBag.provinces != null)
                                            {
                                                foreach (var item in ViewBag.provinces)
                                                {
                                                    string check = "";
                                                    var tmp = Model != null ? Model.Provinces.Where(b => b.PROVINCE_ID == item.PROVINCE_ID).FirstOrDefault() : null;
                                                    if (tmp != null)
                                                    {
                                                        check = "checked";
                                                    }
                                                        
                                                    <div class='check-item'><input type="checkbox" @check name="checkbox" value="@item.PROVINCE_ID" /> @item.PROVINCE_NAME</div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="text-align:center;">
					                <div id="lang_switch">
						                <ul>
							                <li><a href="#tab-lang-vi" data-lang="vi" class="nav-tab-lang tab-lang-vi"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_vi.png" alt=""/></span>Tiếng Việt</a></li>
                                            <li><a href="#tab-lang-en" data-lang="en" class="nav-tab-lang tab-lang-en"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_en.png" alt=""/></span>English</a></li>
						                </ul>
						                
                                        @{
                                            JobContent content_translate = Model != null ? JobServices.GetFormContentByLang(Model.ContentTranslates, "vi") : null;
                                        }
                                        <div id="tab-lang-vi" class="w_content">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Tiêu đề (Tiếng Việt):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="name_vi" id="name_vi" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.TITLE)}" onblur="checkInp(this.value,'name_vi')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Mô tả (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field">
                                                            <textarea name="description_vi" id="description_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                             {@Html.Raw(content_translate.DESCRIPTION)}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#description_vi').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Yêu cầu chung (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="require_vi" id="require_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.REQUIRE}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#require_vi').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Quyền lợi (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="benefit_vi" id="benefit_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.BENEFIT}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#benefit_vi').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Hồ sơ yêu cầu (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="doc_require_vi" id="doc_require_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.DOC_REQUIRE}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#doc_require_vi').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Thời hạn nhận hồ sơ (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <input type="text" name="deadline_vi" id="deadline_vi" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.DEADLINE)}" onblur="checkInp(this.value,'deadline_vi')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Nơi nhận hồ sơ (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="place_cv_vi" id="place_cv_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.PLACE_CV}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#place_cv_vi').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- ENGLISH CONTENT HERE -->
                                        @{
                                            content_translate = Model != null ? JobServices.GetFormContentByLang(Model.ContentTranslates, "en") : null;
                                        }
                                        <div id="tab-lang-en" class="w_content" style="">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Tiêu đề (English):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="name_en" id="name_en" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.TITLE)}" onblur="checkInp(this.value,'name_en')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Mô tả (English):
                                                        </td>
                                                        <td class="right_text_field">
                                                            <textarea name="description_en" id="description_en"  cols="" rows="8">@if (content_translate != null)
                                                                                                             {@Html.Raw(content_translate.DESCRIPTION)}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#description_en').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Yêu cầu chung (English):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="require_en" id="require_en" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.REQUIRE}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#require_en').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Quyền lợi (English):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="benefit_en" id="benefit_en" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.BENEFIT}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#benefit_en').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Hồ sơ yêu cầu (English):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="doc_require_en" id="doc_require_en" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.DOC_REQUIRE}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#doc_require_en').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Thời hạn nhận hồ sơ (English):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <input type="text" name="deadline_en" id="deadline_en" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.DEADLINE)}" onblur="checkInp(this.value,'deadline_vi')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Nơi nhận hồ sơ (English):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="place_cv_en" id="place_cv_en" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.PLACE_CV}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#place_cv_en').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
						                
					                </div>
				                </td>
                            </tr>
                        </table>
                        
                    </div>
                    
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
