    *{margin: 0; padding: 0}
    
    body {
        background: #e4e4e4;
    }
     #wrapper{ position: relative;width: 400px;margin: 200px auto 0 auto;}
     #logon{
        width:400px;
        border:1px solid #dfdfdf;
        padding: 5px 15px;
        background: #f9f9f9;
     }
     
      p {
        margin: 10px 0px;
     }
     
     label {
        float: left;
        display: block;
        font-weight: bold;
        width: 90px;
        color: #7d7d7d;
        padding:7px 0px;
    }
    
    input {
        padding: 10px 5px;
        width: 250px;
        border:1px solid #dfdfdf;
    }
    
    input[name='submit'] {
        margin-left: 262px;
        width: 90px;
        padding:3px;
        background: #01b3f1;
        }
#dauhoi {
    position: absolute;
    top:416px;right:490px;
}

#logo{
    position: absolute;
    top: -50px;
    left: 0;
}