﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_contact"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh-1.jpg) center center">
	<div class="wrapper">
		<span>@ViewBag.node_cham_soc.SUB_TITLE</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page">
	<div id="menu-right-mobile">
		 @Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>
		<div class="wrap-content-right contact-page">
			<div class="page-title">
				<p>@StringHelper.lang("text_contact")</p>
				<div class="line"></div>
			</div>
			<div class="tab-wk">
				<div class="info">@StringHelper.lang("text_contact_desc")</div>
				<div class="form-signup">
                    <form action="/" method="post" id="contact-form">
					    <div class="wrap-inp">
						    <div class="label">@StringHelper.lang("text_fullname")</div>
						    <div class="inp"><input placeholder="" name="ct_fullname" id="ct_fullname" /></div>
					    </div>
                        <div class="wrap-inp">
						    <div class="label">Email</div>
						    <div class="inp"><input placeholder="" name="ct_email" id="ct_email" /></div>
					    </div>
					    <div class="wrap-inp">
						    <div class="label">@StringHelper.lang("text_title")</div>
						    <div class="inp"><input placeholder="" name="ct_title" id="ct_title" /></div>
					    </div>
					    <div class="wrap-inp">
						    <div class="label">@StringHelper.lang("text_content")</div>
						    <div class="textarea"><textarea placeholder="" name="ct_content" id="ct_content"></textarea></div>
					    </div>
					    <div class="wrap-inp code">
						    <div class="label"><span>*</span>@StringHelper.lang("text_captcha")</div>
                            @Html.Partial("_Captcha", new WizardCMS.Models.Captcha())
                            @Html.Partial("_InvisibleCaptcha", new WizardCMS.Models.InvisibleCaptcha())
					    </div>
					    <div class="wrap-inp">
						    <div class="label"></div>
						    <a class="btn-sign" href="javascript: void(0);" title="" id="submit_contact">@StringHelper.lang("text_submit")</a>
					    </div>
                        <div class="wrap-inp">
						    <div class="label"></div>
                            <div class="error error_txt active" style="color: red;"></div>
	                        <div class="success_message" style="display: none; color: green;">@StringHelper.lang("contact_success")</div>
					    </div>
				    </form>
                </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- end content lien he -->

<script type="text/javascript">
    function clearError()
    {
        $(".ct_item_error").html('');
        $(".ct_item_error").css('display','none');
    }
	
	function clearForm(){
	    $('#ct_fullname, #ct_email, #ct_title, #ct_content, #CaptchaValue').val('');
	}

	function validateEmail(email){        
        return true;
 	}
	
	function showError(error){
		$('.error_txt').html(error);
		$('.error_txt').show();
		$('.success_message').hide();
	}
	function hideError(){
		$('.error_txt').hide();
	}

	function ismaxlengthSend(obj){
		var mlength=obj.getAttribute? parseInt(obj.getAttribute("maxlength")) : ""
		if (obj.getAttribute && obj.value.length>mlength)
			obj.value=obj.value.substring(0,mlength)
	}

    function ReloadCaptcha()
    {
        $('.code-char').html('<img src="' + '@Url.Content("~/Captcha/Show")' + '?v=' + Math.random() + '" />');
        return true;
    }

    $(document).ready(function () {
        $("#change-code").on("click", function () {
            ReloadCaptcha();
        });

        $("#submit_contact").click(function () {
            clearError();
            var name = $("input[name=ct_fullname]").val();
            var email = $("input[name=ct_email]").val();
            var phone = $("input[name=ct_phone]").val();
            var address = $("input[name=ct_address]").val();
            var title = $("input[name=ct_title]").val();
            var content = $("textarea[name=ct_content]").val();
            var captcha = $('#CaptchaValue').val();

            var post_data = {
                'name': name,
                'email': email,
                'phone': phone,
                'address': address,
                'content': content
            };

            if (name == '') {
                showError('@StringHelper.lang("fullname_require")');
                return false;
            }

            if (name.length < 5) {
                showError('@StringHelper.lang("fullname_length")');
                return false;
            }

            if (email == '') {
                showError('@StringHelper.lang("email_require")');
                return false;
            }
            else {
                if (!checkInp(email, "email")) {
                    showError('@StringHelper.lang("email_invalid")');
                    return false;
                }
            }
            /*
            if(phone=='') {
            showError('@StringHelper.lang("phone_require")');
            return false;
            }
            else
            {
            if( !checkInp( phone, 'phone') ){
            showError("@StringHelper.lang("phone_invalid")");
            return false;	
            }
            }
            if(address=='') {
            showError('@StringHelper.lang("address_require")');
            return false;
            }
            */
            if (title == '') {
                showError('@StringHelper.lang("title_require")');
                return false;
            }
            if (content == '') {
                showError('@StringHelper.lang("content_require")');
                return false;
            }

            if (captcha == '') {
                showError('@StringHelper.lang("captcha_require")');
                return false;
            }

            $.ajax({
                url: root_lang + "contact", //$('#contact-form').attr("action"),
                data: $('#contact-form').serialize(),
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.st == "1") {
                        clearForm();
                        //window.location.href= "<?=PATH_URL.'contact'?>";
                        hideError();
                        $('.success_message').show();
                        //Recaptcha.reload();
                        return false;
                    } else {
                        //$("."+data.code).html(data.message);
                        showError(data.msg);
                        ReloadCaptcha();
                        $("." + data.code).css('display', 'block');
                        return false;
                    }
                }
            });
            return false;
        });
    });
</script>