﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE("404 - Không tìm thấy trang");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 404 -->
<div class="page-404 one" style="display:none">
	<div class="wrapper">
		<table class="tb100">
			<tbody>
				<tr>
					<td>
						<p class="p1">404</p>
						<p class="p2">Không tìm thấy trang</p>
						<p class="p3">Hiện tại server đang bảo trì.<br/>Trang web sẽ sớm hoạt động lại.</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="page-404 two">
	<div class="wrapper">
		<table class="tb100">
			<tbody>
				<tr>
					<td>
						<p class="p1">404</p>
						<p class="p2">Không tìm thấy trang</p>
						<p class="p3">Link  không đúng hoặc không còn tồn tại.<br/>Trở về <a href="@StringHelper.base_url_lang()" title="">trang chủ</a></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- 404 -->