﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;
@using WizardCMS.Models
@using WizardCMS.Const

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("dieu-khoan-su-dung"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-sitemap.jpg) center center">
	<div class="wrapper">
		<span>Sitemap</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
		    <div class="page-title">
				<p>Sitemap</p>
				<div class="line"></div>
			</div>
			<div class="sitemap">
				<div class="it-sitemap">
					<div class="tt-sm">@StringHelper.lang("text_kh_canhan")</div>
                    @{
                        var nodes = ArticlesServices.GetArticleByParrent(Constants.NODE_KHACH_HANG_CN, 2);
                    }
                    @if (nodes != null)
                    {
                        foreach (var item in nodes)
                        {
                            <div class="tt"><a href="@StringHelper.base_url_lang()@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
                                                                                                             if (item.Childs != null)
                                                                                                             {
                                                                                                                 int i = 0;
                                                                                                                 foreach (var child in item.Childs)
                                                                                                                 {
                                    @(i % 3 == 0 ? Html.Raw("<div class='map-link left'>") : Html.Raw(""))
                                    <div class="tta"><a href="@StringHelper.base_url_lang()@child.LINK" title="@Html.Raw(child.TITLE)">@Html.Raw(child.TITLE)</a></div>
                                    @( (i + 1) % 3 == 0 || ((i + 1) == item.Childs.Count && (i + 1) == item.Childs.Count) ? Html.Raw("</div>") : Html.Raw(""))
                                i++;
                                                                                                                 }
                                                                                                             }
                        }
                    }
					<div class="clear"></div>
				</div>
				<div class="it-sitemap">
					<div class="tt-sm">@StringHelper.lang("text_kh_tochuc")</div>
                    @{
                        nodes = ArticlesServices.GetArticleByParrent(Constants.NODE_KHACH_HANG_TC, 2);
                    }
                    @if (nodes != null)
                    {
                        int count = 0;
                        foreach (var item in nodes)
                        {
                            <div class="tt @(count > 0 ? "mt16" : "")"><a href="@StringHelper.base_url_lang()@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
                                                                                                                                  if (item.Childs != null && item.Childs.Count > 0)
                                                                                                                                  {
                                                                                                                                      int i = 0;
                                                                                                                                      int per = count > 0 ? 2 : 3;
                                                                                                                                      foreach (var child in item.Childs)
                                                                                                                                      {
                                    @(i % per == 0 ? Html.Raw("<div class='map-link left'>") : Html.Raw(""))
                                    <div class="tta"><a href="@StringHelper.base_url_lang()@child.LINK" title="@Html.Raw(child.TITLE)">@Html.Raw(child.TITLE)</a></div>
                                    @( (i + 1) % per == 0 || ((i + 1) == item.Childs.Count && (i + 1) == item.Childs.Count) ? Html.Raw("</div>") : Html.Raw(""))
                                i++;
                                                                                                                                      }
                                <div class="clear"></div>
                                                                                                                                  }
                                                                                                                                  count++;
                        }
                    }
					
				</div>
				<div class="it-sitemap">
					<div class="tt-sm">@StringHelper.lang("text_tt_phantich")</div>
                    @{
                        nodes = ArticlesServices.GetArticleByParrent(Constants.NODE_TRUNGTAM_PHANTICH, 2);
                    }
                    @if (nodes != null)
                    {
                        int count = 0;
                        foreach (var item in nodes)
                        {
                            if (count == 0)
                            {
                                <div class="tt @(count > 0 ? "mt16" : "")"><a href="@StringHelper.base_url_lang()@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
                                if (item.Childs != null && item.Childs.Count > 0)
                                {
                                    int i = 0;
                                    int per = 3; // count > 0 ? 2 : 3;
                                    foreach (var child in item.Childs)
                                    {
                                        @(i % per == 0 ? Html.Raw("<div class='map-link left'>") : Html.Raw(""))
                                        <div class="tta"><a href="@StringHelper.base_url_lang()@child.LINK" title="@Html.Raw(child.TITLE)">@Html.Raw(child.TITLE)</a></div>
                                        @( (i + 1) % per == 0 || ((i + 1) == item.Childs.Count && (i + 1) == item.Childs.Count) ? Html.Raw("</div>") : Html.Raw(""))
                                        i++;
                                    }
                                    <div class="clear"></div>
                                }
                            }
                            else
                            { 
                                <div class="map-link left mt16">
                                    @if (item.ID == 264) {
						                <div class="tt"><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
                                    } else {
						                <div class="tt"><a href="@StringHelper.base_url_lang()@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
                                    }
                                    @if (item.Childs != null && item.Childs.Count > 0)
                                    {
                                        foreach (var child in item.Childs)
                                        {
                                            <div class="tta"><a href="@StringHelper.base_url_lang()@item.LINK#@child.SLUG" title="@Html.Raw(child.TITLE)">@Html.Raw(child.TITLE)</a></div>
                                        }
                                    }
                                </div>
                            }
                            count++;
                        }
                    }
					
					<div class="clear"></div>
				</div>
				<div class="it-sitemap">
					<div class="tt-sm">@StringHelper.lang("text_chamsoc_kh")</div>
					@{
                        nodes = ArticlesServices.GetArticleByParrent(Constants.NODE_CHAM_SOC_KH, 2);
                    }
                    @if (nodes != null)
                    {
                        int count = 0;
                        foreach (var item in nodes)
                        {
                            if (item.ID == 6)
                            {
                                continue; 
                            }
                            <div class="map-link left @(count > 2 ? "mt16" : "")">
						        <div class="tt"><a href="@StringHelper.base_url_lang()@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
                                @if (item.ID == WizardCMS.Const.Constants.NODE_HUONG_DAN && item.Childs != null && item.Childs.Count > 0)
                                {
                                    int i = 0;
                                    int per = 3; // count > 0 ? 2 : 3;
                                    foreach (var child in item.Childs)
                                    {
                                        <div class="tta"><a href="@StringHelper.base_url_lang()@item.LINK#@item.SLUG" title="@Html.Raw(child.TITLE)">@Html.Raw(child.TITLE)</a></div>
                                    }
                                }
                                @if (item.ID == WizardCMS.Const.Constants.NODE_HOI_THAO_DAO_TAO)
                                {
                                    <div class="tta"><a href="@(StringHelper.base_url_lang() + item.LINK)" title="">@StringHelper.lang("tin-tuc")</a></div>
                                    <div class="tta"><a href="@(StringHelper.base_url_lang() + item.LINK + "#" + StringHelper.lang("dang-ky-hoi-thao-slug"))" title="">@StringHelper.lang("dang-ky-hoi-thao")</a></div>
                                }
					        </div>
                                if ((count + 1) % 3 == 0)
                                {
                                <div class="clear"></div>
                                }
                                count++;
                        }
                    }
                    <div class="map-link mt16 left">
						<div class="tt"><a href="@(StringHelper.base_url_lang() + StringHelper.lang("lich-su-kien-slug"))" title="">@StringHelper.lang("text_lich_sk")</a></div>
					</div>
					<div class="map-link mt16 left">
						<div class="tt"><a href="@StringHelper.base_url_lang()@StringHelper.lang("lien-he-link")" title="">@StringHelper.lang("contact")</a></div>
					</div>
				</div>
                <div class="clear"></div>
				<div class="it-sitemap">
					<div class="tt-sm">@StringHelper.lang("text_gioithieu_mbs")</div>
					<div class="tt"><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_chung")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_chung"))</a></div>
                    @{
                        nodes = ArticlesServices.GetArticleByParrent(Constants.NODE_GIOI_THIEU, 1);
                    }
                    @if (nodes != null)
                    {
                        int i = 0;
                        int per = 3; // count > 0 ? 2 : 3;
                        foreach (var child in nodes)
                        {
                            @(i % per == 0 ? Html.Raw("<div class='map-link left'>") : Html.Raw(""))
                            <div class="tta"><a href="@StringHelper.base_url_lang()@child.LINK" title="@Html.Raw(child.TITLE)">@Html.Raw(child.TITLE)</a></div>
                            @( (i + 1) % per == 0 || ((i + 1) == nodes.Count && (i + 1) == nodes.Count) ? Html.Raw("</div>") : Html.Raw(""))
                        i++;
                        }
                        <div class="clear"></div>
                    }
					<div class="clear"></div>
                    @{
                        var ids = new int[] { Constants.NODE_GOC_TT, Constants.NODE_QUAN_HE_CD };
                        var items = ArticlesServices.GetMenuByListId(ids, 2);
                    }
                    @if (items != null)
                    {
                        foreach (var item in items)
                        {
                             <div class="map-link mt16 left">
						        <div class="tt"><a href="@StringHelper.base_url_lang()@item.Link" title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</a></div>
                                @if (item.lstSubMenu != null)
                                {
                                    foreach (var child in item.lstSubMenu)
                                    {
                                        <div class="tta"><a href="@StringHelper.base_url_lang()@child.Link" title="@Html.Raw(child.Title)">@Html.Raw(child.Title)</a></div>        
                                    }
                                }
					        </div>
                        }
                    }
					<div class="map-link mt16 left">
						<div class="tt"><a href="javascript: void(0);" title="">@StringHelper.lang("text_cohoi_nn")</a></div>
						<div class="tta"><a href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_vitri_tuyendung"))" title="@Html.Raw(StringHelper.lang("text_vitri_tuyendung"))">@Html.Raw(StringHelper.lang("text_vitri_tuyendung"))</a></div>
						<div class="tta" style="display:none"><a href="javascript: void(0);" title="">Kết quả tuyển dụng</a></div>
						<div class="tta"><a href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_bieu_mau"))" title="">@StringHelper.lang("text_bieu_mau")</a></div>
						<div class="tta"><a href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_huongdan_nophoso"))" title="">@StringHelper.lang("text_huongdan_nophoso")</a></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
        <div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>