﻿@{
    ViewBag.Title = "canboquanly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/banner/bg-banner-cbql.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>cán bộ quản lý</span>
		</div>
	</div>
<!-- Content -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
		    <div class="wrap-content-right workshops">
				<div class="page-title">
					<p>Bài kiểm tra vị trí trưởng phòng kinh doanh</p>
					<div class="line"></div>
				</div>
				<div class="question">
					<form action="">
						<div class="question-details">
							<div class="q-para">
								<p><span>1</span>. This man has dark .......................</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-1" value="" placeholder=""></div>
									<div class="q-cont">a. heads</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-1" value="" placeholder=""></div>
									<div class="q-cont">b. head</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-1" value="" placeholder=""></div>
									<div class="q-cont">c. hairs</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-1" value="" placeholder=""></div>
									<div class="q-cont">d. hair</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>2</span>. and a .......................</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-2" value="" placeholder=""></div>
									<div class="q-cont">a. beard</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-2" value="" placeholder=""></div>
									<div class="q-cont">b. barber</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-2" value="" placeholder=""></div>
									<div class="q-cont">c. moustaches</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-2" value="" placeholder=""></div>
									<div class="q-cont">d. facehair</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>3</span>. He is ....................... a jacket</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-3" value="" placeholder=""></div>
									<div class="q-cont">a. wearing </div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-3" value="" placeholder=""></div>
									<div class="q-cont">b. carrying</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-3" value="" placeholder=""></div>
									<div class="q-cont">c. having</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-3" value="" placeholder=""></div>
									<div class="q-cont">d. holding</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>4</span>. and he is ....................... a piece of paper.</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="checkbox" name="q-4" value="" placeholder=""></div>
									<div class="q-cont">a. wearing</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="checkbox" name="q-4" value="" placeholder=""></div>
									<div class="q-cont">b. holding</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="checkbox" name="q-4" value="" placeholder=""></div>
									<div class="q-cont">c. having</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="checkbox" name="q-4" value="" placeholder=""></div>
									<div class="q-cont">d. getting</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>5</span>. He is sitting at his .......................</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-5" value="" placeholder=""></div>
									<div class="q-cont">a. chair</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-5" value="" placeholder=""></div>
									<div class="q-cont">b. desk</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-5" value="" placeholder=""></div>
									<div class="q-cont">c. office</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-5" value="" placeholder=""></div>
									<div class="q-cont">d. room</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>6</span>. perhaps he is .......................</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-6" value="" placeholder=""></div>
									<div class="q-cont">a. work</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-6" value="" placeholder=""></div>
									<div class="q-cont">b. at work</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-6" value="" placeholder=""></div>
									<div class="q-cont">c. business</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-6" value="" placeholder=""></div>
									<div class="q-cont">d. on job</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>7</span>. You arrive at a party at 8 p.m. What do you say?</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-7" value="" placeholder=""></div>
									<div class="q-cont">a. Goodnight</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-7" value="" placeholder=""></div>
									<div class="q-cont">b. Good-bye</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-7" value="" placeholder=""></div>
									<div class="q-cont">c. Good evening</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-7" value="" placeholder=""></div>
									<div class="q-cont">d. Good afternoon</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>8</span>. Someone offers you a drink. You don’t want it. What do you say?</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-8" value="" placeholder=""></div>
									<div class="q-cont">a. Thank you</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-8" value="" placeholder=""></div>
									<div class="q-cont">b. Please</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-8" value="" placeholder=""></div>
									<div class="q-cont">c. No, thank you</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-8" value="" placeholder=""></div>
									<div class="q-cont">d. No, please</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>9</span>. Henderson ....................... going to work.</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-9" value="" placeholder=""></div>
									<div class="q-cont">a. likes not</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-9" value="" placeholder=""></div>
									<div class="q-cont">b. don’t like</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-9" value="" placeholder=""></div>
									<div class="q-cont">c. doesn’t like</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-9" value="" placeholder=""></div>
									<div class="q-cont">d. not like</div></label>
								</div>
							</div>
							<div class="q-para">
								<p><span>10</span>. ....................... early in the morning</p>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-10" value="" placeholder=""></div>
									<div class="q-cont">a. Does he get up</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-10" value="" placeholder=""></div>
									<div class="q-cont">b. Gets he up</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-10" value="" placeholder=""></div>
									<div class="q-cont">c. Do he get up</div></label>
								</div>
								<div class="q-lines"><label>
									<div class="q-check"><input type="radio" name="q-10" value="" placeholder=""></div>
									<div class="q-cont">d. Get he up</div></label>
								</div>
							</div>
						</div>
						<div class="question-finish">
							<a class="f-btn f-prev" href="">Trang trước</a>
							<a class="f-btn " href="">Gởi bài dự thi</a>
						</div>
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

<script>
	$().ready(function(){
		$('.question .q-lines .q-check input').uniform();
	});
</script>