﻿@{
    ViewBag.Title = "tintucthitruong_detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-ttpt.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Trung tâm phân tích</span>
		</div>
	</div>
<!-- Banner -->
<!-- content tai chinh -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
			<div class="wrap-content-right program-ud-detail">
				<div class="page-title">
					<p>Cổ phần hóa Tổng công ty Cửu Long</p>
					<div class="line"></div>
				</div>
				<div class="program-detail">
					<div class="date"><span>Ngày đăng:</span> 09/01/2015</div>
					<div class="detail-pr">
						<img src="@Url.Content("~/Assets/images/img/ttpt-7.jpg")" alt="" title="" />
						Trong tháng 4, Vụ Quản lý doanh nghiệp và Tổng công ty Cửu Long phải có báo cáo tổng kết đánh giá, đề xuất phương án cổ phần hoá (CPH) để tháng 6/2014 có thể trình Chính phủ.
						Đó là chỉ đạo của Bộ trưởng Bộ Giao thông Vận tải Đinh La Thăng tại cuộc họp về CPH Tổng công ty Cửu Long ngày 7/4.
						Đại diện Tổng công ty Cửu Long cho biết, căn cứ thực tế vốn Nhà nước tại DN và phương án sản xuất - kinh doanh sau CPH, Tổng công ty đề xuất hình thức CPH giữ nguyên vốn nhà nước hiện có tại DN (146 tỷ đồng) và phát hành thêm cổ phiếu để tăng vốn điều lệ cho đủ nhu cầu là 5.835 tỷ đồng.
						Bộ trưởng Đinh La Thăng yêu cầu Vụ Quản lý doanh nghiệp, Bộ Giao thông Vận tải rà soát nguồn tiền sau CPH của các DN thuộc Bộ đã nộp về ngân sách nhà nước để báo cáo Thủ tướng Chính phủ cho phép cấp đủ vốn điều lệ ban đầu cho Tổng công ty Cửu Long là 1.500 tỷ đồng. Số vốn đó sẽ được Tổng công ty Cửu Long đầu tư vào các dự án đường cao tốc, trước mắt là Trung Lương - Mỹ Thuận và đường vành đai 3 TP. HCM.
						Về lộ trình CPH Tổng công ty, Bộ trưởng Thăng đưa ra 2 phương án: Tổng công ty Cửu Long có thể tiến hành CPH số vốn nhà nước 1.500 tỷ đồng hoặc có thể giữ nguyên vốn nhà nước 1.500 tỷ đồng, sau đó tăng vốn điều lệ rồi phát hành cổ phiếu ra bên ngoài, với điều kiện việc tăng vốn điều lệ, phát hành cổ phiếu ra bên ngoài phải gắn với từng dự án cụ thể và thực hiện được. 
					</div>
					<div class="line-space mt16"></div>
				</div>
				<div class="program-other">
					<div class="page-title">
						<p>Tin khác</p>
						<div class="line"></div>
					</div>
					<div class="list-other-pr">
						<div class="it-pro-other left">
							<div class="img-proth left">
								<img src="@Url.Content("~/Assets/images/img/ttpt-8.jpg")" alt="" title="" />
							</div>
							<div class="info-proth left">
								<a href="javascript: void(0);" title="">Thông báo thay đổi lịch học khóa đào tạo Phân tích đầu tư chứng khoán</a>
								<div class="date"><span>Ngày đăng:</span> 04/11/2014</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-pro-other right">
							<div class="img-proth left">
								<img src="@Url.Content("~/Assets/images/img/ttpt-8.jpg")" alt="" title="" />
							</div>
							<div class="info-proth left">
								<a href="javascript: void(0);" title="">Thông báo thay đổi lịch học khóa đào tạo Phân tích đầu tư chứng khoán</a>
								<div class="date"><span>Ngày đăng:</span> 04/11/2014</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-pro-other left">
							<div class="img-proth left">
								<img src="@Url.Content("~/Assets/images/img/ttpt-8.jpg")" alt="" title="" />
							</div>
							<div class="info-proth left">
								<a href="javascript: void(0);" title="">Thông báo thay đổi lịch học khóa đào tạo Phân tích đầu tư chứng khoán</a>
								<div class="date"><span>Ngày đăng:</span> 04/11/2014</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-pro-other right">
							<div class="img-proth left">
								<img src="@Url.Content("~/Assets/images/img/ttpt-8.jpg")" alt="" title="" />
							</div>
							<div class="info-proth left">
								<a href="javascript: void(0);" title="">Thông báo thay đổi lịch học khóa đào tạo Phân tích đầu tư chứng khoán</a>
								<div class="date"><span>Ngày đăng:</span> 04/11/2014</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>	
			</div>
			<div class="clear"></div>
		</div>
	</div>
<!-- end content tai chinh -->