﻿@{
    ViewBag.Title = "tintucthitruong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-ttpt.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Trung tâm phân tích</span>
		</div>
	</div>
<!-- Banner -->
<!-- content tai chinh -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
			<div class="wrap-content-right workshops">
				<div class="page-title">
					<p>Tin tức thị trường</p>
					<div class="line"></div>
				</div>
				<div class="control-wk ttpt">
					<div class="tab-ctr active left">
						<div class="text">Thị trường chứng khoán</div>
					</div> 
					<div class="tab-ctr left">
						<div class="text">Tin vĩ mô</div>
					</div>
					<div class="tab-ctr left">
						<div class="text">Tin thế giới</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="wrap-tab-wk">
					<div class="tab-wk">
						<div class="it-wk first">
							<div class="img-wk"><a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-1.jpg")" alt=""></a></div>
							<div class="info-wk">
								<a href="javascript: void(0);" title="" class="name-wk">UBCK - Sẽ không siết điều kiện vay vốn của CTCK</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mở đầu năm mới 2015, MBS đã tổ chức thành công hội thảo MBS’s Talk 7 với chủ đề “Thị trường chứng khoán 2015 – Cơ hội và thách thức” tại cả hai địa điểm Hà Nội (07/01/2015) và TP. Hồ Chí Minh (08/01/2015). Tại hội thảo, các chuyên gia nghiên cứu cao cấp của MBS đã mang đến cho nhà đầu tư tham dự một cái nhìn tổng quan về tình hình kinh tế Thế giới và Việt Nam, đồng thời phân tích những triển vọng và thách thức với thị trường chứng khoán...<a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-2.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-3.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-4.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-5.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-6.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="paging">
							<span class='p-tt'>Trang </span>
							<span class="page">
								<span class="page">1</span>
								<a href="">2</a>
								<a href="">3</a>
								<span class='no-bd'>...</span>
								<a class='no-bd' href="">Cuối >></a>
							</span>
						</div>
					</div>
					<div class="tab-wk">
						<div class="it-wk first">
							<div class="img-wk"><a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-1.jpg")" alt=""></a></div>
							<div class="info-wk">
								<a href="javascript: void(0);" title="" class="name-wk">UBCK - Sẽ không siết điều kiện vay vốn của CTCK</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mở đầu năm mới 2015, MBS đã tổ chức thành công hội thảo MBS’s Talk 7 với chủ đề “Thị trường chứng khoán 2015 – Cơ hội và thách thức” tại cả hai địa điểm Hà Nội (07/01/2015) và TP. Hồ Chí Minh (08/01/2015). Tại hội thảo, các chuyên gia nghiên cứu cao cấp của MBS đã mang đến cho nhà đầu tư tham dự một cái nhìn tổng quan về tình hình kinh tế Thế giới và Việt Nam, đồng thời phân tích những triển vọng và thách thức với thị trường chứng khoán...<a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-2.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-3.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-4.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-5.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-6.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="paging">
							<span class='p-tt'>Trang </span>
							<span class="page">
								<span class="page">1</span>
								<a href="">2</a>
								<a href="">3</a>
								<span class='no-bd'>...</span>
								<a class='no-bd' href="">Cuối >></a>
							</span>
						</div>
					</div>
					<div class="tab-wk">
						<div class="it-wk first">
							<div class="img-wk"><a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-1.jpg")" alt=""></a></div>
							<div class="info-wk">
								<a href="javascript: void(0);" title="" class="name-wk">UBCK - Sẽ không siết điều kiện vay vốn của CTCK</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mở đầu năm mới 2015, MBS đã tổ chức thành công hội thảo MBS’s Talk 7 với chủ đề “Thị trường chứng khoán 2015 – Cơ hội và thách thức” tại cả hai địa điểm Hà Nội (07/01/2015) và TP. Hồ Chí Minh (08/01/2015). Tại hội thảo, các chuyên gia nghiên cứu cao cấp của MBS đã mang đến cho nhà đầu tư tham dự một cái nhìn tổng quan về tình hình kinh tế Thế giới và Việt Nam, đồng thời phân tích những triển vọng và thách thức với thị trường chứng khoán...<a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-2.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-3.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-4.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-5.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="it-wk">
							<div class="img-wk left">
								<a href="javascript: void(0);" title=""><img src="@Url.Content("~/Assets/images/img/ttpt-6.jpg")" alt=""></a>
							</div>
							<div class="info-wk left">
								<a href="javascript: void(0);" title="" class="name-wk">MBS tổ chức thành công Hội thảo MBS’s Talk 7</a>
								<div class="date-wk"><span>Ngày đăng:</span> 09/01/2015</div>
								<div class="desc-wk">Mặc dù dấu hiệu khởi sắc của nền kinh tế vĩ mô còn khá chậm chạp song thị trườngchứng khoán cũng đã nhận được nhiều yếu tố cơ bản hỗ trợ. Do đó, một số chuyêngia phân tích tiếp tục đặt kỳ vọng cho sự tăng trưởng của thị trường chứng khoán vào... <a href="javascript: void(0);" title="">Xem thêm</a></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="paging">
							<span class='p-tt'>Trang </span>
							<span class="page">
								<span class="page">1</span>
								<a href="">2</a>
								<a href="">3</a>
								<span class='no-bd'>...</span>
								<a class='no-bd' href="">Cuối >></a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<!-- end content tai chinh -->