﻿@{
    ViewBag.Title = "ungtuyen2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-cbql.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>CÁN BỘ QUẢN LÝ</span>
		</div>
	</div>
<!-- Banner -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		    <div class="wrap-content-right ungtuyen">
			   
			    <div class="page-title">
					<p>Thông tin ứng viên</p>
					<div class="line"></div>
				</div>
				
<!-- Request -->

				<div class="request">
					Anh/Chị hãy</br>
					<ul>
						<li>Điền đầy đủ và rõ ràng thông tin cho mỗi câu hỏi. Không viết vào phần tô đậm</li>
						<li>Đọc kỹ các hướng dẫn kèm theo ở mỗi câu hỏi</li>
						<li>Đề nghị giải thích thêm để đảm bảo hiểu rõ các câu hỏi nếu cần thiết</li>
					</ul>
				</div>

<!-- Box menu -->

				<div class="square-menu-wrapper">
					<div class="wrapper-left">
						<div class="box inactive box-left thong-tin-ca-nhan">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/ca-nhan-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/ca-nhan-l2.png")" alt="">
							<div class="bot-text"><a href="">Thông tin cá nhân</a></div>
						</div>
						<div class="box active box-right trinh-do-hoc-van">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/trinh-do-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/trinh-do-l2.png")" alt="">
							<div class="bot-text"><a href="">Trình độ học vấn và </br> chuyên môn</a></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="wrapper-right">
						<div class="box inactive box-left kinh-nghiem">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/kinh-nghiem-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/kinh-nghiem-l2.png")" alt="">
							<div class="bot-text"><a href="">Kinh nghiệm </br> làm việc</a></div>
						</div>
						<div class="box inactive box-right thong-tin-khac">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/khac-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/khac-l2.png")" alt="">
							<div class="bot-text"><a href="">Thông tin khác</a></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

<!-- Border box menu -->

				<div class="top-square-menu-border"></div>

<!-- Field Wrapper -->

				<div class="field-wrapper">

<!-- Banner -->

					<div class="banner">
						<img src="@Url.Content("~/Assets/images/ungtuyen/banner-2.jpg")" alt="">
						<div>2. TRÌNH ĐỘ HỌC VẤN VÀ CHUYÊN MÔN</div>
					</div>

<!-- Field 09 -->
				
					<div class="field field-06">
						<strong>9.</strong> Điền các ngoại ngữ mà anh/chị biết. Xin viết rõ khả năng sử dụng từng kỹ năng hoặc điểm tốt nghiệp</br></br>
						<div id="duplicater" class="content">
							<div>
		  						<div class="name">Ngoại ngữ</div>
		  						<div class="input-field"><input type="text" name="ho-ten"></div>
		  					</div>
		  					<div>
		  						<div class="name">Viết</div>
		  						<div class="input-field small"><input type="text" name="quan-he"></div>
		  					</div>
		  					<div>
		  						<div class="name small-name">Nghe</div>
		  						<div class="input-field small"><input type="text" name="trinh-do"></div>
		  					</div>
		  					<div>
		  						<div class="name">Đọc</div>
		  						<div class="input-field small"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name small-name">Nói</div>
		  						<div class="input-field small"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<hr>
		  					<div class="clear"></div>
						</div>
					</div>

<!-- Sub field 09 -->

						<div class="sub-field">
							<div class="add">Thêm</div>
							<div id="duplicate" class="duplicate" onlick="duplicate()"></div>
						</div>

<!-- Field 10 -->
				
					<div class="field field-06">
						<strong>10.</strong> Quá trình đào tạo. Từ trung học (hoặc các loại hình đào tạo khác từ 14 tuổi) đến hiện tại</br></br>
						<div id="duplicater2" class="content">
							<div>
		  						<div class="name">Cấp độ</div>
		  						<div class="input-field"><input type="text" name="ho-ten"></div>
		  					</div>
		  					<div>
		  						<div class="name">Tên trường, Thành phố, Đất nước</div>
		  						<div class="input-field"><input type="text" name="quan-he"></div>
		  					</div>
		  					<div>
		  						<div class="name">Từ  (tháng/năm)</div>
		  						<div class="input-field small"><input type="text" name="trinh-do"></div>
		  					</div>
		  					<div>
		  						<div class="name small-name">Đến</div>
		  						<div class="input-field small"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Lĩnh vực đào tạo</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Hệ/Điểm tốt nghiệp</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<hr>
		  					<div class="clear"></div>
						</div>
					</div>

<!-- Sub field 10 -->

					<div class="sub-field short-border">
						<div class="add">Thêm</div>
						<div id="duplicate2" class="duplicate" onlick="duplicate2()"></div>
					</div>

<!-- Sub field 10 - 2 -->
						
					<div class="field field-10">
						<div class="content">
							<div>
								<div class="name">Các chuyên môn khác trong lĩnh vực quản lý, kinh doanh, tài chính, hoặc lĩnh vực khác (Ghi cụ thể, có thể ghi thêm vào tờ riêng)</div>
								<div class="input-field big2"><input type="text" name="thuong-tru"></div>
							</div>
						</div>
					</div>

<!-- Sub field 11 -->
						
					<div class="field field-11">
						<div class="content">
							<div>
								<div class="name"><strong>11. </strong>Thành viên trong các tổ chức hoạt động xã hội, cộng đồng hoặc các tổ chức nước ngoài</div>
								<div class="input-field big"><input type="text" name="thuong-tru"></div>
							</div>
						</div>
					</div>

<!-- Sub field 12 -->
						
					<div class="field field-12">
						<div class="content">
							<div>
								<div class="name"><strong>12. </strong>Liệt kê những bài báo, sách, hoặc công trình khoa học anh/chị đã viết (không cần đính kèm)</div>
								<div class="input-field big"><input type="text" name="thuong-tru"></div>
							</div>
						</div>
					</div>

<!-- Sub field 13 -->
						
					<div class="field field-13">
						<div class="content">
							<div>
								<div class="name"><strong>13. </strong>Liệt kê những phần mềm máy tính anh/chị quen sử dụng. Nói rõ trình độ sử dụng (VD: Kém, trung bình, khá, tốt)</div>
								<div class="input-field big"><input type="text" name="thuong-tru"></div>
							</div>
						</div>
					</div>

<!-- Sub field 14 -->
						
					<div class="field field-14">
						<div class="content">
							<div>
								<div class="name"><strong>14. </strong>Liệt kê những năng khiếu mà Anh/Chị có khả năng (Thể thao/Âm nhạc…)</div>
								<div class="input-field big"><input type="text" name="thuong-tru"></div>
							</div>
						</div>
					</div>

<!-- Page nav button -->

					<div class="nav-button">
						<a href=""><div class="prev-page">
							<img src="@Url.Content("~/Assets/images/ungtuyen/prev-page.png")" alt="">
							THÔNG TIN CÁ NHÂN
						</div></a>
						<a href=""><div class="next-page">
							KINH NGHIỆM LÀM VIỆC
							<img src="@Url.Content("~/Assets/images/ungtuyen/next-page.png")" alt="">
						</div></a>
					</div>



				
				</div>
		    </div>
		</div>
		<div class="clear"></div>
	</div>


<script type="text/javascript">
	$(document).ready(function() {  
		$('.box.inactive img:first-child').css('opacity', 0);  

    // when hover over the selected image change the opacity to 1  
    $('.box.inactive').hover(  
    	function(){  
    		$(this).find('img:first-child').stop().fadeTo('slow', 1);  
    	},  
    	function(){  
    		$(this).find('img:first-child').stop().fadeTo('slow', 0);  
    	});


    document.getElementById('duplicate').onclick = duplicate;
	var i = 0;
	var original = document.getElementById('duplicater');
	function duplicate() {
    	var clone = original.cloneNode(true); // "deep" clone
    	clone.id = "duplicetor" + ++i; // there can only be one element with an ID
    	original.parentNode.appendChild(clone);
	}

	document.getElementById('duplicate2').onclick = duplicate2;
	var j = 0;
	var original2 = document.getElementById('duplicater2');
	function duplicate2() {
    	var clone2 = original2.cloneNode(true); // "deep" clone
    	clone2.id = "duplicetor2" + ++j; // there can only be one element with an ID
    	original2.parentNode.appendChild(clone2);
	} 

	});  
</script>