﻿@model IEnumerable<WizardCMS.Models.ModuleModel>
@{
    int no = 1;
    string cssClass = "";
}
@{
    Layout = null;
}
@{
    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
    <script type="text/javascript">
        $(function () {
            $(".gr_perm_error").fadeIn(500);
            $("#loader").fadeOut(300);
            $(".table").css("marginTop", 4);
            setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
        });
           </script>
        }
    }
}
<script type="text/javascript">
    function updateOrder(d, a, c) {
        var b = root + "" + c + "/UpdateOrder/";
        $.post(b, {
            id: d,
            order: a
        }, function (e) {
            if (e == 'permission-denied') {
                $('#txt_error').html('Permission denied');
                show_error();
            }
            else {
                $("#loadOrderID_" + d).html(e);
                if (c == "manager_modules") {
                    $.get(root + "admincp/menu", function (f) {
                        $("#loadMenu").html(f)
                    })
                }
            }
        })
    }
</script>
<div class="content_table">
    <input type="hidden" value="@ViewBag.SortBy" id="by_sort" />
    <input type="hidden" value="@ViewBag.SortType" id="type_sort" />

    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
            <tr>
                <th class="th_no_cursor" width="40">
                    No.
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'NAME')">
                    @if (ViewBag.SortBy.ToUpper() == "NAME")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="name" class="@cssClass">
                        Module
                    </div>
                </th>
                <th width="*" onclick="ColumnSort('@ViewBag.AjaxUrl', 'PRIORITY')">
                    @if (ViewBag.SortBy.ToUpper() == "PRIORITY")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="order" class="@cssClass">
                        Order
                    </div>
                </th>
                <th width="70" onclick="ColumnSort('@ViewBag.AjaxUrl', 'STATUS')">
                    @if (ViewBag.SortBy.ToUpper() == "STATUS")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="status" class="@cssClass">
                        Action
                    </div>
                </th>
                <th class="th_last" width="100" onclick="ColumnSort('@ViewBag.AjaxUrl', 'CREATED')">
                    @if (ViewBag.SortBy.ToUpper() == "CREATED")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="created" class="@cssClass">
                        Created
                    </div>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                if (item.IsShow == true)
                {
                    if (no % 2 == 0)
                    {
                        cssClass = "row2";
                    }
                    else
                    {
                        cssClass = "row1";
                    }
                <tr class="@cssClass @("item_row" + no)">
                    <td class="td_center">
                        @no
                    </td>
                    <td class="th_left">
                        <a href='@Url.Content("~")admincp/modules/update/@item.ID'>@item.NAME</a>
                    </td>
                    <td nowrap>
						<div style="padding-left: 5px;float: right;">
							  <img style="cursor: pointer;" onclick="return updateOrder(@item.ID,1,'modules')" src="@Url.Content("~")Assets/admin/images/icons/arrow_up.png" />                        
							  <img style="cursor: pointer;" onclick="return updateOrder(@item.ID,0,'modules')" src="@Url.Content("~")Assets/admin/images/icons/arrow_down.png" />
						</div>
                        <div style="float: right;" id='@Html.Raw("loadOrderID_" + @item.ID)'>
							@Html.Raw(item.PRIORITY.ToString())
						</div>
                    </td>
                    <td class="td_center" id="loadStatusID_5">
                        <a class="myclass" href="javascript:void(0)" onclick="return UpdateStatus(@item.ID)">
                            @if (item.STATUS == 1)
                            {
                                @Html.Raw("Uninstall");
                            }
                            else
                            {
                                @Html.Raw("Install");
                            }
                        </a>
                    </td>
                    <td class="th_last td_center">
                        @item.CREATED.ToString("dd-MM-yyyy HH:mm:ss")
                    </td>
                </tr>                    
                   no++;
                }
            }
        </tbody>
    </table>
</div>
@RenderPage("~/Views/BackEnd/Paging.cshtml")
<div class="clearAll">
</div>
<span id="actionMessage"></span>