﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
    string refer_ws = Request.QueryString["ws"];
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-trungtamphantich.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.post_title(ViewBag.node_phan_tich.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right workshops">
			<div class="page-title">
			    <p>@StringHelper.post_title(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
            {
                int i = 0;
                foreach (var child in ViewBag.childs)
                {
                    @(i % 2 == 0 ? Html.Raw("<div class='wrap-dvck clearfix'>") : Html.Raw(""))
                    <div class="it-dvck it-@(i+1) @(i%2==0?"fl":"fr")">
					    <table class="tab100">
						    <tr>
							    <td><a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)"><span>@StringHelper.post_title(child.TITLE)<span></a><img class="img" src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 362, 100, 2))"></td>
						    </tr>
					    </table>
				    </div>
                    @((i + 1) % 2 == 0 || ((i + 1) % 2 != 0 && (i + 1) == ViewBag.childs.Count) ? Html.Raw("</div>") : Html.Raw(""))
                    i++;
                }
            }
            else
            { 
                <div class="no-data" style="display:none">@StringHelper.lang("text_cap_nhat")</div>
            }
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->
