﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh-1.jpg) center center">
	<div class="wrapper">
		<span>@(StringHelper.IsNullOrEmptyOrWhiteSpace(ViewBag.node_cham_soc.SUB_TITLE) ? StringHelper.post_title(ViewBag.node_cham_soc.TITLE) : StringHelper.post_title(ViewBag.node_cham_soc.SUB_TITLE))</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>
		<div class="wrap-content-right trading-guide">
		    <div class="incentive-all" id="@StringHelper.lang("video-huong-dan-slug")">
				<div class="page-title">
					<p>Video hướng dẫn</p>
					<div class="line"></div>
				</div>
				<div class="info">@CommonHelper.CutText(ViewBag.node_huong_dan.DESCRIPTION, 210)</div>
				<div class="incentive-program">
                @if (ViewBag.videos != null)
                {
                    foreach (var item in ViewBag.videos)
                    {
					<div class="incentive-item">
						<div class="img">
							<img src="@Url.Content("~")@(CommonHelper.Img(item.THUMBNAIL, 363, 203))" alt="@Html.Raw(item.TITLE)" title="@Html.Raw(item.TITLE)" />
							<a href="#popup-video-@item.ID" title="" class="icon-play fancyvideo"></a>
						</div>
						<div class="info">
							<img src="@Url.Content("~")Assets/images/icon/tg-ud.png" alt="" title="" />
							<a  class="fancyvideo" href="#popup-video-@item.ID" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a>
							<div class="incentive-info">@item.DESCRIPTION</div>
						</div>
					</div>
                    }
                }
					<div class="clear"></div>
				</div>
				<a class="exchange-more right" style="display:none" href="javascript:void(0);" title="">@StringHelper.lang("text_view_all")</a>
				<div class="clear"></div>
			</div>
			<div class="line-space mt15"></div>
            @if (ViewBag.node_huong_dan != null)
            {
			<div class="support-center" id="@StringHelper.lang("huong-dan-slug")">
				<div class="page-title">
					<p>@Html.Raw(ViewBag.node_huong_dan.TITLE)</p>
					<div class="line"></div>
				</div>
				<div class="search-scc">
					<div class="select-scc left">
                    <select class="bselect" id="guide_term">
                        <option value="0">@StringHelper.lang("text_all")</option>
                    @if (ViewBag.terms != null)
                    {
                        foreach (var term in ViewBag.terms)
                        {
                        <option value="@term.ID">@term.NAME</option>
                        }
                    }
                    </select>
                    <div class="icon"></div></div>
					<div class="input-scc left">
						<a class="btn-search-scc" href="javascript: void(0);" title="" id="ico_search_guide"></a>
						<input placeholder="@StringHelper.lang("text_search_by_keyword")" name="" id="inp_search_guide" />
					</div>
					<div class="clear"></div>
				</div>
				<div class="info">@Html.Raw(ViewBag.node_huong_dan.CONTENT)</div>
				<div class="tbl-support-center-call" id="guide_wrap">
                    @if (ViewBag.childs != null)
                    {
                        int i = 0;
                        foreach (var item in ViewBag.childs)
                        {
                            @(i % 2 == 0 ? Html.Raw("<div class='tr-scc'>") : Html.Raw(""))
                            <div class="td-scc">
							    <div class="it-supp"><a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
						    </div>
                            @( (i + 1) % 2 == 0 || ((i + 1) % 2 != 0 && (i + 1) == ViewBag.childs.Count) ? Html.Raw("</div>") : Html.Raw(""))
                            i++;
                        }
                    }
				</div>
			</div>
            }
			<div class="line-space mt15"></div>

            @if (ViewBag.bieuphi != null)
            {
			<div class="form-trading" id="@StringHelper.lang("bieu-phi-slug")">
				<div class="page-title">
					<p>
                        <a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")">@StringHelper.post_title(ViewBag.bieuphi.SUB_TITLE)</a></p>
					<div class="line"></div>
				</div>
				<div class="info">@Html.Raw(ViewBag.bieuphi.CONTENT)</div>
				<div class="gr-bp">
					<ul>
						<li rel="#item_bp1" class="itembp itembp1">
							<div class="tbl">
								<div class="img">
									<span>
										<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_1")" title=""><img alt="" src="/Assets/images/icon/bp1.png" class="img-bp" /></a>
									</span>
								</div>
								<p><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_1")" title="">Biểu phí <br/>giao dịch <br/>chứng khoán</a></p>
							</div>
						</li>
						<li rel="#item_bp2" class="itembp itembp2">
							<div class="tbl">
								<div class="img">
									<span>
										<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_2")" title=""><img alt="" src="/Assets/images/icon/bp2.png" class="img-bp" /></a>
									</span>
								</div>
								<p><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_2")" title="">Biểu phí <br/>lưu ký <br/>chứng khoán</a></p>
							</div>
						</li>
						<li rel="#item_bp3" class="itembp itembp3">
							<div class="tbl">
								<div class="img">
									<span>
										<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_3")" title=""><img alt="" src="/Assets/images/icon/bp3.png" class="img-bp" /></a>
									</span>
								</div>
								<p><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_3")" title="">Biểu phí <br/>đóng mở <br/>dịch vụ</a></p>
							</div>
						</li>
						<li rel="#item_bp4" class="itembp itembp4">
							<div class="tbl">
								<div class="img">
									<span>
										<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_4")" title=""><img alt="" src="/Assets/images/icon/bp4.png" class="img-bp" /></a>
									</span>
								</div>
								<p><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_4")" title="">Biểu phí tra <br/>cứu thông tin <br/>tài khoản</a></p>
							</div>
						</li>
						<li rel="#item_bp5" class="itembp itembp5">
							<div class="tbl">
								<div class="img">
									<span>
										<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_5")" title=""><img alt="" src="/Assets/images/icon/bp5.png" class="img-bp" /></a>
									</span>
								</div>
								<p><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")#@StringHelper.lang("bieu_phi_hash_5")" title="">Biểu phí <br/>chuyển <br/>khoản tiền</a></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
            }
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->
@if (ViewBag.videos != null)
{
    foreach (var item in ViewBag.videos)
    {
        <div id="popup-video-@item.ID" class="huongdan-popup" style="display: none;">
	        <div class="video-container hd">
		        <center>@Html.Raw(item.CONTENT)</center>
	        </div>
	        <div class="info-video">
		        <div class="tit-video">@Html.Raw(item.TITLE)</div>
		        <div class="desc-video">@item.DESCRIPTION</div>
	        </div>
        </div>
    }
}

<script type="text/javascript">
    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: "",
            dateTo: "",
            searchText: $('#inp_search_guide').val(),
            term: $('#guide_term').val(),
            parrent: parrent
        }, function (e) {
            $("#guide_wrap").html(e);
            //scrollToDiv("guide_wrap");
            Page.scrollrightmenu();
        })
    }

    function onScroll(event) {
        var scrollPos = $(document).scrollTop();
        $('li.active .sub-right a').each(function () {
            var currLink = $(this);
            var url = currLink.attr("href");
            var hash = url.substr(url.indexOf('#'));
            if (hash != '' && $(hash).length > 0) {
                console.log(hash);
                var refElement = $(hash);
                if (refElement.offset().top <= scrollPos+30 && refElement.offset().top + refElement.height() > scrollPos+30) {
                    $('#menu-center ul li a').removeClass("active");
                    currLink.parent().addClass("active");
                }
                else {
                    currLink.parent().removeClass("active");
                }
            }
        });
    }

    $(document).ready(function () {
        $(document).on("scroll", onScroll);

        $('#inp_search_guide').on('keypress', function (event) {
            if (event.keyCode == 13) {
                SearchContent();
            }
        });

        $("#ico_search_guide").on('click', function () {
            SearchContent();
        });

        // var url = location.href;
        // if (url.indexOf('#') >= 0) {
        //     var hash = url.substr(url.indexOf('#') + 1);
        //     if (hash != '' && $("#" + hash).length > 0) {
        //         scrollToDiv(hash);
        //     }
        // }

        //smoothscroll
        $('.sub-right li a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            $(document).off("scroll");

            $('.sub-right li a').each(function () {
                $(this).removeClass('active');
            })
            $(this).addClass('active');

            var target = this.hash,
            menu = target;

            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top + 2
            }, 500, 'swing', function () {
                window.location.hash = target;
                $(document).on("scroll", onScroll);
            });
        });
    });
</script>