﻿@{
    ViewBag.Title = "Index";
}
@{
    string cssStyle = "";
}
<script type="text/javascript">
    function show_perm_denied() {
        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000)
    }

    function searchContent() {
        var ajaxUrl = root + "Accounts/Search";
        var page = 1;
        var sortBy = $("#by_sort").val();
        var sortType = $("#type_sort").val();
        getContentAjax(ajaxUrl, page, sortBy, sortType);
    }


    function updateSelectedStatus(listId, status) {
        var ajaxUrl = root + "Accounts/UpdateStatus/";
        doActionForSeleted(ajaxUrl, listId, status);
    }

    function deleteSelectedImplement(listId) {
        var ajaxUrl = root + "Accounts/DeleteAccount/";
        doActionForSeleted(ajaxUrl, listId, -1);
    }
</script>

<div style="float: right; height: 128px;">
    <div class="midNav">
    @if (Model != null)
    {
        string perm = ViewBag.Permission;
        <ul>
		    <li><a href="@Url.Content("~")admincp/Accounts/update/"><span class="add_new">Add new</span></a></li>
		    <li><a href="javascript:void(0)" onclick="showSelectedStatus()"><span class="show_items">Show</span></a></li>
		    <li><a href="javascript:void(0)" onclick="hideSelectedStatus()"><span class="hide_items">Hide</span></a></li>
		    <li class="midNav_last_child"><a href="javascript:void(0)" onclick="deleteSelected()"><span class="delete_items">Delete</span></a></li>
	    </ul>
    }
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
            @if (Model != null)
            {
                cssStyle = "display: none;";
            }
                <div class="gr_perm_error" style="@cssStyle">
	                <p><strong>FAILURE: </strong>Permission Denied.</p>
                </div>
                <div class="gr_perm_success" style="display:none;">
	                <p><strong>SAVE SUCCESS.</strong></p>
                </div>
                @if (Model != null)
                {
                    <div class="table">
                        <div class="head_table">
                            <div class="head_title_table">
                                Accounts
                            </div>
                            <div class="head_search">
                                <div class="head_search_title fontface" style="margin-top: 9px">Search | </div>
                                <div class="head_search_title">From:</div>
                                <div class="head_search_input"><input onkeypress="return enterSearch(event)" id="caledar_from" type="text" class="Datepicker" /></div>
                                <div class="head_search_title">To:</div>
                                <div class="head_search_input"><input onkeypress="return enterSearch(event)" id="caledar_to" type="text" class="Datepicker" /></div>
                                <div class="head_search_title">Content</div>
                                <div class="head_search_input">
                                    <input onkeypress="return enterSearch(event)" id="search_content" onclick="if(this.value=='type here...'){this.value=''}" onblur="if(this.value==''){this.value='type here...'}" class="input_last" type="text" value="type here..." />
                                    <div onclick="searchContent()" class="bt_search"><img alt="Button search" src="@Url.Content("~")Assets/admin/images/icons/searchSmall.png" /></div>
                                </div>
                            </div>
                        </div>
                    
                        <div id="ajax_loadContent">
                            @RenderPage("~/Views/BackEnd/Accounts/AjaxContent.cshtml")
                        </div>
                    </div>
                }
            </div>
        </td>
    </tr>
</table>
@{
    string write = ViewBag.PermissionWrite;
    string delete = ViewBag.PermissionDelete;
    if (delete == "permission-denied")
    {
        <script type="text/javascript">
            $('.delete_items').parent().parent().remove();
        </script>
    }
    if (write == "permission-denied")
    {
        <script type="text/javascript">
            $('.add_new , .show_items , .hide_items , .reset').parent().parent().remove();
        </script>
    }
  
}