﻿@model WizardCMS.Models.AdminAccountModel

@{
    string checkMark = "";
}
<script src="@Url.Content("~")Assets/js/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Register for the change event of the drop down
        $('#groupId').change(function () {
            var ajaxUrl = root + "Accounts/EditModule";
            $.post(ajaxUrl, {
                grpId: $(this).val()
            }, function (data) {
                if (data != null && data != "") {
                    $("#ajax_perm").html(data);
                }
            }
        );
        });
    });


    function resetPerm(){
        var ajaxUrl = root + "Accounts/ResetPerm";
        id = $('#groupId').val();
        var userId = $('input[name="hiddenIdAdmincp"]').val();
        $.post(ajaxUrl, {
            oldGrpId: id,
            userId: userId
        }, function (data) {
            if (data == 'success') {
                location.href = root + "admincp/" + module + "/#/reset";
            }
            if (data == 'permission-denied') {
                show_perm_denied();
            }
        });
    }

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback 
            success: showResponse  // post-submit callback 
        };
        
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        form = jqForm[0];
        if ($.trim(form.usernameAdmincp.value) == '') {
            $('#loader').fadeOut(0);
            $('#txt_error').html('Please enter information!!!');
            show_perm_denied();
            return false;
        }


        if (form.hiddenIdAdmincp.value == 0) {
            if ($.trim(form.passAdmincp.value) == '') {
                $('#txt_error').html('Please enter information!!!');
                $('#loader').fadeOut(0);
                show_perm_denied();
                return false;
            }
        }
    }

    function showResponse(responseText) {
        if (responseText == 'success') {
            location.href = root + "admincp/" + module + "/#/save";
        }

        if (responseText == 'error-username-exist') {
            $('#txt_error').html('error-username-exist');
            $('#loader').fadeOut(0);
            show_perm_denied();
            return false;
        }

        if (responseText == 'permission-denied') {
            $('.gr_perm_error').fadeIn(300);
            $('.loader').fadeOut(0);
        }
    }

    function getPerm(val) {
        var ajaxUrl  = root + "Accounts/EditModule";
        $.post(ajaxUrl, {grpId: val}, function (data) {
            if (data != null && data != "") {
                    $("#ajax_perm").html(data);
                }
            }
        );
    }
</script>


<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
			<li><a href="@Url.Content("~")admincp/accounts/#/back"><span class="back">Back</span></a></li>
			@if (Model.ID != 0)
            {
                <li><a href="javascript:void(0)" onclick="resetPerm()"><span class="reset">Reset Permission</span></a></li>
            }
			<li class="midNav_last_child"><a href="javascript:void(0)" onclick="save()">
                <span id="saveContent" class="save">Save</span></a>
            </li>
		</ul>
    </div>
</div>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display:none;">
	                <p><strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">
                            Accounts</div>
                    </div>
                    <div class="clearAll"></div>
                    <form id="frmManagement" action='@Url.Content("~")accounts/save/' 
                        method="post" enctype="multipart/form-data">
                        <input type="hidden" value="@Model.ID" name="hiddenIdAdmincp" />
                        <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                    <input @if (Model != null)
                                            {
                                                if (Model.STATUS == 1)
                                                { 
                                                    @Html.Raw("checked = 'checked'") 
                                                }
                                            }
                                            else
                                            {
                                                @Html.Raw("checked = 'checked'") 
                                            } type="checkbox" class="custom_chk" name="statusAdmincp"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <div class="row_text_field">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td class="left_text_field">
                                        Group
                                    </td>
                                    <td class="right_text_field">
                                        @Html.DropDownListFor(x => x.GROUP_ID, ViewBag.selectGroup.SelectList as SelectList, new { id = "groupId", name = "groupId" })
                                        @Html.ValidationMessageFor(model => model.GROUP)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row_text_field">
		                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
			                    <tr>
				                    <td class="left_text_field">@Html.Label("Username:")</td>
                                    <td class="right_text_field">
                                        <input value="@Model.USERNAME" type="text" name="usernameAdmincp" id="usernameAdmincp" />
                                    </td>
			                    </tr>
		                    </table>
	                    </div>
                        <div class="row_text_field">
		                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
			                    <tr>
				                    <td class="left_text_field">@Html.Label("Password:")</td>
				                    <td class="right_text_field">
                                        <input value="" type="password" name="passAdmincp" />
                                    </td>
			                    </tr>
		                    </table>
	                    </div>
                        <div class="row_text_field">
		                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
			                    <tr>
				                    <td class="left_text_field">@Html.Label("Permission:")</td>
				                    <td class="right_text_field" id="ajax_perm">
                                        @{Html.RenderPartial("~/Views/BackEnd/Accounts/AjaxPermission.cshtml", Model.PERMISSION);}
                                        @*@if (Model.Id == 0)
                                        {
                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    getPerm($('#groupId').val());
                                                })
                                            </script>
                                        }
                                        else
                                        { 
                                            <script type="text/javascript">
                                                $(document).ready(function () { 
                                                    getPerm($('#groupId').val());
                                                })
                                            </script>
                                        }*@
				                    </td>
			                    </tr>
		                    </table>
	                    </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
