﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh-1.jpg) center center">
	<div class="wrapper">
		<span>@(StringHelper.IsNullOrEmptyOrWhiteSpace(ViewBag.node_cham_soc.SUB_TITLE) ? StringHelper.post_title(ViewBag.node_cham_soc.TITLE) : StringHelper.post_title(ViewBag.node_cham_soc.SUB_TITLE))</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>

		<div class="wrap-content-right faq">
            <div class="support-center">
				<div class="page-title">
			        <p>@Html.Raw(Model.TITLE)</p>
			        <div class="line"></div>
			    </div>
				<div class="search-scc">
                    <input type="hidden" name="faq_term_hidden" id="faq_term_hidden" value="0" />
					<div class="select-scc left">
						<select class="bselect" id="faq_term">
							<option value="0">@StringHelper.lang("text_all")</option>
                            @if (ViewBag.terms != null)
                            {
                                foreach (var term in ViewBag.terms)
                                {
                                <option value="@term.ID">@term.NAME</option>
                                }
                            }
						</select>
						<div class="icon"></div>
					</div>
					<div class="input-scc left">
                        <a class="btn-search-scc" href="javascript: void(0);" title="search" id="ico_search_faq"></a>
						<input placeholder="@StringHelper.lang("text_search_by_keyword")" name="" id="inp_search_faq" />
					</div>
					<div class="clear"></div>
				</div>
				
				<!-- thông báo kết quả tìm kiếm -->
				<!-- <div class="text-faq result"><span>Kết quả tìm kiếm</span> "Lưu ký chứng khoán"</div> -->
				<div class="list-faq" id="faq_wrap">
                    @if (ViewBag.childs != null)
                    {
                        int i = 0;
                        foreach (var item in ViewBag.childs)
                        {
					        <div class="it-supp @(i==0?"":"")">
						        <div class="ques">@Html.Raw(item.TITLE)</div>
						        <div class="ans">@Html.Raw(item.CONTENT)</div>
					        </div>
                            i++;
                        }
                    }
				</div>
			</div>
			
        </div>
	    <div class="clear"></div>
    </div>
</div>
<!-- end content home -->
<script type="text/javascript">
    var link = '@Model.LINK';
    var loading = "<div class='loading'><div class='small-overlay'></div><div class='img-loading'><img src='/Assets/images/loading_large.gif' /></div></div>";
    function SearchContent(parrent, page, perpage) {
        var term = $('#faq_term').val();
        //$("#faq_wrap").html(loading);
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: "",
            dateTo: "",
            searchText: $('#inp_search_faq').val(),
            term: $('#faq_term').val(),
            parrent: parrent
        }, function (e) {
            $("#faq_wrap").html(e);
            Page.scrollrightmenu();
            if($(".more-service").length > 0){
                $(".more-service").css({
                    top: $(".search-scc").offset().top + 20
                });
            }
            //scrollToDiv("guide_wrap");
        })
    }

    $(document).ready(function () {
        $('#inp_search_faq').on('keypress', function (event) {
            if (event.keyCode == 13) {
                SearchContent();
            }
        });

        $(document).on("change", "#faq_term", function () {
            var val = $(this).val();
            console.log("on change");
            SearchContent();
        });

        /*
        $("#ico_search_faq").on('click', function () {
        SearchContent();
        });
        */

        $(document).on("click", "#ico_search_faq", function () {
            SearchContent();
            // setTimeout(function(){
            //     var w_windown = $(window).width();
            //     if(w_windown <= 767){
            //         if($(".more-service").length > 0){
            //             $(".search-scc").css({
            //                 "padding-right": "50px"
            //             });
            //         }else{
            //             $(".search-scc").css({
            //                 "padding-right": "0"
            //             });
            //         }
            //     }else{
            //         $(".search-scc").css({
            //             "padding-right": "0"
            //         });
            //     }
            // }, 1000);
        })
    });
</script>
