﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
}
@model List<WizardCMS.Models.JobViewModel>
<div class="recruitment-result">
    @if (Model != null && Model.Count > 0)
    {
        int i = 0;
	    <table>
		    <thead>
			    <tr>
				    <th class="r1">@StringHelper.lang("text_created")</th>
				    <th class="r2">@StringHelper.lang("text_jobname")</th>
				    <th class="r3">@StringHelper.lang("text_location")</th>
				    <th class="r4">@StringHelper.lang("text_deadline")</th>
			    </tr>
		    </thead>
		    <tbody>
                @foreach (var child in Model)
                {
                    <tr>
					    <td class="r1" data-th="@StringHelper.lang("text_created")">@child.POST_DAY.ToString("dd/MM/yyyy")</td>
					    <td class="r2" data-th="@StringHelper.lang("text_jobname")"><a href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("slug_vitri_tuyendung")/@child.ID/@child.SLUG" title="">@child.TITLE</a></td>
					    <td class="r3" data-th="@StringHelper.lang("text_location")">
                        @if (child.Provinces != null && child.Provinces.Count > 0)
                        {
                            foreach (var province in child.Provinces)
                            {
                                <text>@province.PROVINCE_NAME</text><br/>
                            }
                        }
                        </td>
					    <td class="r4" data-th="@StringHelper.lang("text_deadline")">@child.DEADLINE.ToString("dd/MM/yyyy")</td>
				    </tr>
                }
            
		    </tbody>
	    </table>
     }
    else
    { 
        <div class="no-data"><span>@StringHelper.lang("text_no_data")</span></div>
    }
</div>
@if (!string.IsNullOrEmpty(ViewBag.pagination))
{
    <div class='paging'>
        @Html.Raw(ViewBag.pagination)
    </div>
}