﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
}
@model List<WizardCMS.Models.FormViewModel>
@if (Model != null)
{
    <div class="list-item">
    @foreach (var item in Model)
    {
        <div class="item">
		    <div class="img"></div>
		    <div class="it-ct">
			    <div class="tit">@item.TITLE</div>
			    <div class="con">@CommonHelper.CutText(item.DESCRIPTION, 220)</div>
                @if (!string.IsNullOrEmpty(item.FILE_DOWNLOAD))
                {
				    <div class="down"><a href="@item.FILE_DOWNLOAD" target="_blank" title="@item.TITLE">@item.TITLE<img alt="@item.TITLE" src="@Url.Content("~")Assets/images/icon/icon-down.png"/></a></div>
                }
		    </div>
		    <div class="clear"></div>
	    </div>
    }
    </div>
    
    if (!string.IsNullOrEmpty(ViewBag.pagination))
    {
        <div class='paging'>
            @Html.Raw(ViewBag.pagination)
        </div>
    }
}
else
{
    <div class="no-data">@StringHelper.lang("text_cap_nhat")</div> 
}
