﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_bieu_mau"));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/bg/bg-banner-huongdan.jpg) center center">
	<div class="wrapper">
		<span>@Model.TITLE</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("Recruitment/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("Recruitment/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Model.TITLE</p>
			    <div class="line"></div>
			</div>
            <div style="border: 0;" class="recruitment-detail">
				@Html.Raw(Model.CONTENT)
			</div>
		</div>
        <div class="clear"></div>
	</div>
</div>
<!-- end content home -->
