﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_dang_nhap"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-dangky.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("text_dang_nhap")</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page">
	<div id="menu-right-mobile">
		 @Html.Partial("Recruitment/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("Recruitment/Menu")
		</div>
		<div class="wrap-content-right contact-page">
			<div class="page-title">
				<p>@StringHelper.lang("text_dang_nhap")</p>
				<div class="line"></div>
			</div>
			<div class="tab-wk signup register">
				<div class="info">@Html.Raw(StringHelper.lang("text_login_desc"))</div>
				<div class="form-signup register-form">
                    <form action="/" method="post" id="login-form">
					    <div class="wrap-inp">
						    <div class="label"><span>*</span>@StringHelper.lang("text_username")</div>
						    <div class="inp"><input placeholder="" name="ct_username" id="ct_username" /></div>
					    </div>
                        <div class="wrap-inp">
						    <div class="label"><span>*</span>@StringHelper.lang("text_password")</div>
						    <div class="inp"><input type='password' name="ct_password" id="ct_password" /></div>
					    </div>
					    <div class="wrap-inp code">
						    <div class="label"><span>*</span>@StringHelper.lang("text_captcha")</div>
                            @Html.Partial("_Captcha", new WizardCMS.Models.Captcha())
                            @Html.Partial("_InvisibleCaptcha", new WizardCMS.Models.InvisibleCaptcha())
					    </div>
					    <div class="wrap-inp login-button">
						    <a class="btn-sign" href="javascript: void(0);" title="" id="submit_login">@StringHelper.lang("text_dang_nhap")</a>
                            <a class="btn-sign btn-login fancybox" href="#" title="">đăng ký thành viên</a>
					    </div>
                        <div class="wrap-inp forget">
							<div class="forget-password"><a href="">Quên Mật khẩu</a><span>|</span><a href="">Bị khóa mật khẩu</a></div>
						</div>
                        <div class="wrap-inp">
						    <div class="label"></div>
                            <div class="error error_txt active" style="color: red;"></div>
					    </div>
				    </form>
                </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- end content lien he -->

<script type="text/javascript">
    function clearError()
    {
        $(".ct_item_error").html('');
        $(".ct_item_error").css('display','none');
    }
	
	function clearForm(){
	    $('#ct_username, #ct_password, #CaptchaValue').val('');
	}

	function validateEmail(email){        
        return true;
 	}
	
	function showError(error){
		$('.error_txt').html(error);
		$('.error_txt').show();
		$('.success_message').hide();
	}
	function hideError(){
		$('.error_txt').hide();
	}

	function ismaxlengthSend(obj){
		var mlength=obj.getAttribute? parseInt(obj.getAttribute("maxlength")) : ""
		if (obj.getAttribute && obj.value.length>mlength)
			obj.value=obj.value.substring(0,mlength)
	}

    function ReloadCaptcha()
    {
        $('.code-char').html('<img src="' + '@Url.Content("~/Captcha/Show")' + '?v=' + Math.random() + '" />');
        return true;
    }

    $(document).ready(function () {
        $("#change-code").on("click", function () {
            ReloadCaptcha();
        });

        $("#submit_login").click(function () {
            clearError();
            var username = $("input[name=ct_username]").val();
            var password = $("input[name=ct_password]").val();
            var captcha = $('#CaptchaValue').val();

            if (username == '') {
                showError('@StringHelper.lang("username_require")');
                return false;
            }

            if (username.length <= 5) {
                showError('@StringHelper.lang("username_length")');
                return false;
            }

            if (captcha == '') {
                showError('@StringHelper.lang("captcha_require")');
                return false;
            }

            $.ajax({
                url: '@Request.Url.AbsoluteUri', //$('#contact-form').attr("action"),
                data: $('#login-form').serialize(),
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.st == "1") {
                        clearForm();
                        //window.location.href= "<?=PATH_URL.'contact'?>";
                        hideError();
                        window.location.href = data.refer;
                    } else {
                        //$("."+data.code).html(data.message);
                        showError(data.msg);
                        ReloadCaptcha();
                        $("." + data.code).css('display', 'block');
                        return false;
                    }
                }
            });
            return false;
        });
    });
</script>