﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.ArticleViewModel>
@if (Model != null && Model.Count > 0)
{
    <div class="list-item">
    @{int j = 0;}
    @foreach (var item in Model)
    {
        <div class="@((j%2==0) ? "item left" : "item right")">
		    <div class="img"></div>
		    <div class="it-ct">
			    <div class="tit"><a href="@(Url.Content("~") + Lang)/@item.LINK">@Html.Raw(item.TITLE)</a></div>
			    <div class="dat"><b>@StringHelper.lang("text_created"): </b>@item.CREATED.ToString("dd/MM/yyyy")</div>
			    <div class="con" style="display:none">@CommonHelper.CutText(item.DESCRIPTION, 70)</div>
                @if (!string.IsNullOrEmpty(item.ATTACHMENT))
                {
				    <div class="down"><a href="@item.ATTACHMENT" target="_blank" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)<img alt="@Html.Raw(item.TITLE)" src="@Url.Content("~")Assets/images/icon/icon-down.png"/></a></div>
                }
		    </div>
		    <div class="clear"></div>
	    </div>
        if(j%2 != 0){
            <div class="clear"></div>
        }
        j++;
    }
    <div class="clear"></div>
    </div>
    
    if (!string.IsNullOrEmpty(ViewBag.pagination))
    {
        <div class='paging'>
            @Html.Raw(ViewBag.pagination)
        </div>
    }
}
else
{
    <div class="no-data">@StringHelper.lang("text_no_data")</div> 
}
