﻿@{
    ViewBag.Title = "ketquatuyendung_detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/banner/bg-banner-kqtd.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Kết quả tuyển dụng</span>
		</div>
	</div>
<!-- end Banner -->
<!-- content -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
			<div class="wrap-content-right faq">
				<div class="support-center">
					<div class="page-title">
						<p>Kết quả tuyển dụng vị trí giao dịch viên</p>
						<div class="line"></div>
					</div>
					<div class="recruitment-result rr-s-d">
						<table>
							<thead>
								<tr>
									<th class="r1">Họ và tên</th>
									<th class="r2">Điểm test</th>
									<th class="r3">Điểm phỏng vấn</th>
									<th class="r4">Kết quả phỏng vấn</th>
									<th class="r5">Tình trạng hồ sơ</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="r1" data-th="Họ và tên">Lê Nguyễn</td>
									<td class="r2" data-th="Điểm test">9.5</td>
									<td class="r3" data-th="Điểm phỏng vấn">7.5</td>
									<td class="r4" data-th="Kết quả phỏng vấn">Không đạt</td>
									<td class="r5" data-th="Tình trạng hồ sơ">Đã xử lý</td>
								</tr>
								<tr>
									<td class="r1" data-th="Họ và tên">Lê Nguyễn</td>
									<td class="r2" data-th="Điểm test">9.5</td>
									<td class="r3" data-th="Điểm phỏng vấn">7.5</td>
									<td class="r4" data-th="Kết quả phỏng vấn">Không đạt</td>
									<td class="r5" data-th="Tình trạng hồ sơ">Đã xử lý</td>
								</tr>
								<tr>
									<td class="r1" data-th="Họ và tên">Lê Nguyễn</td>
									<td class="r2" data-th="Điểm test">9.5</td>
									<td class="r3" data-th="Điểm phỏng vấn">7.5</td>
									<td class="r4" data-th="Kết quả phỏng vấn">Không đạt</td>
									<td class="r5" data-th="Tình trạng hồ sơ">Đã xử lý</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="paging">
						<span class='p-tt'>Trang </span>
						<span class="page">
							<span class="page">1</span>
							<a href="">2</a>
							<a href="">3</a>
							<span class='no-bd'>...</span>
							<a class='no-bd' href="">Cuối >></a>
						</span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<!-- end content -->