﻿@{
    ViewBag.Title = "vitrituyendung_detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-vttd.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>Cán bộ quản lý</span>
		</div>
	</div>
<!-- Banner -->
<!-- content tai chinh -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="">
						<a class="ttone" href="">Đăng nhập/ đăng ký</a>
					</li>
					<li class="active">
						<a class="ttone" href="">Vị trí tuyển dụng</a>
						<ul class="sub-right">
							<li><a href="">Cán bộ quản lý</a></li>
							<li><a href="">Chuyên viên, nhận viên</a></li>
							<li><a href="">Thực tập sinh</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Kết quả tuyển dụng</a>
					</li>
					<li class="">
						<a class="ttone" href="">Biểu mẫu</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hướng dẫn nộp hồ sơ</a>
					</li>
				</ul>
			</div>
			<div class="wrap-content-right faq">
				<div class="support-center">
					<div class="page-title">
						<p>Giám đốc phòng kinh doanh</p>
						<div class="line"></div>
					</div>
				</div>
				<div class="recruitment-detail">
					<p><strong>Vị trí tuyển dụng:</strong> Giám đốc phòng kinh doanh</p>
					<p><strong>Số lượng cần tuyển: </strong>01</p>
					<p><strong>Mô tả công việc:</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenea massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenea massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<p><strong>Yêu cầu chung:</strong></p>
					<ul>
						<li>Bằng cấp: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						<li>Kinh nghiệm: 4 năm</li>
						<li>
							Kỹ năng mềm:
							<p>- Sáng tạo, nhiệt tình, kỹ năng giao tiếp tốt, kỹ năng xử lý tình huống linh hoạt</p>
							<p>- Kỹ năng tổ chức và quản lý thời gian hiệu quả</p>
							<p>- Kỹ năng làm việc nhóm, xử lý công việc độc lập</p>
							<p>- Kỹ năng viết phân tích và trình bày văn bản, báo cáo</p>
						</li>
						<li>
							Yêu cầu khác:
							<p>- Sức khỏe tốt.</p>
							<p>- Có trách nhiệm, chịu được áp lực cao trong công việc.</p>
							<p>- Trung thực, có đạo đức nghề nghiệp, có tinh thần kỷ luật cao</p>
							<p>- Siêng năng, cẩn thận, kiên trì</p>
						</li>
					</ul>
					<p><strong>Quyền lợi:</strong></p>
					<p>Thu nhập hấp dẫn và cạnh tranh</p>
					<p><strong>Hồ sơ yêu cầu:</strong></p>
					<ul>
						<li>Đơn xin việc </li>
						<li>Mẫu thông tin ứng viên (Download tại Website MBS, mục Cơ hội nghề nghiệp/Tải hồ sơ)</li>
						<li>Sơ yếu lý lịch: có xác nhận của chính quyền địa phương</li>
						<li>Giấy chứng nhận sức khỏe trong vòng 6 tháng gần nhất</li>
						<li>Bằng cấp, Chứng chỉ (bản sao có công chứng)</li>
						<li>CMTND photo công chứng </li>
						<li>02 ảnh 4 x 6 mới chụp trong vòng 6 tháng gần nhất </li>
						<li>Ngoài hồ sơ ghi rõ vị trí dự tuyển, địa chỉ và số điện thoại liên hệ</li>
					</ul>
					<p><strong>Thời hạn nhận hồ sơ:</strong></p>
					<p>(Phỏng vấn cuốn chiếu ngay khi nhận được hồ sơ đến khi tuyển được ứng viên phù hợp)</p>
					<p><strong>Nơi nhận hồ sơ:</strong></p>
					<p style="margin-left: 30px;" >Tại Hà Nội:</p>
					<p style="margin-left: 30px;" >Chị Phạm Thị Kim Dung</p>
					<p style="margin-left: 30px;" >Phòng Nhân sự</p>
					<p style="margin-left: 30px;" >Công ty CP chứng khoán MB</p>
					<p style="margin-left: 30px;" >Tầng 7, tòa nhà MB, số 3 Liễu Giai, Ba Đình, Hà Nội</p>
					<p style="margin-left: 30px;" >Phone: 043.7262600 – Máy lẻ: 2199 </p>
				</div>
				<a class="btn-applicant" href="javascript:void(0);" title="">Nộp đơn</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<!-- end content tai chinh -->