﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Model.TITLE);
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
    string refer_ws = Request.QueryString["ws"];
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-trungtamphantich.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.post_title(ViewBag.node_phan_tich.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right workshops">
			<div class="page-title">
			    <p>@StringHelper.post_title(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="control-wk ttpt">
            @if (ViewBag.tabs != null)
            {
                int i = 0;
                foreach (var item in ViewBag.tabs)
                {
				    <div class="tab-ctr left @(i==0?"active":"")" data-pid="@item.ID" data-slug="@item.SLUG">
					    <div class="text">@StringHelper.post_title(item.TITLE)</div>
				    </div>
                    i++;
                }
            }
				<div class="clear"></div>
			</div>

            <div class="search-by-date">
                <div class="label left">@StringHelper.lang("text_tim_tintuc_tu")</div>
                <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_from" type="text" /><div class="icon"></div></div>
                <div class="br clearAll"></div>
                <div class="label left">@StringHelper.lang("text_den")</div>
                <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_to" type="text" /><div class="icon"></div></div>
                <div class="btn btn-search-news input-search left">@StringHelper.lang("text_timkiem")</div>
                <div class="clearAll"></div>
            </div>

            <div class="wrap-tab-wk">
				<div class="tab-wk active">
                    <div id="content_list" class="content-list-0 relative">
                    @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                    {
                        int i = 0;
                        foreach (var child in ViewBag.childs)
                        {
@*                            if (i==0){
                            <div class="it-wk @(i==0?"first":"")">
							    <div class="img-wk"><a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@child.TITLE"><img src="@Url.Content("~")@CommonHelper.FetchImage(child.THUMBNAIL, 745, 260, 2)" alt="@child.TITLE" /></a></div>
							    <div class="info-wk">
								    <a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@StringHelper.post_title(child.TITLE)" class="name-wk">@StringHelper.post_title(child.TITLE)</a>
								    <div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @child.CREATED.ToString("dd/MM/yyyy")</div>
								    <div class="desc-wk">@CommonHelper.CutText(child.DESCRIPTION, 440) <a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@StringHelper.lang("text_view_more")">@StringHelper.lang("text_view_more")</a></div>
							    </div>
						    </div>
                            } else {*@
                            <div class="it-wk">
							    @*<div class="img-wk left">
								    <a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@child.TITLE">
                                    @if (!string.IsNullOrEmpty(child.THUMBNAIL)) {
                                        @Html.Raw(child.THUMBNAIL)
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~")@CommonHelper.Img2("", 150, 90, 2)" alt="@child.TITLE" />
                                    }
                                    </a>
							    </div>*@
							    <div class="info-wk left">
								    <a href="@(Url.Content("~") + Lang)/@ViewBag.category.LINK/@child.ID/@StringHelper.CreateSlug(child.TITLE)" title="@child.TITLE" class="name-wk">@child.TITLE</a>
								    <div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @child.CREATED.ToString("dd/MM/yyyy")</div>
								    <div class="desc-wk">@CommonHelper.CutText(child.DESCRIPTION, 160)</div>
							    </div>
							    <div class="clear"></div>
						    </div>
                            //}

                            i++;
                        }
                    }
                    else
                    { 
                        <div class="no-data" style="display:none">@StringHelper.lang("text_cap_nhat")</div>
                    }
				    
                    @if (!string.IsNullOrEmpty(ViewBag.pagination))
                    {
                        <div class='paging'>
                            @Html.Raw(ViewBag.pagination)
                        </div>
                    }
                    </div>
				</div>
                <div class="tab-wk">
                    <div id="" class="content-list-1 relative">
                    </div>
                </div>
                <div class="tab-wk">
                    <div id="" class="content-list-2 relative">
                    </div>
                </div><div class="tab-wk">
                    <div id="" class="content-list-3 relative">
                    </div>
                </div>
            </div>
        </div>
	    <div class="clear"></div>
    </div>
</div>
<div  id='search-leader'>
    <div class='bg_mask'></div>
    <div class='loading'>
        <div class="cssload-spin-box"></div>
    </div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $(".datepicker").datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        todayHighlight: true
    });

    var link = '@Model.LINK';
    var loading = "<div class='loading'><div class='small-overlay'></div><div class='img-loading'><img src='/Assets/images/loading_large.gif' /></div></div>";
    var bus = 0;
    function SearchContent(parrent, page, perpage) {
        $('#search-leader').fadeIn(300);
        var index = $(".control-wk.ttpt .tab-ctr.active").index();
        //$(".content-list-" + index).append(loading);
        console.log(index);
        $.post(root_lang + "get-data-ttck", {
            page: page,
            perpage: perpage,
            dateFrom: $('#date_from').val(),
            dateTo: $('#date_to').val(),
            searchText: "",
            parrent: parrent
        }, function (e) {
            $(".content-list-" + index).html(e);
            //$(".content-list-" + index + " .loading").remove();
            scrollToDiv3("content-page");
            $('#search-leader').fadeOut(300);
        })
    }

    $(document).on("click", ".btn-search-news", function () {
        var pid = $(".control-wk.ttpt .tab-ctr.active").data('pid');
        SearchContent(pid, 1);
    })

    function onHashChange() {
        console.log('on hash change');
        var url = location.href;
        if (url.indexOf('#') >= 0) {
            var hash = url.substr(url.indexOf('#') + 1);
            $(".control-wk.ttpt .tab-ctr").each(function (index) {
                var $this = $(this);
                if ($this.data("slug") == hash && $this.not(".active")) {
                    $this.click();
                    var pid = $this.data('pid');

                    var index = $(".control-wk.ttpt .tab-ctr.active").index();
                    if ($(".content-list-" + index + ' .it-wk').length > 0) {
                        return true;
                    } else {
                        SearchContent(pid);
                    }
                }
            });
            $(".hash-sub").each(function (index) {
                var $this = $(this);
                if ($this.data("slug") == hash && $this.not(".active")) {
                    $(".hash-sub").removeClass('active');
                    $this.addClass("active");
                }
            });
            $('.sub-menu .hash-sub').each(function () {
                if ($(this).data('hash') == hash) {
                    $('.sub-menu .hash-sub a').removeClass('active');
                    $(this).find('a').addClass('active');
                }
            });
            return true;
        }
    }

    $(document).ready(function () {

        setTimeout(function () {
            onHashChange();
        }, 500);


        $(window).on('hashchange', function () {
            onHashChange();
        });
    });
</script>
<script type="text/javascript">
    var url = location.href;
    if (url.indexOf('#') >= 0) {
        var hash = url.substr(url.indexOf('#') + 1);
        console.log(hash);
        $('.sub-menu .hash-sub').each(function () {
            if ($(this).data('hash') == hash) {
                $('.sub-menu .hash-sub a').removeClass('active');
                $(this).find('a').addClass('active');
            }
        });
    }

//    $('.sub-menu .hash-sub').on('click', function () {
//        $('.sub-menu .hash-sub a').removeClass('active');
//        $(this).find('a').addClass('active');
//        return true;
//    });
</script>