*{
	padding:0;
	margin:0;
}

img{	
	border:0px;
}

a{
	text-decoration: none;
}

.fl{
	float: left;
	display: inline;
}

.fr{
	float: right;
	display: inline;
}

#body{	
	width: 100%;
	float: left;
}

#main{
	width: 1000px;
	margin:0 auto;
}

.inpLogin
{
    outline: none;
	float:left;
	border: 0px;
	background: none;
	width: 254px;
	height: 32px;
	margin-left:30px;
	margin-top:0;
}

.divInpUsername{
	float: left;
	width: 387px;
	height:32px;
	margin: 69px 0 0 15px;
	font-size:14px;
	color:#333333;
	position:relative;
	z-index:0;
}

.divInpPass{
	float: left;
	display: inline;
	width: 387px;
	height:32px;
	margin: 20px 0 0 15px;
	position:relative;
	z-index:0;
}

#divError{
	float: left;
	display: inline;
	width: 259px;
	height: 20px;
	margin: 17px 0 0 15px;
	text-align: left;
	font-weight: bold;
	color: red;
}

.btLogin{
	float: left;
	display: inline;
	width: 86px;
	height: 24px;
	cursor: pointer;
	margin: 12px 0 0 10px;
	background:url(../../admin/images/login/buttom_login.jpg) no-repeat;
}

.btLogin:hover{
	background:url(../../admin/images/login/buttom_login_hover.jpg) no-repeat;
}

.btReset{
	float: left;
	display: inline;
	width: 80px;
	height: 27px;
	cursor: pointer;
	margin: 12px 0 0 10px;
}

.footerLogin{
	float: left;
	width: 363px;
	display: inline;
	margin: 30px 0 0 335px;
}

.lostPass{
	float: left;
	width: 215px;
	color: #fba103;
	text-align: left;
}

.powerby{
	float: left;
	width: 137px;
	color: #7b98c4;
	text-align: left;
}

/*-------------------------------------------------Dung css login---------------------------------------------------*/

body{
	margin:0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
	background: #dfdfdf url('../../admin/images/login/bg_admin.jpg') center top;
}

.nobg_login{
	width: 403px;
	height: 211px;
	margin: 120px auto;
	background: url('../../admin/images/login/nobg_form_login.png') no-repeat center top;
}

.bg_login{
	width: 403px;
	height: 211px;
	margin: 120px auto;
	background: url('../../admin/images/login/bg_form_login.png') no-repeat center top;
}

.divInpUsername p span{
	float:left;
	margin-top:8px;
}

.divInpPass span{
	float:left;
	padding-top:8px;
}

.checkbox{
	width:13px;
	height:13px;
}

.erorr_username{
	position:absolute;
	z-index:0;
	left:365px;
	top:3px;
	display: none;
}

.erorr_password{
	position:absolute;
	z-index:0;
	left:365px;
	top:3px;
	display: none;
}
/*-------------------------------------------------End Dung css login------------------------------------------------*/