﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("dieu-khoan-su-dung"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh-1.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("text_chamsoc_kh")</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
				<p>@StringHelper.lang("text_lich_sk")</p>
				<div class="line"></div>
			</div>
			<div class="events-calendar" style="min-height: 1000px;">
                <iframe id="autoIframe" src="http://embed.stox.vn/news/events" style="width:100% !important; height:100%" scrolling="auto"></iframe> 
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript" src="@Url.Content("~")Assets/js/iframeResizer.js"></script>
<script type="text/javascript">
    iFrameResize({
        log: true,
        enablePublicMethods: true,
        enableInPageLinks: true,
        resizedCallback: function (messageData) { // Callback fn when resize is received
            console.log("resize callback triggered");
            console.log(messageData.height);
            $("#autoIframe").css("height", messageData.height + "px !important");
        },
        messageCallback: function (messageData) { // Callback fn when message is received
            if (messageData.message == "close_popup") {
                $(".fix-overlay").css({
                    "display": "none"
                });
                $(".events-calendar").css({
                    "z-index": 10
                });
                $(".fix-menu").show();
                $(".footer-menu").show();
            } else if (messageData.message == "open_popup") {
                $(".fix-overlay").css({
                    "display": "block"
                });
                $(".events-calendar").css({
                    "z-index": 1001
                });
                $(".footer-menu").hide();
                $(".fix-menu").hide();
            } else {
                console.log("Message from iFrame: " + messageData.message);
            }
        }
    });
</script>
