﻿@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Resources.Resources.HOMEPAGE);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WizardCMS.Helpers

<!-- content home -->
<div class="home-page">
	<!-- banner tablet -->
	<div class="banner-home">
		<div class="wrap-banpc">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="slide4">
							<div class="wrapper">
								<img class="text-sl4" src="@Url.Content("~")Assets/images/slide4/text.png">
								<a class="btn-more2 btn-timhieu" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan"></a>
								<img class="hc-sl4" src="@Url.Content("~")Assets/images/slide4/hc.png">
								<img class="hand-sl4" src="@Url.Content("~")Assets/images/slide4/hand.png">
							</div>
							<div class="bg-light"></div>
						</div>
					</div>
					<!-- <div class="swiper-slide">
						<div class="slide1">
							<div class="wrapper">
								<img class="text1" src="@Url.Content("~")Assets/images/slide1/text1.png">
								<img class="text2" src="@Url.Content("~")Assets/images/slide1/text2.png">
								<img class="so1" src="@Url.Content("~")Assets/images/slide1/so1.png">
								<img class="so2" src="@Url.Content("~")Assets/images/slide1/so2010.png">
								<a class="btn-more2 btn-timhieu" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan"></a>
								<div class="dothi"><img  src="@Url.Content("~")Assets/images/slide1/dothi.png"></div>
							</div>
						</div>
					</div> -->
					<div class="swiper-slide">
						<div class="slide2">
							<div class="wrapper">
								<img class="man" src="@Url.Content("~")Assets/images/slide2/man.png">
								<img class="logo24h" src="@Url.Content("~")Assets/images/slide2/logo24h.png">
								<img class="text1" src="@Url.Content("~")Assets/images/slide2/text1.png">
								<img class="item1" src="@Url.Content("~")Assets/images/slide2/item1.png">
								<img class="item2" src="@Url.Content("~")Assets/images/slide2/item2.png">
								<img class="item3" src="@Url.Content("~")Assets/images/slide2/item3.png">
								<a class="btn-more2 btn-timhieu" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/dich-vu-dien-tu#tong-dai-tra-cuu-giao-dich-chung-khoan-qua-dien-thoai"></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide3">
							<div class="wrapper">
								<img class="phi" src="@Url.Content("~")Assets/images/slide3/phi.png">
								<img class="ipad" src="@Url.Content("~")Assets/images/slide3/ipad.png">
								<img class="iphone" src="@Url.Content("~")Assets/images/slide3/iphone.png">
								<img class="mstock" src="@Url.Content("~")Assets/images/slide3/mstock.png">
								<img class="text1" src="@Url.Content("~")Assets/images/slide3/text1.png">
								<img class="text2" src="@Url.Content("~")Assets/images/slide3/text2.png">
								<a href="https://play.google.com/store/apps/details?id=com.mbs.mstock24&hl=en" title=""><img class="gplay" src="@Url.Content("~")Assets/images/slide3/btn-gplay.png"></a>
								<a href="https://itunes.apple.com/us/app/mstock24/id902140265?mt=8" title=""><img class="appstore" src="@Url.Content("~")Assets/images/slide3/btn-appstore.png"></a>					
								<a class="btn-more2 btn-timhieu" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/dich-vu-dien-tu#giao-dich-chung-khoan-qua-dien-thoai"></a>
								<!-- <a class="btn-tai2 btn-tai" href="javascript: void(0);"></a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination"></div>
		</div>
		<div class="wrap-bntablet">
			<div class="banner-tablet">
				<div class="item"><a href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan" title=""><img src="@Url.Content("~")Assets/images/banner/t-home-4.jpg" alt=""/></a></div>
				<!-- <div class="item"><a href="javascript: void(0);" title=""><img src="@Url.Content("~")Assets/images/banner/t-home-1.jpg" alt=""/></a></div> -->
				<div class="item"><a href="javascript: void(0);" title=""><img src="@Url.Content("~")Assets/images/banner/t-home-2.jpg" alt=""/></a></div>
				<div class="item"><a href="javascript: void(0);" title=""><img src="@Url.Content("~")Assets/images/banner/t-home-3.jpg" alt=""/></a></div>
			</div>
		</div>
		<div class="wrap-bnmobile">
			<div class="banner-mobile">
				<div class="item">
					<img src="@Url.Content("~")Assets/images/banner/m-home-4.jpg" alt=""/>
					<a class="vns-mb five" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-more.png" alt=""/>
					</a>
				</div>
				<!-- <div class="item">
					<img src="@Url.Content("~")Assets/images/banner/m-home-1.jpg" alt=""/>
					<a class="vns-mb one" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-more.png" alt=""/>
					</a>
				</div> -->
				<div class="item">
					<img src="@Url.Content("~")Assets/images/banner/m-home-2.jpg" alt=""/>
					<a class="vns-mb two" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/dich-vu-dien-tu#item_click3" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-more.png" alt=""/>
					</a>
				</div>
				<div class="item">
					<img src="@Url.Content("~")Assets/images/banner/m-home-3.jpg" alt=""/>
					<a class="vns-mb three" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/dich-vu-dien-tu#item_click2" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-more.png" alt=""/>
					</a>
					<a class="vns-mb four" href="https://itunes.apple.com/us/app/mstock24/id902140265?mt=8" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-down.png" alt=""/>
					</a>
				</div>
			</div>
		</div>
		<div class="slide-hun">
			<div class="title-hun">Dịch vụ <span>Điện tử</span></div>
			<div class="border-carousel">
				<div class="text-title left">
					<!-- <img src="@Url.Content("~")Assets/images/text/dvdt.png" alt="" /> -->
					<div>
						<p>Dịch vụ</p>
						<p>Điện tử</p>
					</div>
				</div>
				<div class="carousel-content left">
					<div id="owl-example" class="owl-carousel">
                    @if (ViewBag.fastLinks != null)
                    {
                        foreach (var item in ViewBag.fastLinks)
                        {
						<div class="item-list">
							<a href="@(string.IsNullOrEmpty(item.LINK) ? "javascript:void(0)" : item.LINK)" target="_blank">
								<div class="bd-text bd-text_hv">
									<img src="@item.ICON_HOVER" alt="" />
								</div>
								<div class="bd-text bd-text_nm">
									<img src="@item.ICON" alt="" />
								</div>
								<div class="bg"></div>
								<img class="img" src="@(CommonHelper.Img(item.IMAGE, 192, 100))" alt="" />
							</a>
						</div>
						<!-- <div class="item-list">
							<a href="@(string.IsNullOrEmpty(item.LINK) ? "javascript:void(0)" : item.LINK)" target="_blank">
								<div class="bd-text bd-text_hv">
									<img src="@item.ICON_HOVER" alt="" />
								</div>
								<div class="bd-text bd-text_nm">
									<img src="@item.ICON" alt="" />
								</div>
								<div class="bg"></div>
								<img class="img" src="@(CommonHelper.Img(item.IMAGE, 192, 100))" alt="" />
							</a>
						</div> -->
                        }
                    }
					</div>
				</div>
				<div class="clearAll"></div>
			</div>
		</div>
	</div>
	<!-- banner tablet -->
	<div class="wrap-home">
		<div class="item-home type-one left">
		    <div class="box-text">
		    	<div class="title-utm">@Html.Raw(StringHelper.lang("san_pham_dich_vu"))</div>
		    	<div class="text-info">@StringHelper.lang("san_pham_dich_vu_mota")</div>
		    	<div class="icon"></div>
		    </div>
		</div>
        @if (ViewBag.services != null)
        {
            int i = 0;
            foreach (KeyValuePair<WizardCMS.Models.ArticleViewModel, List<WizardCMS.Models.ArticleViewModel>> pair in ViewBag.services)
            {
		        <div class="item-home @(i == 0 ? "type-one" : "") item-hover left">
		            <img class="img" src="@Url.Content("~")@(CommonHelper.Img(pair.Key.THUMBNAIL, 640, 349))" alt="@pair.Key.TITLE" />
		            <div class="bg-hv"></div>
		            <div class="bg-hv-full"></div>
		            <div class="info-hover">
		    	        <div class="title-rbt">
		    		        @Html.Raw(StringHelper.lang(pair.Key.SLUG))
		    	        </div>
		    	        <ul class="link">
                            @if (pair.Value != null)
                            {
                                int j = 0;
                                foreach (var item in pair.Value)
                                {
                                    //update 09-11-2015 ho tro tai chinh kh to chuc => khach hang ca nhan
                                    if (item.ID == 119 && ViewBag.personalSupport != null)
                                    {
					                <li><a class="@StringHelper.NumberToText(j + 1)" title="@Html.Raw(ViewBag.personalSupport.TITLE)" href="@StringHelper.base_url_lang()@ViewBag.personalSupport.LINK">@StringHelper.post_title(ViewBag.personalSupport.TITLE)</a></li>
                                    }
                                    else
                                    {
					                <li><a class="@StringHelper.NumberToText(j + 1)" title="@Html.Raw(item.TITLE)" href="@StringHelper.base_url_lang()@item.LINK">@Html.Raw(item.TITLE)</a></li>
                                    }
                                    j++;
                                }
                            }
				        </ul>
				        <a class="btn-find-more" href="@StringHelper.base_url_lang()@pair.Key.LINK" title="@Html.Raw(pair.Key.TITLE)"></a>
		            </div>
		        </div>
                i++;
            }
        }
		<div class="item-home item-hover tall left">
            @if (ViewBag.Hotnews != null && ViewBag.Hotnews.Count > 0)
            {
		    <img class="img" src="@Url.Content("~")Assets/images/img/stock-thumbnail.jpg" alt="Hot news"/>
		    <div class="bg-hv"></div>
		    <div class="bg-hv-full"></div>
		    <div class="news-info">
		    	<div class="title-news">@StringHelper.lang("text_tintuc_mbs")</div>
		    	<div class="desc-news">
		    		<a href="/vi/@ViewBag.Hotnews[0].LINK" title="@Html.Raw(ViewBag.Hotnews[0].TITLE)">@CommonHelper.CutText(Server.HtmlDecode(ViewBag.Hotnews[0].TITLE), 50)</a>
		    		<div class="date">@DatetimeHelper.LastUpdateTime(ViewBag.Hotnews[0].CREATED)</div>
		    		<div class="info">@CommonHelper.CutText(@ViewBag.Hotnews[0].DESCRIPTION, 100)</div>
		    	</div>
		    </div>
            }
		</div>
		<div class="item-home type-two tall type-one left">
		    <div class="list-post">
            @if (ViewBag.Hotnews != null && ViewBag.Hotnews.Count > 1)
            {
                for (int i = 1; i < ViewBag.Hotnews.Count; i++)
                {
		    	<div class="item">
		    		<div class="img left"><a href="@StringHelper.base_url_lang()@ViewBag.Hotnews[i].LINK" title=""><img src="@Url.Content("~")@(CommonHelper.Img2(ViewBag.Hotnews[i].THUMBNAIL, 80, 48, 2))" alt=""/></a></div>
		    		<div class="desc right">
		    			<a href="/vi/@ViewBag.Hotnews[i].LINK" title="@Html.Raw(ViewBag.Hotnews[i].TITLE)">@CommonHelper.CutText(Server.HtmlDecode(ViewBag.Hotnews[i].TITLE), 50)</a>
		    			<p>@DatetimeHelper.LastUpdateTime(ViewBag.Hotnews[i].CREATED)</p>
		    		</div>
		    		<div class="clear"></div>
		    	</div>
                }
            }
		    	<a class="btn-find-more" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tintuc_mbs")" title="@StringHelper.lang("text_view_more")"></a>
		    </div>
		</div>
		<div class="item-home tag tall left">
		    <div class="tag-home">
		    	<img src="@Url.Content("~")Assets/images/img/home-4.jpg" alt=""/>
		    	<a href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tt_phantich")" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("du_lieu_thi_truong"))
		    		</span>
	    		</a>
    		</div>
		    <div class="tag-home">
		    	<img src="@Url.Content("~")Assets/images/img/home-5.jpg" alt=""/>
		    	<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_lich_sk")" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("lich_su_kien"))
		    		</span>
		    	</a>
    		</div>
		    <div class="tag-home">
		    	<img src="@Url.Content("~")Assets/images/img/home-6.jpg" alt=""/>
		    	<a href="@Url.Content("~")vi/cham-soc-khach-hang/hoi-thao-dao-tao" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("hoi_thao_dao_tao"))
		    		</span>
		    	</a>
    		</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- end content home -->
