﻿@using WizardCMS.Const;
@model IEnumerable<WizardCMS.Models.BranchFooterViewModel>
@{
    Layout = null;
    int no = 0;
    string cssClass = "";
}
@{
    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
            <script type="text/javascript">
                $(function () {
                    $(".gr_perm_error").fadeIn(500);
                    $("#loader").fadeOut(300);
                    $(".table").css("marginTop", 4);
                    setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
                });
            </script>
        }
    }
}
<script type="text/javascript">
    $(function () {
        $(".custom_chk").jqTransCheckBox();
    });
    function updateOrder(d, a, c) {
        var b = root + "" + c + "/UpdateOrder/";
        $.post(b, {
            id: d,
            order: a
        }, function (e) {
            if (e == 'permission-denied') {
                $('#txt_error').html('Permission denied');
                show_error();
            }
            else {
                $("#loadOrderID_" + d).html(e);
                if (c == "manager_modules") {
                    $.get(root + "admincp/menu", function (f) {
                        $("#loadMenu").html(f)
                    })
                }
            }
        })
    }
    function show_error() {
        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>
<div class="content_table">
    <input type="hidden" value="@ViewBag.SortBy" id="by_sort" />
    <input type="hidden" value="@ViewBag.SortType" id="type_sort" />
    <input type="hidden" value="@ViewBag.parentId" id="parentId" />
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
            <tr>
                <th class="th_no_cursor" width="40">
                    No.
                </th>
                <th class="th_no_cursor" width="31">
                    <input type="checkbox" class="custom_chk" id="selectAllItems" onclick="selectAllItems(@if (Model != null)
                                                                                                          { @Model.Count()}
                                                                                                          else
                                                                                                          { @Html.Raw("0") })" />
                </th>
                
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'NAME')">
                    @if (ViewBag.SortBy.ToUpper() == "NAME")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="title" class="@cssClass">NAME</div>
                </th>
                <th width="85" class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'LANG')">
                    @if (ViewBag.SortBy.ToUpper() == "LANG")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="title" class="@cssClass">LANGUAGE</div>
                </th>
                <th width="70" onclick="ColumnSort('@ViewBag.AjaxUrl', 'STATUS')">
                    @if (ViewBag.SortBy.ToUpper() == "STATUS")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="status" class="@cssClass">
                        Action
                    </div>
                </th>
                <th width="*" onclick="ColumnSort('@ViewBag.AjaxUrl', 'PRIORITY')">
                    @if (ViewBag.SortBy.ToUpper() == "PRIORITY")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="order" class="@cssClass">
                        Order
                    </div>
                </th>
                <th class="th_last" width="100" onclick="ColumnSort('@ViewBag.AjaxUrl', 'CREATED')">
                    @if (ViewBag.SortBy.ToUpper() == "CREATED")
                    {
                        if (ViewBag.SortType == "ASC")
                        {
                            cssClass = "icon_sort_asc";
                        }
                        else
                        {
                            cssClass = "icon_sort_desc";
                        }
                    }
                    else
                    {
                        cssClass = "icon_no_sort";
                    }
                    <div id="created" class="@cssClass">
                        Created
                    </div>
                </th>
            </tr>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    //if (item.Status == Constants.SHOW)
                    //{
                    if (no % 2 == 0)
                    {
                        cssClass = "row2";
                    }
                    else
                    {
                        cssClass = "row1";
                    }
                <tr class="@cssClass @("item_row" + no)">
                    <td class="td_center">
                        @(no + 1)
                    </td>
                    <td class="td_no_padd">
                        <input type="checkbox" class="custom_chk" id="@("item" + no)" onclick="selectItem('@no')" value="@item.ID"/>
                    </td>
                    <td class="th_left">
                        <a href='@Url.Content("~")admincp/branchfooter/update/@item.ID'>@item.NAME</a>
                    </td>

                    <td class="th_center">@item.LANG</td>
					
                    <td class="td_center" id='@Html.Raw("loadStatusID_" + @item.ID)'>
                        <a class="myclass" href="javascript:void(0)" onclick="return updateStatus(@item.ID,@item.STATUS,'Branch', 'true')">
                            @if (item.STATUS == 1)
                            {
                                <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/check_16x16.png" />
                            }
                            else
                            {
                                <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/uncheck_16x16.png" />
                            }
                        </a>
                    </td>

                    <td nowrap>
						<div style="padding-left: 5px;float: right;">
							  <img style="cursor: pointer;" onclick="return updateOrder(@item.ID,1,'branchfooter')" src="@Url.Content("~")Assets/admin/images/icons/arrow_up.png" />                        
							  <img style="cursor: pointer;" onclick="return updateOrder(@item.ID,0,'branchfooter')" src="@Url.Content("~")Assets/admin/images/icons/arrow_down.png" />
						</div>
                        <div style="float: right;" id='@Html.Raw("loadOrderID_" + @item.ID)'>
							@Html.Raw(item.PRIORITY.ToString())
						</div>
                    </td>
                    <td class="th_last td_center">
                        @item.CREATED.ToString("dd-MM-yyyy HH:mm:ss")
                    </td>
                </tr>                    
                   no++;
                    //}
                }
            }
            else
            {
                <tr class="row1">
                    <td class="th_last td_center" colspan="50" style="font-size: 20px; padding: 50px 0">
                        No data
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
@RenderPage("~/Views/BackEnd/Paging.cshtml")
<div class="clearAll">
</div>
<span id="actionMessage"></span>