﻿@model IEnumerable<WizardCMS.domain.WZ_CT_WARD>
@if (Model != null)
{
    foreach (var ward in Model)
    {
        <option value="@ward.WARD_ID" @(ViewBag.WARD_ID == ward.WARD_ID ? "selected='selected'" : "")>@ward.WARD_NAME</option> 
    }
}