﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.BranchFooterViewModel
@{
    string cssClass = "";
    List<WizardCMS.domain.WZ_CT_PROVINCE> Provinces = ViewBag.Provinces;
}
<script src="@Url.Content("~")Assets/js/jquery.numeric.js" type="text/javascript"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });
        $(".order").numeric();
        MaxAllowSize = @ViewBag.MaxAllowSize;
        if(MaxAllowSize != null){
            //alert("Oh Yeah");
        }
        else{
            MaxAllowSize = 3;
        }

        //lang switcher
        $('#lang_switch').tabs();

        $("#provinceAdmincp").trigger("change");
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };

        update_ck();
              
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if (form.name_vi.value == '' && form.name_en.value == '') {
            $('#txt_error').html('Chưa nhập tên.');
            $('#loader').fadeOut(300);
            show_error();
            scrollTo('#image');
            return false;
        }
        var order = $("#priority").attr("value");
        if (order == "") {
            order = parseInt(0);
        }
        if (order >= 32767) {
            $('#loader').hide();
            alert('Bạn nhập số quá lớn. Số không lớn hơn 32767');
            $('input[name="priority"]').addClass('error-fr');
            return false;
        }
        if (order < 0) {
            $('#loader').hide();
            alert('Bạn không nhập số âm');
            $('input[name="priority"]').addClass('error-fr');
            return false;
        }

    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            location.href = root + "admincp/" + module + "/#/save";
        } else if (responseText == 'ERROR_SLUG') {
            show_error('Tên banner bị trùng.');
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }

    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }

    function changeProvince(e){
        var province = $(e).val();
        var district = $('#districtAdmincp').attr("current-value");

        $.post(root+"branch/changeProvince", {PROVINCE_ID:province, DISTRICT_ID:district}, function(res){
            $('#districtAdmincp').html(res);
            return true;
        });
    }
</script>
@{
    string backlink = Url.Content("~") + "admincp/" + ViewBag.module + "/#/back";
}
<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" class="" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">
                            @ViewBag.module Update</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")branchfooter/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null)
                                                { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @if (Model != null)
                                               {
                                                   if (Model.STATUS == 1)
                                                   { 
                                                       @Html.Raw("checked = 'checked'") }
                                               }
                                               else
                                               {
                                                       @Html.Raw("checked = 'checked'") 
                                               } type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field" style='display:none'>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Show on footer:
                                    </td>
                                    <td class="right_text_field">
                                        <input @if (Model != null)
                                               {
                                                   if (Model.STATUS == 1)
                                                   { 
                                                       @Html.Raw("checked = 'checked'") }
                                               }
                                               else
                                               {
                                                       @Html.Raw("checked = 'checked'") 
                                               } type="checkbox" class="custom_chk" name="featuredAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row_text_field" style="display:none">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Language:
                                </td>
                                <td class="right_text_field">
                                    <select name="langAdmincp" id="langAdmincp" style="width: 200px; height: 24px;">
                                        <option value="vi" @(Model != null && Model.LANG == "vi" ? Html.Raw("selected") : Html.Raw(""))>Tiếng Việt</option>
                                        <option value="en" @(Model != null && Model.LANG == "en" ? Html.Raw("selected") : Html.Raw(""))>English</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field" style='display:none'>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Group:
                                </td>
                                <td class="right_text_field">
                                    <select name="groupAdmincp" id="groupAdmincp" style="width: 200px; height: 24px;">
                                        <option value="2" @(Model != null && Model.GROUP_ID == 2 ? Html.Raw("selected") : Html.Raw(""))>Hội sở</option>
                                        <option value="0" @(Model != null && Model.GROUP_ID == 0 ? Html.Raw("selected") : Html.Raw(""))>Chi nhánh</option>
                                        <option value="1" @(Model != null && Model.GROUP_ID == 1 ? Html.Raw("selected") : Html.Raw(""))>Phòng giao dịch</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field" style='display:none'>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Region:
                                </td>
                                <td class="right_text_field">
                                    <select name="regionAdmincp" id="regionAdmincp" style="width: 200px; height: 24px;">
                                        <option value="1" @(Model != null && Model.REGION == 1 ? Html.Raw("selected") : Html.Raw(""))>Miền Bắc</option>
                                        <option value="2" @(Model != null && Model.REGION == 2 ? Html.Raw("selected") : Html.Raw(""))>Miền Trung</option>
                                        <option value="3" @(Model != null && Model.REGION == 3 ? Html.Raw("selected") : Html.Raw(""))>Miền Nam</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field" style='display:none'>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Province:
                                </td>
                                <td class="right_text_field">
                                    <select name="provinceAdmincp" id="provinceAdmincp" onchange="return changeProvince(this)" style="width: 200px; height: 24px;">
                                        <option value="">Chọn tỉnh</option>
                                        @{
                                            if (Provinces != null)
                                            {
                                                foreach (var item in Provinces)
                                                {
                                                    <option value="@item.PROVINCE_ID" @(Model != null && Model.PROVINCE_ID == item.PROVINCE_ID ? Html.Raw("selected") : Html.Raw(""))>@item.PROVINCE_NAME</option>
                                                }
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field" style='display:none'>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    District:
                                </td>
                                <td class="right_text_field">
                                    <select name="districtAdmincp" id="districtAdmincp" current-value="@(Model != null && Model.DISTRICT_ID != null ? Html.Raw(Model.DISTRICT_ID) : Html.Raw(""))" style="width: 200px; height: 24px;">
                                        <option value="">Chọn quận/huyện</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Priority:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null)
                                                  {@Model.PRIORITY}
                                                  else
                                                  { @Html.Raw("0");
                                                  }" type="text" name="priority" class="priority" id="priority" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field" style='display:none'>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Tel: <span class="error_template txt-error-fr">*</span>
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="telAdmincp" id="telAdmincp" value="@if (Model != null)
                                                                                                {@Html.Raw(Model.TEL)}" onblur="checkInp(this.value,'telAdmincp')"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field" style='display:none'>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Fax: <span class="error_template txt-error-fr">*</span>
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="faxAdmincp" id="faxAdmincp" value="@if (Model != null)
                                                                                                {@Html.Raw(Model.FAX)}" onblur="checkInp(this.value,'faxAdmincp')"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="text-align:center;">
					                <div id="lang_switch">
						                <ul>
							                <li><a href="#tab-lang-vi" data-lang="vi" class="nav-tab-lang tab-lang-vi"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_vi.png" alt=""/></span>Tiếng Việt</a></li>
                                            <li><a href="#tab-lang-en" data-lang="en" class="nav-tab-lang tab-lang-en"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_en.png" alt=""/></span>English</a></li>
						                </ul>
						                
                                        @{
                                            BranchFooterContent content_translate = Model != null ? BranchFooterServices.GetContentByLang(Model.ContentTranslates, "vi") : null;
                                        }
                                        <div id="tab-lang-vi" class="w_content">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Name (Tiếng Việt):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="name_vi" id="name_vi" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.NAME)}" onblur="checkInp(this.value,'name_vi')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Link (Tiếng Việt):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="link_vi" id="link_vi" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.LINK)}" onblur="checkInp(this.value,'link_vi')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Description (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field">
                                                            <textarea name="description_vi" id="description_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                             {@Html.Raw(content_translate.DESCRIPTION)}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#description_vi').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- ENGLISH CONTENT HERE -->
                                        @{
                                            content_translate = Model != null ? BranchFooterServices.GetContentByLang(Model.ContentTranslates, "en") : null;
                                        }
                                        <div id="tab-lang-en" class="w_content" style="">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Name (English):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="name_en" id="name_en" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.NAME)}" onblur="checkInp(this.value,'name_en')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Link (English):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="link_en" id="link_en" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.LINK)}" onblur="checkInp(this.value,'link_en')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Description (English):
                                                        </td>
                                                        <td class="right_text_field">
                                                            <textarea name="description_en" id="description_en" cols="" rows="8">@if (content_translate != null)
                                                                                                             {@Html.Raw(content_translate.DESCRIPTION)}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#description_en').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
						                
					                </div>
				                </td>
                            </tr>
                        </table>
                        
                    </div>
                    
                                                    
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
