﻿@{
    ViewBag.Title = "ungtuyen4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child">
		<img src="@Url.Content("~/Assets/images/bg/bg-cbql.jpg")" alt="" title="" />
		<div class="wrapper">
			<span>CÁN BỘ QUẢN LÝ</span>
		</div>
	</div>
<!-- Banner -->
	<div class="content-page">
		<div id="menu-right-mobile">
			<div class="text-active wrapper">
				<a class="one" href="javascript: void(0);" title=""></a>
				<a class="two" href="javascript: void(0);" title=""></a>
			</div>
			<div class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				<ul>
					<li class="active">
						<a class="ttone" href="">Tin tức thị trường</a>
						<ul class="sub-right">
							<li><a href="">Thị trường chứng khoán</a></li>
							<li><a href="">Tin vĩ mô</a></li>
							<li><a href="">Tin thế giới</a></li>
						</ul>
					</li>
					<li class="">
						<a class="ttone" href="">Báo cáo phân tích</a>
					</li>
					<li class="">
						<a class="ttone" href="">Hội thảo</a>
					</li>
					<li class="">
						<a class="ttone" href="">Lịch sự kiện</a>
					</li>
					<li class="">
						<a class="ttone" href="">Dữ liệu thị trường</a>
					</li>
				</ul>
			</div>
		    <div class="wrap-content-right ungtuyen">
			   
			    <div class="page-title">
					<p>Thông tin ứng viên</p>
					<div class="line"></div>
				</div>
				
<!-- Request -->

				<div class="request">
					Anh/Chị hãy</br>
					<ul>
						<li>Điền đầy đủ và rõ ràng thông tin cho mỗi câu hỏi. Không viết vào phần tô đậm</li>
						<li>Đọc kỹ các hướng dẫn kèm theo ở mỗi câu hỏi</li>
						<li>Đề nghị giải thích thêm để đảm bảo hiểu rõ các câu hỏi nếu cần thiết</li>
					</ul>
				</div>

<!-- Box menu -->

				<div class="square-menu-wrapper">
					<div class="wrapper-left">
						<div class="box inactive box-left thong-tin-ca-nhan">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/ca-nhan-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/ca-nhan-l2.png")" alt="">
							<div class="bot-text"><a href="">Thông tin cá nhân</a></div>
						</div>
						<div class="box inactive box-right trinh-do-hoc-van">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/trinh-do-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/trinh-do-l2.png")" alt="">
							<div class="bot-text"><a href="">Trình độ học vấn và </br> chuyên môn</a></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="wrapper-right">
						<div class="box inactive box-left kinh-nghiem">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/kinh-nghiem-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/kinh-nghiem-l2.png")" alt="">
							<div class="bot-text"><a href="">Kinh nghiệm </br> làm việc</a></div>
						</div>
						<div class="box active box-right thong-tin-khac">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/khac-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/khac-l2.png")" alt="">
							<div class="bot-text"><a href="">Thông tin khác</a></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

<!-- Border box menu -->

				<div class="top-square-menu-border"></div>

<!-- Field Wrapper -->

				<div class="field-wrapper">

<!-- Banner -->

					<div class="banner">
						<img src="@Url.Content("~/Assets/images/ungtuyen/banner-4.jpg")" alt="">
						<div>4. THÔNG TIN KHÁC</div>
					</div>

<!-- Field 19 -->
				
					<div class="field field-19">
						<div class="content">
							<div>
		  						<div class="name"><strong>19.</strong> Anh/Chị biết thông tin về MBS</div>
		  						<div class="cong-tac">
			  						<div class="q-lines radio-field">
			  							<label>
			  								<div class="q-check"><input type="checkbox" name="q-19" value="" placeholder=""></div>
			  								<div class="q-cont">Anh/Chị có người thân trong MBS, MB</div>
			  							</label>
			  						</div>
			  						<div class="q-lines radio-field">
			  							<label>
			  								<div class="q-check"><input type="checkbox" name="q-19" value="" placeholder=""></div>
			  								<div class="q-cont">Mối quan hệ</div>
			  							</label>
			  						</div>		  						
		  						</div>
		  						<div class="cong-tac">
			  						<div class="q-lines radio-field">
			  							<label>
			  								<div class="q-check"><input type="checkbox" name="q-19" value="" placeholder=""></div>
			  								<div class="q-cont">hay trong tổ chức Công ty Chứng khoán nào khác không?</div>
			  							</label>
			  						</div>
			  						<div class="q-lines radio-field">
			  							<label>
			  								<div class="q-check"><input type="checkbox" name="q-19" value="" placeholder=""></div>
			  								<div class="q-cont">Phương tiện thông tin đại chúng</div>
			  							</label>
			  						</div>		  						
		  						</div>
		  					</div>
		  					<div class="clear"></div>
						</div>
					</div>

<!-- Field 20 -->
				
					<div class="field field-20">
						<div class="content">
							<div>
								<div class="name"><strong>20.</strong> Anh/Chị biết thông tin về đợt tuyển dụng này qua:</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check check-check"><input type="checkbox" name="q-20" value="" placeholder=""></div>
											<div class="q-cont cont-check">Anh/Chị có người thân trong MBS, MB</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check check-check"><input type="checkbox" name="q-20" value="" placeholder=""></div>
											<div class="q-cont cont-check">Mối quan hệ</div>
										</label>
									</div>
		  					</div>
		  					<div>
		  						<div class="name">Ghi rõ phương tiện thông tin</div>
		  						<div class="input-field"><input type="text" name="ngay-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Ghi rõ tên, mối quan hệ và tên tổ chức</div>
		  						<div class="input-field"><input type="text" name="ngay-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 21 -->
				
					<div class="field field-21">
						<div class="content">
							<div>
		  						<div class="name"><strong>21.</strong> Trước đây anh/chị đã gửi đơn xin việc tới MBS chưa? Nếu "Có", đề rõ thời gian và vị trí ứng tuyển</div>
		  						<div class="input-field big"><input type="text" name="ngay-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 22 -->
				
					<div class="field field-22">
						<div class="content">
							<div>
		  						<div class="name"><strong>22.</strong> Anh/Chị đã từng làm việc cho MBS chưa? (thường xuyên, tư vấn, hợp đồng hay tạm thời)</div>
		  						<div class="input-field big"><input type="text" name="ngay-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 23 -->
				
					<div class="field field-23">
						<div class="content">
							<div>
								<div class="name"><strong>23.</strong> Anh/Chị có khiếm khuyết về ngoại hình hoặc dị tật không?</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-23" value="" placeholder=""></div>
											<div class="q-cont">Có</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-23" value="" placeholder="" checked="checked"></div>
											<div class="q-cont">Không</div>
										</label>
									</div>
		  					</div>
		  					<div>
		  						<div class="name">Nói cụ thể nếu "Có"</div>
		  						<div class="input-field"><input type="text" name="ngay-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 24 -->
				
					<div class="field field-24">
						<div class="content">
							<div>
		  						<div class="name"><strong>24.</strong> Anh/Chị có thể và sẵn sàng đi công tác?</div>
		  						<div class="cong-tac">
		  							Đi máy bay
		  							<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-24" value="" placeholder="" checked="checked"></div>
											<div class="q-cont">Có</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-24" value="" placeholder=""></div>
											<div class="q-cont">Không</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-24" value="" placeholder=""></div>
											<div class="q-cont">Thường xuyên</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-24" value="" placeholder=""></div>
											<div class="q-cont">Thỉnh thoảng</div>
										</label>
									</div>
		  						</div>
		  						<div class="cong-tac">
		  							Đi ô tô
		  							<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-24" value="" placeholder="" checked="checked"></div>
											<div class="q-cont">Có</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-24" value="" placeholder=""></div>
											<div class="q-cont">Không</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-24" value="" placeholder=""></div>
											<div class="q-cont">Thường xuyên</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-24" value="" placeholder=""></div>
											<div class="q-cont">Thỉnh thoảng</div>
										</label>
									</div>
		  						</div>
		  					</div>
		  					<div class="clear"></div>
						</div>
					</div>

<!-- Field 25 -->
				
					<div class="field field-25">
						<div class="content">
							<div>
								<div class="name"><strong>25.</strong> Anh/Chị đã từng bị sa thải hoặc phải từ chức chưa?</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-25" value="" placeholder=""></div>
											<div class="q-cont">Có</div>
										</label>
									</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-25" value="" placeholder="" checked="checked"></div>
											<div class="q-cont">Không</div>
										</label>
									</div>
		  					</div>
						</div>
					</div>

<!-- Field 26 -->
				
					<div class="field field-26">
						<div class="content">
							<div>
		  						<div class="name"><strong>26.</strong> Anh/Chị có thể cho mức lương mà anh/chị mong muốn mỗi tháng?</div>
		  						<div class="input-field big"><input type="text" name="ngay-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 27 -->
				
					<div class="field field-27">
						<div class="content">
							<div>
		  						<div class="name"><strong>27.</strong> Nếu anh/chị được tuyển dụng, khi nào anh/chị có thể bắt đầu công việc (tính từ ngày hôm nào)?</div>
		  						<div class="input-field big"><input type="text" name="ngay-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 28 -->
				
					<div class="field field-28">
						<div class="content">
							<div>
		  						<div class="name"><strong>28.</strong> Những điểm mạnh, điểm yếu của anh/chị là gì?</div>
		  						<div class="input-field big"><input type="text" name="ngay-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 29 -->
				
					<div class="field field-29">
						<div class="content">
							<div>
		  						<div class="name"><strong>29.</strong> Anh/Chị hãy cho biết lý do vì sao muốn làm việc tại Công ty Chứng khoán MB?</div>
		  						<div class="input-field big"><input type="text" name="ngay-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 30 -->
				
					<div class="field field-30">
						<div class="content">
							<div>
		  						<div class="name">Ngày làm hồ sơ</div>
		  						<div class="input-field"><input type="text" name="ngay-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name agree">
		  							<div class="q-lines radio-field agree">
			  							<label>
			  								<div class="q-check"><input type="checkbox" name="q-30" value="" placeholder=""></div>
			  							</label>
			  						</div>		
		  						</div>
		  						<div class="input-field cam-doan">Tôi xin cam đoan những thông tin cung cấp trên đây là chính xác và đầy đủ. Tôi chấp nhận việc điều tra, thẩm tra đối với những thông tin về cá nhân, quá trình làm việc, sức khỏe hoặc các vấn đề liên quan khác cần trong quá trình ra quyết định tuyển dụng. Tôi xin chịu hoàn toàn trách nhiệm nếu những thông tin trên sai lệch</div>
		  					</div>
		  					<div class="clear"></div>
						</div>
					</div>



<!-- Page nav button -->

					<div class="nav-button">
						<a href=""><div class="prev-page">
							<img src="@Url.Content("~/Assets/images/ungtuyen/prev-page.png")" alt="">
							KINH NGHIỆM LÀM VIỆC
						</div></a>
						<a href=""><div class="next-page">
							GỬI
						</div></a>
					</div>



				
				</div>
		    </div>
		</div>
		<div class="clear"></div>
	</div>


<script type="text/javascript">

	$().ready(function(){
		$('.q-lines .q-check input').uniform();
	});


	$(document).ready(function() {  
		$('.box.inactive img:first-child').css('opacity', 0);  

    // when hover over the selected image change the opacity to 1  
    $('.box.inactive').hover(  
    	function(){  
    		$(this).find('img:first-child').stop().fadeTo('slow', 1);  
    	},  
    	function(){  
    		$(this).find('img:first-child').stop().fadeTo('slow', 0);  
    	});


    document.getElementById('duplicate').onclick = duplicate;
	var i = 0;
	var original = document.getElementById('duplicater');
	function duplicate() {
    	var clone = original.cloneNode(true); // "deep" clone
    	clone.id = "duplicetor" + ++i; // there can only be one element with an ID
    	original.parentNode.appendChild(clone);
	}

	document.getElementById('duplicate2').onclick = duplicate2;
	var j = 0;
	var original2 = document.getElementById('duplicater2');
	function duplicate2() {
    	var clone2 = original2.cloneNode(true); // "deep" clone
    	clone2.id = "duplicetor2" + ++j; // there can only be one element with an ID
    	original2.parentNode.appendChild(clone2);
	} 

	});  
</script>