﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-thanhtuu.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
				<p>@Html.Raw(Model.TITLE)</p>
				<div class="line"></div>
			</div>
			<div class="tt-gtcl first">@Html.Raw(Model.DESCRIPTION)</div>
			<div class="accomplish">
            @{
                if (ViewBag.childs != null)
                {
                    foreach (var item in ViewBag.childs)
                    {
                        <div class="it-accomplish">
					        <div class="year">@Html.Raw(item.TITLE)</div>
					        <div class="accomplish-info">
                            @if (item.Childs != null) { 
                                foreach(var child in item.Childs){
                                    <div class="accomplish-info-it">
							            <span class="line"></span>
							            <span class="tt">@Html.Raw(child.TITLE)</span>
							            <span class="text">@Html.Raw(child.CONTENT)</span>
						            </div>
                                }
                            }
					        </div>
					        <div class="clear"></div>
				        </div>
                    }
                }
            }
				
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
