﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-giatricotloi.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@StringHelper.post_title(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
	    	<!-- <div class="tt-gtcl first">@Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))</div> -->
		    <div class="list-gtcl">
				@if (ViewBag.childs != null) { 
                    int i = 0;
                    foreach (var child in ViewBag.childs) {
                        if (i % 2 == 0)
                        {
                            <div class="item-gtcl">
				    		    <div class="img-gtcl left">
				    			    <img src="@Url.Content("~")@(CommonHelper.Img(StringHelper.field_content(child.ContentTranslates, "IMAGE"), 260, 165))" alt=""/>
				    			    <img class="icon-arr-right" src="@Url.Content("~")Assets/images/icon/icon-img-right.png" alt=""/>
				    			    <img class="icon-arr-bottom" src="@Url.Content("~")Assets/images/icon/icon-img-bottom.png" alt=""/>
			    			    </div>
				    		    <div class="text-gtcl pdl left">
				    			    <div class="tit-gtcl">@Html.Raw(StringHelper.field_content(child.ContentTranslates, "TITLE"))</div>
				    			    <div class="tt-gtcl">
                                        @Html.Raw(StringHelper.field_content(child.ContentTranslates, "CONTENT"))
				    			    </div>
				    		    </div>
				    		    <div class="clear"></div>
				    	    </div>
                        }
                        else
                        {
                            <div class="item-gtcl">
				    		    <div class="img-gtcl right">
				    			    <img src="@Url.Content("~")@(CommonHelper.Img(StringHelper.field_content(child.ContentTranslates, "IMAGE"), 260, 165))" alt=""/>
				    			    <img class="icon-arr-left" src="@Url.Content("~")Assets/images/icon/icon-img-left.png" alt=""/>
				    			    <img class="icon-arr-bottom" src="@Url.Content("~")Assets/images/icon/icon-img-bottom.png" alt=""/>
			    			    </div>
				    		    <div class="text-gtcl pdr right">
				    			    <div class="tit-gtcl">@Html.Raw(StringHelper.field_content(child.ContentTranslates, "TITLE"))</div>
				    			    <div class="tt-gtcl">
                                        @Html.Raw(StringHelper.field_content(child.ContentTranslates, "CONTENT"))
				    			    </div>
				    		    </div>
				    		    <div class="clear"></div>
				    	    </div>
                        }
                        i++;
                    }
                }
			</div>
        </div>
	</div>
</div>
<!-- end content home -->