﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    var image = StringHelper.field_content(Model.ContentTranslates, "IMAGE");
    var image_mobile = StringHelper.field_content(Model.ContentTranslates, "IMAGE_MOBILE");
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-sodotochuc.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
				<p>@Html.Raw(Model.TITLE)</p>
				<div class="line"></div>
			</div>
            <div class="sdtc-page">
            	<!-- PC -->
            	<img class="organi-chart hidden-xs" src="@image" alt="" />
            	<!-- MB -->
            	<img class="organi-chart hidden-sm hidden-md hidden-lg" src="@image_mobile" alt="" />
            	
				<!-- <div class="org-chart cf">
					<ul class="hoidongcodong">
						<li class="bgred fpd">
							<a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_daihoi_dong_codong"))</span></a>
						</li>
						<ul class="bankiemsoat">
							<li class="bgblue fpd">
								<a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_ban_kiem_soat"))</span></a>
							</li>
						</ul>
					</ul>
					<ul class="hoidongquantri">
						<li class="bgred fpd">
							<a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_hoi_dong_quan_tri"))</span></a>
						</li>
						<ul class="sub-hoidongquantri">
							<li class="bgblue fpd one">
								<a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_bophan_kiemtoan_noibo"))</span></a>
							</li>
							<li class="bgblue fpd two">
								<a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_vanphong_hoidong_quantri"))</span></a>
							</li>
						</ul>
					</ul>
					<ul class="tonggiamdoc">
						<li class="bgred fpd bos-org">
							<a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_ban_tong_giamdoc"))</span></a>
						</li>
						<ul class="line-tonggiamdoc">
							<li class="line-tgd"></li>
						</ul>
						<ul class="sub-tonggiamdoc">
	                        <li class="bgblue fpd one">
		                        <ul class="bd-lm">
			                        <li class="title-org">
				                        <span>@Html.Raw(StringHelper.lang("text_donvi_quantri_kiemsoat"))</span>
			                        </li>
			                        <ul class="box-blue">
                                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_phap_che"))</span></a>
				                        </li>
                                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_kiemsoat_noibo"))</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_quantri_ruiro"))</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_tai_chinh"))</span></a>
				                        </li>
			                        </ul>
		                        </ul>
	                        </li>
	                        <li class="bgblue fpd two">
		                        <ul class="bd-lm">
			                        <li class="title-org">
				                        <span>@Html.Raw(StringHelper.lang("text_donvi_hotro"))</span>
			                        </li>
			                        <ul class="box-blue">
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_nhansu_tonghop"))</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_nghiep_vu"))</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_congnghe_thongtin"))</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_nghien_cuu"))</span></a>
				                        </li>
			                        </ul>
		                        </ul>
	                        </li>
	                        <li class="bgblue fpd three">
		                        <ul class="bd-lm last">
			                        <li class="title-org">
				                        <span>@Html.Raw(StringHelper.lang("text_donvi_kinhdoanh"))</span>
			                        </li>
			                        <ul class="box-blue">
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_dichvu_ck_kh_canhan"))</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_dichvu_ck_kh_tc"))</span></a>
				                        </li>
                                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_dichvu_nh_dautu"))</span></a>
				                        </li>
				                        <li>
					                        <a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_ban_dau_tu"))</span></a>
				                        </li>
			                        </ul>
		                        </ul>
	                        </li>
                        </ul>
					</ul> 
					<ul class="cacchinhanh">
						<li class="bgblue">
							<a href="javascript: void(0);" title=""><span>@Html.Raw(StringHelper.lang("text_chinhanh_phong_giaodich"))</span></a>
						</li>
					</ul>
				</div> -->
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
