﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_chamsoc_kh"));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh-1.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.post_title(ViewBag.node_cham_soc.SUB_TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>
		<div class="wrap-content-right">
		    <div class="stock-exchange-guide">
				<div class="page-title">
					<p>
                        <a href="@StringHelper.base_url_lang()@StringHelper.lang("link_cskh_huongdan_gd")" title="@StringHelper.lang("text_huongdan_giaodich")">@StringHelper.lang("text_huongdan_giaodich")</a></p>
					<div class="line"></div>
				</div>
				<div class="exchange-guide">
					<div class="item-home type-one left">
				    	<img class="img" src="@Url.Content("~")Assets/images/img/cskh-1.jpg" alt="" />
				    	<div class="bg-hv"></div>
				    	<div class="bg-hv-full"></div>
					    <div class="info-hover">
					    	<div class="title-rbt">
                                <a title="@StringHelper.lang("video-huong-dan-text")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_video_huong_dan")">
					    		    <p class="bold">Video</p>
					    		    <p class="regu">@StringHelper.lang("text_huong_dan_vdieo")</p>
                                </a>
					    	</div>
					    	<ul class="link">
								<li><a class="one" title="" href="javascript: void(0);">Mở tài khoản tại sàn</a></li>
								<li><a class="two" title="" href="javascript: void(0);">Mở tài khoản online</a></li>
								<li><a class="three" title="" href="javascript: void(0);">Lưu ký chứng khoán</a></li>
							</ul>
							<a class="btn-find-more" href="javascript: void(0);" title=""></a>
					    </div>
					</div>
				    <div class="item-home type-one item-hover left">
				    	<img class="img" src="@Url.Content("~")Assets/images/img/cskh-2.jpg" alt="">
				    	<div class="bg-hv"></div>
				    	<div class="bg-hv-full"></div>
					    <div class="info-hover">
					    	<div class="title-rbt">
					    		@Html.Raw(StringHelper.lang("html_giao_dich"))
					    	</div>
					    	<ul class="link">
                                @if (ViewBag.guides != null)
                                {
                                    foreach (var item in ViewBag.guides)
                                    {
								        <li><a class="one" title="@Html.Raw(item.TITLE)" href="@(Url.Content("~") + Lang)/@item.LINK">@Html.Raw(item.TITLE)</a></li>
                                    }
                                }
							</ul>
							<!-- <a class="btn-find-more" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hd_huongdan_gd")" title=""></a> -->
					    </div>
					</div>
					<div class="item-home left">
					    <img class="img" src="@Url.Content("~")Assets/images/img/cskh-3.jpg" alt="" />
					    <div class="bg-hv"></div>
					    <div class="bg-hv-full"></div>
					    <div class="info-hover">
					    	<div class="title-rbt">
					    		<p>&nbsp;</p>
					    		<p class="bold"><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_hd_bieu_phi")" title="@StringHelper.lang("text_hd_bieuphi")">@StringHelper.lang("text_hd_bieuphi")</a></p>
					    	</div>
					    	<ul class="link">
								<li><a class="one" title="" href="javascript: void(0);">Mở tài khoản tại sàn</a></li>
								<li><a class="two" title="" href="javascript: void(0);">Mở tài khoản online</a></li>
								<li><a class="three" title="" href="javascript: void(0);">Lưu ký chứng khoán</a></li>
							</ul>
							<a class="btn-find-more" href="javascript: void(0);" title=""></a>
					    </div>
					</div>
					<div class="clear"></div>
				</div>
				<a class="exchange-more right" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cskh_huongdan_gd")" title="">@StringHelper.lang("text_view_all") &gt;&gt;</a>
				<div class="clear"></div>
			</div>
			<div class="line-space mt16"></div>
            <div class="wrap-tab-wk">
                <div class="page-title">
					<p>
                        <a href="@StringHelper.base_url_lang()@StringHelper.lang("link_tl_tham_khao_ckps")" title="@StringHelper.lang("text_tl_tham_khao_ckps")">@StringHelper.lang("text_tl_tham_khao_ckps")</a></p>
					<div class="line"></div>
				</div>
				<div class="bctc-page lbcpt">
                    <div class="list-item mt20" id="list_content">
                    @if (ViewBag.tlckps != null)
                    {
                        int i = 0;
                        foreach (var child in ViewBag.tlckps)
                        {
                            <div class="@((i % 2 == 0) ? "item left" : "item right")">
						        <div class="img"></div>
						        <div class="it-ct">
							        <div class="tit"><a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)">@StringHelper.post_title(child.TITLE)</a></div>
							        <div class="dat"><b>@StringHelper.lang("text_created"): </b>@child.CREATED.ToString("dd/MM/yyyy")</div>
							        <div class="con">@CommonHelper.CutText(child.DESCRIPTION, 190)</div>
                                    @if (!string.IsNullOrEmpty(child.ATTACHMENT))
                                    {
							            <div class="down"><a href="@child.ATTACHMENT" title="@Html.Raw(child.TITLE)"></a></div>
                                    }
                                </div>
						        <div class="clear"></div>
					        </div>
                            if (i % 2 != 0)
                            {
                                <div class="clear"></div>
                            }
                            i++;
                        }
                    }
                    <div class="clear"></div>
				</div>
                <a class="exchange-more right" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tl_tham_khao_ckps")" title="">@StringHelper.lang("text_view_all") &gt;&gt;</a>
                <div class="clear"></div>
            </div>
            <div class="line-space mt16"></div>
			<div class="workshop-and-train">
				<div class="page-title">
					<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")" title="@StringHelper.lang("text_hoithao_va_daotao")o">@StringHelper.lang("text_hoithao_va_daotao")</a>
					<div class="line"></div>
				</div>
				<div class="bctc-page news-page">
					<div class="list-item">
                    @if (ViewBag.workshops != null)
                    {
                        foreach (var item in ViewBag.workshops)
                        {
						<div class="item itemnews">
							<div class="img">
								<a href="@(Url.Content("~") + Lang)/@item.LINK"><img src="@Url.Content("~")@(CommonHelper.Img(item.THUMBNAIL, 185, 111))" alt="@Html.Raw(item.TITLE)" /></a>
							</div>
							<div class="it-ct">
								<div class="tit"><a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
								<div class="dat"><b>@StringHelper.lang("text_created"): </b>@item.CREATED.ToString("dd/MM/yyyy")</div>
								<div class="con">@CommonHelper.CutText(item.DESCRIPTION, 200) <a class="rm" href="@(Url.Content("~") + Lang)/@item.LINK"> @Resources.Resources.READ_MORE</a> @if (item.DEAD_LINE != null && DateTime.Compare(DateTime.Now, item.DEAD_LINE) <= 0)
                                                                                                                                                                     {<a style="margin: 0 0 0 11px;" class="rm" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")?ws=@item.SLUG#@StringHelper.lang("dang-ky-hoi-thao-slug")"> @StringHelper.lang("text_register")</a>}</div>
							</div> 
							<div class="clear"></div>
						</div>
                        }
                    }
					</div>
					<a class="exchange-more right" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")" title="">@StringHelper.lang("text_view_all") &gt;&gt;</a>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div style="background:url(@Url.Content("~")Assets/images/banner/bg-banner-thamgia.jpg) no-repeat center center;" class="workshop-participant">
				<table class="tb100">
					<tbody>
						<tr>
							<td>
								<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao_dk")" title="@StringHelper.lang("text_register")">
									<p class="one">@StringHelper.lang("text_tham_du_hoi_thao")</p>
									<p class="two">@StringHelper.lang("text_dang_ky_ngay")</p>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="line-space mt15"></div>
            <div class="faq-main">
				<div class="page-title">
					<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")" title="@StringHelper.lang("text_cauhoi_thuonggap")">@StringHelper.lang("text_cauhoi_thuonggap")</a>
					<div class="line"></div>
				</div>
				<div class="faq-main-all">
                @if (ViewBag.faqs != null)
                {
                    foreach (KeyValuePair<string, List<WizardCMS.Models.ArticleViewModel>> pair in ViewBag.faqs)
                    {
					<div class="faq-main-item">
						<div class="bg">
							<div class="tit">@pair.Key</div>
							<div class="faq-info">
								<ul>
	                            @if (pair.Value != null)
                             {
                                 foreach (var item in pair.Value)
                                 {
									    <li><a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></li>
                                 }
                             }
								</ul>
							</div>
						</div>
					</div>
                    }
                }
					<div class="clear"></div>
				</div>
				<a class="exchange-more right" href="@StringHelper.base_url_lang()/@StringHelper.lang("link_cauhoi_thuonggap")" title="">@StringHelper.lang("text_view_all") &gt;&gt;</a>
				<div class="clear"></div>
			</div>
			<div class="line-space mt15"></div>
			<div class="support-center @StringHelper.lang("slug_ho_tro_khach_hang")" id="@StringHelper.lang("slug_ho_tro_khach_hang")">
				<div class="page-title">
					<p>@StringHelper.lang("text_ho_tro_kh")</p>
					<div class="line"></div>
				</div>
				<div class="info">@Html.Raw(StringHelper.lang("text_hotro_thongtin_lienhe"))</div>
				<div class="support-center-call">
					<div class="wrap clearfix">
						<!--<div class="it-pro fl"><span>Yahoo:</span> mbs.hotrotructuyen</div>-->
						<div class="it-pro fr"><span>Skype:</span> mbs.hotrotructuyen</div>
					<!--</div>
					<div class="wrap clearfix">-->
						<!--<div class="it-pro fl"><span>Gtalk:</span> mbs.hotrotructuyen</div>-->
						<div class="it-pro fr"><span>Email:</span> <a href="mailto:etrading.support@mbs.com.vn" title="">etrading.support@mbs.com.vn</a></div>
					</div>
				</div>
			</div>	
        </div>
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var url = location.href;
        if (url.indexOf('#') >= 0) {
            var hash = url.substr(url.indexOf('#') + 1);
            console.log(hash);
            if (hash == '@StringHelper.lang("slug_ho_tro_khach_hang")') {
                $('.mn-customer-support').addClass('active');
                $('html, body').animate({
                    scrollTop: $('.' + hash).offset().top - 30
                }, 500);
            }
        }
    });
</script>
