﻿@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Resources.Resources.HOMEPAGE);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WizardCMS.Helpers
<style type="text/css">
	.slide5{
		width: 100%;
		height: 577px;
		background: #ffffff url("@Url.Content("~")Assets/images/slide5/bg.jpg") no-repeat center top;
	}
	.slide6{
		width: 100%;
		height: 570px;
		background: #ffffff url("@Url.Content("~")Assets/images/slide6/sl-pc.png") no-repeat center top;
	}
	.slide7{
		width: 100%;
		height: 570px;
		background: #ffffff url("@Url.Content("~")Assets/images/slide7/sl-pc.jpg") no-repeat center top;
	}
	.slide5 a{
		display: inline-block;ss
		width: 100%;
		height: 100%;
	}
	.slide1, .slide2, .slide3, .slide4, .slide5{
		height: 570px;
	}
	.pagination{
		position: absolute;
		left: 0;
		text-align: center;
		bottom: 115px;
		width: 100%;
		z-index: 1000;
	}
	.swiper-pagination-bullet{
		display: inline-block;
		width: 14px;
		height: 14px;
		margin: 0 3px;
		cursor: pointer;
		background:url("@Url.Content("~")Assets/images/icon/ico-pager.png") no-repeat center center;
		background-position: 0 0;
		opacity: 1;
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active{
		background-position: 0 -14px;
	}
	.wrap-owl-menu .swiper-slide{
		width: auto;
	}
</style>
<!-- content home -->
<div class="home-page">
	<!-- banner tablet -->
	<div class="banner-home">
		<div class="wrap-banpc">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<!--<div class="swiper-slide">
						<div class="slide7"></div>
					</div>-->
					<div class="swiper-slide">
						<div class="slide6"></div>
					</div>
					<div class="swiper-slide" data-activeSL="4">
						<div class="slide4">
							<div class="wrapper">
								<img class="text-sl4" src="@Url.Content("~")Assets/images/slide4/text.png">
								<a class="btn-more2 btn-timhieu" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan"></a>
								<img class="hc-sl4" src="@Url.Content("~")Assets/images/slide4/hc.png">
								<img class="hand-sl4" src="@Url.Content("~")Assets/images/slide4/hand.png">
							</div>
							<div class="bg-light"></div>
						</div>
					</div>
					<!-- <div class="swiper-slide">
						<div class="slide1">
							<div class="wrapper">
								<img class="text1" src="@Url.Content("~")Assets/images/slide1/text1.png">
								<img class="text2" src="@Url.Content("~")Assets/images/slide1/text2.png">
								<img class="so1" src="@Url.Content("~")Assets/images/slide1/so1.png">
								<img class="so2" src="@Url.Content("~")Assets/images/slide1/so2010.png">
								<a class="btn-more2 btn-timhieu" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan"></a>
								<div class="dothi"><img  src="@Url.Content("~")Assets/images/slide1/dothi.png"></div>
							</div>
						</div>
					</div> -->
					<div class="swiper-slide" data-activeSL="2">
						<div class="slide2">
							<div class="wrapper">
								<img class="man" src="@Url.Content("~")Assets/images/slide2/man.png">
								<img class="logo24h" src="@Url.Content("~")Assets/images/slide2/logo24h.png">
								<img class="text1" src="@Url.Content("~")Assets/images/slide2/text1.png">
								<img class="item1" src="@Url.Content("~")Assets/images/slide2/item1.png">
								<img class="item2" src="@Url.Content("~")Assets/images/slide2/item2.png">
								<img class="item3" src="@Url.Content("~")Assets/images/slide2/item3.png">
								<a class="btn-more2 btn-timhieu" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/dich-vu-dien-tu#tong-dai-tra-cuu-giao-dich-chung-khoan-qua-dien-thoai"></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide" data-activeSL="3">
						<div class="slide3">
							<div class="wrapper">
								<img class="phi" src="@Url.Content("~")Assets/images/slide3/phi.png">
								<img class="ipad" src="@Url.Content("~")Assets/images/slide3/ipad.png">
								<img class="iphone" src="@Url.Content("~")Assets/images/slide3/iphone.png">
								<img class="mstock" src="@Url.Content("~")Assets/images/slide3/mstock.png">
								<img class="text1" src="@Url.Content("~")Assets/images/slide3/text1.png">
								<img class="text2" src="@Url.Content("~")Assets/images/slide3/text2.png">
								<a href="https://play.google.com/store/apps/details?id=com.mbs.mstock24&hl=en" title=""><img class="gplay" src="@Url.Content("~")Assets/images/slide3/btn-gplay.png"></a>
								<a href="https://itunes.apple.com/us/app/mstock24/id902140265?mt=8" title=""><img class="appstore" src="@Url.Content("~")Assets/images/slide3/btn-appstore.png"></a>					
								<a class="btn-more2 btn-timhieu" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/dich-vu-dien-tu#giao-dich-chung-khoan-qua-dien-thoai"></a>
								<!-- <a class="btn-tai2 btn-tai" href="javascript: void(0);"></a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination"></div>
		</div>
		<div class="wrap-bntablet">
			<div class="banner-tablet">
				<!--<div class="item"><img src="@Url.Content("~")Assets/images/slide7/sl-tl.jpg" alt=""/></div>-->
				<div class="item"><img src="@Url.Content("~")Assets/images/slide6/sl-tl.png" alt=""/></div>
				<div class="item"><a href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan" title=""><img src="@Url.Content("~")Assets/images/banner/t-home-4.jpg" alt=""/></a></div>
				<!-- <div class="item"><a href="javascript: void(0);" title=""><img src="@Url.Content("~")Assets/images/banner/t-home-1.jpg" alt=""/></a></div> -->
				<div class="item"><a href="javascript: void(0);" title=""><img src="@Url.Content("~")Assets/images/banner/t-home-2.jpg" alt=""/></a></div>
				<div class="item"><a href="javascript: void(0);" title=""><img src="@Url.Content("~")Assets/images/banner/t-home-3.jpg" alt=""/></a></div>
			</div>
		</div>
		<div class="wrap-bnmobile">
			<div class="banner-mobile">
				<!--<div class="item">
					<img src="@Url.Content("~")Assets/images/slide7/sl-mb.jpg" alt=""/>
				</div>-->
				<div class="item">
					<img src="@Url.Content("~")Assets/images/slide6/sl-mb.png" alt=""/>
				</div>
				<div class="item">
					<img src="@Url.Content("~")Assets/images/banner/m-home-4.jpg" alt=""/>
					<a class="vns-mb five" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-more.png" alt=""/>
					</a>
				</div>
				<!-- <div class="item">
					<img src="@Url.Content("~")Assets/images/banner/m-home-1.jpg" alt=""/>
					<a class="vns-mb one" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/moi-gioi-chung-khoan" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-more.png" alt=""/>
					</a>
				</div> -->
				<div class="item">
					<img src="@Url.Content("~")Assets/images/banner/m-home-2.jpg" alt=""/>
					<a class="vns-mb two" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/dich-vu-dien-tu#item_click3" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-more.png" alt=""/>
					</a>
				</div>
				<div class="item">
					<img src="@Url.Content("~")Assets/images/banner/m-home-3.jpg" alt=""/>
					<a class="vns-mb three" href="@Url.Content("~")vi/khach-hang-ca-nhan/dich-vu-chung-khoan/dich-vu-dien-tu#item_click2" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-more.png" alt=""/>
					</a>
					<a class="vns-mb four" href="https://itunes.apple.com/us/app/mstock24/id902140265?mt=8" title="">
						<img src="@Url.Content("~")Assets/images/btn/m-btn-down.png" alt=""/>
					</a>
				</div>
			</div>
		</div>
		<div class="slide-hun">
			<div class="title-hun">@Html.Raw(StringHelper.lang("text_dvdt_home"))</div>
			<div class="border-carousel">
				<div class="text-title left">
					<!-- <img src="@Url.Content("~")Assets/images/text/dvdt.png" alt="" /> -->
					<div>
						@Html.Raw(StringHelper.lang("text_dv_dientu_home"))
					</div>
				</div>
				<div class="carousel-content left">
					<div id="owl-example" class="owl-carousel">
                    @if (ViewBag.fastLinks != null)
                    {
                        foreach (var item in ViewBag.fastLinks)
                        {
						<!-- <div class="item-list">
							<a href="@(string.IsNullOrEmpty(item.LINK) ? "javascript:void(0)" : item.LINK)" target="_blank">
								<div class="bd-text bd-text_hv">
									<img src="@item.ICON_HOVER" alt="" />
								</div>
								<div class="bd-text bd-text_nm">
									<img src="@item.ICON" alt="" />
								</div>
								<div class="bg"></div>
								<img class="img" src="@(CommonHelper.Img(item.IMAGE, 192, 100))" alt="" />
							</a>
						</div> -->
						<div class="item-list">
							<a href="@(string.IsNullOrEmpty(item.LINK) ? "javascript:void(0)" : item.LINK)" target="_blank">
								<div class="bd-text bd-text_hv">
									<div class="tbl">
										<div class="tbl-cell">
											<img src="@item.ICON_HOVER" alt="@StringHelper.StripTags(item.NAME)" width='189' />
											<div class="text">@StringHelper.post_title(item.NAME)</div>
										</div>
									</div>
								</div>
								<div class="bd-text bd-text_nm">
									<div class="tbl">
										<div class="tbl-cell">
											<img src="@item.ICON" alt="@StringHelper.StripTags(item.NAME)" width='189' />
											<div class="text">@StringHelper.post_title(item.NAME)</div>
										</div>
									</div>
								</div>
								<div class="bg"></div>
								<img class="img" src="@(StringHelper.base_url() + CommonHelper.Img(item.IMAGE, 192, 100))" alt="" />
							</a>
						</div>
                        }
                    }
					</div>
				</div>
				<div class="clearAll"></div>
			</div>
		</div>
	</div>
	<!-- banner tablet -->
	<div class="wrap-home">
        @if (ViewBag.services != null)
        {
            int i = 0;
            foreach (KeyValuePair<WizardCMS.Models.ArticleViewModel, List<WizardCMS.Models.ArticleViewModel>> pair in ViewBag.services)
            {
		        <div class="item-home @(i == 0 || i == 1 ? "type-one" : "") item-hover left" style="height:349px">
		            <img class="img" src="@Url.Content("~")@(CommonHelper.Img(pair.Key.THUMBNAIL, 640, 349))" alt="@pair.Key.TITLE" />
		            <div class="bg-hv"></div>
		            <div class="bg-hv-full"></div>
		            <div class="info-hover">
		    	        <div class="title-rbt">
		    		        @Html.Raw(StringHelper.lang(pair.Key.SLUG))
		    	        </div>
		    	        <ul class="link">
                            @if (pair.Value != null)
                            {
                                int j = 0;
                                foreach (var item in pair.Value)
                                {
                                    //update 09-11-2015 ho tro tai chinh kh to chuc => khach hang ca nhan
                                    if (item.ID == 119 && ViewBag.personalSupport != null)
                                    {
					                <li><a class="@StringHelper.NumberToText(j + 1)" title="@Html.Raw(ViewBag.personalSupport.TITLE)" href="@StringHelper.base_url_lang()@ViewBag.personalSupport.LINK">@Html.Raw(HttpUtility.HtmlDecode(ViewBag.personalSupport.TITLE))</a></li>
                                    }
                                    else
                                    {
					                <li><a class="@StringHelper.NumberToText(j + 1)" title="@Html.Raw(item.TITLE)" href="@StringHelper.base_url_lang()@item.LINK">@Html.Raw(item.TITLE)</a></li>
                                    }
                                    j++;
                                }
                            }
				        </ul>
				        <a class="btn-find-more" href="@StringHelper.base_url_lang()@pair.Key.LINK" title="@Html.Raw(pair.Key.TITLE)"></a>
		            </div>
		        </div>
                

                // Chèn thêm mục chứng khoán phái sinh vào vị trí thứ 2
                if (i == 0)
                { 
                    <div class="item-home item-hover left type-one" style="height:349px">
		                <img class="img" src="/Assets/images/640x349/ckps.jpg" alt="Chứng khoán phái sinh" />
		                <div class="bg-hv"></div>
		                <div class="bg-hv-full"></div>
		                <div class="info-hover">
		    	            <div class="title-rbt">
		    		            <p>Chứng khoán</p><p>Phái sinh</p>
		    	            </div>
		    	            <ul class="link">
					            <li><a class="one" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_tintuc_tt_ckps")">Tin tức thị trường</a></li>
                                <li><a class="two" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hd_huongdan_gd")">Hướng dẫn khách hàng</a></li>
					            <li><a class="three" title="" href="@StringHelper.base_url_lang()goc-truyen-thong/van-ban-phap-luat/tai-lieu-tham-khao-br-chung-khoan-phai-sinh">Văn bản pháp luật</a></li>
					            <li><a class="four" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")">Hội thảo</a></li>
                                <!--<li><a class="three" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tl_tham_khao_ckps")">References Documents</a></li>-->
					            <li><a class="five" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")#23">Câu hỏi và giải đáp</a></li>
				            </ul>
		                </div>
		            </div>
                                                                                          
                    // Chèn thêm mục chứng quyền có đảm bảo vào vị trí thứ 3
                    <div class="item-home item-hover left" style="height:349px">
		                <img class="img" src="/Assets/images/640x349/CQ-CBD.jpg" alt="Chứng quyền có bảo đảm" />
		                <div class="bg-hv"></div>
		                <div class="bg-hv-full"></div>
		                <div class="info-hover">
		    	            <div class="title-rbt">
		    		            <p>Chứng quyền</p><p>Có bảo đảm</p>
		    	            </div>
		    	            <ul class="link">
					            <li><a class="one" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cq_huongdan_gd")">Hướng dẫn giao dịch</a></li>
                                <li><a class="two" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cq_thongtin")">Thông tin chứng quyền MBS</a></li>
					            <li><a class="three" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cq_thongtin_tt")">Thông tin Thị trường</a></li>
					            <li><a class="four" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cq_dinh_gia")">Định giá chứng quyền theo BS</a></li>
					            <li><a class="five" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")#25">Câu hỏi và giải đáp</a></li>
				            </ul>
		                </div>
		            </div>
                }
                else if (i == 1)
                {
                    // Chèn thêm mục chứng quyền có đảm bảo vào vị trí thứ 5
                    <div class="item-home item-hover left type-one" style="height:349px">
		                <img class="img" src="/Assets/images/640x349/SP-TP-MBOND.jpg" alt="Sản phẩm Trái phiếu MBond" />
		                <div class="bg-hv"></div>
		                <div class="bg-hv-full"></div>
		                <div class="info-hover">
		    	            <div class="title-rbt">
		    		            <p>Sản phẩm</p><p>Trái phiếu MBond</p>
		    	            </div>
		    	            <ul class="link">
					            <li><a class="one" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tp_san_pham")">Sản phẩm MBond</a></li>
                                <li><a class="two" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tp_danhmuc")">Danh mục trái phiếu</a></li>
					            <li><a class="three" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tp_quytrinh_gd")">Quy trình giao dịch</a></li>
					            <li><a class="four" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")#26">Câu hỏi và giải đáp</a></li>
                                <li><a class="five" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tp_lienhe")">Liên hệ</a></li>
				            </ul>
		                </div>
		            </div>
                }

                i++;
            }
        }
        
        <div class="item-home tag tall left" style="height:349px">
            <div class="tag-home2">
		    	<img src="@Url.Content("~")Assets/images/img/home-4.jpg" alt=""/>
		    	<a href="@StringHelper.lang("slug_tt_phantich")" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("du_lieu_thi_truong"))
		    		</span>
	    		</a>
    		</div>
        </div>

		<div class="item-home tall left type-one" style="height:170px">
            @if (ViewBag.Hotnews != null && ViewBag.Hotnews.Count > 0)
            {
		    <img class="img" src="@Url.Content("~")Assets/images/img/stock-thumbnail.jpg" alt="Hot news"/>
		    <div class="bg-hv"></div>
		    <div class="bg-hv-full"></div>
		    <div class="news-info">
		    	<div class="title-news">@StringHelper.lang("text_tintuc_mbs")</div>
		    	<div class="desc-news">
		    		<a href="@StringHelper.base_url_lang()@ViewBag.Hotnews[0].LINK" title="@Html.Raw(ViewBag.Hotnews[0].TITLE)">@CommonHelper.CutText(Server.HtmlDecode(ViewBag.Hotnews[0].TITLE), 50)</a>
		    		<div class="date">@DatetimeHelper.LastUpdateTime(ViewBag.Hotnews[0].CREATED)</div>
		    		<div class="info">@CommonHelper.CutText(@ViewBag.Hotnews[0].DESCRIPTION, 100)</div>
		    	</div>
		    </div>
            }
		</div>

		<div class="item-home tag tall left type-one">
		    <div class="tag-home3 events">
		    	<img src="@Url.Content("~")Assets/images/img/home-5.jpg" alt=""/>
		    	<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_lich_sk")" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("lich_su_kien"))
		    		</span>
		    	</a>
    		</div>
		</div>

        <div class="item-home tag tall left">
		    <div class="tag-home3">
		    	<img src="@Url.Content("~")Assets/images/img/home-6.jpg" alt=""/>
		    	<a href="@Url.Content("~")vi/cham-soc-khach-hang/hoi-thao-dao-tao" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("hoi_thao_dao_tao"))
		    		</span>
		    	</a>
    		</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- end content home -->
