﻿@{
    Layout = null;
}
@{
    string cssStyle = "";
}
<script type="text/javascript">
    function UpdateStatus(moduleId) {
        var ajaxUrl = root + "Modules/UpdateStatus/";
        var page = $("#currentPage").val();
        var perpage = $("#per_page").val();
        $("#loader").show();
        $.ajax({
            type: 'POST',
            url: ajaxUrl,
            data: { id: moduleId, page: page, perpage: perpage },
            success: function (content) {
                $("#loader").hide();
                if (content != null && content != "") {
                    $("#ajax_loadMenuAdmin").load(ajaxUrlMenu);
                    $("#ajax_loadContent").html(content);
                    //document.location.reload(true);
                }
            }

        });
    }
</script>
<div style="float: right; height: 128px;">
    <div class="midNav">
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                @if (Model != null)
                {
                    cssStyle = "display: none;";
                }
                <div class="gr_perm_error" style="@cssStyle">
                    <p>
                        <strong>FAILURE: </strong>Permission Denied.</p>
                </div>
                <div class="gr_perm_success" style="display: none;">
                    <p>
                        <strong>SAVE SUCCESS.</strong></p>
                </div>
                @if (Model != null)
                {
                    <div class="table">
                        <div class="head_table">
                            <div class="head_title_table">
                                Manager Module
                            </div>
                        </div>
                        <div id="ajax_loadContent">
                            @RenderPage("~/Views/BackEnd/Module/AjaxContent.cshtml")
                        </div>
                    </div>
                }
            </div>
        </td>
    </tr>
</table>
