﻿@model WizardCMS.Models.ModuleModel
@{
    string cssClass = "";
}

<script type="text/javascript">
    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback 
            success: showResponse  // post-submit callback 
        };
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if ($.trim(form.moduleNameAdmincp.value) == '') {
            $('#loader').fadeOut(0);
            alert('Vui lòng điền đầy đủ thông tin.');
            
            return false;
        }
    }

    function showResponse(responseText) {
        if (responseText == 'success') {
            location.href = root + "admincp/" + module + "/#/save";
        }
        if (responseText == 'name-module-exist') {
            $('#txt_error').html('name-module-exist');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        if (responseText == 'fault') {
            $('.gr_perm_error').html('An error has been occured. The server cannot connect to the database');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission Denied.');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
    }
    function show_error() {
        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>
<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@Url.Content("~")admincp/modules/#/back'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" onclick="save()"><span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display:none;">
	                <p><strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">Manager Modules</div>
                    </div>
                    <div class="clearAll"></div>
                    <form id="frmManagement" action='@Url.Content("~")Modules/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.ID" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    @if (Model.STATUS == 1)
                                    {
                                        cssClass = "jqTransformChecked";
                                    }
                                    <td class="right_text_field">
                                        <input checked="checked" type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Module name:
                                    </td>
                                    <td class="right_text_field">
                                        <input value="@(Model.NAME)" type="text" name="moduleNameAdmincp" id="acpro_inp2" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Priority:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null){@Model.PRIORITY}
                                                  else { @Html.Raw("0"); }" type="text" name="priority" class="priority" id="priority" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
