﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-nganhangdautu.jpg) center center">
	<div class="wrapper">
		<span>@(ViewBag.parent != null ? Html.Raw(ViewBag.parent.TITLE) : Html.Raw(Model.TITLE))</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="banking-services">
				<div class="banking-share">
					<div class="info">
                        @Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))
					</div>
                    <div id="content_list">
					    <div class="banking-business">
                            @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                            {
                                int i = 0;
                                foreach (var child in ViewBag.childs)
                                {
					                @(i % 3 == 0 ? Html.Raw("<div class='banking-business-all'>"):Html.Raw(""))
                                    <div class="banking-business-it">
								        <a href="javascript:void(0);" title="@Html.Raw(child.TITLE)">
									        <img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 231, 168))" alt="@Html.Raw(child.TITLE)" title="@Html.Raw(child.TITLE)" />
									        <p>
										        <span class="tit">@Html.Raw(child.TITLE)</span>
										        <span class="text">@Html.Raw( CommonHelper.CutText(child.DESCRIPTION, 220))</span>
										        <img src="@Url.Content("~")Assets/images/icon/tamgiac-tv.png" alt="" title="" />
									        </p>
								        </a>
							        </div>
                                    @( (i + 1) % 3 == 0 || ((i + 1) % 3 != 0 && (i + 1) == ViewBag.childs.Count ) ? Html.Raw("<div class='clear'></div></div>") : Html.Raw(""))
                                    i++;
                                }
                            }
                            else
                            { 
                                <div class="no-data">@StringHelper.lang("text_cap_nhat")</div>
                            }
					    </div>

                        @if (!string.IsNullOrEmpty(ViewBag.pagination))
                        {
                            <div class='paging'>
                                @Html.Raw(ViewBag.pagination)
                            </div>
                        }
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: "",
            dateTo: "",
            searchText: "",
            parrent: parrent
        }, function (e) {
            $("#content_list").html(e);
            scrollToDiv("content_list");
            setTimeout(function(){
                if($(".banking-business-all .banking-business-it").length > 0){
                    var h = 0;
                    $(".banking-business-all .banking-business-it").attr('style','');
                    $(".banking-business-all .banking-business-it").each(function(){
                        if($(this).height() > h){
                            h = $(this).height();
                        }
                    });
                    $(".banking-business-all .banking-business-it").css({
                        height: h
                    });
                }
            }, 100);
        })
    }
</script>
