﻿@using WizardCMS.Helpers
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.ArticleViewModel>
           @if (ViewBag.term != null)
{
    <div class="text-faq">@ViewBag.term.NAME</div>
}
@if (!string.IsNullOrEmpty(ViewBag.search_text))
{
    <div class="text-faq result"><span>@StringHelper.lang("text_ket_qua")</span> "@ViewBag.search_text"</div>
}
@if (Model != null && Model.Count > 0)
{
    int i = 0;
    foreach (var child in Model)
    {
        <div class="it-supp @(i == 0 ? "" : "")">
			<div class="ques">@Html.Raw(child.TITLE)</div>
			<div class="ans">@Html.Raw(child.CONTENT)</div>
		</div>
               i++;
    }
}
else
{
    <div class='no-data'>@StringHelper.lang("text_no_data")</div> 
}
@if (ViewBag.services != null)
{
<div class="more-service">
	<div class="tb-service">
		<div class="title-ser">@StringHelper.lang("dich-vu-lien-quan")</div>
		<div class="list-ser">
        @foreach (var item in ViewBag.services)
        {
			<a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a>
        }
		</div>
	</div>
</div>
}