﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.TermViewModel
@{
    string cssClass = "";

    string ParrentPath = "";
    string category = Request.QueryString["category"];

    string backlink = Url.Content("~") + "admincp/" + ViewBag.module + "/#/back";

    var services = Model != null && !string.IsNullOrEmpty(Model.SERVICES) ? Model.SERVICES.Split(',') : new string[] { };
}

<script src="@Url.Content("~")Assets/js/jquery.numeric.js" type="text/javascript"></script>
<script type="text/javascript">
`    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });

        $(".priority").numeric();

        //$('.fancybox').fancybox();

        //lang switcher
        $('#lang_switch').tabs();
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if (form.name_vi.value == '') {
            $('#txt_error').html('Chưa nhập tên danh mục.');
            $('#loader').fadeOut(300);
            show_error();
            show_content('vi');
            $('input[name="name_vi"]').addClass('error-fr');
            $('.error_template').fadeIn();
            return false;
        }
        if (form.name_en.value == '') {
            $('#loader').hide();
            alert('Chưa nhập tên danh mục (tiếng Anh).');
            show_content('en');
            $('input[name="name_en"]').addClass('error-fr');
            $('.error_template').fadeIn();
            return false;
        }

        if (form.taxonomy.value == '' || form.taxonomy.value == '0') {
            $('#loader').hide();
            alert('Chưa chọn taxonomy.');
            $('.error_template').fadeIn();
            return false;
        }

        var order = $("#priority").attr("value");
        if (order == "") {
            order = parseInt(0);
        }
        if (order >= 32767) {
            $('#loader').hide();
            alert('Thứ tự: Nhập số quá lớn. Số không lớn hơn 32.767');
            $('input[name="order"]').addClass('error-fr');
            return false;
        }
        if (order < 0) {
            $('#loader').hide();
            alert('Thứ tự: Không nhập số âm');
            $('input[name="order"]').addClass('error-fr');
            return false;
        }

    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            var parrent = $("#save_id").attr("class");
            location.href = root + "admincp/" + module + trail + "&save=1";
        } else if (responseText == 'ERROR_SLUG') {
            alert('Ten danh mục bị trùng');
            $('#loader').hide();
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }
    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>

<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" class="@ParrentPath" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">
                            Manager @ViewBag.module</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")@ViewBag.module/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null) { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @if (Model != null)
                                               {
                                                   if (Model.STATUS == 1)
                                                   { 
                                                       @Html.Raw("checked = 'checked'") }
                                               }
                                               else
                                               {
                                                       @Html.Raw("checked = 'checked'") 
                                               } type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Group:
                                </td>
                                <td class="right_text_field">
                                    <select name="taxonomy" id="taxonomy" style="width: 200px; height: 24px;">
                                        <option value="0">[ Group ]</option>
                                        <!-- option list -->
                                        @if (ViewBag.Taxonomies != null)
                                        {
                                            foreach (var item in ViewBag.Taxonomies)
                                            {
                                                <option value="@item.ID" @(Model != null&&Model.TAXONOMY_ID==item.ID?"selected":"")>@item.NAME</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field row-faq">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Services:
                                </td>
                                <td class="right_text_field">
                                    <div class='wrap-item mt10'>
                                        <h4>Khách hàng cá nhân</h4>
                                        <div>
                                            @if (ViewBag.dv_canhan != null)
                                            {
                                                foreach (var item in ViewBag.dv_canhan)
                                                {
                                                    <div class=' mt10 mb5'>@item.Title</div>
                                                    <div class=''>
                                                    @if (item.lstSubMenu != null)
                                                    {
                                                        foreach (var sub in item.lstSubMenu)
                                                        {
                                                            string sub_id = sub.Id.ToString();
                                                        <div class='check-item'>
                                                            <input type="checkbox" @(services.Contains(sub_id) ? "checked" : "") name="checkbox" value="@sub.Id" /> @sub.Title</div>
                                                        }
                                                    }
                                                        <div class="clearAll"></div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class='wrap-item mt10'>
                                        <h4>Khách hàng tổ chức</h4>
                                        <div>
                                            @if (ViewBag.dv_tochuc != null)
                                            {
                                                foreach (var item in ViewBag.dv_tochuc)
                                                {
                                                    <div class=' mt10 mb5'>@item.Title</div>
                                                    <div class=''>
                                                    @if (item.lstSubMenu != null)
                                                    {
                                                        foreach (var sub in item.lstSubMenu)
                                                        {
                                                            string sub_id = sub.Id.ToString();
                                                        <div class='check-item'>
                                                            <input type="checkbox" @(services.Contains(sub_id) ? "checked" : "") name="checkbox" value="@sub.Id" /> @sub.Title</div>
                                                        }
                                                    }
                                                        <div class="clearAll"></div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Priority:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null)
                                                  {@Model.PRIORITY}
                                                  else
                                                  { @Html.Raw("0");
                                                  }" type="text" name="priority" class="priority" id="priority" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="text-align:center;">
					                <div id="lang_switch">
						                <ul>
							                <li><a href="#tab-lang-vi" data-lang="vi" class="nav-tab-lang tab-lang-vi"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_vi.png" alt=""/></span>Tiếng Việt</a></li>
                                            <li><a href="#tab-lang-en" data-lang="en" class="nav-tab-lang tab-lang-en"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_en.png" alt=""/></span>English</a></li>
						                </ul>
						                
                                        @{
                                            TermContent content_translate = Model != null ? TermServices.GetTermContentByLang(Model.ContentTranslates, "vi") : null;
                                        }
                                        <div id="tab-lang-vi" class="w_content">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Name (Tiếng Việt):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="name_vi" id="name_vi" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.NAME)}" onblur="checkInp(this.value,'name_vi')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Description (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field">
                                                            <textarea name="description_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                             {@Html.Raw(content_translate.DESCRIPTION)}</textarea>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- ENGLISH CONTENT HERE -->
                                        @{
                                            content_translate = Model != null ? TermServices.GetTermContentByLang(Model.ContentTranslates, "en") : null;
                                        }
                                        <div id="tab-lang-en" class="w_content" style="">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Name (English):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="name_en" id="name_en" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.NAME)}" onblur="checkInp(this.value,'name_en')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Description (English):
                                                        </td>
                                                        <td class="right_text_field">
                                                            <textarea name="description_en" cols="" rows="8">@if (content_translate != null)
                                                                                                             {@Html.Raw(content_translate.DESCRIPTION)}</textarea>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
						                
					                </div>
				                </td>
                            </tr>
                        </table>
                        
                    </div>
                    
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function(){
        $('#taxonomy').live("change", function(){
            var val = $(this).val();
            console.log(val);
            if (val == 1) {
                $('.row-faq').show();
            } else {
                $('.row-faq').hide();
            }

        });
        $('#taxonomy').trigger('change');
    });
</script>
