﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.ArticleViewModel
@{
    string cssClass = "";

    string ParrentPath = "";
    string category = Request.QueryString["category"];

    if (Session["parentId"] != null)
    {
        ParrentPath = Session["parentId"] as string;
    }
    if (ParrentPath != "")
    {
        ParrentPath = "/" + ParrentPath;
    }

    string backlink = Url.Content("~") + "admincp/article" + ParrentPath + "/#/back";
    string trail = "";

    if (category != string.Empty && category != "all" && category != "menu")
    {
        backlink = Url.Content("~") + "admincp/article" + ParrentPath + "?category=" + category;

        trail = "?category=" + category;
    }
}

<script src="@Url.Content("~")Assets/js/jquery.numeric.js" type="text/javascript"></script>
<script type="text/javascript" src="@(StringHelper.base_url()+"Assets/admin/editor/ckfinder/ckfinder.js")"></script>
<script type="text/javascript">
    var trail = '@trail';
    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });
        $(".priority").numeric();
        MaxAllowSize = @ViewBag.MaxAllowSize;
        if(MaxAllowSize != null){
            //alert("Oh Yeah");
        }
        else{
            MaxAllowSize = 3;
        }

        $('.fancybox').fancybox();
        //lang switcher
        $('#lang_switch').tabs();

        $("#template").live("change", function(){
            if ($(this).val() == '@Constants.TEMPLATE_BAO_CAO'){
                $('.row_report_template').show();
            } else {
                $('.row_report_template').hide();
            }
        });

        $("#template").trigger("change");

        /*
        $("#btnSelectImg_vi").click(function () {
		    var $this =$(this);
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#image_vi').val(fileUrl);
                $this.parent().find('.preview-image').attr('src',fileUrl).css('height','150px');
                $this.parent().find('.fancybox').attr('href',fileUrl);
            };
            finder.popup();
        });

        $("#btnSelectImg_en").click(function () {
		    var $this =$(this);
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#image_en').val(fileUrl);
                $this.parent().find('.preview-image').attr('src',fileUrl).css('height','150px');
                $this.parent().find('.fancybox').attr('href',fileUrl);
            };
            finder.popup();
        });
        */
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }       
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if (form.title_vi.value == '') {
            $('#txt_error').html('Chưa nhập tiêu đề bài viết.');
            $('#loader').fadeOut(300);
            show_error();
            show_content('vi');
            $('input[name="title_vi"]').addClass('error-fr');
            scrollTo('#image_vi');
            $('.error_template').fadeIn();
            return false;
        }
//        if (form.title_en.value == '') {
//            $('#loader').hide();
//            alert('Bạn chưa nhập ngôn ngữ tiếng anh.');
//            show_content('en');
//            $('input[name="title_vi"], textarea[name="title_en"]').addClass('error-fr');
//            scrollTo('#banner_en');
//            $('.error_template').fadeIn();
//            return false;
//        }
        var order = $("#order").attr("value");
        if (order == "") {
            order = parseInt(0);
        }
        if (order >= 32767) {
            $('#loader').hide();
            alert('Bạn nhập số quá lớn. Số không lớn hơn 32767');
            $('input[name="order"]').addClass('error-fr');
            return false;
        }
        if (order < 0) {
            $('#loader').hide();
            alert('Bạn không nhập số âm');
            $('input[name="order"]').addClass('error-fr');
            return false;
        }

    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            //alert("success");
            var parrent = $("#save_id").attr("class");
            //            if (parrent != null) {
            //                parrent = "/" + parrent;
            //            }
            location.href = root + "admincp/" + module + trail + "&save=1";
        } else if (responseText == 'ERROR_SLUG') {
            alert('Tiêu đề bị trùng');
            $('#loader').hide();
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }
    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>

<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" class="@ParrentPath" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">
                            Manager Article</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")Article/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null) { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @if (Model != null)
                                               {
                                                   if (Model.STATUS == 1)
                                                   { 
                                                       @Html.Raw("checked = 'checked'") }
                                               }
                                               else
                                               {
                                                       @Html.Raw("checked = 'checked'") 
                                               } type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Option:
                                </td>
                                <td class="right_text_field">
                                    <div class="chk_group">
						                <div class="group_item first">
							                <div class="item_inp"><input @(Model != null && Model.FEATURED == 1 ? Html.Raw("checked ='checked'") : Html.Raw("") ) type="checkbox" class="custom_chk" name="featured" id="featured" /></div>
							                <div class="item_lable">Featured</div>
							                <div class="clearAll"></div>
						                </div>
						                <div class="group_item" style='display: block;'>
							                <div class="item_inp"><input @(Model != null && Model.MAIN_MENU == 1 ? Html.Raw("checked ='checked'") : Html.Raw("") ) type="checkbox" class="custom_chk" name="main_menu" /></div>
							                <div class="item_lable">Main Menu</div>
							                <div class="clearAll"></div>
						                </div>
						                <div class="group_item" style='display: block;'>
							                <div class="item_inp"><input @(Model != null && Model.ADMIN_SUBMENU == 1 ? Html.Raw("checked ='checked'") : Html.Raw("") ) type="checkbox" class="custom_chk" name="admin_submenu" /></div>
							                <div class="item_lable">Admin Sub Menu</div>
							                <div class="clearAll"></div>
						                </div>
						                <div class="clearAll"></div>
					                </div>
					                <div class="row-guide mt10">
						                <p>Featured: featured article.</p>
						                <p style='display: block;'>Main menu: is main menu.</p>
                                        <p style='display: block;'>Admin Sub menu: Left management sub menu in admin.</p>
					                </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Template:
                                </td>
                                <td class="right_text_field">
                                    <select name="template" id="template" style="width: 200px; height: 24px;">
                                        @foreach (var tem in Constants.LIST_TEMPLATE)
                                        {
                                            <option value="@tem.Value" @(Model != null&&Model.TEMPLATE == tem.Value?Html.Raw("selected"):Html.Raw(""))>@tem.Name</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field row_report_template">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Year Report:
                                </td>
                                <td class="right_text_field">
                                    <select name="year_report" id="year_report" style="width: 200px; height: 24px;">
                                        @for (int i = DateTime.Now.Year; i > 2005; i-- )
                                        {
                                            <option value="@i" @(Model != null && Model.YEAR_REPORT == i ? Html.Raw("selected") : Html.Raw(""))>@i</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Category:
                                </td>
                                <td class="right_text_field">
                                    <select name="parent_id" id="parent_id" style="width: 200px; height: 24px;">
                                        <option value="0">[ Category ]</option>
                                        <!-- option list -->
                                        @if (ViewBag.OptionList != null)
                                        {
                                            @Html.Raw(ViewBag.OptionList)
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Priority:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null){@Model.PRIORITY}
                                                  else { @Html.Raw("0"); }" type="text" name="priority" class="priority" id="priority" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="text-align:center;">
					                <div id="lang_switch">
						                <ul>
							                <li><a href="#tab-lang-vi" class="nav-tab-lang tab-lang-vi"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_vi.png" alt=""/></span>Tiếng Việt</a></li>
                                            <li><a href="#tab-lang-en" class="nav-tab-lang tab-lang-en"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_en.png" alt=""/></span>English</a></li>
						                </ul>
						                
                                        @{
                                            ArticleContent content_translate = Model != null ? ArticlesServices.GetArticleContentByLang(Model.ContentTranslates, "vi") : null;
                                        }
                                        <div id="tab-lang-vi" class="w_content">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Title (Tiếng Việt):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="title_vi" id="title_vi" value="@if (content_translate != null)
                                                                                                                    {@Html.Raw(content_translate.TITLE)}" onblur="checkInp(this.value,'title_vi')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Sub Title (Tiếng Việt):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="sub_title_vi" id="sub_title_vi" value="@if (content_translate != null)
                                                                                                                            {@Html.Raw(content_translate.SUB_TITLE)}" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Image (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field" valign="middle">
                                                            <input type="file"  id="image_vi" name="image_vi" />
                                                            @if (content_translate != null && !string.IsNullOrEmpty(content_translate.IMAGE))
                                                            {
                                                                <a class="fancybox" href="@(Url.Content("~") + Constants.DIR_ARTICLE + content_translate.IMAGE)">
                                                                    <img id="image_vi_preview" class="preview-image" src="@Url.Content("~")@CommonHelper.Img(Url.Content("~") + content_translate.IMAGE, 200, 150)" alt="" />
                                                                </a>
                                                            }
                                                            <div class="guide">Dung lượng file upload tối đa: 3MB</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            File (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field" valign="middle">
                                                            <input type="file"  id="file_vi" name="file_vi" />
                                                            @if (content_translate != null && !string.IsNullOrEmpty(content_translate.ATTACHMENT))
                                                            {
                                                                <a class="" target="_blank" href="@(Url.Content("~") + Constants.DIR_FILES + content_translate.ATTACHMENT)">Review</a>
                                                            }
                                                            <div class="guide">Dung lượng file upload tối đa: 20MB</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Descripition (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field">
                                                            <textarea name="description_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                             {@Html.Raw(content_translate.DESCRIPTION)}</textarea>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Content Body (Tiếng Việt):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="content_vi" id="content_vi" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.CONTENT}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#content_vi').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>


                                        <!-- ENGLISH CONTENT HERE -->
                                        @{
                                            content_translate = Model != null ? ArticlesServices.GetArticleContentByLang(Model.ContentTranslates, "en") : null;
                                        }
                                        <div id="tab-lang-en" class="w_content" style="">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Title (English):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="title_en" id="title_en" value="@if (content_translate != null)
                                                                                                                    {@Html.Raw(content_translate.TITLE)}" onblur="checkInp(this.value,'title_en')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Sub Title (English):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="sub_title_en" id="sub_title_en" value="@if (content_translate != null)
                                                                                                                            {@Html.Raw(content_translate.SUB_TITLE)}" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Image (English):
                                                        </td>
                                                        <td class="right_text_field" valign="middle">
                                                            <input type="file"  id="image_en" name="image_en" value=""/>
                                                            @if (content_translate != null && !string.IsNullOrEmpty(content_translate.IMAGE))
                                                            {
                                                                <a class="fancybox" href="@(Url.Content("~") + Constants.DIR_ARTICLE + content_translate.IMAGE)">
                                                                    <img id="image_en_preview" class="preview-image" src="@Url.Content("~")@CommonHelper.Img(Url.Content("~") + content_translate.IMAGE, 200, 150)" alt="" />
                                                                </a>
                                                            }
                                                            <div class="guide">Dung lượng file upload tối đa: 3MB</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            File (English):
                                                        </td>
                                                        <td class="right_text_field" valign="middle">
                                                            <input type="file"  id="file_en" name="file_en" />
                                                            @if (content_translate != null && !string.IsNullOrEmpty(content_translate.ATTACHMENT))
                                                            {
                                                                <a class="" target="_blank" href="@(Url.Content("~") + Constants.DIR_FILES + content_translate.ATTACHMENT)">Review</a>
                                                            }
                                                            <div class="guide">Dung lượng file upload tối đa: 20MB</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Descripition (English):
                                                        </td>
                                                        <td class="right_text_field">
                                                            <textarea name="description_en" cols="" rows="8">@if (content_translate != null)
                                                                                                             {@Html.Raw(content_translate.DESCRIPTION)}</textarea>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Content Body (English):
                                                        </td>
                                                        <td class="right_text_field" style="padding-right: 0px;">
                                                            <textarea class='' name="content_en" id="content_en" cols="" rows="8">@if (content_translate != null)
                                                                                                                                  {@content_translate.CONTENT}</textarea>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#content_en').editor();
                                                                });
		                                                    </script>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
						                
					                </div>
				                </td>
                            </tr>
                        </table>
                        
                    </div>
                    
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    var category = '@category';
    var current = '@if (Model != null)
                   { @Model.ID }';
    if (category != '' && category != "all" && category != "menu" && category != current) {
        $('#parent_id').val(category);
    }
</script>
