﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.TranslateViewModel
@{
    string cssClass = "";

    string ParrentPath = "";
    string backlink = Url.Content("~") + "admincp/" + ViewBag.module + "/#/back";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });

        //$('.fancybox').fancybox();

        //lang switcher
        $('#lang_switch').tabs();
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if (form.slugAdmincp.value == '') {
            $('#txt_error').html('Chưa nhập slug.');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        if (form.textViAdmincp.value == '') {
            $('#loader').hide();
            alert('Chưa nhập text tiếng Việt.');
            $('input[name="textViAdmincp"]').addClass('error-fr');
            $('.error_template').fadeIn();
            return false;
        }

        if (form.textEnAdmincp.value == '') {
            $('#loader').hide();
            alert('Chưa nhập text tiếng Anh.');
            $('.error_template').fadeIn();
            return false;
        }
    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            var parrent = $("#save_id").attr("class");
            location.href = root + "admincp/" + module + trail + "&save=1";
        } else if (responseText == 'ERROR_SLUG') {
            alert('Ten danh mục bị trùng');
            $('#loader').hide();
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }
    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>

<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" class="@ParrentPath" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">Manager @ViewBag.module</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")@ViewBag.module/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null) { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @(Model!=null&&Model.STATUS==1?"checked = 'checked'":"") type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Slug:
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="slugAdmincp" id="slugAdmincp" value="@(Model!=null?Model.SLUG:"")" onblur="checkInp(this.value,'slugAdmincp')"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Text VI:
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="textViAdmincp" id="textViAdmincp" value="@(Model!=null?Model.TEXT_VI:"")" onblur="checkInp(this.value,'textViAdmincp')"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Text EN:
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="textEnAdmincp" id="textEnAdmincp" value="@(Model!=null?Model.TEXT_EN:"")" onblur="checkInp(this.value,'textEnAdmincp')"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
