﻿@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Resources.Resources.HOMEPAGE);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WizardCMS.Helpers
<style type="text/css">
	.slide1 a, .slide2 a, .slide3 a, .slide4 a{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	.slide1, .slide2, .slide3, .slide4{
		height: 570px;
	}
    .slide1{
        background: #ffffff url("@Url.Content("~")Assets/images/banner/en/home-4.jpg") no-repeat center top;
    }
    .slide2{
        background: #ffffff url("@Url.Content("~")Assets/images/banner/en/home-1.jpg") no-repeat center top;
    }
    .slide3{
        background: #ffffff url("@Url.Content("~")Assets/images/banner/en/home-2.jpg") no-repeat center top;
    }
    .slide4{
        background: #ffffff url("@Url.Content("~")Assets/images/banner/en/home-3.jpg") no-repeat center top;
    }
	.pagination{
		position: absolute;
		left: 0;
		text-align: center;
		bottom: 115px;
		width: 100%;
		z-index: 1000;
	}
	.swiper-pagination-bullet{
		display: inline-block;
		width: 14px;
		height: 14px;
		margin: 0 3px;
		cursor: pointer;
		background:url("@Url.Content("~")Assets/images/icon/ico-pager.png") no-repeat center center;
		background-position: 0 0;
		opacity: 1;
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active{
		background-position: 0 -14px;
	}
	.wrap-owl-menu .swiper-slide{
		width: auto;
	}
</style>
<!-- content home -->
<div class="home-page">
	<!-- banner tablet -->
	<div class="banner-home">
		<div class="wrap-banpc">
			<div class="swiper-container ">
				<div class="swiper-wrapper">
                @if (ViewBag.banners != null)
                {
                    int i = 1;
                    foreach (var item in ViewBag.banners)
                    {
                         <div class="swiper-slide">
                            <div class="slide@(i)" style='background-image: url("@item.IMAGE")'>
                                @if (!string.IsNullOrEmpty(item.LINK))
                                {
                                <a href="@item.LINK" title=""></a>
                                }
                            </div>
                        </div>
                                i++;
                    }
                }
				</div>
			</div>
			<div class="pagination"></div>
		</div>
		<div class="wrap-bntablet">
			<div class="banner-tablet">
            @if (ViewBag.banners != null)
            {
                int i = 1;
                foreach (var item in ViewBag.banners)
                {
                    if (!string.IsNullOrEmpty(item.LINK))
                    {
                    <div class="item"><a href="@item.LINK" target='_blank' title="@item.NAME"><img src="@item.IMAGE_TABLET" alt="@item.NAME"/></a></div>
                    }
                    else
                    {
                    <div class="item"><img src="@item.IMAGE_TABLET" alt="@item.NAME"/></div>
                    }
                    i++;
                }
            }
			</div>
		</div>
		<div class="wrap-bnmobile">
			<div class="banner-mobile">
            @if (ViewBag.banners != null)
            {
                int i = 1;
                foreach (var item in ViewBag.banners)
                {
                    if (!string.IsNullOrEmpty(item.LINK))
                    {
                    <div class="item"><a href="@item.LINK" target='_blank' title="@item.NAME"><img src="@item.IMAGE_MOBILE" alt="@item.NAME"/></a></div>
                    }
                    else
                    {
                    <div class="item"><img src="@item.IMAGE_MOBILE" alt="@item.NAME"/></div>
                    }
                    i++;
                }
            }
			</div>
		</div>
		<div class="slide-hun">
			<div class="title-hun">@Html.Raw(StringHelper.lang("text_dvdt_home"))</div>
			<div class="border-carousel">
				<div class="text-title left">
					<!-- <img src="@Url.Content("~")Assets/images/text/dvdt.png" alt="" /> -->
					<div>
						@Html.Raw(StringHelper.lang("text_dv_dientu_home"))
					</div>
				</div>
				<div class="carousel-content left">
					<div id="owl-example" class="owl-carousel">
                    @if (ViewBag.fastLinks != null)
                    {
                        foreach (var item in ViewBag.fastLinks)
                        {
						    <div class="item-list">
							    <a href="@(string.IsNullOrEmpty(item.LINK) ? "javascript:void(0)" : item.LINK)" target="_blank">
								    <div class="bd-text bd-text_hv">
									    <div class="tbl">
										    <div class="tbl-cell">
											    <img src="@item.ICON_HOVER" alt="@StringHelper.StripTags(item.NAME)" width='189' />
											    <div class="text">@StringHelper.post_title(item.NAME)</div>
										    </div>
									    </div>
								    </div>
								    <div class="bd-text bd-text_nm">
									    <div class="tbl">
										    <div class="tbl-cell">
											    <img src="@item.ICON" alt="@StringHelper.StripTags(item.NAME)" width='189' />
											    <div class="text">@StringHelper.post_title(item.NAME)</div>
										    </div>
									    </div>
								    </div>
								    <div class="bg"></div>
								    <img class="img" src="@(StringHelper.base_url() + CommonHelper.Img(item.IMAGE, 192, 100))" alt="" />
							    </a>
						    </div>
						<!-- <div class="item-list">
							<a href="@(string.IsNullOrEmpty(item.LINK) ? "javascript:void(0)" : item.LINK)" target="_blank">
								<div class="bd-text bd-text_hv">
									<img src="@item.ICON_HOVER" alt="" />
								</div>
								<div class="bd-text bd-text_nm">
									<img src="@item.ICON" alt="" />
								</div>
								<div class="bg"></div>
								<img class="img" src="@(CommonHelper.Img(item.IMAGE, 192, 100))" alt="" />
							</a>
						</div> -->
                        }
                    }
					</div>
				</div>
				<div class="clearAll"></div>
			</div>
		</div>
	</div>
	<!-- banner tablet -->
	<div class="wrap-home">
        @if (ViewBag.services != null)
        {
            int i = 0;
            foreach (KeyValuePair<WizardCMS.Models.ArticleViewModel, List<WizardCMS.Models.ArticleViewModel>> pair in ViewBag.services)
            {
		        <div class="item-home @(i == 0 || i == 1 ? "type-one" : "") item-hover left" style="height:349px">
		            <img class="img" src="@Url.Content("~")@(CommonHelper.Img(pair.Key.THUMBNAIL, 640, 349))" alt="@pair.Key.TITLE" />
		            <div class="bg-hv"></div>
		            <div class="bg-hv-full"></div>
		            <div class="info-hover">
		    	        <div class="title-rbt">
		    		        @Html.Raw(StringHelper.lang(pair.Key.SLUG))
		    	        </div>
		    	        <ul class="link">
                            @if (pair.Value != null)
                            {
                                int j = 0;
                                foreach (var item in pair.Value)
                                {
                                    //update 09-11-2015 ho tro tai chinh kh to chuc => khach hang ca nhan
                                    if (item.ID == 119 && ViewBag.personalSupport != null)
                                    {
					                <li><a class="@StringHelper.NumberToText(j + 1)" title="@Html.Raw(ViewBag.personalSupport.TITLE)" href="@StringHelper.base_url_lang()@ViewBag.personalSupport.LINK">@Html.Raw(HttpUtility.HtmlDecode(ViewBag.personalSupport.TITLE))</a></li>
                                    }
                                    else
                                    {
					                <li><a class="@StringHelper.NumberToText(j + 1)" title="@Html.Raw(item.TITLE)" href="@StringHelper.base_url_lang()@item.LINK">@Html.Raw(item.TITLE)</a></li>
                                    }
                                    j++;
                                }
                            }
				        </ul>
				        <a class="btn-find-more" href="@StringHelper.base_url_lang()@pair.Key.LINK" title="@Html.Raw(pair.Key.TITLE)"></a>
		            </div>
		        </div>
 
                if (i == 0)
                {
                    // Chèn thêm mục chứng khoán phái sinh vào vị trí thứ 2
                    <div class="item-home item-hover left type-one" style="height:349px">
		                <img class="img" src="/Assets/images/640x349/ckps.jpg" alt="Derivative securities" />
		                <div class="bg-hv"></div>
		                <div class="bg-hv-full"></div>
		                <div class="info-hover">
		    	            <div class="title-rbt">
		    		            <p>Derivative</p><p>Securities</p>
		    	            </div>
		    	            <ul class="link">
					            <li><a class="one" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_tintuc_tt_ckps")">Market news</a></li>
                                <li><a class="two" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hd_huongdan_gd")">Customer guide</a></li>
					            <li><a class="three" title="" href="@StringHelper.base_url_lang()goc-truyen-thong/van-ban-phap-luat/tai-lieu-tham-khao-br-chung-khoan-phai-sinh">Legislation documents</a></li>
					            <li><a class="four" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")">Workshop</a></li>
					            <li><a class="five" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")#23">Questions and answers</a></li>
				            </ul>
		                </div>
		            </div>
            
                    // Chèn thêm mục chứng quyền có đảm bảo vào vị trí thứ 3
                    <div class="item-home item-hover left" style="height:349px">
		                <img class="img" src="/Assets/images/640x349/CQ-CBD.jpg" alt="Covered Warrant" />
		                <div class="bg-hv"></div>
		                <div class="bg-hv-full"></div>
		                <div class="info-hover">
		    	            <div class="title-rbt">
		    		            <p>Covered Warrant</p>
		    	            </div>
		    	            <ul class="link">
					            <li><a class="one" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cq_huongdan_gd")">Transaction Guide</a></li>
                                <li><a class="two" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cq_thongtin")">Warrant information MBS</a></li>
					            <li><a class="three" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cq_thongtin_tt")">Market Informations</a></li>
					            <li><a class="four" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cq_dinh_gia")">Evaluate the rights under BS</a></li>
					            <li><a class="five" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")#25">Questions and answers</a></li>
				            </ul>
		                </div>
		            </div>
                }
                else if (i == 1)
                {
                    // Chèn thêm mục chứng quyền có đảm bảo vào vị trí thứ 5
                    <div class="item-home item-hover left type-one" style="height:349px">
		                <img class="img" src="/Assets/images/640x349/SP-TP-MBOND.jpg" alt="Product MBond" />
		                <div class="bg-hv"></div>
		                <div class="bg-hv-full"></div>
		                <div class="info-hover">
		    	            <div class="title-rbt">
		    		            <p>Product MBond</p>
		    	            </div>
		    	            <ul class="link">
					            <li><a class="one" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tp_danhmuc")">Bond portfolio</a></li>
                                <li><a class="two" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tp_dactinh_sp")">Product characteristics</a></li>
					            <li><a class="three" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tp_loiich_sp")">Product benefits</a></li>
					            <li><a class="four" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tp_quytrinh_gd")">Transaction Process</a></li>
					            <li><a class="five" title="" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")#26">Questions and answers</a></li>
				            </ul>
		                </div>
		            </div>
                }

                i++;
            }
        }
        
        <div class="item-home tag tall left" style="height:349px">
            <div class="tag-home2">
		    	<img src="@Url.Content("~")Assets/images/img/home-4.jpg" alt=""/>
		    	<a href="@StringHelper.lang("slug_tt_phantich")" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("du_lieu_thi_truong"))
		    		</span>
	    		</a>
    		</div>
        </div>

		<div class="item-home tall left type-one" style="height:170px">
            @if (ViewBag.Hotnews != null && ViewBag.Hotnews.Count > 0)
            {
		    <img class="img" src="@Url.Content("~")Assets/images/img/stock-thumbnail.jpg" alt="Hot news"/>
		    <div class="bg-hv"></div>
		    <div class="bg-hv-full"></div>
		    <div class="news-info">
		    	<div class="title-news">@StringHelper.lang("text_tintuc_mbs")</div>
		    	<div class="desc-news">
		    		<a href="@StringHelper.base_url_lang()@ViewBag.Hotnews[0].LINK" title="@Html.Raw(ViewBag.Hotnews[0].TITLE)">@CommonHelper.CutText(Server.HtmlDecode(ViewBag.Hotnews[0].TITLE), 50)</a>
		    		<div class="date">@DatetimeHelper.LastUpdateTime(ViewBag.Hotnews[0].CREATED)</div>
		    		<div class="info">@CommonHelper.CutText(@ViewBag.Hotnews[0].DESCRIPTION, 100)</div>
		    	</div>
		    </div>
            }
		</div>
		
		<div class="item-home tag tall left type-one">
		    <div class="tag-home events">
		    	<img src="@Url.Content("~")Assets/images/img/home-5.jpg" alt=""/>
		    	<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_lich_sk")" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("lich_su_kien"))
		    		</span>
		    	</a>
    		</div>
		</div>

        <div class="item-home tag tall left">
		    <div class="tag-home3">
		    	<img src="@Url.Content("~")Assets/images/img/home-6.jpg" alt=""/>
		    	<a href="@Url.Content("~")vi/cham-soc-khach-hang/hoi-thao-dao-tao" title="">
		    		<span>
		    			@Html.Raw(StringHelper.lang("hoi_thao_dao_tao"))
		    		</span>
		    	</a>
    		</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- end content home -->
