﻿@using WizardCMS.Helpers
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_cv"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
    <div class="banner-child" style="background: url(@Url.Content("~")Assets/images/bg/bg-banner-huongdan.jpg) center center">
	    <div class="wrapper">
		    <span>@StringHelper.lang("text_cv")</span>
	    </div>
    </div>
<!-- Banner -->
	<div class="content-page">
		<div id="menu-right-mobile">
			@Html.Partial("Recruitment/Menu_mobile")
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				@Html.Partial("Recruitment/Menu")
			</div>
		    <div class="wrap-content-right ungtuyen">
			   
			    <div class="page-title">
					<p>Thông tin ứng viên</p>
					<div class="line"></div>
				</div>
				
<!-- Request -->

				<div class="request">
					Anh/Chị hãy</br>
					<ul>
						<li>Điền đầy đủ và rõ ràng thông tin cho mỗi câu hỏi. Không viết vào phần tô đậm</li>
						<li>Đọc kỹ các hướng dẫn kèm theo ở mỗi câu hỏi</li>
						<li>Đề nghị giải thích thêm để đảm bảo hiểu rõ các câu hỏi nếu cần thiết</li>
					</ul>
				</div>

<!-- Box menu -->

				<div class="square-menu-wrapper">
					<div class="wrapper-left">
						<div class="box active box-left thong-tin-ca-nhan">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/ca-nhan-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/ca-nhan-l2.png")" alt="">
							<div class="bot-text"><a href="">Thông tin cá nhân</a></div>
						</div>
						<div class="box inactive box-right trinh-do-hoc-van">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/trinh-do-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/trinh-do-l2.png")" alt="">
							<div class="bot-text"><a href="">Trình độ học vấn và </br> chuyên môn</a></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="wrapper-right">
						<div class="box inactive box-left kinh-nghiem">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/kinh-nghiem-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/kinh-nghiem-l2.png")" alt="">
							<div class="bot-text"><a href="">Kinh nghiệm </br> làm việc</a></div>
						</div>
						<div class="box inactive box-right thong-tin-khac">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/khac-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/khac-l2.png")" alt="">
							<div class="bot-text"><a href="">Thông tin khác</a></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

<!-- Border box menu -->

				<div class="top-square-menu-border"></div>

<!-- Field Wrapper -->

				<div class="field-wrapper">

<!-- Banner -->

					<div class="banner">
						<img src="@Url.Content("~/Assets/images/ungtuyen/banner-1.jpg")" alt="">
						<div>1. THÔNG TIN CÁ NHÂN</div>
					</div>

<!-- Field 01 -->
				
					<div class="field field-01">
						<div class="anh-the">Ảnh 3x4</br>Mới chụp</div>
						<div class="content">
							<div>
								<div class="name"><strong>1.</strong> Họ và tên đệm (Viết in hoa)</div>
								<div class="input-field"><input type="text" name="re_fullname"/></div>
							</div>
							<div>
								<div class="name">Tên chính</div>
								<div class="input-field"><input type="text" name="re_tenchinh"/></div>
							</div>
							<div>
								<div class="name">Số CMTND</div>
								<div class="input-field"><input type="text" name="re_cmnd"/></div>
							</div>
							<div>
								<div class="name">Ngày và nơi cấp</div>
								<div class="input-field"><input type="text" name="re_date_cmnd"/></div>
							</div>
						</div>
					</div>

<!-- Field 02 -->
				
					<div class="field field-02">
						<div class="content">
							<div>
	  							<div class="name"><strong>2.</strong> Địa chỉ thường trú (Số phòng - số nhà/ngõ - phố - thôn - xóm/phường - xã/quận - huyện/tỉnh - thành phố)</div>
	  							<div class="input-field big"><input type="text" name="thuong-tru"></div>
	  						</div>
	  						<div>
	  							<div class="name">Số điện thoại nhà</div>
	  							<div class="input-field"><input type="text" name="dt-nha-tt"></div>
	  						</div>
	  						<div>
	  							<div class="name">Số điện thoại di động</div>
	  							<div class="input-field"><input type="text" name="dt-rieng"></div>
	  						</div>
						</div>
					</div>

<!-- Field 03 -->
				
					<div class="field field-03">
						<div class="content">
							<div>
		  						<div class="name"><strong>3.</strong> Địa chỉ liên hệ (Số phòng - số nhà/ngõ - phố - thôn - xóm/phường - xã/quận - huyện/tỉnh -thành phố)</div>
		  						<div class="input-field big"><input type="text" name="lien-he"></div>
		  					</div>
		  					<div>
		  						<div class="name">Số điện thoại nhà</div>
		  						<div class="input-field"><input type="text" name="dt-nha-lh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Fax</div>
		  						<div class="input-field"><input type="text" name="fax"></div>
		  					</div>
		  					<div>
		  						<div class="name">Email</div>
		  						<div class="input-field"><input type="text" name="email"></div>
		  					</div>
						</div>
					</div>

<!-- Field 04 -->
				
					<div class="field field-04">
						<div class="content">
							<div>
								<div class="name"><strong>4.</strong> Giới tính</div>
									<div class="q-lines radio-field">
										<label>
											<div class="q-check"><input type="radio" name="q-1" value="" placeholder="" checked="checked"></div>
											<div class="q-cont">Nam</div>
										</label>
										<label>
											<div class="q-check"><input type="radio" name="q-1" value="" placeholder=""></div>
											<div class="q-cont">Nữ</div></label>
										</label>
									</div>
		  					</div>
		  					<div>
		  						<div class="name">Chiều cao (cm)</div>
		  						<div class="input-field"><input type="text" name="chieu-cao"></div>
		  					</div>
		  					<div>
		  						<div class="name">Cân nặng (kg)</div>
		  						<div class="input-field"><input type="text" name="can-nang"></div>
		  					</div>
		  					<div>
		  						<div class="name">Tình trạng hôn nhân</div>
		  						<div class="q-lines radio-field">
		  							<label>
		  								<div class="q-check"><input type="radio" name="q-2" value="" placeholder="" checked="checked"></div>
		  								<div class="q-cont">Chưa kết hôn</div>
		  							</label>
		  							<label>
		  								<div class="q-check"><input type="radio" name="q-2" value="" placeholder=""></div>
		  								<div class="q-cont">Đã kết hôn</div></label>
		  							</label>
		  							<div class="other"><input type="text" name="other" value="  Khác (Viết cụ thể)"></div>
		  						</div>
		  					</div>
						</div>
					</div>

<!-- Field 05 -->
				
					<div class="field field-05">
						<div class="content">
							<div>
		  						<div class="name"><strong>5.</strong> Ngày tháng năm sinh</div>
		  						<div class="input-field"><input type="text" name="ngay-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Nơi sinh ̣(Tỉnh/Thành phố)</div>
		  						<div class="input-field"><input type="text" name="noi-sinh"></div>
		  					</div>
						</div>
					</div>

<!-- Field 06 -->
				
					<div class="field field-06">
						<strong>6.</strong> Thành phần gia đình: (Chồng/Vợ,Con,Cha mẹ, Cha mẹ Chồng/Vợ, Anh chị em ruột)</br></br>
						<div id="duplicater" class="content">
							<div>
		  						<div class="name">Họ và tên</div>
		  						<div class="input-field"><input type="text" name="ho-ten"></div>
		  					</div>
		  					<div>
		  						<div class="name">Quan hệ</div>
		  						<div class="input-field"><input type="text" name="quan-he"></div>
		  					</div>
		  					<div>
		  						<div class="name">Trình độ</div>
		  						<div class="input-field"><input type="text" name="trinh-do"></div>
		  					</div>
		  					<div>
		  						<div class="name">Năm sinh</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<hr>
		  					<div class="clear"></div>
						</div>
					</div>

<!-- Sub field 06 -->

						<div class="sub-field">
							<div class="add">Thêm</div>
							<div id="duplicate" class="duplicate" onlick="duplicate()"></div>
						</div>

<!-- Field 07 -->
				
					<div class="field field-07">
						<div class="content">
							<div>
	  							<div class="name"><strong>7.</strong> Ghi rõ nghề nghiệp và tên cơ quan Vợ/Chồng (nếu có)</div>
	  							<div class="input-field big"><input type="text" name="nghe-nguoi-than"></div>
	  						</div>
						</div>
					</div>

<!-- Field 08 -->
				
					<div class="field field-08">
						<div class="content">
							<div>
		  						<div class="name"><strong>8.</strong> Người liên hệ khi khẩn cấp</div>
		  						<div class="input-field"><input type="text" name="lh-khan-cap"></div>
		  					</div>
		  					<div>
		  						<div class="name">Số điện thoại</div>
		  						<div class="input-field"><input type="text" name="sdt-khan-cap"></div>
		  					</div>
		  					<div>
		  						<div class="name">Địa chỉ cụ thể (số phòng - nhà / ngõ - phố - thôn - xóm / phường - xã / quận - huyện / Tỉnh -Thành phố)</div>
		  						<div class="input-field big"><input type="text" name="dia-chi-khan-cap"></div>
		  					</div>
						</div>
					</div>

<!-- Next page button -->

					<div class="nav-button">
						<a href=""><div class="next-page">
							TRÌNH ĐỘ HỌC VẤN VÀ CHUYÊN MÔN
							<img src="@Url.Content("~/Assets/images/ungtuyen/next-page.png")" alt="">
						</div></a>
					</div>
				
				</div>
		    </div>
		</div>
		<div class="clear"></div>
	</div>


<script type="text/javascript">

	$(document).ready(function() {  
		$('.box.inactive img:first-child').css('opacity', 0);  

	    // when hover over the selected image change the opacity to 1  
	    $('.box.inactive').hover(  
    	function(){  
    		$(this).find('img:first-child').stop().fadeTo('slow', 1);  
    	},  
    	function(){  
    		$(this).find('img:first-child').stop().fadeTo('slow', 0);  
    	});


    document.getElementById('duplicate').onclick = duplicate;
	var i = 0;
	var original = document.getElementById('duplicater');
	function duplicate() {
    	var clone = original.cloneNode(true); // "deep" clone
    	clone.id = "duplicetor" + ++i; // there can only be one element with an ID
    	original.parentNode.appendChild(clone);
	} 

	});  
</script>