﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_bieu_mau"));
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CUR_LANG = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/bg/bg-vttd.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("text_vitri_tuyendung")</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("Recruitment/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("Recruitment/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@StringHelper.lang("text_vitri_tuyendung")</p>
			    <div class="line"></div>
			</div>
            <div class="search-recruitment">
				<div class="text left">
					<input type="text" name="searchText" id="searchText" value="" placeholder="@StringHelper.lang("text_keyword")">
				</div>
                <div class="group-search">
    				<div class="search left">
    					<select class="bselect" name="term" id='term'>
    						<option value="">@StringHelper.lang("text_linh_vuc")</option>
    						<option value="">@StringHelper.lang("text_all")</option>
    						@if (ViewBag.terms != null)
                            {
                                foreach (var item in ViewBag.terms)
                                {
    						        <option value="@item.ID">@item.NAME</option>
                                }
                            }
    					</select>
    				</div>
    				<div class="search left">
    					<select class="bselect" name="province" id="province">
    						<option value="">@StringHelper.lang("text_dia_diem")</option>
    						<option value="">@StringHelper.lang("text_all")</option>
                            @if (ViewBag.provinces != null)
                            {
                                foreach (var item in ViewBag.provinces)
                                {
    						        <option value="@item.PROVINCE_ID">@(CUR_LANG == "en" ? StringHelper.v2e(item.PROVINCE_NAME) : item.PROVINCE_NAME)</option>
                                }
                            }
    					</select>
    				</div>
                    <!-- <div class="wr-pad left">
                        <div class="search fix-height">
					        <select class="bselect" name="position" id="position">
						        <option value="">@StringHelper.lang("text_cap_bac")</option>
						        <option value="">@StringHelper.lang("text_all")</option>
                                @if (ViewBag.categories != null)
                                {
                                    foreach (var item in ViewBag.categories)
                                    {
						                <option value="@item.ID" @(!string.IsNullOrEmpty(Request.QueryString["position"]) && Request.QueryString["position"] == item.SLUG ? "selected='selected'" : "")>@item.NAME</option>
                                    }
                                }
					        </select>
				        </div>
                    </div> -->
                    <div class="input-search d-i left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_from" type="text" /><div class="icon"></div></div>
                    <div class="input-search d-i left no-margin"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_to" type="text" /><div class="icon"></div></div>
                    <!-- <div class="search-by-date left">
                        <div class="br clearAll"></div>
                        <div class="wr-inp-search left">
                            <div class="label left">@StringHelper.lang("text_den")</div>
                        </div>
                        <div class="clearAll"></div>
                    </div> -->
				    <div class="btn-recruitment right">
					    <a href="javascript:void(0);" id="btn-search-job" title="">@StringHelper.lang("text_tim_viec") <img src="@Url.Content("~/Assets/images/icon/search.png")" alt="" title="" /></a>
				    </div>
                    <div class="clear"></div>
                </div>
			</div>

            <div id="recruitment-result">
                <div class="recruitment-result">
				    <table>
					    <thead>
						    <tr>
							    <th class="r1">@StringHelper.lang("text_created")</th>
							    <th class="r2">@StringHelper.lang("text_jobname")</th>
							    <th class="r3">@StringHelper.lang("text_location")</th>
							    <th class="r4">@StringHelper.lang("text_deadline")</th>
						    </tr>
					    </thead>
					    <tbody>
                        @if (ViewBag.childs != null)
                        {
                            int i = 0;
                            foreach (var child in ViewBag.childs)
                            {
                                <tr>
							        <td class="r1" data-th="@StringHelper.lang("text_created")">@child.POST_DAY.ToString("dd/MM/yyyy")</td>
							        <td class="r2" data-th="@StringHelper.lang("text_jobname")"><a href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("slug_vitri_tuyendung")/@child.ID/@child.SLUG" title="">@child.TITLE</a></td>
							        <td class="r3" data-th="@StringHelper.lang("text_location")">
                                    @if (child.Provinces != null && child.Provinces.Count > 0)
                                    {
                                        foreach (var province in child.Provinces)
                                        {
                                            <text>@province.PROVINCE_NAME</text><br/>
                                        }
                                    }
                                    </td>
							        <td class="r4" data-th="@StringHelper.lang("text_deadline")">@child.DEADLINE.ToString("dd/MM/yyyy")</td>
						        </tr>
                            }
                        }
                        else
                        { 
                            <tr class="no-data"><td class="r1" colspan='4' data-th="Ngày đăng">@StringHelper.lang("text_cap_nhat")</td></tr>
                        }
					    </tbody>
				    </table>
			    </div>
			    @if (!string.IsNullOrEmpty(ViewBag.pagination))
                {
                    <div class='paging'>
                        @Html.Raw(ViewBag.pagination)
                    </div>
                }
            </div>
		</div>
        <div class="clear"></div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $(".datepicker").datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        todayHighlight: true
    });

    $(document).mouseup(function (e)
    {
        var container = $(".datepicker");

        if (!container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            $(".datepicker-dropdown").hide();
        }
    });

    var link = root_lang + '@StringHelper.lang("slug_tuyen_dung")' + '/' + '@StringHelper.lang("slug_vitri_tuyendung")';
    function SearchContent(parent, page, perpage) {
        var cid = $('.sub-right li.active').data('cid');
        $.post(link, {
            page: page,
            cid: cid,
            perpage: perpage,
            term: $("#term").val(),
            position: $("#position").val(),
            province: $("#province").val(),
            searchText: $("#searchText").val(),
            dateFrom: $('#date_from').val(),
            dateTo: $('#date_to').val(),
        }, function (e) {
            $("#recruitment-result").html(e);
            scrollToDiv("recruitment-result");
            Page.scrollrightmenu();
        })
    }

    $(document).ready(function(){
        $('#btn-search-job').on('click', function(){
            SearchContent(0,1);
        });
    });
</script>
