﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_register"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/bg/bg-vttd.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("text_cohoi_nn")</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page">
	<div id="menu-right-mobile">
		 @Html.Partial("Recruitment/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("Recruitment/Menu")
		</div>
		<div class="wrap-content-right contact-page">
			<div class="page-title">
				<p>@StringHelper.lang("text_register")</p>
				<div class="line"></div>
			</div>
			<div class="tab-wk">
				<div class="info">@Html.Raw(StringHelper.lang("text_register_desc"))</div>
				<div class="form-signup">
                    <form action="/" method="post" id="register-form">
					    <div class="wrap-inp">
						    <div class="label"><span>*</span>@StringHelper.lang("text_username")</div>
						    <div class="inp"><input placeholder="" name="ct_username" id="ct_username" /></div>
					    </div>
                        <div class="wrap-inp">
						    <div class="label"><span>*</span>@StringHelper.lang("text_password")</div>
						    <div class="inp"><input type='password' name="ct_password" id="ct_password" /></div>
					    </div>
                        <div class="wrap-inp">
						    <div class="label"><span>*</span>@StringHelper.lang("text_password_confirm")</div>
						    <div class="inp"><input type='password' name="ct_password_confirm" id="ct_password_confirm" /></div>
					    </div>
                        <div class="wrap-inp">
						    <div class="label"><span>*</span>@StringHelper.lang("text_fullname")</div>
						    <div class="inp"><input placeholder="" name="ct_fullname" id="ct_fullname" /></div>
					    </div>
                        <div class="wrap-inp">
						    <div class="label"><span>*</span>Email</div>
						    <div class="inp"><input placeholder="" name="ct_email" id="ct_email" /></div>
					    </div>
					    <div class="wrap-inp code">
						    <div class="label"><span>*</span>@StringHelper.lang("text_captcha")</div>
                            @Html.Partial("_Captcha", new WizardCMS.Models.Captcha())
                            @Html.Partial("_InvisibleCaptcha", new WizardCMS.Models.InvisibleCaptcha())
					    </div>
					    <div class="wrap-inp">
						    <div class="label"></div>
						    <a class="btn-sign" href="javascript: void(0);" title="" id="submit_contact">@StringHelper.lang("text_submit")</a>
					    </div>
                        <div class="wrap-inp">
						    <div class="label"></div>
                            <div class="error error_txt active" style="color: red;"></div>
	                        <div class="success_message" style="display: none; color: green;">@StringHelper.lang("contact_success")</div>
					    </div>
				    </form>
                </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- end content -->

<a class="fancybox" href="#dang-ky-thanh-cong" title="" style="display:none" id="call-popup-ws">&nbsp;</a>
<div id="dang-ky-thanh-cong" class="pop-success" style="display: none;">
    <table>
	    <tr>
		    <td>
			    @Html.Raw(StringHelper.lang("text_register_success"))
		    </td>
	    </tr>
    </table>
</div>

<script type="text/javascript">
    function clearError()
    {
        $(".ct_item_error").html('');
        $(".ct_item_error").css('display','none');
    }
	
	function clearForm(){
	    $('#ct_username, #ct_password, #ct_password_confirm, #ct_fullname, #ct_email, #CaptchaValue').val('');
	}

	function validateEmail(email){        
        return true;
 	}
	
	function showError(error){
		$('.error_txt').html(error);
		$('.error_txt').show();
		$('.success_message').hide();
	}
	function hideError(){
		$('.error_txt').hide();
	}

	function ismaxlengthSend(obj){
		var mlength=obj.getAttribute? parseInt(obj.getAttribute("maxlength")) : ""
		if (obj.getAttribute && obj.value.length>mlength)
			obj.value=obj.value.substring(0,mlength)
	}

    function ReloadCaptcha()
    {
        $('.code-char').html('<img src="' + '@Url.Content("~/Captcha/Show")' + '?v=' + Math.random() + '" />');
        return true;
    }

    $(document).ready(function () {
        $("#change-code").on("click", function () {
            ReloadCaptcha();
        });

        $("#submit_contact").click(function () {
            clearError();
            var username = $("input[name=ct_username]").val();
            var password = $("input[name=ct_password]").val();
            var password_confirm = $("input[name=ct_password_confirm]").val();
            var email = $("input[name=ct_email]").val();
            var fullname = $("input[name=ct_fullname]").val();
            var captcha = $('#CaptchaValue').val();

            var post_data = {
                'username': username,
                'email': email,
                'fullname': fullname,
                'password': password,
                'captcha': captcha
            };

            if (username == '') {
                showError('@StringHelper.lang("username_require")');
                return false;
            }

            if (username.length <= 5) {
                showError('@StringHelper.lang("username_length")');
                return false;
            }

            if (password == '') {
                showError('@StringHelper.lang("password_require")');
                return false;
            }

            if (password.length <= 5) {
                showError('@StringHelper.lang("password_length")');
                return false;
            }

            if (password_confirm != password) {
                showError('@StringHelper.lang("password_match")');
                return false;
            }

            if (fullname == '') {
                showError('@StringHelper.lang("fullname_require")');
                return false;
            }

            if (email == '') {
                showError('@StringHelper.lang("email_require")');
                return false;
            }
            else {
                if (!checkInp(email, "email")) {
                    showError('@StringHelper.lang("email_invalid")');
                    return false;
                }
            }

            if (captcha == '') {
                showError('@StringHelper.lang("captcha_require")');
                return false;
            }

            $.ajax({
                url: '@Request.Url.AbsoluteUri', //$('#contact-form').attr("action"),
                data: $('#register-form').serialize(),
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.st == "1") {
                        //clearForm();
                        hideError();
                        //window.location.href= "<?=PATH_URL.'contact'?>";
                        ReloadCaptcha();
                        $('#call-popup-ws').trigger('click');
                        //$('.success_message').show();
                        //Recaptcha.reload();
                        return false;
                    } else {
                        //$("."+data.code).html(data.message);
                        showError(data.msg);
                        ReloadCaptcha();
                        $("." + data.code).css('display', 'block');
                        return false;
                    }
                }
            });
            return false;
        });
    });
</script>