﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.SlideViewModel
@{
    string cssClass = "";
    
}
<script src="@Url.Content("~")Assets/js/jquery.numeric.js" type="text/javascript"></script>
<script type="text/javascript" src="@(StringHelper.base_url() + "Assets/admin/editor/ckfinder/ckfinder.js")"></script>

<script type="text/javascript">
    
    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });
        $(".order").numeric();
        MaxAllowSize = @ViewBag.MaxAllowSize;
        if(MaxAllowSize != null){
            //alert("Oh Yeah");
        }
        else{
            MaxAllowSize = 3;
        }

        //lang switcher
        $('#lang_switch').tabs();

        $(".button-upload-image").click(function () {
		    var $this =$(this);
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $this.parent().find('.image-upload-url').val(fileUrl);
                $this.parent().find('.preview-image').attr('src',fileUrl).css('height','100px');
                $this.parent().find('.fancybox').attr('href',fileUrl);
                $this.parent().find('.remove-file').text('X');
            };
            finder.popup();
        });
        $(".button-upload-file").click(function () {
		    var $this =$(this);
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $this.parent().find('.file-upload-url').val(fileUrl);
                $this.parent().find('.file-upload-preview').attr('href',fileUrl).text("Review");
            };
            finder.popup();
        });

        $('.remove-file').live("click", function(){
            var $this = $(this); 
            var b = confirm("Bạn có chắc là muốn xóa file?");
            if (!b) return false;

            var nid = $(this).data("nid");
            var field = $(this).data("field");
            var lang = $("li.ui-tabs-active a").data("lang");

            if (nid > 0 && field != "")
            {
                //Xóa file
                $.post("/article/delete_file", {nid: nid, field:field}, function(e){
                    console.log(e);
                    if (e == "success"){
                        $this.parent().parent().find('.image-upload-url').val('');
                        $this.parent().find('.preview-image').attr('src','').css('height','100px');
                        $this.parent().find('.fancybox').attr('href', '');
                        $this.text('');
                        return true;
                    }else{
                        return false;
                    }
                });
            } else {
                $this.parent().parent().find('.image-upload-url').val('');
                $this.parent().parent().find('.preview-image').attr('src','').css('height','100px');
                $this.parent().parent().find('.fancybox').attr('href', '');
                $this.text('');
            }
        });
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }       
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if (form.nameAdmincp.value == '') {
            $('#txt_error').html('Chưa nhập tên.');
            $('#loader').fadeOut(300);
            show_error();
            $('input[name="title"]').addClass('error-fr');
            scrollTo('#image');
            $('.error_template').fadeIn();
            return false;
        }
        var order = $("#priority").attr("value");
        if (order == "") {
            order = parseInt(0);
        }
        if (order >= 32767) {
            $('#loader').hide();
            alert('Bạn nhập số quá lớn. Số không lớn hơn 32767');
            $('input[name="priority"]').addClass('error-fr');
            return false;
        }
        if (order < 0) {
            $('#loader').hide();
            alert('Bạn không nhập số âm');
            $('input[name="priority"]').addClass('error-fr');
            return false;
        }

    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            location.href = root + "admincp/" + module + "/#/save";
        } else if (responseText == 'ERROR_SLUG') {
            show_error('Tên banner bị trùng.');
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }

    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>
@{
    string backlink = Url.Content("~") + "admincp/slide/#/back";
}
<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" class="" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">
                            Slide Update</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")Slide/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null) { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @if (Model != null)
                                               {
                                                   if (Model.STATUS == 1)
                                                   { 
                                                       @Html.Raw("checked = 'checked'") }
                                               }
                                               else
                                               {
                                                       @Html.Raw("checked = 'checked'") 
                                               } type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Language:
                                </td>
                                <td class="right_text_field">
                                    <select name="langAdmincp" id="langAdmincp" style="width: 200px; height: 24px;">
                                        <option value="vi" @(Model != null&&Model.LANG == "vi"?Html.Raw("selected"):Html.Raw(""))>Tiếng Việt</option>
                                        <option value="en" @(Model != null && Model.LANG == "en" ? Html.Raw("selected") : Html.Raw(""))>English</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Priority:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null){@Model.PRIORITY}
                                                  else { @Html.Raw("0"); }" type="text" name="priority" class="priority" id="priority" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Name: <span class="error_template txt-error-fr">*</span>
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="nameAdmincp" id="nameAdmincp" value="@if (Model != null){@Html.Raw(Model.NAME)}" onblur="checkInp(this.value,'nameAdmincp')"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Link: <span class="error_template txt-error-fr">*</span>
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="linkAdmincp" id="linkAdmincp" value="@if (Model != null){@Html.Raw(Model.LINK)}"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Image PC:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    @Html.Partial("../BackEnd/Article/BrowseServer", Model != null ? Model.IMAGE : "", new ViewDataDictionary { { "id", Model != null ? Model.ID : 0 }, { "name", "image" }, { "button_id", "btnSelectIcon_pc" } })
                                    <div class='clearAll'></div>
                                    <div class="guide">Kích thước: 1920x570px</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Image Tablet:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    @Html.Partial("../BackEnd/Article/BrowseServer", Model != null ? Model.IMAGE_TABLET : "", new ViewDataDictionary { { "id", Model != null ? Model.ID : 0 }, { "name", "image_tablet" }, { "button_id", "btnSelectIcon_tb" } })
                                    <div class='clearAll'></div>
                                    <div class="guide">Kích thước: 768x420px</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Image Mobile:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    @Html.Partial("../BackEnd/Article/BrowseServer", Model != null ? Model.IMAGE_MOBILE : "", new ViewDataDictionary { { "id", Model != null ? Model.ID : 0 }, { "name", "image_mobile" }, { "button_id", "btnSelectIcon_mb" } })
                                    <div class='clearAll'></div>
                                    <div class="guide">Kích thước: 320x460px</div>
                                </td>
                            </tr>
                        </table>
                    </div>                         
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
