﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
    string refer_ws = Request.QueryString["ws"];
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-cskh-1.jpg) center center">
	<div class="wrapper">
		<span>@(StringHelper.IsNullOrEmptyOrWhiteSpace(ViewBag.node_cham_soc.SUB_TITLE) ? StringHelper.post_title(ViewBag.node_cham_soc.TITLE) : StringHelper.post_title(ViewBag.node_cham_soc.SUB_TITLE))</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page fix-form-hd">
	<div id="menu-right-mobile">
        @Html.Partial("CSKH/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("CSKH/Menu")
		</div>
		<div class="wrap-content-right workshops">
			<div class="page-title">
			    <p>@StringHelper.post_title(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="control-wk">
				<div class="tab-ctr work active left" data-wk="work">
					<!-- <img src="images/bg/bg-wk-1.jpg" alt=""> -->
					<div class="text">@StringHelper.lang("tin-tuc")</div>
				</div> 
				<div class="tab-ctr signup left" data-wk="signup">
					<!-- <img src="images/bg/bg-wk-2.jpg" alt=""> -->
					<div class="text">@StringHelper.lang("dang-ky-tham-du")</div>
				</div>
				<div class="clear"></div>
			</div>

            <div class="wrap-tab-wk">
				<div class="tab-wk work active">
                    <div class="search-by-date">
                        <div class="label left">Tìm tin tức từ</div>
                        <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_from" type="text" /><div class="icon"></div></div>
                        <div class="br clearAll"></div>
                        <div class="label left">đến</div>
                        <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_to" type="text" /><div class="icon"></div></div>
                        <div class="btn btn-search-news input-search left">Tìm kiếm</div>
                        <div class="clearAll"></div>
                    </div>

                    @if (ViewBag.featured != null)
                    {
                    <div class="it-wk first">
						<div class="img-wk"><a href="@(Url.Content("~") + Lang)/@ViewBag.featured.LINK" title="@Html.Raw(ViewBag.featured.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img(ViewBag.featured.THUMBNAIL, 745, 260))" alt="@Html.Raw(ViewBag.featured.TITLE)" /></a></div>
						<div class="info-wk">
							<a href="@(Url.Content("~") + Lang)/@ViewBag.featured.LINK" title="@Html.Raw(ViewBag.featured.TITLE)" class="name-wk">@Html.Raw(ViewBag.featured.TITLE)</a>
							<div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @ViewBag.featured.CREATED.ToString("dd/MM/yyyy")</div>
							<div class="desc-wk">@CommonHelper.CutText(ViewBag.featured.DESCRIPTION, 440)<a href="@(Url.Content("~") + Lang)/@ViewBag.featured.LINK" title="@Resources.Resources.READ_MORE">@Resources.Resources.READ_MORE</a>@if (ViewBag.featured.DEAD_LINE != null && DateTime.Compare(DateTime.Now, ViewBag.featured.DEAD_LINE) <= 0)
                                                                                                                                                                                                           {<a class="rm" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")?ws=@ViewBag.featured.ID#dang-ky-hoi-thao">@StringHelper.lang("text_dang_ky_tham_du")</a>}</div>
						</div>
					</div>
                    }
                    <div id="content_list">
                    @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                    {
                        int i = 0;
                        foreach (var child in ViewBag.childs)
                        {
                            <div class="it-wk">
						        <div class="img-wk left">
							        <a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 150, 102))" alt="@Html.Raw(child.TITLE)" /></a>
						        </div>
						        <div class="info-wk left">
							        <a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)" class="name-wk">@Html.Raw(child.TITLE)</a>
							        <div class="date-wk"><span>@StringHelper.lang("text_created"):</span> @child.CREATED.ToString("dd/MM/yyyy")</div>
							        <div class="desc-wk">@Html.Raw(CommonHelper.CutText(child.DESCRIPTION, 160))<a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Resources.Resources.READ_MORE">@Resources.Resources.READ_MORE</a> @if (child.DEAD_LINE != null && DateTime.Compare(DateTime.Now, child.DEAD_LINE) <= 0)
                                                                                                                                                                                                           {<a class="rm" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")?ws=@child.ID#dang-ky-hoi-thao">@StringHelper.lang("text_dang_ky_tham_du")</a>}</div>
						        </div>
						        <div class="clear"></div>
					        </div>
                        }
                    }
                    else
                    { 
                        <div class="no-data" style="display:none">@StringHelper.lang("text_cap_nhat")</div>
                    }
				    
                    @if (!string.IsNullOrEmpty(ViewBag.pagination))
                    {
                        <div class='paging'>
                            @Html.Raw(ViewBag.pagination)
                        </div>
                    }
                    </div>
				</div>
			    <div class="tab-wk signup">
					<div class="info">@StringHelper.lang("dang-ky-hoi-thao-mota")</div>
					<div class="form-signup">
                        <form action="/" method="post" id="frmRegWorkshop">
						    <div class="wrap-inp">
                                <!-- Html phần select box đổi thành check box -->
								<div class="label fix-lh"><span>*</span>@StringHelper.lang("text_register_workshop")</div>
								<div class="group-cb">
                                    @if (ViewBag.workshops != null && ViewBag.workshops.Count > 0)
                                    {
                                        foreach (var ws in ViewBag.workshops)
                                        {
                                            <div class="cb">
										        <div class="cb-ck"><input class="left workshop-chk" name="ct_workshop" id="ct_workshop" type="checkbox" value="@ws.ID" @(!string.IsNullOrEmpty(refer_ws) && refer_ws == ws.ID.ToString() ? "checked='checked'" : "") data-slug="@ws.SLUG" /></div>
										        <div class="txt">@Html.Raw(ws.TITLE)</div>
                                                @if (ws.OPEN_DAY != null) {
                                                    <div class="txt-1">@StringHelper.lang("text_ngay_tochuc"): @ws.OPEN_DAY.ToString("HH:mm , dd/MM/yyyy")</div>
                                                }
                                                <div class="txt-1">@StringHelper.lang("text_location"): @ws.LOCATION</div>
										        <div class="clear"></div>
									        </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="pdt5">@StringHelper.lang("text_no_workshop")</div>
                                    }
								</div>
								<!-- End Html phần select box đổi thành check box -->
                            </div>
						    <div class="wrap-inp">
							    <div class="label"><span>*</span>@StringHelper.lang("text_fullname")</div>
							    <div class="inp"><input placeholder="" name="ct_fullname" id="ct_fullname" /></div>
						    </div>
						    <div class="wrap-inp">
							    <div class="label"><span>*</span>@StringHelper.lang("text_cmnd")</div>
							    <div class="inp"><input placeholder="" onkeypress="return ValidateInput(event);" name="ct_cmnd" id="ct_cmnd" /></div>
						    </div>
						    <div class="wrap-inp">
							    <div class="label">@StringHelper.lang("text_cmnd_ngaycap")</div>
							    <div class="inp"><input placeholder="" name="ct_cmnd_ngaycap" class="datepicker" id="ct_cmnd_ngaycap" /></div>
						    </div>
						    <div class="wrap-inp">
							    <div class="label">@StringHelper.lang("text_cmnd_noicap")</div>
							    <div class="inp"><input placeholder="" name="ct_cmnd_noicap" id="ct_cmnd_noicap" /></div>
						    </div>
						    <div class="wrap-inp">
							    <div class="label"><span>*</span>@StringHelper.lang("text_phone")</div>
							    <div class="inp"><input placeholder="" onkeypress="return ValidateInput(event);" name="ct_phone" id="ct_phone" /></div>
						    </div>
						    <div class="wrap-inp">
							    <div class="label"><span>*</span>Email</div>
							    <div class="inp"><input placeholder="" name="ct_email" id="ct_email" /></div>
						    </div>
						    <div class="wrap-inp">
							    <div class="label">@StringHelper.lang("text_bank_card")</div>
							    <div class="inp"><input placeholder="" name="ct_bank_card" id="ct_bank_card" /></div>
						    </div>
						    <div class="wrap-inp">
							    <div class="label">@StringHelper.lang("text_mo_tai")</div>
							    <div class="inp"><input placeholder="" name="ct_mo_tai" id="ct_mo_tai" /></div>
						    </div>
						    <div class="wrap-inp">
							    <div class="label">@StringHelper.lang("text_taikhoan_mbs")</div>
							    <div class="inp"><input placeholder="" name="ct_taikhoan_mbs" id="ct_taikhoan_mbs" /></div>
						    </div>
						    <div class="wrap-inp code">
							    <div class="label"><span>*</span>@StringHelper.lang("text_captcha")</div>
							    @Html.Partial("_Captcha", new WizardCMS.Models.Captcha())
                                @Html.Partial("_InvisibleCaptcha", new WizardCMS.Models.InvisibleCaptcha())
						    </div>
						    <div class="wrap-inp">
							    <div class="label"></div>
							    <a class="btn-sign" id="submit_register" href="javascript: void(0);" title="">@StringHelper.lang("text_register")</a>
						    </div>
                            <div class="wrap-inp">
							    <div class="label"></div>
                                <div class="error error_txt active" style="color: red;"></div>
	                            <div class="success_message" style="display: none; color: green;">@Html.Raw(StringHelper.lang("register_workshop_success"))</div>
						    </div>
                        </form>
					</div>
				</div>
            </div>
        </div>
	    <div class="clear"></div>
    </div>
</div>

<a class="fancybox" href="#dang-ky-thanh-cong" title="" style="display:none" id="call-popup-ws">&nbsp;</a>
<div id="dang-ky-thanh-cong" class="pop-success" style="display: none;">
    <table>
	    <tr>
		    <td>
			    @Html.Raw(StringHelper.lang("register_workshop_success"))
		    </td>
	    </tr>
    </table>
</div>

<!-- end content home -->
<script type="text/javascript">
    $(".datepicker").datepicker({
        format: "dd-mm-yyyy"
    });

    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: $('#date_from').val(),
            dateTo: $('#date_to').val(),
            searchText: "",
            parrent: parrent
        }, function (e) {
            $("#content_list").html(e);
            scrollToDiv3("content-page");
        })
    }
    $(document).on("click", ".btn-search-news", function () {
        SearchContent(0, 1);
    })
</script>

<script type="text/javascript">
    function clearError() {
        $(".ct_item_error").html('');
        $(".ct_item_error").css('display', 'none');
    }

    function clearForm() {
        $('#ct_fullname,#ct_cmnd,#ct_cmnd_ngaycap,#ct_cmnd_noicap,#ct_phone,#ct_email,#ct_bank_card,#ct_mo_tai,#ct_taikhoan_mbs,#CaptchaValue').val('');
    }

    function validateEmail(email) {
        return true;
    }

    function showError(error) {
        $('.error_txt').html(error);
        $('.error_txt').show();
        $('.success_message').hide();
    }
    function hideError() {
        $('.error_txt').hide();
    }

    function ismaxlengthSend(obj) {
        var mlength = obj.getAttribute ? parseInt(obj.getAttribute("maxlength")) : ""
        if (obj.getAttribute && obj.value.length > mlength)
            obj.value = obj.value.substring(0, mlength)
    }

    function ReloadCaptcha() {
        $('.code-char').html('<img src="' + '@Url.Content("~/Captcha/Show")' + '?v=' + Math.random() + '" />');
        return true;
    }

    $(document).ready(function () {
        
        /*
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });
        */

        $("#change-code").on("click", function () {
            ReloadCaptcha();
        });

        $("#submit_register").click(function () {
            clearError();
            var workshop = $("#ct_workshop").val();
            var name = $("input[name=ct_fullname]").val();
            var cmnd = $("input[name=ct_cmnd]").val();
            var cmnd_ngaycap = $("input[name=ct_cmnd_ngaycap]").val();
            var cmnd_noicap = $("input[name=ct_cmnd_noicap]").val();
            var phone = $("input[name=ct_phone]").val();
            var email = $("input[name=ct_email]").val();
            var bank_card = $("input[name=ct_bank_card]").val();
            var mo_tai = $("input[name=ct_mo_tai]").val();
            var taikhoan_mbs = $("input[name=ct_taikhoan_mbs]").val();
            var captcha = $('#CaptchaValue').val();

            //            if (workshop == '0' || isNaN(workshop)) {
            //                showError('@StringHelper.lang("workshop_require")');
            //                return false;
            //            }

            if ($('.workshop-chk:checked').length == 0) {
                showError('@StringHelper.lang("workshop_require")');
                return false;
            }
            if (name == '') {
                showError('@StringHelper.lang("fullname_require")');
                return false;
            }
            if (cmnd == '') {
                showError('@StringHelper.lang("cmnd_require")');
                return false;
            }
            else {
                if (!checkInp(cmnd, "cmnd")) {
                    showError('@StringHelper.lang("cmnd_invalid")');
                    return false;
                }
            }
            if (phone == '') {
                showError('@StringHelper.lang("phone_require")');
                return false;
            }
            else {
                if (!checkInp(phone, "phone")) {
                    showError('@StringHelper.lang("phone_invalid")');
                    return false;
                }
            }
            if (email == '') {
                showError('@StringHelper.lang("email_require")');
                return false;
            }
            else {
                if (!checkInp(email, "email")) {
                    showError('@StringHelper.lang("email_invalid")');
                    return false;
                }
            }

            if (captcha == '') {
                showError('@StringHelper.lang("captcha_require")');
                return false;
            }

            $.ajax({
                url: root_lang + "register_workshop", //$('#contact-form').attr("action"),
                data: $('#frmRegWorkshop').serialize(),
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.st == "1") {
                        clearForm();
                        //window.location.href= "<?=PATH_URL.'contact'?>";
                        hideError();
                        $('#call-popup-ws').trigger('click');
                        //$('.success_message').show();
                        //Recaptcha.reload();
                        return false;
                    } else {
                        //$("."+data.code).html(data.message);
                        showError(data.msg);
                        ReloadCaptcha();
                        $("." + data.code).css('display', 'block');
                        return false;
                    }
                }
            });
            return false;
        });
    });
</script>
