/* ===== Custom Forms ===== */

/* Inputs */ 
.jqTransformInputWrapper { float: left; }
.jqTransformInputWrapper > div { width: 550px; }

.mainForm input[type=text], .mainForm textarea, .mainForm input[type=password] { background: #fff; width: 100%; border: 1px solid #d5d5d5; padding: 5px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; }
.mainForm input[type=text]:hover, .mainForm input[type=password]:hover, .mainForm textarea:hover { background: #fcfcfc; border: 1px solid #d1d1d1; }
.mainForm input[type=text]:focus, .mainForm input[type=password]:focus, .mainForm textarea:focus { border: 1px solid #bbc1c9; background: #fff; }

.submitForm { float: right; margin: 1px 14px 22px 14px; }

.jqTransformInputWrapper_hover input{ background: #f6f6f6; }
.jqTransformInputWrapper_focus input { background: #f6f6f6; border: 1px solid #cad1d4; }

.jqTransformSafari .jqTransformInputInner div { position: relative; overflow: hidden; margin:0px 8px; }
.jqTransformSafari .jqTransformInputInner div input { background: none; position: absolute; top: -10px; left: -2px; height: 42px; padding-left: 4px; }


/* Radios */
.jqTransformRadioWrapper {float: left;display:block; margin-top:5px;}
.jqTransformRadio { background: transparent url(../../images/admin/forms/radio.png) no-repeat 0 0; vertical-align: middle; height: 15px; width: 15px; display: block; }


/* Checkboxes */
span.jqTransformCheckboxWrapper{ display:block;float:left; }
a.jqTransformCheckbox { background: transparent url(../../admin/images/forms/checkbox.png) no-repeat 0 0px ; vertical-align: middle; height: 15px; width: 15px; display:block;/*display: -moz-inline-block;*/ }

a.jqTransformChecked { background-position: center bottom;} /* Checked - Used for both Radio and Checkbox */

/* Selects */
.jqTransformSelectWrapper { width: 42px; position:relative; height: 26px; background: url(../../images/admin/forms/select_left.png) no-repeat top left; float:left; min-width: 45px; }
.jqTransformSelectWrapper div span { font-size: 11px; float: none; position: absolute; white-space: nowrap; height: 26px; line-height: 26px; padding-left: 8px; overflow: hidden; cursor: pointer; }
.jqTransformSelectWrapper  a.jqTransformSelectOpen { position: absolute; right: -2px; width: 25px; height: 26px; background: url(../../images/admin/forms/select_right.png) no-repeat center center; top: 0; }
.jqTransformSelectWrapper ul { position: absolute; min-width: 45px; top: 27px; left: 0px; list-style: none; background-color: #FFF; border: solid 1px #CCC; display: none; margin: 0px; padding: 0px; height: 168px; overflow: auto; 	overflow-y: auto; z-index:10; }
.jqTransformSelectWrapper ul a { display: block; padding: 2px 8px; text-decoration: none; color:#333; background-color: #FFF; font-size: 11px; }
.jqTransformSelectWrapper ul li:first-child { margin-top: 0px; }
.jqTransformSelectWrapper ul a.selected { background: #EDEDED; color: #333; }
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover { background:#3582c4; color: #fff; }

.jqTransformHidden {display: none;} /* used to hide the original form elements */