﻿<!DOCTYPE html>
<html>
<head>
    <title>Admin Control Panel</title>
    <link href="@Url.Content("~")Assets/admin/images/favicon.png")" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" href="@Url.Content("~")Assets/admin/css/styles.css")" type="text/css"/>
    
    <script src="@Url.Content("~")Assets/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    
    <script src="@Url.Content("~")Assets/admin/js/admin.js" type="text/javascript"></script>
    <script src="@Url.Content("~")Assets/admin/js/jquery.upload.js" type="text/javascript"></script>
    <script src="@Url.Content("~")Assets/admin/js/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
    <script src="@Url.Content("~")Assets/admin/js/jquery.url.js" type="text/javascript"></script>
    <script src="@Url.Content("~")Assets/admin/js/jquery.form.js" type="text/javascript"></script>
    <script src="@Url.Content("~")Assets/admin/js/custom_forms.js" type="text/javascript"></script>
    <script src="@Url.Content("~")Assets/admin/js/jquery.ToTop.js" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~")Assets/admin/css/style_caledar.css" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("~")Assets/admin/js/jquery-ui-1.10.2.custom.min.js"></script>

    <script src="@Url.Content("~/Assets/admin/editor/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/admin/editor/ckfinder/ckfinder.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var module = "@ViewBag.SelectedNameModule";
        var fullContext = "@ViewBag.FullWebAppContext";
        var root = '@Url.Content("~")';
        var ajaxUrlMenu = '@Url.Content("~/NavAdmin/MenuAdmin/")';
        var base_url = '@WizardCMS.Helpers.StringHelper.base_url()';
        var admin_url = base_url + 'admincp';
        CKFinder.setupCKEditor(null, base_url + 'Assets/admin/editor/ckfinder/');
    </script>
</head>
<body>
    <div class="topNav">
        <div class="nameNav">
            Wizard CMS</div>
        <div class="userNav">
            <ul>
                <li class="profile"><a href='@Url.Content("~")Admincp/Profile/Index'>
                    <img alt="profile" src="@Url.Content("~/Assets/admin/images/userPic.png")" /><span>@(((ViewBag.Account)as WizardCMS.Models.AdminAccountModel).USERNAME)</span></a>
                </li>
                <li class="li_last_child"><a href='@Url.Content("~")admincp/logout'>
                    <img alt="profile" src="@Url.Content("~/Assets/admin/images/logout.png")" /><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td valign="top" width="247">
                        <div class="content_left" style="float: left; width: 100%;">
                            <div class="header">
                                <div class="logo">
                                    <img alt="" src="@Url.Content("~/Assets/admin/images/logo.png")" /></div>
                            </div>
                            <div class="clearAll">
                            </div>
                            <div class="nav_content_left">
                                <table cellspacing="0" cellpadding="0" border="0" width="237">
                                    <tr>
                                        <td valign="top" width="237">
                                            <div id="ajax_loadMenuAdmin">
                                                @{
                                                    Html.RenderAction("MenuAdmin", "Admincp");
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td valign="top" width="*">
                        
                        <div class="content_right" style="float: left; width: 100%;">
                            @{
                                //if (ViewBag.SelectedNameModule == "UpdateProfile")
                                //{
                                //    Html.RenderAction("UpdateProfile", "Admincp");
                                //}
                                //else
                                {
                                    Html.RenderAction("Index", new { controller = ViewBag.SelectedNameModule });
                                }
                                    
                            }
                            @RenderBody()
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <div class="text_footer">
            &copy; Copyright 2012. All rights reserved. Developed by <a target="_blank" href="http://wizardww.com">
                WizardWW</a>
        </div>
    </div>
    <div id="loader">
        <div class="bg_mask">
        </div>
        <div class="processing">
            <div class="bg_processing">
                <img alt="Loading" src="@Url.Content("~/Assets/admin/images/ajax-loader.gif")" /><br />
                System is processing...</div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            //            $(".main_menu").each(function (index) {
            //                var $this = $(this);
            //                var atag = $this.find('#menu-item');
            //                //alert(index);
            //                //console.log(atag);
            //                if (atag.hasClass('active')) {
            //                    //console.log($this);
            //                    var submenu = $this.parent().find(".submenu");
            //                    console.log(submenu);
            //                    atag.trigger('click');
            //                    console.log("triggered a click");
            //                }
            //            });
        });
    </script>
</body>
</html>
