﻿@using WizardCMS.Helpers
@model WizardCMS.Models.Captcha

<div class="code-char"><img src='@Url.Content("~/Captcha/Show")' alt="" class="captcha_img" id="captcha_img" /></div>
<a href="javascript:void(0);" title="" class="change-code" id="change-code"></a>
<div class="inp"><input placeholder="" name="CaptchaValue" id="CaptchaValue" value="@(Model!=null?Model.CaptchaValue:"")" /></div>