﻿@using WizardCMS.Const;
@using WizardCMS.Helpers;
@{
    string seg2 = CommonHelper.GetSegment(2);
    string seg3 = CommonHelper.GetSegment(3);
    string seg4 = CommonHelper.GetSegment(4);
    string content_link = StringHelper.content_link();
}
<!-- header -->
<div id="header">
	<div class="top-nav">
		<div class="wrapper">
			<div class="row">
				<div class="col-xs-12 wrap-top">
					<div class="hot-line"><div class="phone">Hotline <span>1900 9088</span></div></div>
					<div class="top-menu right">
						<a class="link @(seg2 == StringHelper.lang("link_mang_luoi")?"active":"")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_mang_luoi")" title="">@StringHelper.lang("text_gioithieu_mangluoi")</a>
						<a class="link @(seg2 == StringHelper.lang("link_co_dong") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_co_dong")" title="">@StringHelper.lang("text_co_dong")</a>
                        <a class="link @(seg2 == StringHelper.lang("link_cauhoi_thuonggap") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")" title="">@Html.Raw(StringHelper.lang("text_cauhoi_thuonggap"))</a>
						<a class="lang vi @(StringHelper.language() == "vi"?"active":"")" href="@(StringHelper.language() == "vi" ? "javascript:void(0)" : StringHelper.base_url() + "vi/" + ViewBag.switch_url)" title=""></a>
						<a class="lang en @(StringHelper.language() == "en"?"active":"")" href="@(StringHelper.language() == "en" ? "javascript:void(0)" : StringHelper.base_url() + "en/" + ViewBag.switch_url)" title=""></a>
						<a class="social facebook" target='_blank' href="https://www.facebook.com/CKMBS" title=""></a>
						<!-- <a class="social skype" href="javascript: void(0);" title=""></a> -->
					</div>
					<div class="top-search">
                        <form action="@StringHelper.base_url_lang()@StringHelper.lang("slug_timkiem")" method="get" class='global_search_form' id="global_search_form">
						    <div class="input"><input name="keyword" id="keyword" value="" /></div>
						    <a class="btn-top-search" id="btn-top-search" href="javascript: void(0);" title="" onclick="$('#global_search_form').submit()"></a>
                        </form>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>		
	</div>
	
	<div class="navigation">
		<div class="wrapper">
			<div class="nav-bar">
				<div class="item-nav home left"><a class='@(string.IsNullOrEmpty(seg2) ? "active":"")' title="@StringHelper.lang("home")" href="@StringHelper.base_url_lang()"><span><img alt="" src="@Url.Content("~")Assets/images/logo-@(StringHelper.language()).png"></span></a></div>
				<div class="item-nav cus-per left">
					<a title="" class="@(seg2 == StringHelper.lang("slug_kh_canhan") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("slug_kh_canhan")"><span>@StringHelper.lang("text_kh_canhan")</span><span class="icon"></span></a>
					<div class="sub-nav">
						<div class="sub-nav-main">
							<div class="name-cate left">@StringHelper.lang("text_dichvu_ck")</div>
							<div class="list-service left">
								<div class="item-lser w-240 taikhoan left">
									<a class="@(content_link == StringHelper.lang("link_mo_tai_khoan_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_mo_tai_khoan_cn")" title="">@Html.Raw(StringHelper.lang("text_mo_tai_khoan_cn"))</a>
								</div>
								<div class="item-lser w-240 moigioi left">
									<a class="@(content_link == StringHelper.lang("link_moi_gioi_ck_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_moi_gioi_ck_cn")" title="">@Html.Raw(StringHelper.lang("text_moi_gioi_ck_cn"))</a>
								</div>
								<div class="item-lser w-140 luuky left">
									<a class="@(content_link == StringHelper.lang("link_luu_ky_ck_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_luu_ky_ck_cn")" title="">@Html.Raw(StringHelper.lang("text_luu_ky_ck_cn"))</a>
								</div>
								<div class="item-lser w-240 hotro pd-top left">
									<a class="@(content_link == StringHelper.lang("link_ho_tro_tc_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ho_tro_tc_cn")" title="">@Html.Raw(StringHelper.lang("text_ho_tro_tc_cn"))</a>
								</div>
								<div class="item-lser w-240 dichvu pd-top left">
									<a class="@(content_link == StringHelper.lang("link_dvdt_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dvdt_cn")" title="">@Html.Raw(StringHelper.lang("text_dvdt_cn"))</a>
								</div>
								<div class="item-lser w-140 tuvan pd-top left">
									<a class="@(content_link == StringHelper.lang("link_tuvan_dautu_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_dautu_cn")" title="">@Html.Raw(StringHelper.lang("text_tuvan_dautu_cn"))</a>
								</div>
								<div class="item-lser w-240 pd-top uythactk left">
									<a class="@(content_link == StringHelper.lang("link_uythac_ql_tk_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_uythac_ql_tk_cn")" title="">@Html.Raw(StringHelper.lang("text_uythac_ql_tk_cn"))</a>
								</div>
								<div class="item-lser w-240 pd-top uythac left">
									<a class="@(content_link == StringHelper.lang("link_hieu_phi_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hieu_phi_cn")" title="">@Html.Raw(StringHelper.lang("text_hieu_phi_cn"))</a>
								</div>
								<div class="item-lser w-140 bodieukhoan pd-top left">
									<a class="@(content_link == StringHelper.lang("link_dk_dk_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dk_dk_cn")" title="@Html.Raw(StringHelper.lang("text_dk_dk"))">@Html.Raw(StringHelper.lang("text_dk_dk"))</a>
								</div>
                                <div class="item-lser w-240 pd-top ckps left">
									<a class="@(content_link == StringHelper.lang("link_khcn_ckps") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_khcn_ckps")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt_ckps"))</a>
								</div>
                                <div class="item-lser w-240 pd-top cqcbd left">
									<a class="@(content_link == StringHelper.lang("link_chung_quyen") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_chung_quyen")" title="">@Html.Raw(StringHelper.lang("text_chung_quyen"))</a>
								</div>
								<div class="item-lser w-140 pd-top mbond left">
									<a class="@(content_link == StringHelper.lang("link_trai_phieu_mbond") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_trai_phieu_mbond")" title="">@Html.Raw(StringHelper.lang("text_trai_phieu_mbond"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
						</div>
					</div>
				</div>
				<div class="item-nav cus-org left">
					<a title="" class="@(seg2 == StringHelper.lang("slug_kh_tochuc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("slug_kh_tochuc")"><span>@StringHelper.lang("text_kh_tochuc")</span><span class="icon"></span></a>
					<div class="sub-nav">
						<div class="sub-nav-main">
							<div class="name-cate left">@StringHelper.lang("text_dichvu_ck")</div>
							<div class="list-service left">
								<div class="item-lser w-240 taikhoan left">
									<a class="@(content_link == StringHelper.lang("link_mo_tai_khoan_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_mo_tai_khoan_tc")" title="">@Html.Raw(StringHelper.lang("text_mo_tai_khoan_cn"))</a>
								</div>
								<div class="item-lser w-240 moigioi left">
									<a class="@(content_link == StringHelper.lang("link_moi_gioi_ck_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_moi_gioi_ck_tc")" title="">@Html.Raw(StringHelper.lang("text_moi_gioi_ck_cn"))</a>
								</div>
								<div class="item-lser w-140 luuky left">
									<a class="@(content_link == StringHelper.lang("link_luu_ky_ck_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_luu_ky_ck_tc")" title="">@Html.Raw(StringHelper.lang("text_luu_ky_ck_cn"))</a>
								</div>
								<div class="item-lser w-240 pd-top hotro left">
									<a class="@(content_link == StringHelper.lang("link_ho_tro_tc_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ho_tro_tc_tc")" title="">@Html.Raw(StringHelper.lang("text_ho_tro_tc_cn"))</a>
								</div>
								<div class="item-lser w-240 dichvu pd-top left">
									<a class="@(content_link == StringHelper.lang("link_dvdt_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dvdt_tc")" title="">@Html.Raw(StringHelper.lang("text_dvdt_cn"))</a>
								</div>
								<div class="item-lser w-140 tuvan pd-top left">
									<a class="@(content_link == StringHelper.lang("link_tuvan_dautu_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_dautu_tc")" title="">@Html.Raw(StringHelper.lang("text_tuvan_dautu_cn"))</a>
								</div>
								<div class="item-lser w-240 pd-top uythactk left">
									<a class="@(content_link == StringHelper.lang("link_uythac_ql_tk_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_uythac_ql_tk_tc")" title="">@Html.Raw(StringHelper.lang("text_uythac_ql_tk_cn"))</a>
								</div>
								<div class="item-lser w-240 pd-top uythac left">
									<a class="@(content_link == StringHelper.lang("link_bieu_phi_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")" title="">@Html.Raw(StringHelper.lang("text_hieu_phi_cn"))</a>
								</div>
								<div class="item-lser w-140 bodieukhoan pd-top left">
									<a class="@(content_link == StringHelper.lang("link_dk_dk_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dk_dk_tc")" title="@Html.Raw(StringHelper.lang("text_dk_dk"))">@Html.Raw(StringHelper.lang("text_dk_dk"))</a>
								</div>
                                <div class="item-lser w-240 pd-top ckps left">
									<a class="@(content_link == StringHelper.lang("link_khtc_ckps") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_khtc_ckps")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt_ckps"))</a>
								</div>
                                <div class="item-lser w-240 pd-top cqcbd left">
									<a class="@(content_link == StringHelper.lang("link_chung_quyen") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_chung_quyen")" title="">@Html.Raw(StringHelper.lang("text_chung_quyen"))</a>
								</div>
								<div class="item-lser w-140 pd-top mbond left">
									<a class="@(content_link == StringHelper.lang("link_trai_phieu_mbond") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_trai_phieu_mbond")" title="">@Html.Raw(StringHelper.lang("text_trai_phieu_mbond"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
							<div class="bd-bt"></div>
							<div class="name-cate left">@StringHelper.lang("text_dichvu_nhdt")</div>
							<div class="list-service left">
								<div class="item-lser w-240 cophieu left">
									<a class="@(seg4 == StringHelper.lang("slug_tuvan_phathanh_cp_ecm") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_phathanh_cp_ecm")" title="">@Html.Raw(StringHelper.lang("text_tuvan_phathanh_cp_ecm"))</a>
								</div>
								<div class="item-lser w-240 traiphieu left">
									<a class="@(seg4 == StringHelper.lang("slug_tuvan_phathanh_tp_dcm") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_phathanh_tp_dcm")" title="">@Html.Raw(StringHelper.lang("text_tuvan_phathanh_tp_dcm"))</a>
								</div>
								<div class="item-lser w-140 ma left">
									<a class="@(seg4 == StringHelper.lang("slug_tuvan_ma") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_ma")" title="">@Html.Raw(StringHelper.lang("text_tuvan_ma"))</a>
								</div>
								<div class="item-lser w-240 doanhnghiep pd-top left">
									<a class="@(seg4 == StringHelper.lang("slug_tuvan_tc_dn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_tc_dn")" title="">@Html.Raw(StringHelper.lang("text_tuvan_tc_dn"))</a>
								</div>
								<div class="item-lser w-240 thuongvu pd-top left">
									<a class="@(seg4 == StringHelper.lang("slug_thuongvu_dh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_thuongvu_dh")" title="">@Html.Raw(StringHelper.lang("text_thuongvu_dh"))</a>
								</div>
								<div class="item-lser w-140 doingu pd-top left" style="display:none">
									<a class="@(seg4 == StringHelper.lang("slug_dvnhdt_doi_ngu") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dvnhdt_doi_ngu")" title="">@Html.Raw(StringHelper.lang("text_dvnhdt_doi_ngu"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
						</div>
					</div>
				</div>
				<div class="item-nav center left">
					<a title="" class="@(seg2 == StringHelper.lang("link_ttpt") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt")"><span>@Html.Raw(StringHelper.lang("text_tt_phantich_menu"))</span><span class="icon"></span></a>
					<div class="sub-nav">
						<div class="sub-nav-main">
							<div class="name-cate left">@StringHelper.lang("text_baocao_phantich")</div>
							<div class="list-service left">
								<div class="item-lser w-235 bantin left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_bantin_ngay") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_bantin_ngay")" title="">@Html.Raw(StringHelper.lang("text_ttpt_bantin_ngay"))</a>
								</div>
								<div class="item-lser w-235 thitruongno left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_thitruong_no") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_thitruong_no")" title="">@Html.Raw(StringHelper.lang("text_ttpt_thitruong_no"))</a>
								</div>
								<div class="item-lser w-149 nghiencuu left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_nghiencuu_nganh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_nghiencuu_nganh")" title="">@Html.Raw(StringHelper.lang("text_ttpt_nghiencuu_nganh"))</a>
								</div>
								<div class="item-lser w-235 pd-top nghiencuucp left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_nghiencuu_cp") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_nghiencuu_cp")" title="">@Html.Raw(StringHelper.lang("text_ttpt_nghiencuu_cp"))</a>
								</div>
								<div class="item-lser w-235 chienluoc pd-top left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_chienluoc_tt_tuan") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_chienluoc_tt_tuan")" title="">@Html.Raw(StringHelper.lang("text_ttpt_chienluoc_tt_tuan"))</a>
								</div>
								<div class="item-lser w-149 pd-top phantich left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_pt_kythuat") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_pt_kythuat")" title="">@Html.Raw(StringHelper.lang("text_ttpt_pt_kythuat"))</a>
								</div>
								<div class="item-lser w-235 pd-top cophieu left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_pt_nhanh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_pt_nhanh")" title="">@Html.Raw(StringHelper.lang("text_ttpt_pt_nhanh"))</a>
								</div>
								<div class="item-lser w-235 trienvong pd-top left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_trienvong") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_trienvong")" title="">@Html.Raw(StringHelper.lang("text_ttpt_trienvong"))</a>
								</div>
							    <div class="item-lser w-149 pd-top bantin left">
									<a class="@(seg4 == StringHelper.lang("slug_ttpt_bantin_phaisinh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_bantin_phaisinh")" title="">@Html.Raw(StringHelper.lang("text_ttpt_bantin_phaisinh"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
							<div class="bd-bt"></div>
							<div class="name-cate left">@StringHelper.lang("text_tintuc_thitruong")</div>
							<div class="list-service left tintuc-thitruong">
								<div class="item-lser w-235 tincodong left">
									<a class="@(seg3 == StringHelper.lang("slug_ttpt_tintuc_tt") ? "active" : "")" href="@StringHelper.lang("link_ttpt_tintuc_tt")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt"))</a>
								</div>
                                <div class="item-lser w-235 vimo left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_tintuc_tt_ckps")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt_ckps"))</a>
								</div>
								<div class="item-lser w-149 vimo left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_tintuc_tt_vimo")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt_vimo"))</a>
								</div>
								<div class="item-lser w-235 tincodong left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_tintuc_tt_tg")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt_tg"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
							<div class="bd-bt"></div>
							<div class="name-cate left"><a class="@(seg3 == StringHelper.lang("slug_lich_sk") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_lich_sk")" title="">@StringHelper.lang("text_lich_sk")</a></div>
							<div class="list-service left"></div>
                            <div class="clearAll"></div>
                            <div class="bd-bt"></div>
                            <div class="name-cate left"><a class="@(seg3 == StringHelper.lang("slug_hoithao_daotao") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")" title="">@StringHelper.lang("text_hoi_thao")</a></div>
							<div class="list-service left"></div>
                            <div class="clearAll"></div>
                            <div class="bd-bt"></div>
                            <div class="name-cate left"><a class="@(seg3 == StringHelper.lang("slug_ttpt_dulieu_tt") ? "active" : "")" href="@StringHelper.lang("link_ttpt_dulieu_tt")" title="">@StringHelper.lang("text_ttpt_dulieu_tt")</a></div>
							<div class="list-service left"></div>
                            <div class="clearAll"></div>
						</div>
					</div>
				</div>
				<div class="item-nav help left">
					<a title="" class="@(seg2 == StringHelper.lang("slug_chamsoc_kh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("slug_chamsoc_kh")"><span>@Html.Raw(StringHelper.lang("text_tt_chamsoc_kh"))</span><span class="icon"></span></a>
					<div class="sub-nav">
						<div class="sub-nav-main">
							<div class="name-cate left">@Html.Raw(StringHelper.lang("text_huongdan_giaodich"))</div>
							<div class="list-service left">
								<div class="item-lser w-235 video left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_video_huong_dan")" title="">@Html.Raw(StringHelper.lang("text_video_huongdan"))</a>
								</div>
								<div class="item-lser w-235 giaodich left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_hd_huongdan_gd")" title="">@Html.Raw(StringHelper.lang("text_hd_huongdan_gd"))</a>
								</div>
								<div class="item-lser w-149 uythac left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_hd_bieu_phi")" title="">@Html.Raw(StringHelper.lang("text_hd_bieuphi"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
                            @*<div class="bd-bt"></div>
                            <div class="name-cate left"><a class="active" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tl_tham_khao_ckps")" title="">@StringHelper.lang("text_tl_tham_khao_ckps")</a></div>
							<div class="list-service left">
								<div class="item-lser w-235 vimo left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_vb_chinh_phu_ckps")" title="">@Html.Raw(StringHelper.lang("text_vb_chinh_phu_ckps"))</a>
								</div>
								<div class="item-lser w-235 vimo left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_vb_bo_tai_chinh_ckps")" title="">@Html.Raw(StringHelper.lang("text_vb_bo_tai_chinh_ckps"))</a>
								</div>
								<div class="item-lser w-149 vimo left">
									<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_vb_so_giao_dich_ckps")" title="">@Html.Raw(StringHelper.lang("text_vb_so_giao_dich_ckps"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>*@
							<div class="bd-bt"></div>
							<div class="name-cate left">@Html.Raw(StringHelper.lang("text_hoithao_daotao"))</div>
							<div class="list-service left htdt-menu-wrap">
								<div class="item-lser w-235 tincodong left">
									<a class="menu-ws-item @(seg3 == StringHelper.lang("slug_hoithao_daotao") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")" title="">@StringHelper.lang("tin-tuc")</a>
								</div>
								<div class="item-lser w-235 luuky left">
									<a class='menu-ws-item menu-ws-item-register' href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao_dk")" title="">@Html.Raw(StringHelper.lang("text_hoithao_dangky"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
							<div class="bd-bt"></div>
							<div class="name-cate left"><a class="@(seg3 == StringHelper.lang("slug_lich_sk") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_lich_sk")" title="">@StringHelper.lang("text_lich_sk")</a></div>
							<div class="list-service left"></div>
                            <div class="clearAll"></div>
                            <div class="bd-bt"></div>
                            <div class="name-cate left"><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")" title="">@Html.Raw(StringHelper.lang("text_cauhoi_thuonggap"))</a></div>
							<!-- <div class="name-cate left"><a href="@Url.Content("~")vi/cham-soc-khach-hang/chuong-trinh-uu-dai" title="">Chương trình ưu đãi</a></div> -->
                            <div class="list-service left"></div>
							<div class="clearAll"></div>
							<div class="bd-bt"></div>
							<div class="name-cate left"><a class="@(seg3 == StringHelper.lang("lien-he-slug") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("lien-he-link")" title="">@StringHelper.lang("contact")</a></div>
							<div class="list-service left"></div>
							<div class="clearAll"></div>
						</div>
					</div>
				</div>
				<div class="item-nav intro left">
					<a title="" class="@(seg2 == StringHelper.lang("slug_gioi_thieu") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_chung")"><span>@Html.Raw(StringHelper.lang("text_gioithieu_mbs"))</span><span class="icon"></span></a>
					<div class="sub-nav">
						<div class="sub-nav-main">
							<div class="name-cate left">@Html.Raw(StringHelper.lang("text_gioithieu_chung"))</div>
							<div class="list-service left">
								<div class="item-lser w-170 tamnhin left">
									<a class="@(seg3 == StringHelper.lang("slug_gioithieu_tamnhin") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_tamnhin")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_tamnhin"))</a>
								</div>
								<div class="item-lser w-170 giatri left">
									<a class="@(seg3 == StringHelper.lang("slug_gioithieu_giatri") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_giatri")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_giatri"))</a>
								</div>
								<div class="item-lser w-170 doingu left">
									<a class="@(seg3 == StringHelper.lang("slug_gioithieu_doingu") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_doingu")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_doingu"))</a>
								</div>
								<div class="item-lser w-129 sodo left">
									<a class="@(seg3 == StringHelper.lang("slug_gioithieu_sodo") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_sodo")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_sodo"))</a>
								</div>
								<div class="item-lser w-170 thanhtuu pd-top left">
									<a class="@(seg3 == StringHelper.lang("slug_gioithieu_thanhtuu") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_thanhtuu")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_thanhtuu"))</a>
								</div>
								<div class="item-lser w-170 vanhoa pd-top left">
									<a class="@(seg3 == StringHelper.lang("slug_gioithieu_vanhoa") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_vanhoa")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_vanhoa"))</a>
								</div>
								<div class="item-lser w-170 mangluoi pd-top left">
									<a class="@(seg3 == StringHelper.lang("slug_gioithieu_mangluoi") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_mangluoi")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_mangluoi"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
							<div class="bd-bt"></div>
							<div class="name-cate left">@Html.Raw(StringHelper.lang("text_tintuc_mbs"))</div>
							<div class="list-service left">
								<div class="item-lser w-170 tinmbs left">
									<a class="@(seg3 == StringHelper.lang("slug_tintuc_mbs") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tintuc_mbs")" title="">@Html.Raw(StringHelper.lang("text_tintuc_mbs"))</a>
								</div>

								<div class="item-lser w-170 mbbf left">
									<a class="@(seg3 == StringHelper.lang("slug_baocao_mbbf") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_baocao_mbbf")" title="">@Html.Raw(StringHelper.lang("text_baocao_mbbf"))</a>
								</div>

								<div class="item-lser w-170 mbvf left">
									<a class="@(seg3 == StringHelper.lang("slug_baocao_mbvf") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_baocao_mbvf")" title="">@Html.Raw(StringHelper.lang("text_baocao_mbvf"))</a>
								</div>

								<div class="item-lser w-129 enf left">
									<a class="@(seg3 == StringHelper.lang("slug_baocao_enf") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_baocao_enf")" title="">@Html.Raw(StringHelper.lang("text_baocao_enf"))</a>
								</div>
								
								<div class="item-lser w-170 gocbc pd-top left">
									<a class="@(seg3 == StringHelper.lang("slug_goc_baochi") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_goc_baochi")" title="">@Html.Raw(StringHelper.lang("text_goc_baochi"))</a>
								</div>

								<div class="item-lser w-170 vbpl pd-top left">
									<a class="@(seg3 == StringHelper.lang("slug_vanban_phapluat") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_vanban_phapluat")" title="">@Html.Raw(StringHelper.lang("text_vanban_phapluat"))</a>
								</div>

                                <div class="item-lser w-170 mbgf pd-top left">
									<a class="@(seg3 == StringHelper.lang("slug_baocao_mbgf") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_baocao_mbgf")" title="">@Html.Raw(StringHelper.lang("text_baocao_mbgf"))</a>
								</div>

								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
							<div class="bd-bt"></div>
							<div class="name-cate left">@Html.Raw(StringHelper.lang("text_quanhe_codong"))</div>
							<div class="list-service left">
								<div class="item-lser w-170 tincodong left">
									<a class="@(seg3 == StringHelper.lang("slug_tin_codong") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tin_codong")" title="">@Html.Raw(StringHelper.lang("text_tin_codong"))</a>
								</div>
								<div class="item-lser w-170 luuky left">
									<a class="@(seg3 == StringHelper.lang("slug_baocao_taichinh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_baocao_taichinh")" title="">@Html.Raw(StringHelper.lang("text_baocao_taichinh"))</a>
								</div>
								<div class="item-lser w-170 congbo left">
									<a class="@(seg3 == StringHelper.lang("slug_congbo_thongtin") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_congbo_thongtin")" title="">@Html.Raw(StringHelper.lang("text_congbo_thongtin"))</a>
								</div>
								<div class="item-lser w-129 quantri left">
									<a class="@(seg3 == StringHelper.lang("slug_thongtin_quantri") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_thongtin_quantri")" title="">@Html.Raw(StringHelper.lang("text_thongtin_quantri"))</a>
								</div>      
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
							<div class="bd-bt"></div>
							<div class="name-cate left">@StringHelper.lang("text_cohoi_nn")</div>
							<div class="list-service left">
								<div class="item-lser w-170 vitri left">
									<a class="@(seg3 == StringHelper.lang("slug_vitri_tuyendung") ? "active" : "")" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_vitri_tuyendung"))" title="">@StringHelper.lang("text_vitri_tuyendung")</a>
								</div>
								<div class="item-lser w-170 ketqua left" style="display:none">
									<a href="javascript: void(0);" title="">Kết quả<br/> tuyển dụng</a>
								</div>
								<div class="item-lser w-170 bieumau left">
									<a class="@(seg3 == StringHelper.lang("slug_bieu_mau") ? "active" : "")" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_bieu_mau"))" title="">@StringHelper.lang("text_bieu_mau")</a>
								</div>
								<div class="item-lser w-129 hoso left">
									<a class="@(seg3 == StringHelper.lang("slug_huongdan_nophoso") ? "active" : "")" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_huongdan_nophoso"))" title="">@Html.Raw(StringHelper.lang("text_huongdan_nop_hs"))</a>
								</div>
								<div class="clearAll"></div>
							</div>
							<div class="clearAll"></div>
						</div>
					</div>
				</div>
				<div class="clearAll"></div>
			</div>
			<div class="nav-mobile">
				<a class="home" href="@StringHelper.base_url_lang()" title=""><span><img src="@Url.Content("~")Assets/images/logo-@(StringHelper.language()).png" alt="" /></span></a>
				<div class="control-menu"></div>
			</div>
		</div>
	</div>
</div>

<!-- menu mobile -->
<div class="box-menu-mobile">
	<div class="search-mobile">
		<div class="top-search">
            <form action="@StringHelper.base_url_lang()@StringHelper.lang("slug_timkiem")" method="get" class='global_search_form' id="global_search_form_mb">
			<div class="input"><input  name="keyword" type='text' value='' /></div>
			<a title="" href="javascript: void(0);" class="btn-top-search" onclick="$('#global_search_form_mb').submit()"></a>
            </form>
		</div>
	</div>
	<div class="clear"></div>
	<ul class="menu-mobile">
		<li class="menu-title"><span>Menu</span></li>
		<li><a class='@(string.IsNullOrEmpty(seg2) ? "active":"")' href="@StringHelper.base_url_lang()" title="@StringHelper.lang("home")">@StringHelper.lang("home")<span class="icon"></span></a></li>
		<li class="level-1">
			<a class="@(seg2 == StringHelper.lang("slug_kh_canhan") ? "active" : "")" href="javascript: void(0);" title="">@StringHelper.lang("text_kh_canhan")<span class="icon"></span></a>
			<span class="bg-holder bg-holder-1"><span class="icon-mn ic1"></span></span>
			<ul class="ul-level-1">
				<li class="menu-title"><span>@Html.Raw(StringHelper.lang("text_kh_cn_mobile"))</span></li>
				<li class="level-2">
					<a class="@(seg2 == StringHelper.lang("slug_kh_canhan") && seg3 == StringHelper.lang("slug_dv_ck") ? "active" : "")" href="javascript: void(0);" title="">@Html.Raw(StringHelper.lang("text_dv_ck_mobile"))<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><span>@Html.Raw(StringHelper.lang("text_dv_ck_mobile"))</span></li>
						<li class="taikhoan">
							<a class="@(content_link == StringHelper.lang("link_mo_tai_khoan_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_mo_tai_khoan_cn")" title="">@Html.Raw(StringHelper.lang("text_mo_tai_khoan_cn"))<span class="icon"></span></a>
						</li>
						<li class="moigioi">
							<a class="@(content_link == StringHelper.lang("link_moi_gioi_ck_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_moi_gioi_ck_cn")" title="">@Html.Raw(StringHelper.lang("text_moi_gioi_ck_cn"))<span class="icon"></span></a>
						</li>
						<li class="luuky">
							<a class="@(content_link == StringHelper.lang("link_luu_ky_ck_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_luu_ky_ck_cn")" title="">@Html.Raw(StringHelper.lang("text_luu_ky_ck_cn"))<span class="icon"></span></a>
						</li>
						<li class="hotro">
							<a class="@(content_link == StringHelper.lang("link_ho_tro_tc_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ho_tro_tc_cn")" title="">@Html.Raw(StringHelper.lang("text_ho_tro_tc_cn"))<span class="icon"></span></a>
						</li>
						<li class="dichvu">
							<a class="@(content_link == StringHelper.lang("link_dvdt_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dvdt_cn")" title="">@Html.Raw(StringHelper.lang("text_dvdt_cn"))<span class="icon"></span></a>
						</li>
						<li class="tuvan">
							<a class="@(content_link == StringHelper.lang("link_tuvan_dautu_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_dautu_cn")" title="">@Html.Raw(StringHelper.lang("text_tuvan_dautu_cn"))<span class="icon"></span></a>
						</li>
						<li class="uythactk">
							<a class="@(content_link == StringHelper.lang("link_uythac_ql_tk_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_uythac_ql_tk_cn")" title="">@Html.Raw(StringHelper.lang("text_uythac_ql_tk_cn"))<span class="icon"></span></a>
						</li>
						<li class="uythac">
							<a class="@(content_link == StringHelper.lang("link_hieu_phi_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hieu_phi_cn")" title="">@Html.Raw(StringHelper.lang("text_hieu_phi_cn"))<span class="icon"></span></a>
						</li>
						<li class="bodieukhoan">
							<a class="@(content_link == StringHelper.lang("link_dk_dk_cn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dk_dk_cn")" title="@Html.Raw(StringHelper.lang("text_dk_dk"))">@Html.Raw(StringHelper.lang("text_dk_dk"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="level-1">
			<a href="javascript: void(0);" class="@(seg2 == StringHelper.lang("slug_kh_tochuc") ? "active" : "")" title="">@StringHelper.lang("text_kh_tochuc")<span class="icon"></span></a>
			<span class="bg-holder bg-holder-1"><span class="icon-mn ic1"></span></span>
			<ul class="ul-level-1">
				<li class="menu-title"><a class="@(seg2 == StringHelper.lang("slug_kh_tochuc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("slug_kh_tochuc")" title="">@StringHelper.lang("text_kh_tochuc")</a></li>
				<li class="level-2">
					<a class="@(seg2 == StringHelper.lang("slug_kh_tochuc") && seg3 == StringHelper.lang("slug_dv_ck") ? "active" : "")" href="javascript: void(0);" title="">@Html.Raw(StringHelper.lang("text_dv_ck_mobile"))<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><span>@Html.Raw(StringHelper.lang("text_dv_ck_mobile"))</span></li>
						<li class="taikhoan">
							<a class="@(content_link == StringHelper.lang("link_mo_tai_khoan_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_mo_tai_khoan_tc")" title="">@Html.Raw(StringHelper.lang("text_mo_tai_khoan_cn"))<span class="icon"></span></a>
						</li>
						<li class="moigioi">
							<a class="@(content_link == StringHelper.lang("link_moi_gioi_ck_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_moi_gioi_ck_tc")" title="">@Html.Raw(StringHelper.lang("text_moi_gioi_ck_cn"))<span class="icon"></span></a>
						</li>
						<li class="luuky">
							<a class="@(content_link == StringHelper.lang("link_luu_ky_ck_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_luu_ky_ck_tc")" title="">@Html.Raw(StringHelper.lang("text_luu_ky_ck_cn"))<span class="icon"></span></a>
						</li>
						<li class="hotro">
							<a class="@(content_link == StringHelper.lang("link_ho_tro_tc_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ho_tro_tc_tc")" title="">@Html.Raw(StringHelper.lang("text_ho_tro_tc_cn"))<span class="icon"></span></a>
						</li>
						<li class="dichvu">
							<a class="@(content_link == StringHelper.lang("link_dvdt_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dvdt_tc")" title="">@Html.Raw(StringHelper.lang("text_dvdt_cn"))<span class="icon"></span></a>
						</li>
						<li class="tuvan">
							<a class="@(content_link == StringHelper.lang("link_tuvan_dautu_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_dautu_tc")" title="">@Html.Raw(StringHelper.lang("text_tuvan_dautu_cn"))<span class="icon"></span></a>
						</li>
						<li class="uythactk">
							<a class="@(content_link == StringHelper.lang("link_uythac_ql_tk_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_uythac_ql_tk_tc")" title="">@Html.Raw(StringHelper.lang("text_uythac_ql_tk_cn"))<span class="icon"></span></a>
						</li>
						<li class="uythac">
							<a class="@(content_link == StringHelper.lang("link_bieu_phi_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_bieu_phi_tc")" title="">@Html.Raw(StringHelper.lang("text_hieu_phi_cn"))<span class="icon"></span></a>
						</li>
						<li class="bodieukhoan">
							<a class="@(content_link == StringHelper.lang("link_dk_dk_tc") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_dk_dk_tc")" title="@Html.Raw(StringHelper.lang("text_dk_dk"))">@Html.Raw(StringHelper.lang("text_dk_dk"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
				<li class="level-2">
					<a class="@(seg3 == StringHelper.lang("slug_dv_nh_dt") ? "active" : "")" href="javascript: void(0);" title="">@Html.Raw(StringHelper.lang("text_dv_nh_dt_mobile"))<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><span>@Html.Raw(StringHelper.lang("text_dv_nh_dt_mobile"))</span></li>
						<li class="phathanhcp">
							<a class="@(content_link == StringHelper.lang("link_tuvan_phathanh_cp_ecm") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_phathanh_cp_ecm")" title="">@Html.Raw(StringHelper.lang("text_tuvan_phathanh_cp_ecm"))<span class="icon"></span></a>
						</li>
						<li class="phathanhtp">
							<a class="@(content_link == StringHelper.lang("link_tuvan_phathanh_tp_dcm") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_phathanh_tp_dcm")" title="">@Html.Raw(StringHelper.lang("text_tuvan_phathanh_tp_dcm"))<span class="icon"></span></a>
						</li>
						<li class="tuvanma">
							<a class="@(content_link == StringHelper.lang("link_tuvan_ma") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_ma")" title="">@Html.Raw(StringHelper.lang("text_tuvan_ma"))<span class="icon"></span></a>
						</li>
						<li class="doanhnghiep">
							<a class="@(content_link == StringHelper.lang("link_tuvan_tc_dn") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tuvan_tc_dn")" title="">@Html.Raw(StringHelper.lang("text_tuvan_tc_dn"))<span class="icon"></span></a>
						</li>
						<li class="thuongvu">
							<a class="@(content_link == StringHelper.lang("link_thuongvu_dh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_thuongvu_dh")" title="">@Html.Raw(StringHelper.lang("text_thuongvu_dh"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="level-1">
			<a class="@(seg2 == StringHelper.lang("slug_tt_phantich") ? "active" : "")" title="" href="javascript: void(0);">@StringHelper.lang("text_tt_phantich_menu")<span class="icon"></span></a>
			<span class="bg-holder bg-holder-1"><span class="icon-mn ic1"></span></span>
			<ul class="ul-level-1">
				<li class="menu-title"><a class="@(seg2 == StringHelper.lang("slug_tt_phantich") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tt_phantich")" title="">@Html.Raw(StringHelper.lang("text_tt_pt_mobile"))</a></li>
				<li class="level-2">
					<a class="@(seg3 == StringHelper.lang("slug_ttpt_bc_pt") ? "active" : "")" href="javascript: void(0);" title="">@StringHelper.lang("text_baocao_phantich")<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><span>@StringHelper.lang("text_baocao_phantich")</span></li>
						<li class="trienvong">
							<a class="@(seg4 == StringHelper.lang("slug_ttpt_trienvong") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_trienvong")" title="">@Html.Raw(StringHelper.lang("text_ttpt_trienvong"))<span class="icon"></span></a>
						</li>
						<li class="thitruongno">
							<a class="@(seg4 == StringHelper.lang("slug_ttpt_thitruong_no") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_thitruong_no")" title="">@Html.Raw(StringHelper.lang("text_ttpt_thitruong_no"))<span class="icon"></span></a>
						</li>
						<li class="nghiencuu">
							<a class="@(seg4 == StringHelper.lang("slug_ttpt_nghiencuu_nganh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_nghiencuu_nganh")" title="">@Html.Raw(StringHelper.lang("text_ttpt_nghiencuu_nganh"))<span class="icon"></span></a>
						</li>
						<li class="nghiencuucp">
							<a class="@(seg4 == StringHelper.lang("slug_ttpt_nghiencuu_cp") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_nghiencuu_cp")" title="">@Html.Raw(StringHelper.lang("text_ttpt_nghiencuu_cp"))<span class="icon"></span></a>
						</li>
						<li class="bantin">
							<a class="@(seg4 == StringHelper.lang("slug_ttpt_bantin_ngay") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_bantin_ngay")" title="">@Html.Raw(StringHelper.lang("text_ttpt_bantin_ngay"))<span class="icon"></span></a>
						</li>
						<li class="chienluoc">
							<a class="@(seg4 == StringHelper.lang("slug_ttpt_chienluoc_tt_tuan") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_chienluoc_tt_tuan")" title="">@Html.Raw(StringHelper.lang("text_ttpt_chienluoc_tt_tuan"))<span class="icon"></span></a>
						</li>
						<li class="phantich">
							<a class="@(seg4 == StringHelper.lang("slug_ttpt_pt_kythuat") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_pt_kythuat")" title="">@Html.Raw(StringHelper.lang("text_ttpt_pt_kythuat"))<span class="icon"></span></a>
						</li>
						<li class="cophieu">
							<a class="@(seg4 == StringHelper.lang("slug_ttpt_pt_nhanh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_pt_nhanh")" title="">@Html.Raw(StringHelper.lang("text_ttpt_pt_nhanh"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
				<li class="level-2">
					<a class="@(seg3 == StringHelper.lang("slug_ttpt_tintuc_tt") ? "active" : "")" href="javascript: void(0);" title="">@StringHelper.lang("text_tintuc_thitruong")<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><span>@StringHelper.lang("text_tintuc_thitruong")</span></li>
						<li class="hash-sub tincodong" data-hash='@StringHelper.lang("slug_tin_tuc_tt")'>
							<a class="@(seg3 == StringHelper.lang("slug_ttpt_tintuc_tt") ? "active" : "")" href="@StringHelper.lang("link_ttpt_tintuc_tt")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt"))<span class="icon"></span></a>
						</li>
                        <li class="hash-sub vimo" data-hash='@StringHelper.lang("slug_tin_ckps")'>
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_tintuc_tt_ckps")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt_ckps"))<span class="icon"></span></a>
						</li>
						<li class="hash-sub vimo" data-hash='@StringHelper.lang("slug_tin_vi_mo")'>
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_tintuc_tt_vimo")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt_vimo"))<span class="icon"></span></a>
						</li>
						<li class="hash-sub thegioi" data-hash='@StringHelper.lang("slug_tin_the_gioi")'>
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_ttpt_tintuc_tt_tg")" title="">@Html.Raw(StringHelper.lang("text_ttpt_tintuc_tt_tg"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
				<li>
					<a class="@(seg3 == StringHelper.lang("slug_lich_sk") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_lich_sk")" title="">@StringHelper.lang("text_lich_sk")</a>
				</li>
				<li>
					<a class="@(seg3 == StringHelper.lang("slug_hoithao_daotao") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")" title="">@StringHelper.lang("text_hoi_thao")</a>
				</li>
				<li>
					<a class="@(seg3 == StringHelper.lang("slug_ttpt_dulieu_tt") ? "active" : "")" href="@StringHelper.lang("link_ttpt_dulieu_tt")" title="">@StringHelper.lang("text_ttpt_dulieu_tt")</a>
				</li>
			</ul>
		</li>
		<li class="level-1">
			<a class="@(seg2 == StringHelper.lang("slug_chamsoc_kh") ? "active" : "")" title="" href="javascript: void(0);">@Html.Raw(StringHelper.lang("text_tt_chamsoc_kh"))<span class="icon"></span></a>
			<span class="bg-holder bg-holder-1"><span class="icon-mn ic1"></span></span>
			<ul class="ul-level-1">
				<li class="menu-title"><a title="" class="@(seg2 == StringHelper.lang("slug_chamsoc_kh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("slug_chamsoc_kh")">@Html.Raw(StringHelper.lang("text_tt_chamsoc_kh"))</a></li>
				<li class="level-2">
					<a class="@(seg3 == StringHelper.lang("huong-dan-slug") ? "active" : "")" href="javascript: void(0);" title="">@Html.Raw(StringHelper.lang("text_huongdan_giaodich"))<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><a class="@(seg3 == StringHelper.lang("huong-dan-slug") ? "active" : "")" href="" title="">@Html.Raw(StringHelper.lang("text_huongdan_giaodich"))</a></li>
						<li class="video">
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_video_huong_dan")" title="">@Html.Raw(StringHelper.lang("text_video_huongdan"))<span class="icon"></span></a>
						</li>
						<li class="giaodich">
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_hd_huongdan_gd")" title="">@Html.Raw(StringHelper.lang("text_hd_huongdan_gd"))<span class="icon"></span></a>
						</li>
						<li class="uythac">
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_hd_bieu_phi")" title="">@Html.Raw(StringHelper.lang("text_hd_bieuphi"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
                <li class="level-2">
					<a class="@(seg3 == StringHelper.lang("tai-lieu-tham-khao-slug") ? "active" : "")" href="javascript: void(0);" title="">@Html.Raw(StringHelper.lang("text_tl_tham_khao_ckps"))<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><a class="@(seg3 == StringHelper.lang("tai-lieu-tham-khao-slug") ? "active" : "")" href="" title="">@Html.Raw(StringHelper.lang("text_tl_tham_khao_ckps"))</a></li>
						<li class="video">
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_vb_chinh_phu_ckps")" title="">@Html.Raw(StringHelper.lang("text_vb_chinh_phu_ckps"))<span class="icon"></span></a>
						</li>
						<li class="giaodich">
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_vb_bo_tai_chinh_ckps")" title="">@Html.Raw(StringHelper.lang("text_vb_bo_tai_chinh_ckps"))<span class="icon"></span></a>
						</li>
						<li class="uythac">
							<a href="@StringHelper.base_url_lang()@StringHelper.lang("link_vb_so_giao_dich_ckps")" title="">@Html.Raw(StringHelper.lang("text_vb_so_giao_dich_ckps"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
				<li class="level-2">
					<a class="@(seg3 == StringHelper.lang("slug_hoithao_daotao") ? "active" : "")" href="javascript: void(0);" title="@StringHelper.lang("text_hoi_thao")">@StringHelper.lang("text_hoi_thao")<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><a class="@(seg3 == StringHelper.lang("slug_hoithao_daotao") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")" title="@StringHelper.lang("text_hoi_thao")">@StringHelper.lang("text_hoi_thao")</a></li>
						<li class="tincodong ">
							<a class="menu-ws-item @(seg3 == StringHelper.lang("slug_hoithao_daotao") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao")" title="@StringHelper.lang("tin-tuc")">@StringHelper.lang("tin-tuc")<span class="icon"></span></a>
						</li>
						<li class="luuky">
							<a class="menu-ws-item menu-ws-item-register" href="@StringHelper.base_url_lang()@StringHelper.lang("link_hoithao_daotao_dk")" title="">@Html.Raw(StringHelper.lang("text_hoithao_dangky"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
				<li>
					<a class="@(seg3 == StringHelper.lang("slug_lich_sk") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_lich_sk")" title="@StringHelper.lang("text_lich_sk")">@StringHelper.lang("text_lich_sk")</a>
				</li>
				<li>
					<a class="@(seg3 == StringHelper.lang("slug_cauhoi_thuonggap") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_cauhoi_thuonggap")" title="@Html.Raw(StringHelper.lang("text_cauhoi_thuonggap"))">@Html.Raw(StringHelper.lang("text_cauhoi_thuonggap"))</a>
				</li>
				<li>
					<a class="@(seg3 == StringHelper.lang("lien-he-slug") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("lien-he-link")" title="@StringHelper.lang("contact")">@StringHelper.lang("contact")</a>
				</li>
			</ul>
		</li>
		<li class="level-1">
			<a class="@(seg2 == StringHelper.lang("slug_gioi_thieu") ? "active" : "")" title="" href="javascript: void(0);">@Html.Raw(StringHelper.lang("text_gioithieu_mbs"))<span class="icon"></span></a>
			<span class="bg-holder bg-holder-1"><span class="icon-mn ic1"></span></span>
			<ul class="ul-level-1">
				<li class="menu-title"><a title="@Html.Raw(StringHelper.lang("text_gioithieu_mbs"))" class="@(seg2 == StringHelper.lang("slug_gioi_thieu") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_chung")">@Html.Raw(StringHelper.lang("text_gioithieu_mbs"))</a></li>
				<li class="level-2">
					<a class="@(seg2 == StringHelper.lang("slug_gioi_thieu") ? "active" : "")" href="javascript: void(0);" title="">@Html.Raw(StringHelper.lang("text_gioithieu_chung"))<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><a href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_chung")" title="@Html.Raw(StringHelper.lang("text_gioithieu_chung"))">@Html.Raw(StringHelper.lang("text_gioithieu_chung"))</a></li>
						<li class="tamnhin">
							<a class="@(seg3 == StringHelper.lang("slug_gioithieu_tamnhin") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_tamnhin")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_tamnhin"))<span class="icon"></span></a>
						</li>
						<li class="giatri">
							<a class="@(seg3 == StringHelper.lang("slug_gioithieu_giatri") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_giatri")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_giatri"))<span class="icon"></span></a>
						</li>
						<li class="doingu">
							<a class="@(seg3 == StringHelper.lang("slug_gioithieu_doingu") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_doingu")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_doingu"))<span class="icon"></span></a>
						</li>
						<li class="sodo">
							<a class="@(seg3 == StringHelper.lang("slug_gioithieu_sodo") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_sodo")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_sodo"))<span class="icon"></span></a>
						</li>
						<li class="thanhtuu">
							<a class="@(seg3 == StringHelper.lang("slug_gioithieu_thanhtuu") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_thanhtuu")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_thanhtuu"))<span class="icon"></span></a>
						</li>
						<li class="vanhoa">
							<a class="@(seg3 == StringHelper.lang("slug_gioithieu_vanhoa") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_vanhoa")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_vanhoa"))<span class="icon"></span></a>
						</li>
						<li class="mangluoi">
							<a class="@(seg3 == StringHelper.lang("slug_gioithieu_mangluoi") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_gioithieu_mangluoi")" title="">@Html.Raw(StringHelper.lang("text_gioithieu_mangluoi"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
				<li class="level-2">
					<a class="@(seg2 == StringHelper.lang("slug_goc_tt") ? "active" : "")" href="javascript: void(0);" title="">@StringHelper.lang("text_tintuc_mbs")<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><a class="@(seg2 == StringHelper.lang("slug_goc_tt") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tintuc_mbs")" title="@StringHelper.lang("text_tintuc_mbs")">@StringHelper.lang("text_tintuc_mbs")</a></li>
						<li class="tinmbs">
							<a class="@(seg3 == StringHelper.lang("slug_tintuc_mbs") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tintuc_mbs")" title="">@Html.Raw(StringHelper.lang("text_tintuc_mbs"))<span class="icon"></span></a>
						</li>
						<li class="gocbc">
							<a class="@(seg3 == StringHelper.lang("slug_goc_baochi") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_goc_baochi")" title="">@Html.Raw(StringHelper.lang("text_goc_baochi"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
				<li class="level-2">
					<a class="@(seg2 == StringHelper.lang("slug_qh_codong") ? "active" : "")" href="javascript: void(0);" title="">@StringHelper.lang("text_quanhe_codong")<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><a class="@(seg2 == StringHelper.lang("slug_qh_codong") ? "active" : "")" href="" title="">@StringHelper.lang("text_quanhe_codong")</a></li>
						<li class="tincodong">
							<a class="@(seg3 == StringHelper.lang("slug_tin_codong") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_tin_codong")" title="">@Html.Raw(StringHelper.lang("text_tin_codong"))<span class="icon"></span></a>
						</li>
						<li class="luuky">
							<a class="@(seg3 == StringHelper.lang("slug_baocao_taichinh") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_baocao_taichinh")" title="">@Html.Raw(StringHelper.lang("text_baocao_taichinh"))<span class="icon"></span></a>
						</li>
						<li class="congbo">
							<a class="@(seg3 == StringHelper.lang("slug_congbo_thongtin") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_congbo_thongtin")" title="">@Html.Raw(StringHelper.lang("text_congbo_thongtin"))<span class="icon"></span></a>
						</li>
						<li class="quantri">
							<a class="@(seg3 == StringHelper.lang("slug_thongtin_quantri") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_thongtin_quantri")" title="">@Html.Raw(StringHelper.lang("text_thongtin_quantri"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
				<li class="level-2">
					<a class="@(seg2 == StringHelper.lang("slug_tuyen_dung") ? "active" : "")" href="javascript: void(0);" title="">@StringHelper.lang("text_cohoi_nn")<span class="icon"></span></a>
					<span class="bg-holder bg-holder-2"><span class="icon-mn ic2"></span></span>
					<ul class="sub-menu ul-level-2">
						<li class="menu-title"><a class="@(seg2 == StringHelper.lang("slug_tuyen_dung") ? "active" : "")" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_vitri_tuyendung"))" title="@StringHelper.lang("text_cohoi_nn")">@StringHelper.lang("text_cohoi_nn")</a></li>
						<li class="vitri">
							<a class="@(seg3 == StringHelper.lang("slug_vitri_tuyendung") ? "active" : "")" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_vitri_tuyendung"))" title="">@StringHelper.lang("text_vitri_tuyendung")<span class="icon"></span></a>
						</li>
						<li class="ketqua" style="display:none">
							<a href="javascript: void(0);" title="">Kết quả<br/> tuyển <span class="icon"></span></a>
						</li>
						<li class="bieumau">
							<a class="@(seg3 == StringHelper.lang("slug_bieu_mau") ? "active" : "")" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_bieu_mau"))" title="">@StringHelper.lang("text_bieu_mau")<span class="icon"></span></a>
						</li>
						<li class="hoso">
							<a class="@(seg3 == StringHelper.lang("slug_huongdan_nophoso") ? "active" : "")" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_huongdan_nophoso"))" title="">@Html.Raw(StringHelper.lang("text_huongdan_nop_hs"))<span class="icon"></span></a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="ss-icon">
			<!-- <a class="social facebook" target='_blank' href="https://www.facebook.com/CKMBS" title=""></a> -->
			<a class="lang vi @(StringHelper.language() == "vi"?"active":"")" href="@(StringHelper.language() == "vi" ? "javascript:void(0)" : StringHelper.base_url() + "vi/" + ViewBag.switch_url)" title=""></a>
			<a class="lang en @(StringHelper.language() == "en"?"active":"")" href="@(StringHelper.language() == "en" ? "javascript:void(0)" : StringHelper.base_url() + "en/" + ViewBag.switch_url)" title=""></a>
			<a class="social facebook" target='_blank' href="https://www.facebook.com/CKMBS" title=""></a>
		</li>
		<li class="bot-menu">
			<a class="@(seg2 == StringHelper.lang("lien-he-slug") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("lien-he-link")" title=""><span>@StringHelper.lang("contact")</span></a>
			<a class="@(seg3 == StringHelper.lang("slug_tin_codong") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("link_co_dong")" title="">•<span>@StringHelper.lang("text_co_dong")</span></a><br/>
			<a class="@(seg3 == StringHelper.lang("slug_vitri_tuyendung") ? "active" : "")" href="@(StringHelper.base_url_lang() + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_vitri_tuyendung"))" title=""><span>@StringHelper.lang("recruitment")</span></a>
			<a class="@(seg2 == StringHelper.lang("sitemap-slug") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("sitemap-slug")" title="">•<span>Sitemap</span></a><br/>
			<a class="@(seg2 == StringHelper.lang("dieu-khoan-su-dung-slug") ? "active" : "")" href="@StringHelper.base_url_lang()@StringHelper.lang("dieu-khoan-su-dung-slug")" title="@StringHelper.lang("dieu-khoan-su-dung")"><span>@StringHelper.lang("dieu-khoan-su-dung")</span></a>
		</li>
	</ul>
</div>

