﻿<!DOCTYPE html>
<html lang='@WizardCMS.Helpers.StringHelper.language()' class="@WizardCMS.Helpers.StringHelper.language()">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>@ViewBag.Title</title>
    <meta property="og:description" content="@Resources.Resources.META_DESCRIPTION" /> 
    <meta name="description" content="@Resources.Resources.META_DESCRIPTION" />
    <link rel="icon" href="@Url.Content("~/Images/favicon.ico")" type="image/x-icon" />

    <link rel="stylesheet" href="@Url.Content("~/Assets/css/reset.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/styles.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/styles_tablet.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/styles_mobile.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/uniform.default.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/jquery.mCustomScrollbar.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/idangerous.swiper.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/owl.carousel.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/owl.theme.default.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/bootstrap.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/bootstrap-theme.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/jquery.fancybox.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/jquery-ui.min.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Assets/css/jquery.selectbox.css")" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100,100italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery-1.10.1.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.fancybox.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/js/date.js")"></script>

    <script type="text/javascript">
        var root = '@WizardCMS.Helpers.StringHelper.base_url()';
        var root_lang = '@WizardCMS.Helpers.StringHelper.base_url_lang()';
    </script>
</head>
<body>
    <div class="wrap-content">
        @Html.Partial("_Header")
        
        <!-- content -->
        <div id="content">
	        @RenderBody()
        </div><!-- end #content -->

        @Html.Partial("_Footer_" + WizardCMS.Helpers.StringHelper.language())
        <div class="fix-overlay"></div>
    </div><!-- end #wrapper -->
</body>
<script type="text/javascript" src="@Url.Content("~/Assets/js/when.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/core.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/graphics.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/mapimage.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/mapdata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/areadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/areacorners.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/scale.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/zepto.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.imagemapster.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.easing.1.3.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/tween/TweenMax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/tween/TimelineLite.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/owl.carousel.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/idangerous.swiper.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.selectbox-0.2.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.mCustomScrollbar.concat.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.nicescroll.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.uniform.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/placeholders.jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/main.js")"></script>
</html>
