﻿<div class="box_search right">
	<form action="home/search" name="frSearch" id="frSearch" method="get">
		<input type="text" name="k" value="" onfocus="if(this.value=='search'){this.value=''}" onblur="if(this.value==''){this.value='search'}" />&nbsp;&nbsp;<a href="javascript:void(0);" title="" id="_btnSearch"><img class='png'
            src="../../Images/btn/btn_search.png" alt='search' /></a>
	</form>
</div>