﻿@using WizardCMS.Helpers;
@model IEnumerable<WizardCMS.DTO.MenuItemDTO>
    

@if (Model != null && Model.Count() > 0)
{
    <ul class="submenu">
    @{
        string curentUrl = "";
        if (Request.IsAjaxRequest())
        {
            curentUrl = Request.UrlReferrer.AbsoluteUri;
        }
        else
        {
            curentUrl = Request.Url.AbsoluteUri;
        }
        string current_slug = CommonHelper.GetSegment(2, curentUrl);
     
        int index = 0;
        string cssClass = "";
        foreach (var item in Model)
        {
            if (index++ == 0)
            {
                cssClass = "first";
            }
            else {
                cssClass = "";
            }
            if (current_slug != string.Empty && current_slug == item.Slug)
            {
                cssClass += " active";
            }
            string menu_link = Url.Content("~") + "admincp/" + ViewBag.FunctionName + "/category/" + item.Id;
            <li class=" @cssClass" ><a class="@cssClass" href='@menu_link'>@item.Title</a></li>
        }
    }
    </ul>
}