﻿@model ThanhThanhCong.Models.Account
@{
    ViewBag.Title = "Update Profile";
    Layout = null;
}
<script type="text/javascript">
    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback 
            success: showResponse  // post-submit callback 
        };
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        var errorMessage = "";
        if (form.oldpassAdmincp.value == '' || form.newpassAdmincp.value == '' || form.renewpassAdmincp.value == '') {
            errorMessage = "Please enter information!!!";
        } else if (form.newpassAdmincp.value.length < 6) {
            errorMessage = "New password must more than 6 characters";
        }else if(form.newpassAdmincp.value.length>50){
            errorMessage = "New password must lower 50 characters";
        } 
        else if (form.newpassAdmincp.value != form.renewpassAdmincp.value) {
            errorMessage = "New password is not match";
        }
        if (errorMessage != '') {
            $('#txt_error').html(errorMessage);
            $('#loader').fadeOut(300);
            show_perm_denied();
            return false;
        }
    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'success_update_profile') {
            location.href = root + "Login/Logout";
        } else if (responseText == 'error_update_profile') {
            $('#txt_error').html('Old password incorrect!!!');
            $('#loader').fadeOut(300);
            show_perm_denied();
            return false;
        }
    }
</script>

<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
		    <li class="midNav_last_child"><a href="javascript:void(0)" onclick="save()"><span id="saveContent" class="save">Save</span></a></li>
	    </ul>
    </div>
</div>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>

                <div class="table">
                    <div class="head_table">
                        <div class="head_title_table">
                            Update profile
                        </div>
                    </div>
                    
                    <div id="ajax_loadContent">
                        <form id="frmManagement" action='@Url.Content("~")Profile/ChangePassword'    method="post" enctype="multipart/form-data">
                            <div class="row_text_field_first">
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tr>
                                        <td class="left_text_field">
                                            Old password:
                                        </td>
                                        <td class="right_text_field">
                                            <input value="" type="password" name="oldpassAdmincp" style="width: 200px;"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row_text_field">
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tr>
                                        <td class="left_text_field">
                                            New password:
                                        </td>
                                        <td class="right_text_field">
                                            <input value="" type="password" name="newpassAdmincp"  style="width: 200px;"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row_text_field">
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tr>
                                        <td class="left_text_field">
                                            Re-new password:
                                        </td>
                                        <td class="right_text_field">
                                            <input value="" type="password" name="renewpassAdmincp"  style="width: 200px;"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>