﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-dichvuchungkhoang.jpg) center center">
	<div class="wrapper">
		<span>@(ViewBag.parent != null ? Html.Raw(ViewBag.parent.TITLE) : Html.Raw(Model.TITLE))</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>

            <div class='page-content-body'>
                <!-- <div class="fs14 c_555 mt15">@Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))</div> -->

                <div class="gr-bp">
					<ul>
                    @if (ViewBag.childs != null)
                    {
                        int i = 1;
                        foreach (var item in ViewBag.childs)
                        {
						    <li rel="#item_bp@(i)" data-hash='#@item.SLUG' class="itembp itembp@(i)">
							    <div class="tbl">
								    <div class="img">
									    <span>
										    <a href="#@item.SLUG" title=""><img alt="" src="@item.ICON" class="img-bp"></a>
									    </span>
								    </div>
								    <p><a href="#@item.SLUG" title="">@(StringHelper.IsNullOrEmptyOrWhiteSpace(item.SUB_TITLE) ? StringHelper.post_title(item.TITLE) : StringHelper.post_title(item.SUB_TITLE))</a></p>
							    </div>
						    </li>
                            i++;
                        }
                    }
					</ul>
				</div>

                @if (ViewBag.childs != null)
                {
                    int i = 1;
                    foreach (var item in ViewBag.childs)
                    {
						<div class="linedraw mt30"></div>
			            <div class="item_bp item_bp@(i) mt30 @item.SLUG" id="item_bp@(i)">
				            <div class="draw-blue">
					            <p>@(i). @StringHelper.post_title(item.TITLE)</p>
					            <img data-cl="itembp@(i)" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
				            </div>
			            </div>
			            <div class="text-bpshow fs14 c_555">
				            @Html.Raw(item.CONTENT)
			            </div>
                        i++;
                    }
                }
                
            </div>
        </div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $(".gr-bp li").click(function () {
        var $this = $(this);
        var id = $this.attr('rel');
        window.location.hash = $this.data('hash');
        
        //$(this).animate(function(){
        $('html, body').animate({
            scrollTop: $(id).offset().top
        }, 500);
        //});
    });

    $('.dr-icon').click(function () {
    	var cl = $(this).data("cl");
        $('html, body').animate({
            scrollTop: $("."+cl).offset().top
        }, 500);
    });

    $(document).ready(function () {
        var url = location.href;
        if (url.indexOf('#') >= 0) {
            console.log('scroll beiu phi');
            var hash = url.substr(url.indexOf('#') + 1);
            console.log(hash);
            if (hash != '' && $("." + hash).length > 0) {
                //scrollToDiv2(hash);
                $('html, body').animate({
                    scrollTop: $("." + hash).offset().top
                }, 500);
            }
        }
    });
</script>