﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Banner = "Assets/images/banner/banner-0406/banner-dichvuchungkhoang.jpg";
    if (ViewBag.parent.ID == Constants.NODE_DV_NHDT_TC)
    {
        Banner = "Assets/images/banner/banner-0406/banner-nganhangdautu.jpg";
    }
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")@Banner) center center">
	<div class="wrapper">
		<span>@(ViewBag.parent != null ? Html.Raw(ViewBag.parent.TITLE) : Html.Raw(Model.TITLE))</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
	    	<div class='page-content-body'>
                
            </div>
			<div class="banking-services">
				<div class="banking-share">
					<div class="info">
                        @Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))
					</div>
                    @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                    {
					<div class="banking-advisory @(ViewBag.childs.Count==2?"ma":"")">
                        @foreach (var item in ViewBag.childs)
                        {
						<div class="item-advisory">
							<a href="javascript:void(0);" title="@Html.Raw(item.TITLE)">
								<table>
									<tbody>
										<tr>
											<td>
												<p><img src="@item.ICON" alt="" title="" /><span class="imba"></span></p>
												<p><span class="text">@Html.Raw(item.TITLE)</span></p>
											</td>
										</tr>
									</tbody>
								</table>
							</a>
						</div>
                        }
						<div class="clear"></div>
					</div>
					<div class="banking-counsel">
                        @foreach (var item in ViewBag.childs)
                        {
						<div class="banking-counsel-it">
							<div class="tt">
								<p>@(StringHelper.IsNullOrEmptyOrWhiteSpace(item.SUB_TITLE) ? StringHelper.post_title(item.TITLE) : StringHelper.post_title(item.SUB_TITLE))</p>
								<span class="line"></span>
							</div>
							<div class="banking-info">@Html.Raw(item.CONTENT)</div>
							<div class="clear"></div>
						</div>
                        }
					</div>
                    }
                    </div>
			</div>
        </div>
	</div>
</div>
<!-- end content home -->