﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-dichvuchungkhoang.jpg) center center">
	<div class="wrapper">
		<span>@(ViewBag.parent != null ? Html.Raw(ViewBag.parent.TITLE) : Html.Raw(Model.TITLE))</span>
	</div>
</div>
<!-- Banner -->

<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right dvdt-pg">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
	    	<div class='page-content-body'>
                <div class="fs14 c_555 mt15">
					@Html.Raw(StringHelper.field_content( Model.ContentTranslates, "CONTENT"))
				</div>
				<div class="list_dvdt mt25">
					<div class="l-itemdt">
                    @if (ViewBag.childs != null)
                    {
                        int i = 1;
                        foreach (var item in ViewBag.childs)
                        {
						    <div class="itemdt itemdt@(i) left @item.SLUG" hash='@item.SLUG' rel="#item_click@(i)">
							    <img class="bg" src="@Url.Content("~")@(CommonHelper.Img(item.THUMBNAIL, 235, 130))" alt="" />
							    <img class="bg-opacity" src="@Url.Content("~")@(CommonHelper.Img(item.THUMBNAIL, 235, 130))" alt="" />
							    <div class="bd-dvdt">
								    <div class="tbc">
									    <img src="@item.ICON" alt="" />
									    <p>@Html.Raw(item.TITLE)</p>
								    </div>
							    </div>
						    </div>
                            i++;
                        }
                    }
					<div class="clearAll"></div>
					</div>
				</div>

                @if (ViewBag.childs != null)
                {
                    int i = 1;
                    foreach (var item in ViewBag.childs)
                    {
				        <div class="linedraw @(i==0?"mt10":"")"></div>
                        <div class="item_click item_click@(i) mt30 @item.SLUG" id="item_click@(i)">
					        <div class="draw-blue">
						        <img class="tit" src="@item.ICON" alt="" />
						        <img data-cl="itemdt@(i)" class="dr-icon" src="@Url.Content("~")Assets/images/icon/drdt.png" alt="" />
					        </div>
				        </div>
				        <div class="text-dtshow fs14 c_555">
					        @Html.Raw(item.CONTENT)
				        </div>
                        i++;
                    }
                }

				
            </div>
        </div>
	</div>
</div>
<!-- end content home -->
<script>
    $(document).ready(function () {
        var w_box = $('.list_dvdt .itemdt img.bg').width();
        $(window).load(function () {
            $('.bd-dvdt .tbc').height(w_box * (55.3191 / 100));
            setTimeout(function () {
                $('img.bg-opacity').fadeOut();
            }, 200)
        })
        $(window).resize(function () {
            w_box = $('.list_dvdt .itemdt img.bg').width();
            $('.bd-dvdt .tbc').height(w_box * (55.3191 / 100));
        });

        $(".list_dvdt .itemdt").click(function () {
            var $this = $(this);
            var id = $this.attr('rel');
            var hash = $this.attr('hash');

            window.location.hash = hash;
            //$(this).animate(function(){
            $('html, body').animate({
                scrollTop: $(id).offset().top
            }, 500);
            //});
        });

        $('.dr-icon').click(function () {
            var cl = $(this).data("cl");
            $('html, body').animate({
                scrollTop: $("." + cl).offset().top
            }, 500);
        });

        var url = location.href;
        if (url.indexOf('#') >= 0) {
            var hash = url.substr(url.indexOf('#') + 1);
            console.log(hash);
            if ($(".itemdt." + hash).length > 0) {
                $(".itemdt." + hash).trigger("click");
            }
        }
    })
</script>