﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Model.TITLE);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bn-sdtc.jpg) center center">
	<div class="wrapper">
		<span>@Model.TITLE</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
				<p>@Model.TITLE</p>
				<div class="line"></div>
			</div>
			<div class="tochuc-page">
                <!-- @if (StringHelper.language() == "vi")
                {
				<svg width="746" height="526" xmlns="http://www.w3.org/2000/svg">
					<g>
					<title>Layer 1</title>
					<rect stroke-width="2" fill="#d71921" stroke="#9a161c" stroke-linejoin="null" stroke-linecap="null" x="280.5" y="0" width="184" height="52" id="svg_1"/>
					<text fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="371.99893" y="30.49278" id="svg_2" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">ĐẠI HỘI ĐỒNG CỔ ĐÔNG</text>
					<rect id="svg_9" stroke-width="2" fill="#d71921" stroke="#9a161c" stroke-linejoin="null" stroke-linecap="null" x="281.5" y="158" width="184" height="52"/>
					<text id="svg_10" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="373.49893" y="188.5006" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN TỔNG GIÁM ĐỐC</text>
					<rect id="svg_16" stroke-width="2" fill="#76c4f1" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="561" y="79" width="184" height="52"/>
					<text id="svg_17" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="652.99893" y="109.49278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">HỘI ĐỒNG ĐẦU TƯ</text>
					<rect id="svg_20" stroke-width="2" fill="#76c4f1" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="561" y="158" width="184" height="52"/>
					<text id="svg_21" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="652.99893" y="188.49278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN TRỢ LÝ</text>
					<rect id="svg_6" stroke-width="2" fill="#d71921" stroke="#9a161c" stroke-linejoin="null" stroke-linecap="null" x="281.5" y="79" width="184" height="52"/>
					<text id="svg_8" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="373.50675" y="109.49278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">HỘI ĐỒNG QUẢN TRỊ</text>
					<rect id="svg_30" stroke-width="2" fill="#0066b3" stroke="#76c4f1" stroke-linejoin="null" stroke-linecap="null" x="190" y="271" width="154" height="52"/>
					<text id="svg_31" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="267.00674" y="294.74278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN KIỂM SOÁT</text>
					<text id="svg_32" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="266.99893" y="312.25059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NỘI BỘ</text>
					<rect id="svg_33" stroke-width="2" fill="#0066b3" stroke="#76c4f1" stroke-linejoin="null" stroke-linecap="null" x="394" y="271" width="154" height="52"/>
					<text id="svg_34" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="471.00674" y="294.74278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">PHÒNG QUẢN TRỊ</text>
					<text id="svg_35" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="470.99893" y="312.25059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">RỦI RO</text>
					<g id="svg_83">
					<rect id="svg_43" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="416" y="346" width="124" height="72"/>
					<text id="svg_81" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="477.49893" y="378.75059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">CHI NHÁNH</text>
					<text id="svg_82" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="477.99893" y="397.74278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">PHÒNG G.DỊCH</text>
					</g>
					<g id="svg_114">
					<rect x="1" id="svg_111" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" y="463" width="98" height="62"/>
					<text id="svg_112" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="52.00674" y="491.74278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI</text>
					<text id="svg_113" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="52.49893" y="507.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">TÀI CHÍNH</text>
					</g>
					<g id="svg_115">
					<rect id="svg_58" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="108" y="463" width="98" height="62"/>
					<text id="svg_59" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="155.49893" y="488.74278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI</text>
					<text id="svg_60" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="156.49893" y="501.25059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NHÂN SỰ</text>
					<text id="svg_76" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="156.49893" y="515.49278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">TỔNG HỢP</text>
					</g>
					<g id="svg_116">
					<rect id="svg_84" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="215" y="463" width="98" height="62"/>
					<text id="svg_85" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="264.00674" y="485.24278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">TRUNG TÂM</text>
					<text id="svg_86" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="263.99893" y="499.25059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">CÔNG NGHỆ</text>
					<text id="svg_87" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="263.99893" y="513.99278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">THÔNG TIN</text>
					</g>
					<g id="svg_117">
					<rect id="svg_88" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="323" y="463" width="98" height="62"/>
					<text id="svg_89" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="371.99893" y="485.24278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI</text>
					<text id="svg_90" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="371.99893" y="499.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">DỊCH VỤ</text>
					<text id="svg_91" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="371.99893" y="514.49278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">CHỨNG KHOÁN</text>
					</g>
					<g id="svg_118">
					<rect id="svg_92" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="430" y="463" width="98" height="62"/>
					<text id="svg_93" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="481.00674" y="491.74278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI</text>
					<text id="svg_94" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="481.49893" y="507.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NGHIỆP VỤ</text>
					</g>
					<g id="svg_119">
					<rect id="svg_95" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="538" y="463" width="98" height="62"/>
					<text id="svg_96" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="586.99893" y="486.24278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI DỊCH VỤ</text>
					<text id="svg_97" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="586.99893" y="500.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NGÂN HÀNG</text>
					<text id="svg_98" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="586.99893" y="514.99278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">ĐẦU TƯ</text>
					</g>
					<g id="svg_120">
					<rect id="svg_103" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="643.6443" y="463" width="98" height="62"/>
					<text id="svg_104" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="694.65104" y="490.74278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">TRUNG TÂM</text>
					<text id="svg_105" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="695.14323" y="507.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NGHIÊN CỨU</text>
					</g>
					<g id="svg_121">
					<rect id="svg_38" stroke-width="2" fill="#0066b3" stroke="#76c4f1" stroke-linejoin="null" stroke-linecap="null" x="591.00002" y="271.5" width="154" height="52"/>
					<text id="svg_39" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="668.00676" y="295.24278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">HỘI ĐỒNG</text>
					<text id="svg_40" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="668.49895" y="312.75059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">CHÍNH SÁCH</text>
					</g>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="189" y1="65" x2="372" y2="65" id="svg_122"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="77" y1="250" x2="667" y2="250" id="svg_123"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="48" y1="442" x2="693" y2="442" id="svg_124"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="470" y1="102" x2="552" y2="102" id="svg_126"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="470.67114" y1="182" x2="552" y2="182" id="svg_127"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="372.5" y1="58.35571" x2="372.5" y2="72.35571" id="svg_128"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="372.49999" y1="138.2461" x2="372.49999" y2="152.2461" id="svg_129"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="373.17114" y1="215.43625" x2="373.17114" y2="457.43625" id="svg_130"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="77.5" y1="249" x2="77.5" y2="264" id="svg_131"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="267.00001" y1="249" x2="267.00001" y2="264.67114" id="svg_133"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="471.00001" y1="249.16443" x2="471.00001" y2="264.83557" id="svg_134"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="668.00001" y1="249.16443" x2="668.00001" y2="264.83557" id="svg_135"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="49" y1="441.66443" x2="49" y2="457.33557" id="svg_136"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="157" y1="441.66443" x2="157" y2="457.33557" id="svg_137"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="264.00001" y1="441.66443" x2="264.00001" y2="457.33557" id="svg_138"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="479.00001" y1="441.66443" x2="479.00001" y2="457.33557" id="svg_139"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="587.00001" y1="441.66443" x2="587.00001" y2="457.33557" id="svg_140"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="692.6443" y1="441.66443" x2="692.6443" y2="457.33557" id="svg_141"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="374" y1="382" x2="410" y2="382" id="svg_142"/>
					<g id="svg_3">
					<rect id="svg_26" stroke-width="2" fill="#0066b3" stroke="#76c4f1" stroke-linejoin="null" stroke-linecap="null" x="1.5" y="270.5" width="154" height="52"/>
					<text id="svg_27" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="80.00674" y="300.50059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN PHÁP CHẾ</text>
					</g>
					<g id="svg_4">
					<rect id="svg_12" stroke-width="2" fill="#76c4f1" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="1" y="41" width="184" height="52"/>
					<text id="svg_13" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="92.99893" y="71.49278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN KIỂM SOÁT</text>
					</g>
					</g>
				</svg>
                }
                else if (StringHelper.language() == "en") { 
                <svg width="746" height="526" xmlns="http://www.w3.org/2000/svg">
					<g>
					<title>Layer 1</title>
					<rect stroke-width="2" fill="#d71921" stroke="#9a161c" stroke-linejoin="null" stroke-linecap="null" x="280.5" y="0" width="184" height="52" id="svg_1"/>
					<text fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="371.99893" y="30.49278" id="svg_2" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">ĐẠI HỘI ĐỒNG CỔ ĐÔNG</text>
					<rect id="svg_9" stroke-width="2" fill="#d71921" stroke="#9a161c" stroke-linejoin="null" stroke-linecap="null" x="281.5" y="158" width="184" height="52"/>
					<text id="svg_10" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="373.49893" y="188.5006" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN TỔNG GIÁM ĐỐC</text>
					<rect id="svg_16" stroke-width="2" fill="#76c4f1" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="561" y="79" width="184" height="52"/>
					<text id="svg_17" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="652.99893" y="109.49278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">HỘI ĐỒNG ĐẦU TƯ</text>
					<rect id="svg_20" stroke-width="2" fill="#76c4f1" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="561" y="158" width="184" height="52"/>
					<text id="svg_21" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="652.99893" y="188.49278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN TRỢ LÝ</text>
					<rect id="svg_6" stroke-width="2" fill="#d71921" stroke="#9a161c" stroke-linejoin="null" stroke-linecap="null" x="281.5" y="79" width="184" height="52"/>
					<text id="svg_8" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="373.50675" y="109.49278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">HỘI ĐỒNG QUẢN TRỊ</text>
					<rect id="svg_30" stroke-width="2" fill="#0066b3" stroke="#76c4f1" stroke-linejoin="null" stroke-linecap="null" x="190" y="271" width="154" height="52"/>
					<text id="svg_31" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="267.00674" y="294.74278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN KIỂM SOÁT</text>
					<text id="svg_32" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="266.99893" y="312.25059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NỘI BỘ</text>
					<rect id="svg_33" stroke-width="2" fill="#0066b3" stroke="#76c4f1" stroke-linejoin="null" stroke-linecap="null" x="394" y="271" width="154" height="52"/>
					<text id="svg_34" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="471.00674" y="294.74278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">PHÒNG QUẢN TRỊ</text>
					<text id="svg_35" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="470.99893" y="312.25059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">RỦI RO</text>
					<g id="svg_83">
					<rect id="svg_43" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="416" y="346" width="124" height="72"/>
					<text id="svg_81" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="477.49893" y="378.75059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">CHI NHÁNH</text>
					<text id="svg_82" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="477.99893" y="397.74278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">PHÒNG G.DỊCH</text>
					</g>
					<g id="svg_114">
					<rect x="1" id="svg_111" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" y="463" width="98" height="62"/>
					<text id="svg_112" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="52.00674" y="491.74278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI</text>
					<text id="svg_113" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="52.49893" y="507.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">TÀI CHÍNH</text>
					</g>
					<g id="svg_115">
					<rect id="svg_58" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="108" y="463" width="98" height="62"/>
					<text id="svg_59" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="155.49893" y="488.74278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI</text>
					<text id="svg_60" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="156.49893" y="501.25059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NHÂN SỰ</text>
					<text id="svg_76" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="156.49893" y="515.49278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">TỔNG HỢP</text>
					</g>
					<g id="svg_116">
					<rect id="svg_84" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="215" y="463" width="98" height="62"/>
					<text id="svg_85" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="264.00674" y="485.24278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">TRUNG TÂM</text>
					<text id="svg_86" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="263.99893" y="499.25059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">CÔNG NGHỆ</text>
					<text id="svg_87" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="263.99893" y="513.99278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">THÔNG TIN</text>
					</g>
					<g id="svg_117">
					<rect id="svg_88" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="323" y="463" width="98" height="62"/>
					<text id="svg_89" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="371.99893" y="485.24278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI</text>
					<text id="svg_90" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="371.99893" y="499.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">DỊCH VỤ</text>
					<text id="svg_91" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="371.99893" y="514.49278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">CHỨNG KHOÁN</text>
					</g>
					<g id="svg_118">
					<rect id="svg_92" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="430" y="463" width="98" height="62"/>
					<text id="svg_93" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="481.00674" y="491.74278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI</text>
					<text id="svg_94" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="481.49893" y="507.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NGHIỆP VỤ</text>
					</g>
					<g id="svg_119">
					<rect id="svg_95" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="538" y="463" width="98" height="62"/>
					<text id="svg_96" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="586.99893" y="486.24278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">KHỐI DỊCH VỤ</text>
					<text id="svg_97" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="586.99893" y="500.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NGÂN HÀNG</text>
					<text id="svg_98" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="586.99893" y="514.99278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">ĐẦU TƯ</text>
					</g>
					<g id="svg_120">
					<rect id="svg_103" stroke-width="2" fill="#f3f3f3" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="643.6443" y="463" width="98" height="62"/>
					<text id="svg_104" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="694.65104" y="490.74278" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">TRUNG TÂM</text>
					<text id="svg_105" fill="#0066b3" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="695.14323" y="507.75059" font-size="12" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">NGHIÊN CỨU</text>
					</g>
					<g id="svg_121">
					<rect id="svg_38" stroke-width="2" fill="#0066b3" stroke="#76c4f1" stroke-linejoin="null" stroke-linecap="null" x="591.00002" y="271.5" width="154" height="52"/>
					<text id="svg_39" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="668.00676" y="295.24278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">HỘI ĐỒNG</text>
					<text id="svg_40" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="668.49895" y="312.75059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">CHÍNH SÁCH</text>
					</g>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="189" y1="65" x2="372" y2="65" id="svg_122"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="77" y1="250" x2="667" y2="250" id="svg_123"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="48" y1="442" x2="693" y2="442" id="svg_124"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="470" y1="102" x2="552" y2="102" id="svg_126"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="470.67114" y1="182" x2="552" y2="182" id="svg_127"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="372.5" y1="58.35571" x2="372.5" y2="72.35571" id="svg_128"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="372.49999" y1="138.2461" x2="372.49999" y2="152.2461" id="svg_129"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="373.17114" y1="215.43625" x2="373.17114" y2="457.43625" id="svg_130"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="77.5" y1="249" x2="77.5" y2="264" id="svg_131"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="267.00001" y1="249" x2="267.00001" y2="264.67114" id="svg_133"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="471.00001" y1="249.16443" x2="471.00001" y2="264.83557" id="svg_134"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="668.00001" y1="249.16443" x2="668.00001" y2="264.83557" id="svg_135"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="49" y1="441.66443" x2="49" y2="457.33557" id="svg_136"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="157" y1="441.66443" x2="157" y2="457.33557" id="svg_137"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="264.00001" y1="441.66443" x2="264.00001" y2="457.33557" id="svg_138"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="479.00001" y1="441.66443" x2="479.00001" y2="457.33557" id="svg_139"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="587.00001" y1="441.66443" x2="587.00001" y2="457.33557" id="svg_140"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="692.6443" y1="441.66443" x2="692.6443" y2="457.33557" id="svg_141"/>
					<line fill="none" stroke="#b2b2b2" stroke-width="2" stroke-linejoin="null" stroke-linecap="null" x1="374" y1="382" x2="410" y2="382" id="svg_142"/>
					<g id="svg_3">
					<rect id="svg_26" stroke-width="2" fill="#0066b3" stroke="#76c4f1" stroke-linejoin="null" stroke-linecap="null" x="1.5" y="270.5" width="154" height="52"/>
					<text id="svg_27" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="80.00674" y="300.50059" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN PHÁP CHẾ</text>
					</g>
					<g id="svg_4">
					<rect id="svg_12" stroke-width="2" fill="#76c4f1" stroke="#0066b3" stroke-linejoin="null" stroke-linecap="null" x="1" y="41" width="184" height="52"/>
					<text id="svg_13" fill="#ffffff" stroke="#9a161c" stroke-width="0" stroke-linejoin="null" stroke-linecap="null" x="92.99893" y="71.49278" font-size="14" font-family="robotomedium" text-anchor="middle" xml:space="preserve" font-weight="normal">BAN KIỂM SOÁT</text>
					</g>
					</g>
				</svg>
                } -->
                <img src="@Url.Content("~")Assets/images/img/img-sdtc.png" alt="" title="" />
			</div>
            <div class="sdtc-page">
				<div class="org-chart cf">
					<ul class="hoidongcodong">
						<li class="bgred fpd">
							<a href="#"><span>Đại hội đồng cổ đông</span></a>
						</li>
						<ul class="bankiemsoat">
							<li class="bgblue fpd">
								<a href="#"><span>Đại hội đồng cổ đông</span></a>
							</li>
						</ul>
					</ul>
					<ul class="hoidongquantri">
						<li class="bgred fpd">
							<a href="#"><span>Hội đồng Quản trị</span></a>
						</li>
						<ul class="sub-hoidongquantri">
							<li class="bgblue fpd one">
								<a href="#"><span>Đại hội đồng cổ đông</span></a>
							</li>
							<li class="bgblue fpd two">
								<a href="#"><span>Đại hội đồng cổ đông</span></a>
							</li>
						</ul>
					</ul>

					<ul class="tonggiamdoc">
						<li class="bgred fpd bos-org">
							<a href="#"><span>Hội đồng Quản trị</span></a>
						</li>
						<ul class="line-tonggiamdoc">
							<li class="line-tgd"></li>
						</ul>
						<ul class="sub-tonggiamdoc">
							<li class="bgblue fpd one">
								<ul>
									<li class="title-org">
										<span>Đại hội đồng cổ đông</span>
									</li>
									<ul class="box-blue">
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
											<ul>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
									</ul>
								</ul>
							</li>
							<li class="bgblue fpd two">
								<ul>
									<li class="title-org">
										<span>Đại hội đồng cổ đông</span>
									</li>
									<ul class="box-blue">
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
											<ul>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
									</ul>
								</ul>
							</li>
							<li class="bgblue fpd three">
								<ul>
									<li class="title-org">
										<span>Đại hội đồng cổ đông</span>
									</li>
									<ul class="box-blue">
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
											<ul>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
												<li>
													<a href="javascript: void(0);" title="">Ban Pháp chế</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="javascript: void(0);" title="">Ban Pháp chế</a>
										</li>
									</ul>
								</ul>
							</li>
						</ul>
					</ul> 
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
