﻿@using WizardCMS.Const;
@model IEnumerable<WizardCMS.Models.ContactViewModel>
@{
    Layout = null;
    int no = 0;
    string cssClass = "";
}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
        <tr>
            <th class="th_no_cursor" width="40">NO.</th>
            <th class="th_left">TITLE</th>
            <th class="th_left">FULLNAME</th>
            <th class="th_left">EMAIL</th>
            <th>STATUS</th>
            <th class="th_last">CREATED</th>
        </tr>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                cssClass = no % 2 == 0 ? "row2" : "row1";
            <tr class="@cssClass @("item_row" + no)">
                <td class="td_center" style="text-align:center">@(no + 1)</td>
                <td class="th_left">@item.TITLE</td>
				<td class="th_left">@item.FULLNAME</td>
                <td class="th_left">@item.EMAIL</td>
                <td class="td_center">@(item.STATUS == 1?Html.Raw("<span style='color:green'>Read</span>"):Html.Raw("<span style='color:red'>Unread</span>"))</td>
                <td class="th_last td_center" style="text-align:center">&nbsp;@item.CREATED.ToString("HH:mm:ss dd/MM/yyyy")</td>
            </tr>                    
                no++;
            }
        }
        else
        {
            <tr class="row1">
                <td class="th_last td_center" colspan="50" style="font-size: 20px; padding: 50px 0">
                    No data
                </td>
            </tr> 
        }
    </tbody>
</table>