@font-face {
    font-family: 'utm_bebasregular';
    src: url('../fonts/utm_bebas-webfont.eot');
    src: url('../fonts/utm_bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/utm_bebas-webfont.woff2') format('woff2'),
         url('../fonts/utm_bebas-webfont.woff') format('woff'),
         url('../fonts/utm_bebas-webfont.ttf') format('truetype'),
         url('../fonts/utm_bebas-webfont.svg#utm_bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/new/abc/roboto-thin-webfont.eot');
    src: url('../fonts/new/abc/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/abc/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/new/abc/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/new/abc/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/new/abc/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotocondensed';
    src: url('../fonts/new/abc/roboto-boldcondensed-webfont.eot');
    src: url('../fonts/new/abc/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/abc/roboto-boldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/new/abc/roboto-boldcondensed-webfont.woff') format('woff'),
         url('../fonts/new/abc/roboto-boldcondensed-webfont.ttf') format('truetype'),
         url('../fonts/new/abc/roboto-boldcondensed-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'robotoregular'; 
    src: url('../fonts/new/abc/Roboto-Regular-webfont.eot');
    src: url('../fonts/new/abc/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/abc/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/new/abc/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/new/abc/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/new/abc/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
  font-family: 'robotoregular'; 
  src: 
      url('../fonts/new/abc/Roboto-Regular-webfont.woff2') format('woff2'),
      url('../fonts/new/abc/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'robotobold_condensed';
    src: url('../fonts/new/abc/roboto-boldcondensed-webfont.eot');
    src: url('../fonts/new/abc/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/abc/roboto-boldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/new/abc/roboto-boldcondensed-webfont.woff') format('woff'),
         url('../fonts/new/abc/roboto-boldcondensed-webfont.ttf') format('truetype'),
         url('../fonts/new/abc/roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/new/abc/roboto-light-webfont.eot');
    src: url('../fonts/new/abc/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/abc/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/new/abc/roboto-light-webfont.woff') format('woff'),
         url('../fonts/new/abc/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/new/abc/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/new/abc/Roboto-Bold-webfont.eot');
    src: url('../fonts/new/abc/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/abc/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../fonts/new/abc/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/new/abc/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/new/abc/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: 
      url('../fonts/new/abc/roboto-medium-webfont.woff2') format('woff2'),
      url('../fonts/new/abc/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'futuracondensed_medium';
    src: url('../fonts/futura-condensed-medium-webfont.eot');
    src: url('../fonts/futura-condensed-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-condensed-medium-webfont.woff') format('woff'),
         url('../fonts/futura-condensed-medium-webfont.ttf') format('truetype'),
         url('../fonts/futura-condensed-medium-webfont.svg#futuracondensed_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.m{font-family: 'robotomedium';}
.b{font-family: 'robotobold';}
.rol{font-family: 'robotoregular';}
html, body{
	font-family: 'robotoregular';
    width: 100%;
    /*height: 100%;*/
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;-ms-interpolation-mode:bicubic;border:0px;}ol,ul{list-style:none}li{display:list-item}q{quotes:none}q:before,q:after{content:'';content:none}sub,sup,small{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}svg{overflow:hidden}*{padding:0;margin:0;outline:none;outline:0;_noFocusLine:expression(this.hideFocus=true);}table{border-spacing:0;border-collapse:collapse;}button,input{line-height:normal;}a{text-decoration:none;}a:hover{text-decoration:none;}*{margin:0px;padding:0px;outline:0 none;}ul{list-style:none;}.clearAll{clear:both;width:0px;height:0px;margin:0;padding:0; display: table;}.right{float: right;}.left{float: left;}

.mt10{margin-top: 10px !important;}
.mt30{margin-top: 30px !important;}
.mt43{margin-top: 43px !important;}
.mt38{margin-top: 38px !important;}
.mt50{margin-top: 50px !important;}

/*.mbt10{margin-bottom: 50px;}*/