/*tablet*/
@media (max-width: 1024px){
	.paging .page a:hover{
		border: 1px solid #ffffff;
	}
	body, html{
		overflow-x: hidden;
	}
	.wrap-home{
		height: auto;
		min-height: auto !important;
		padding: 20px 10px 56px;
	}
	.type-show:hover{
		background: url(../images/icon/icon-type-show.png) no-repeat;
	}
	.control-guide .it-gui .icon.prev:hover,
	.control-guide .it-gui:hover .icon.prev{
		background: url(../images/icon/icon-gui-prev.png) no-repeat center center;
	}
	.control-guide .it-gui .icon.next:hover,
	.control-guide .it-gui:hover .icon.next{
		background: url(../images/icon/icon-gui-next.png) no-repeat center center;
	}
	.control-guide .it-gui a:hover,
	.control-guide .it-gui:hover a{
		color: #0066b3;
	}
	.more-service:hover .tb-service{
		display: none;
	}
	/*home*/
		/*banner home*/
			.banner-home .wrap-bntablet{
				display: block;
			}	
			.wrap-banpc{
				display: none;
			}
			.slide-hun{
				position: relative;
				background-color: #e5f4ff;
			}
		/*banner home*/
		.item-home .text-info{
			background: none;
		}
		.item-home .tag-home a p:first-child{
			/*margin-top: -5px;*/
		}
		.item-home .icon{
			
		}
	/*home*/
	/*nav*/
		.nav-bar{
			display: none;
		}
		.top-menu,
		#header .top-search{
			display: none;
		}
		.wrap-top{
			padding: 0;
		}
		.hot-line{
			position: relative;
		}
		.box-menu-mobile .search-mobile{
			display: block;
		}
		.fast-link{
			display: block;
		}
		.nav-mobile{
			display: block;
		}
	/*nav*/
	/*footer*/
		.item-group.col-sm-6{
			width: 100%;
		}
		.box-left.col-sm-8,
		.box-right.col-sm-4{
			width: 50%;
		}
		.item-group ul li{
			padding: 8px 0 8px 26px;
			background: url(../images/icon/icon-arr.png) no-repeat 0 15px;
		}
		.item-group ul{
			padding-top: 0px;
		}
		.layer-one .box-pc{
			display: none;
		}
		.layer-one .box-tablet{
			display: block;
		}
		.text-copy ul{
			display: none;
		}
		.footer-copy{
			background: none;
		}
		.footer-copy .wrapper{
			padding: 0;
		}
		.bloo{
			background: #d71a21;
			padding-left: 10px;
		}
		.text-copy{
			background: #0065b3;
			padding-right: 10px;
		}
		.fix-menu .wrapper{
			padding: 0 156px 0 183px;
		}
	/*footer*/
	/*báo cáo tài chính*/
		.left-menu{
			display: none;
		} 
		.right-detail{
			float: left;
			width: 100%;
		}
	/*end báo cáo tài chính*/
	/*đội ngũ*/
		.doingu-page .boss {
			position: relative;
			box-sizing: border-box;
	        padding: 30px 30px 30px 230px;
		}

		.doingu-popup {
			width: 100%;
			position: relative;
			box-sizing: border-box;
	        background-color: #ffffff;
		}
	/*end đội ngũ*/
	/*So do to chuc*/
		.tochuc-page{

		}
	/*End so do to chuc*/
	/* Thanh Tuu */
		.banner-child .wrapper{
			left: 0;
			margin-left: 0;
			width: 100%;
		}
	/* Thanh Tuu */
	/* Mạng Lưới */
		
	/* Mạng Lưới */
	/*Giá trị cốt lõi*/
		#menu-right{
			display: none;
		}
		#menu-right-mobile{
			display: none;
		}
		.wrap-content-right{
			padding-left: 0;
		}
	/*Giá trị cốt lõi*/
	.content-el{
		width: 96%;
	}
	/* CSKH Home */
		
	/* CSKH Home */
	.fix-ty .wrap-home{
		padding: 0 0 56px 0;
	}
	.fix-ty .page-title,
	.fix-ty .list-item,
	.tab-years{
		padding: 0 30px;
	}
	.fix-ty .lbcpt .search-by-date{
		padding: 0 30px;
	}
}
@media (max-width: 909px){
	/*home*/
		.title-rbt{
			font-size: 24px;
			line-height: 28px;
		}
	/*home*/
	.item-home .list-post .item.item-hidden-768{
		display: none;
	}
}

@media (max-width: 866px){
	.huongdan-popup{
		padding: 50px 30px 50px 30px;
	}
}

@media (max-width: 788px){
	/*home*/
		.title-rbt{
			font-size: 19px;
		}
		.item-home .list-post .item .desc{
			font-size: 13px;
		}
	/*home*/
}
@media (max-width: 782px){
	/*home*/
		.title-rbt{
			font-size: 19px;
		}
	/*home*/
}