﻿@{
    //string cssClass = "jqTransformChecked";
    ViewBag.Title = "AjaxPermission";
    
    string Perm = Model;
    List<WizardCMS.Models.ModuleModel> lstModules = ViewBag.lstModules;
}

<script type="text/javascript">
    function chk_perm(b, a) {
        if (a != "no_access") {
            if (a == "read") {
                if ($("#read" + b).attr("checked") == "checked") {
                    $("#noaccess" + b).attr("checked", true);
                    $("#write" + b).attr("checked", false);
                    $("#delete" + b).attr("checked", false);
                    $(".custom_noaccess" + b).addClass("jqTransformChecked");
                    $(".custom_write" + b).removeClass("jqTransformChecked");
                    $(".custom_delete" + b).removeClass("jqTransformChecked")
                } else {
                    $("#noaccess" + b).attr("checked", false);
                    $(".custom_noaccess" + b).removeClass("jqTransformChecked")
                }
            } else {
                $("#read" + b).attr("checked", true);
                $("#noaccess" + b).attr("checked", false);
                $(".custom_read" + b).addClass("jqTransformChecked");
                $(".custom_noaccess" + b).removeClass("jqTransformChecked")
            }
        } else {
            if ($("#noaccess" + b).attr("checked") == "checked") {
                $("#read" + b).attr("checked", true);
                $(".custom_read" + b).addClass("jqTransformChecked")
            } else {
                $(".perm_access" + b).attr("checked", false);
                $(".custom_read" + b).removeClass("jqTransformChecked");
                $(".custom_write" + b).removeClass("jqTransformChecked");
                $(".custom_delete" + b).removeClass("jqTransformChecked")
            }
        }
    };

    $(document).ready(function () {
        $('.custom_chk').jqTransCheckBox();
    });
</script>

@if (Perm == "")
{ 
    <input type="hidden" value="@Perm" name="perm_group" id="perm_group" />
}
else if (Perm != "" && Perm != null)
{
    <input type="hidden" value="@Perm" name="perm_group" id="perm_group" />
    string perm = string.Empty;
    int pos = -1;

    if (lstModules != null)
    {
        foreach (WizardCMS.Models.ModuleModel module in lstModules)
        {
            if (module != null)
            {
                string[] arrPerm = Perm.Split(',');
                for (int i = 0; i < arrPerm.Count(); i++)
                {
                    pos = arrPerm[i].IndexOf('|');
                    if (module.ID == Convert.ToInt32(arrPerm[i].Substring(0, pos)))
                    {
                        perm = arrPerm[i].Substring(pos + 1, 3);
                        <div class="gr_perm">
                            <div class="title_perm">@module.NAME</div>
                                <div class="content_perm">
                                    <div class="gr_item_perm">
			                            <div class="item_perm_chk">
                                                @if (perm.Substring(0, 3) == "---")
                                                {
                                                    <input type="checkbox" checked="checked" onclick="chk_perm(@module.ID, 'no_access')" class="custom_chk" name="@("noaccess" + module.ID + "Admincp")" id="@("noaccess" + module.ID)" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" onclick="chk_perm(@module.ID, 'no_access')" class="custom_chk" name="@("noaccess" + module.ID + "Admincp")" id="@("noaccess" + module.ID)" />
                                                }
                                        </div>
			                            <div class="item_perm_label">No Access</div>
		                            </div>
                                    <div class="gr_item_perm">
                                        <div class="item_perm_chk">
                                            @if (perm.Substring(0, 1) == "r")
                                            {
                                                <input type="checkbox" checked="checked" onclick="chk_perm(@module.ID, 'read')" class="@("custom_chk perm_access" + module.ID.ToString())" name="@("read" + module.ID + "Admincp")" id="@("read" + module.ID)" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" onclick="chk_perm(@module.ID, 'read')" class="@("custom_chk perm_access" + module.ID.ToString())" name="@("read" + module.ID + "Admincp")" id="@("read" + module.ID)" />
                                            }
                                        </div>
                                        <div class="item_perm_label">Read</div>
                                    </div>
                                    <div class="gr_item_perm">
                                        <div class="item_perm_chk">
                                            @if (perm.Substring(1, 1) == "w")
                                            {
                                                <input type="checkbox" checked="checked" onclick="chk_perm(@module.ID, 'write')" class="@("custom_chk perm_access" + module.ID.ToString())" name="@("write" + module.ID + "Admincp")" id="@("write" + module.ID)" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" onclick="chk_perm(@module.ID, 'write')" class="@("custom_chk perm_access" + module.ID.ToString())" name="@("write" + module.ID + "Admincp")" id="@("write" + module.ID)" />
                                            }
                                        </div>
                                        <div class="item_perm_label">Write</div>
                                    </div>
                                    <div class="gr_item_perm">
                                        <div class="item_perm_chk">
                                            @if (perm.Substring(2, 1) == "d")
                                            {
                                                <input type="checkbox" checked="checked" onclick="chk_perm(@module.ID, 'delete')" class="@("custom_chk perm_access" + module.ID.ToString())" name="@("delete" + module.ID + "Admincp")" id="@("delete" + module.ID)" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" onclick="chk_perm(@module.ID, 'delete')" class="@("custom_chk perm_access" + module.ID.ToString())" name="@("delete" + module.ID + "Admincp")" id="@("delete" + module.ID)" />
                                            }
                                        </div>
                                        <div class="item_perm_label">Delete</div>
                                    </div>
                                </div>
                            </div>
                                            break;
                    }
                }
            }
        }
    }
}
            

