﻿@model IEnumerable<WizardCMS.Models.AdminAccountModel>
@{
	int no = 0;
	string cssClass = "";
}
@{
	Layout = null;
}
@{
    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
            <script type="text/javascript">
                $(function () {
                    $(".gr_perm_error").fadeIn(500);
                    $("#loader").fadeOut(300);
                    $(".table").css("marginTop", 4);
                    setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
                });
                   </script>
                }
    }
}
@{
    
    string logout = ViewBag.LogOut;
    if (string.IsNullOrEmpty(logout) == false)
    {
        if (logout == "logout")
        {
            <script type="text/javascript">
                location.href = "login/logout";
            </script>
        }
    }
}
<script type="text/javascript">
    $(function () {
        $(".custom_chk").jqTransCheckBox();
    });
</script>


<div class="content_table">
	<input type="hidden" value="@ViewBag.SortBy" id="by_sort" />
	<input type="hidden" value="@ViewBag.SortType" id="type_sort" />

	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tbody>
			<tr>
				<th class="th_no_cursor" width="40">
					No.
				</th>
				<th class="th_no_cursor" width="31">
					<input type="checkbox" class="custom_chk" id="selectAllItems" onclick="selectAllItems(@Model.Count())" />
				</th>
				<th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'Username')">
					@if (ViewBag.SortBy.ToUpper() == "USERNAME")
					{
						if (ViewBag.SortType == "ASC")
						{
							cssClass = "icon_sort_asc";
						}
						else
						{
							cssClass = "icon_sort_desc";
						}
					}
					else
					{
						cssClass = "icon_no_sort";
					}
					<div id="username" class="@cssClass">Username</div>
				</th>
				<th width="150" class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'GROUP_ID')">
					@if (ViewBag.SortBy.ToUpper() == "GROUP_ID")
					{
						if (ViewBag.SortType == "ASC")
						{
							cssClass = "icon_sort_asc";
						}
						else
						{
							cssClass = "icon_sort_desc";
						}
					}
					else
					{
						cssClass = "icon_no_sort";
					}
					<div id="group_id" class="@cssClass">Group</div>
				</th>
				<th width="70" onclick="ColumnSort('@ViewBag.AjaxUrl', 'STATUS')">
					@if (ViewBag.SortBy.ToUpper() == "STATUS")
					{
						if (ViewBag.SortType == "ASC")
						{
							cssClass = "icon_sort_asc";
						}
						else
						{
							cssClass = "icon_sort_desc";
						}
					}
					else
					{
						cssClass = "icon_no_sort";
					}
					<div id="status" class="@cssClass">Status</div>
				</th>
				<th class="th_last" width="100" onclick="ColumnSort('@ViewBag.AjaxUrl', 'CREATED')">
					@if (ViewBag.SortBy.ToUpper() == "CREATED")
					{
						if (ViewBag.SortType == "ASC")
						{
							cssClass = "icon_sort_asc";
						}
						else
						{
							cssClass = "icon_sort_desc";
						}
					}
					else
					{
						cssClass = "icon_no_sort";
					}
					<div id="created" class="@cssClass">
						Created
					</div>
				</th>
			</tr>
			@if (Model.Count() > 0)
			{
				foreach (var item in Model)
				{
					if (no % 2 == 0)
					{
						cssClass = "row1";
					}
					else
					{
						cssClass = "row2";
					}
					<tr class="@("item_row" + no) @cssClass">
						<td class="td_center">@(no + 1)</td>
						<td class="td_no_padd">
                            
                                <input type="checkbox" class="custom_chk" id="@("item" + no)" onclick="selectItem('@no')" value="@item.ID"/>
                           
                        </td>
						<td class="th_left"><a href="@Url.Content("~")admincp/Accounts/Update/@item.ID">@item.USERNAME</a></td>
						<td class="th_left">
							@if (item.CUSTOM_PERMISSION == 1)
							{
								<span style="color: #ff9900">@item.GROUP.NAME</span>
							}
							else
							{
								@item.GROUP.NAME
							}
						</td>
						<td class="td_center" id="@("loadStatusID_" + item.ID)"><a href="javascript:void(0)" onclick="updateSelectedStatus(@item.ID, @((item.STATUS + 1) % 2))">
                            @if (item.STATUS == 1)
                            {
                                <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/check_16x16.png" />
                            }
                            else
                            {
                                <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/uncheck_16x16.png" />
                            }
                            </a>
                        </td>
						<td class="th_last td_center">
							@item.CREATED.ToString("dd-MM-yyyy HH:mm:ss")
						</td>
				</tr>  
                    no++;                  
				}
			}
			else
			{
				<tr class="row1">
					<td class="th_last td_center" colspan="6" style="font-size: 14px; padding: 20px 0">No data</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@RenderPage("~/Views/BackEnd/Paging.cshtml")
<div class="clearAll"></div>
<span id="actionMessage"></span>