﻿@using WizardCMS.Helpers
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_cv"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
	<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/bg/bg-banner-huongdan.jpg) center center">
	    <div class="wrapper">
		    <span>@StringHelper.lang("text_cv")</span>
	    </div>
    </div>
<!-- Banner -->
	<div class="content-page">
		<div id="menu-right-mobile">
			@Html.Partial("Recruitment/Menu_mobile")
		</div>
		<div class="wrap-home">
			<div id="menu-right" class="menu-right">
				@Html.Partial("Recruitment/Menu")
			</div>
		    <div class="wrap-content-right ungtuyen">
			   
			    <div class="page-title">
					<p>Thông tin ứng viên</p>
					<div class="line"></div>
				</div>
				
<!-- Request -->

				<div class="request">
					Anh/Chị hãy</br>
					<ul>
						<li>Điền đầy đủ và rõ ràng thông tin cho mỗi câu hỏi. Không viết vào phần tô đậm</li>
						<li>Đọc kỹ các hướng dẫn kèm theo ở mỗi câu hỏi</li>
						<li>Đề nghị giải thích thêm để đảm bảo hiểu rõ các câu hỏi nếu cần thiết</li>
					</ul>
				</div>

<!-- Box menu -->

				<div class="square-menu-wrapper">
					<div class="wrapper-left">
						<div class="box inactive box-left thong-tin-ca-nhan">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/ca-nhan-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/ca-nhan-l2.png")" alt="">
							<div class="bot-text"><a href="">Thông tin cá nhân</a></div>
						</div>
						<div class="box inactive box-right trinh-do-hoc-van">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/trinh-do-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/trinh-do-l2.png")" alt="">
							<div class="bot-text"><a href="">Trình độ học vấn và </br> chuyên môn</a></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="wrapper-right">
						<div class="box active box-left kinh-nghiem">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/kinh-nghiem-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/kinh-nghiem-l2.png")" alt="">
							<div class="bot-text"><a href="">Kinh nghiệm </br> làm việc</a></div>
						</div>
						<div class="box inactive box-right thong-tin-khac">
							<img class="first-layer" src="@Url.Content("~/Assets/images/ungtuyen/khac-l1.jpg")" alt="">
							<img class="second-layer" src="@Url.Content("~/Assets/images/ungtuyen/khac-l2.png")" alt="">
							<div class="bot-text"><a href="">Thông tin khác</a></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

<!-- Border box menu -->

				<div class="top-square-menu-border"></div>

<!-- Field Wrapper -->

				<div class="field-wrapper">

<!-- Banner -->

					<div class="banner">
						<img src="@Url.Content("~/Assets/images/ungtuyen/banner-3.jpg")" alt="">
						<div>3. KINH NGHIỆM LÀM VIỆC</div>
					</div>

<!-- Field 15 -->
				
					<div class="field field-06">
						<strong>15.</strong> Quá trình làm việc: (Bắt đầu từ công việc hiện tại/ gần đây nhất, ghi từng công việc anh/chị đã làm vào mỗi ô. Kể cả thời gian làm nghĩa vụ quân sự và chưa đi làm chính thức)</br></br>
						<div id="duplicater" class="content">
							<div>
		  						<div class="name">Tên và địa chỉ cơ quan</div>
		  						<div class="input-field"><input type="text" name="ho-ten"></div>
		  					</div>
		  					<div>
		  						<div class="name">Số điện thoại</div>
		  						<div class="input-field"><input type="text" name="quan-he"></div>
		  					</div>
		  					<div>
		  						<div class="name">Từ  (tháng/năm)</div>
		  						<div class="input-field small"><input type="text" name="trinh-do"></div>
		  					</div>
		  					<div>
		  						<div class="name small-name">Đến</div>
		  						<div class="input-field small"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Chức vụ/Vị trí làm việc</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Lĩnh vực hoạt động</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Mức lương hàng tháng</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Tên và chức vụ của người giám sát</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Số nhân viên mà anh/chị quản lý</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Lý do nghỉ việc</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<div>
		  						<div class="name">Mô tả công việc</div>
		  						<div class="input-field big2"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<hr>
		  					<div class="clear"></div>
						</div>
					</div>

<!-- Sub field 15 -->

						<div class="sub-field">
							<div class="add">Thêm</div>
							<div id="duplicate" class="duplicate" onlick="duplicate()"></div>
						</div>

<!-- field 16 -->
						
					<div class="field field-16">
						<div class="content">
							<div>
								<div class="name"><strong>16. </strong>Nêu các kinh nghiệm liên quan (Thời gian và địa điểm)</div>
								<div class="input-field big"><input type="text" name="thuong-tru"></div>
							</div>
						</div>
					</div>

<!-- Sub field 17 -->
						
					<div class="field field-17">
						<div class="content">
							<div>
								<div class="name"><strong>17. </strong>Chúng tôi có thể liên hệ với giám đốc nơi anh/chị đang làm hiện nay được không? Nếu Có, thời điểm liên hệ phù hợp</div>
								<div class="input-field big2"><input type="text" name="thuong-tru"></div>
							</div>
						</div>
					</div>

<!-- Field 18 -->
				
					<div class="field field-06">
						<strong>18.</strong> Người chứng nhận: Ghi tên 03 người, không có quan hệ họ hàng với anh/chị, biết rõ tính cách, trình độ chuyên môn và năng lực của anh/chị mà MBS có thể liên hệ bất cứ lúc  nào</br></br>
						<div id="duplicater2" class="content">
							<div>
		  						<div class="name">Họ và tên</div>
		  						<div class="input-field"><input type="text" name="ho-ten"></div>
		  					</div>
		  					<div>
		  						<div class="name">Nghề nghiệp</div>
		  						<div class="input-field"><input type="text" name="quan-he"></div>
		  					</div>
		  					<div>
		  						<div class="name">Địa chỉ/Điện thoại/Email/Fax</div>
		  						<div class="input-field"><input type="text" name="trinh-do"></div>
		  					</div>
		  					<div>
		  						<div class="name">Lĩnh vực hoạt động</div>
		  						<div class="input-field"><input type="text" name="nam-sinh"></div>
		  					</div>
		  					<hr>
		  					<div class="clear"></div>
						</div>
					</div>

<!-- Sub field 15 -->

						<div class="sub-field">
							<div class="add">Thêm</div>
							<div id="duplicate2" class="duplicate" onlick="duplicate2()"></div>
						</div>



<!-- Page nav button -->

					<div class="nav-button">
						<a href=""><div class="prev-page">
							<img src="@Url.Content("~/Assets/images/ungtuyen/prev-page.png")" alt="">
							TRÌNH ĐỘ HỌC VẤN VÀ CHUYÊN MÔN
						</div></a>
						<a href=""><div class="next-page">
							THÔNG TIN KHÁC
							<img src="@Url.Content("~/Assets/images/ungtuyen/next-page.png")" alt="">
						</div></a>
					</div>



				
				</div>
		    </div>
		</div>
		<div class="clear"></div>
	</div>


<script type="text/javascript">
	$(document).ready(function() {  
		$('.box.inactive img:first-child').css('opacity', 0);  

    // when hover over the selected image change the opacity to 1  
    $('.box.inactive').hover(  
    	function(){  
    		$(this).find('img:first-child').stop().fadeTo('slow', 1);  
    	},  
    	function(){  
    		$(this).find('img:first-child').stop().fadeTo('slow', 0);  
    	});


    document.getElementById('duplicate').onclick = duplicate;
	var i = 0;
	var original = document.getElementById('duplicater');
	function duplicate() {
    	var clone = original.cloneNode(true); // "deep" clone
    	clone.id = "duplicetor" + ++i; // there can only be one element with an ID
    	original.parentNode.appendChild(clone);
	}

	document.getElementById('duplicate2').onclick = duplicate2;
	var j = 0;
	var original2 = document.getElementById('duplicater2');
	function duplicate2() {
    	var clone2 = original2.cloneNode(true); // "deep" clone
    	clone2.id = "duplicetor2" + ++j; // there can only be one element with an ID
    	original2.parentNode.appendChild(clone2);
	} 

	});  
</script>