﻿@using WizardCMS.Helpers;
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = CommonHelper.SEO_TITLE(StringHelper.lang("text_dang_nhap"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/bg-banner-dangky.jpg) center center">
	<div class="wrapper">
		<span>@StringHelper.lang("text_fotgot_password")</span>
	</div>
</div>
<!-- Banner -->
<!-- content tai chinh -->
<div class="content-page">
	<div id="menu-right-mobile">
		 @Html.Partial("Recruitment/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("Recruitment/Menu")
		</div>
		<div class="wrap-content-right contact-page">
			<div class="page-title">
				<p>@StringHelper.lang("text_fotgot_password")</p>
				<div class="line"></div>
			</div>
			<div class="tab-wk signup register">
				<div class="info">@Html.Raw(StringHelper.lang("text_forgot_desc"))</div>
				<div class="form-signup register-form">
                    <form action="/" method="post" id="login-form">
					    <div class="wrap-inp">
						    <div class="label"><span>*</span>Email</div>
						    <div class="inp"><input name="ct_email" id="ct_email" /></div>
					    </div>
					    <div class="wrap-inp code">
						    <div class="label"><span>*</span>@StringHelper.lang("text_captcha")</div>
                            @Html.Partial("_Captcha", new WizardCMS.Models.Captcha())
                            @Html.Partial("_InvisibleCaptcha", new WizardCMS.Models.InvisibleCaptcha())
					    </div>
					    <div class="wrap-inp login-button">
						    <a class="btn-sign" href="javascript:void(0)" title="" id="submit_login">@StringHelper.lang("text_xacnhan")</a>
                            <a class="btn-sign btn-login fancybox" href="@StringHelper.base_url_lang()@StringHelper.lang("slug_tuyen_dung")/@StringHelper.lang("slug_dang_ky")" title="">@StringHelper.lang("text_register_account")</a>
					    </div>
                        <div class="wrap-inp">
						    <div class="label"></div>
                            <div class="error error_txt active" style="color: red;"></div>
	                        <div class="success_message" style="display: none; color: green;"></div>
					    </div>
				    </form>
                </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- end content lien he -->

<script type="text/javascript">
    function clearError()
    {
        $(".ct_item_error").html('');
        $(".ct_item_error").css('display','none');
    }
	
	function clearForm(){
	    $('#ct_email, #CaptchaValue').val('');
	}

	function validateEmail(email){        
        return true;
 	}
	
	function showError(error){
		$('.error_txt').html(error);
		$('.error_txt').show();
		$('.success_message').hide();
	}
	function hideError(){
		$('.error_txt').hide();
	}

	function ismaxlengthSend(obj){
		var mlength=obj.getAttribute? parseInt(obj.getAttribute("maxlength")) : ""
		if (obj.getAttribute && obj.value.length>mlength)
			obj.value=obj.value.substring(0,mlength)
	}

    function ReloadCaptcha()
    {
        $('.code-char').html('<img src="' + '@Url.Content("~/Captcha/Show")' + '?v=' + Math.random() + '" />');
        return true;
    }

    $(document).ready(function () {
        $("#change-code").on("click", function () {
            ReloadCaptcha();
        });

        $("#submit_login").click(function () {
            clearError();
            var email = $("input[name=ct_email]").val();
            var captcha = $('#CaptchaValue').val();

            if (email == '') {
                showError('@StringHelper.lang("email_require")');
                return false;
            }
            else {
                if (!checkInp(email, "email")) {
                    showError('@StringHelper.lang("email_invalid")');
                    return false;
                }
            }
            
            if (captcha == '') {
                showError('@StringHelper.lang("captcha_require")');
                return false;
            }

            $.ajax({
                url: '@Request.Url.AbsoluteUri', //$('#contact-form').attr("action"),
                data: $('#login-form').serialize(),
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.st == "1") {
                        clearForm();
                        //window.location.href= "<?=PATH_URL.'contact'?>";
                        hideError();
                        ReloadCaptcha();
                        $('#call-popup-ws').trigger('click');
                        //$('.success_message').show();
                        //Recaptcha.reload();
                        return false;
                    } else {
                        //$("."+data.code).html(data.message);
                        showError(data.msg);
                        ReloadCaptcha();
                        $("." + data.code).css('display', 'block');
                        return false;
                    }
                }
            });
            return false;
        });
    });
</script>