﻿@using WizardCMS.Helpers
@{
    string Segment2 = CommonHelper.GetSegment(2);
    string Segment3 = CommonHelper.GetSegment(3);
    string Segment4 = CommonHelper.GetSegment(4);
    string c = Request.QueryString["position"];

    string Lang = StringHelper.language();
}
<div class="text-active wrapper">
	<a class="one" href="javascript: void(0);" title=""></a>
	<a class="two" href="javascript: void(0);" title=""></a>
</div>
<div class="menu-right">
	<ul>
        <li class="@(Segment3 == StringHelper.lang("slug_vitri_tuyendung") ? "active" : "")">
            <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_vitri_tuyendung"))">@StringHelper.lang("text_vitri_tuyendung")</a>
            @if (ViewBag.categories != null && ViewBag.categories.Count > 0)
            {
                <ul class="sub-right">
                @foreach (var sub in ViewBag.categories)
                {
                    <li class="@(c == sub.SLUG ? "active" : "")" data-cid="@sub.ID"><a href="@("?position=" + sub.SLUG)">@sub.NAME</a></li>
                }
                </ul>
            }
        </li>
        <li class="@(Segment3 == StringHelper.lang("slug_bieu_mau") ? "active" : "")">
            <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_bieu_mau"))">@StringHelper.lang("text_bieu_mau")</a>
        </li>
        <li class="@(Segment3 == StringHelper.lang("slug_huongdan_nophoso") ? "active" : "")">
            <a class="ttone" href="@(Url.Content("~") + Lang + "/" + StringHelper.lang("slug_tuyen_dung") + "/" + StringHelper.lang("slug_huongdan_nophoso"))">@StringHelper.lang("text_huongdan_nophoso")</a>
        </li>
	</ul>
</div>
