/*mobile*/
@media (max-width: 767px){

	.wrapper{
		padding: 0 30px;
	}
	/*header*/
		.top-menu,
		#header .top-search{
			display: none;
		}
		.wrap-top{
			padding: 0;
		}
		.hot-line{
			position: relative;
		}
		.box-menu-mobile .search-mobile{
			display: block;
		}
		.fast-link{
			display: block;
		}
		.footer-menu-mobile{
			display: block;
		}
	/*header*/
	/*footer*/
		.item-group ul li{
			padding: 8px 0 8px 22px;
			background: url(../images/icon/icon-arr.png) no-repeat 0 15px;
		}
		.item-group{
			width: 100%;
		}
		#footer .box-left,
		#footer .box-right{
			width: 100%;
		}
		#footer .box-left{
			padding-bottom: 29px;
		}
		#footer .box-right{
			border-top: 1px solid #414141;
			padding-top: 27px;
		}
		.box-right .app{
			width: 100%;
			max-width: 100%;
		}
		.box-right .app a{
			margin-top: 16px;
		}
		.layer-one .box-tablet{
			display: none;
		}
		.layer-one .box-mobile{
			display: block;
		}
		.box-right .app a{
			width: 49%;
		}
		.box-right .app a img{
			width: 100%;
		}
		.text-copy{
			padding: 0 10px 0 27.1875%;
			line-height: 14px;
			text-align: left;
		}
		.text-copy .tt-cp{
			display: table;
		}
		.text-copy .tt-cp span{
			display: table-cell;
			vertical-align: middle;
			height: 60px;
			width: 100%;
			padding-left: 24px;
		}
		.bloo{
			width: 27.1875%;
		}
		.bloo span{
			display: none;
		}
		.footer-menu{
			display: none;
		}
		.btn-control-fmm{
			display: block;
		}
	/*footer*/
	
	/*dich vu chung khoan*/
		.it-dvck{
			float: none;
			width: 100%;
		}
		
		.it-pro{
			margin-left: 0;
		}
		
		.wrap .it-pro{
			float: none;
			width: auto;
		}
		
		.box-mbs-ck .img,
		.box-mbs-ck .text{
			float: none;
			width: 100%;
		}
		
		.box-mbs-ck .text{
			border: none;
			border-top: 1px solid #fff;
			padding: 15px 0 0 0;
			margin: 15px 0 0 0;
		}
	/*End dich vu chung khoan*/
	
	/*báo cáo tài chính*/
		/*.bctc-page .banner{
			width: 81%;
			margin: auto;
		}*/

		.bctc-page{
			float: left;
			width: 100%;
		}
		.bctc-page ul{
			margin: 24px 0;
			width: 100%;
		}
		.bctc-page ul li{
			display: block;
			vertical-align: middle;
			font-size: 18px;
			font-family: 'Roboto', sans-serif;
			border: 1px solid #0066b3;
			height: 47px;
			text-align: center;
			width: 100%;
			line-height: 47px;
			text-align: left;
			text-indent: 9%;
		}
		.bctc-page .list-item{
			margin: auto;
		}
	/*end báo cáo tài chính*/
	/*home*/
		.wrap-home{
			padding: 0 10px 56px 10px;
		}
		.item-home{
			width: 100%;
		}
		.item-home.type-one{
			margin-right: 0;
		}
		.item-home.type-two{
			width: 100%;
			padding: 0 9.375%;
		}
		.item-home.type-two.tall{
			margin-top: 0;
			height: auto;
		}
		.title-rbt{
			font-size: 28px;
			line-height: 32px;
		}
		.item-home .list-post .item .desc{
			font-size: 14px;
		}
		.item-home .list-post{
			padding: 17px 0;
		}
		/*banner*/
			.banner-home .wrap-bntablet{
				display: none;
			}
			.banner-home .wrap-bnmobile{
				display: block;
			}
			.border-carousel .text-title{
				display: none;
			}
			.border-carousel,
			.carousel-content{
				padding: 0;
			}
		/*banner*/
	/*home*/
	/*đội ngũ*/
		.doingu-page .tab-doingu{
			display: none;
		}
		.doingu-page .tab-doingu-mobile{
			display: block;
		}
		.doingu-page .tab-doingu-mobile ul{
			margin: 20px 0;
			width: 100%;
		}
		.doingu-page .tab-doingu-mobile ul li{
			display: none;
			vertical-align: middle;
			font-size: 18px;
			font-family: 'Roboto', sans-serif;
			border: 1px solid #0066b3;
			height: 47px;
			text-align: center;
			width: 100%;
			line-height: 47px;
			text-align: left;
			text-indent: 9%;
		}
		.doingu-page .tab-doingu-mobile ul li.active{
			display: block;
			background-image:url('../images/btn/btn-down.png');
			background-position:90% center;
			background-repeat: no-repeat
		}
		.doingu-page .boss {
			position: static;
			padding:0 30px 30px 30px;
		}
		.doingu-page .boss img {
			position: static;
			margin: 0 auto 10px;
			display: block;
		}
		.doingu-page table {
			display: none;
		}
		.doingu-page .mob {
			display: table;
			width: 94%;
			margin: auto;
		}
		.doingu-popup {
			position: static;
	        padding: 30px;
	        background-color: #ffffff;
		}
		.doingu-popup .img{
			width: 100%;
			text-align: center;
		}
		.doingu-popup .tieusu{
			width: 100%;
			padding-left: 0;
			margin-top: 30px;
		}
	/*end đội ngũ*/
	/* Thanh Tuu */
		.it-accomplish .year,
		.it-accomplish .accomplish-info{
			width: 100%;
		}
		.it-accomplish .accomplish-info{
			margin-top: 12px;
		}
	/* Thanh Tuu */
	/* Mạng Lưới */
		.all-network,
		.map-network{
			float: left;
			width: 100%;
		}
		.map-network{
			margin-top: 30px;
		}
	/* Mạng Lưới */
	/*Gia tri cot loi*/
		.img-gtcl{
			width: 100%;
		}
		.text-gtcl{
			width: 100%;
		}
		.img-gtcl .icon-arr-right,
		.img-gtcl .icon-arr-left{
			display: none;
		}
		.img-gtcl .icon-arr-bottom{
			display: block;
		}
		.wrap-content-right{
			padding: 0 10px;
		}
		.text-gtcl,
		.text-active{
			margin-top: 20px;
		}
	/*end Gia tri cot loi*/
	/*tai chinh*/
		.tc-page .wrap-content-right{
			padding: 0 0;
		}
		.tc-page .wrap-home{
			padding: 0 0 56px 0;
		}
		.tc-page .page-title,
		.tc-page .bctc-page .list-item{
			padding: 0 30px;
		}
	/*tai chinh*/
	/*doi ngu*/
		.dn-page .wrap-content-right{
			padding: 0 0;
		}
		.dn-page .wrap-home{
			padding: 0 0 60px 0;
		}
		.dn-page .page-title{
			padding: 0 30px;
		}
		.doingu-page ul li{
			text-indent: 30px;
		}
		.doingu-page{
			margin-top: 20px;
			margin-bottom: 0;
		}
	/*doi ngu*/

	/*Dịch Vụ Ngân Hàng Cổ Phiếu*/
		.banking-advisory .item-advisory{
			margin: 20px 0 0 0;
			height: 90px;
			text-align: left;
			width: 100%;
		}
		.banking-advisory .item-advisory:first-child{
			margin: 0 0 0 0;
		}
		.banking-advisory .item-advisory a p{
			float: right;
			font-size: 16px;
			line-height: 90px;
			height: 100%;
			width: 62%;
			margin: 0;
		}
		.banking-advisory .item-advisory a p:first-child{
			float: left;
			padding-right: 17px;
			width: 36%;
		}
		.banking-advisory .item-advisory a p span.imba{
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		.banking-advisory .item-advisory a p span.text{
			line-height: 19px;
			display: inline-block;
			vertical-align: middle;
		}
		.banking-advisory .item-advisory a p img{
			max-width: 64px;
			margin: 0 0 0 0;
		}
		.banking-counsel-it .tt,
		.banking-counsel-it .banking-info{
			width: 100%;
			padding: 0;
		}
		.banking-counsel-it .banking-info{
			margin-top: 1px;
		}
		.banking-advisory.ma .item-advisory:first-child,
		.banking-advisory.ma .item-advisory{
			float: none;
			width: 100%;
		}
		.banking-advisory.ma .item-advisory{
			margin: 20px 0 0 0;
		}
		.banking-advisory.ma .item-advisory a p{
			margin: 0;
		}
		.banking-business .banking-business-all,
		.banking-business .banking-business-all:first-child{
			padding: 0;
		}
		.banking-business-all .banking-business-it,
		.banking-business-all .banking-business-it:first-child{
			float: none;
			margin: 30px 0 0 0;
			width: 100%;
			height: auto;
		}
		.banking-business-all .banking-business-it a > img{
			width: 100%;
		}
	/*Dịch Vụ Ngân Hàng Cổ Phiếu*/

	/*News*/
		.bctc-page .list-item .item.itemnews .img{
			width: 100%;
			position: relative;
			height: auto;
			margin-bottom: 10px;
			margin-top: 27px;
		}
		.bctc-page .list-item .item.itemnews .img img{
			width: 100%;
		}
		.bctc-page .list-item .item.itemnews{
			padding-left: 0;
			width: 100%;
		}
	/*end News*/
		.img_top_ab{
			position: relative;
			width: 100%;
		}
		.text_top_ab{
			padding: 0;
		}
		.ltct li img{
			position: relative;
			width: 100%;
		}
		.ltct li{
			padding-left: 0;
		}
		.ltct li td{
			height: 180px;
		}
		.mocsk .itel.left-it{
			float: right;
		}
		.mocsk .itel.left-it .content-el{
			float: right;
		}
		.mocsk .itel.left-it .point{
			position: absolute;
			top: 20px;
			left: -12px;
		}
		.mocsk .itel.left-it .year{
			float: left;
			background: url(../images/img/moc2.png) 0 0 no-repeat;
			text-indent: 47px;
		}
		.mocsk .itel.left-it .img{
			float: right;
		}
		.line-col{
			left: -10px;
		}
		.mocsk .itel{
			margin-top: 20px;
			width: 100%;
		}
		.mocsk .itel.left-it .point,
		.mocsk .itel.right-it .point{
			left: -23px;
		}
		.content-el{
			width: 100%;
			box-sizing: border-box;
			padding-left: 46px;
		}
		.mocsk .itel.left-it .year,
		.mocsk .itel.right-it .year{
			margin-left: -36px;
		}
		.content-el ul.ls{
			width: 100%;
		}
		.mocsk .itel.right-it .img,
		.mocsk .itel.left-it .img{
			clear: both;
			width: 100%;
			margin-top: 15px;
		}
		ul.ls{
			margin-top: 18px;
		}
		.wrap-moc{
			margin-top: 100px;
		}
	/*end News*/

	/**/
	.list_dvdt{
		max-width: 490px;
	}
	.list_dvdt li.itemdt1,
	.list_dvdt li.itemdt3,
	.list_dvdt li.itemdt5{
		margin-left: 0;
	}
	.list_dvdt li.itemdt4{
		margin-left: 20px;
	}
	.gr-bp li{
		width: 30%;
		margin-left: 5%;
	}
	.gr-bp li.itembp4{
		margin-left: 0;
	}
	.text-bpshow ul.ul-box{
		display: block;
	}
	.text-bpshow ul.ul-box li{
		vertical-align: middle;
		box-sizing: border-box;
		width: 100%;
		display: block;
	}
	.text-bpshow ul.ul-box li:nth-child(3){
		width: 100%;
		margin-top: 3px;
	}
	.text-bpshow ul.ul-box li:nth-child(2){
		width: 0;
		display: none;
	}
	.text-bpshow ul.ul-box li:nth-child(1){
		width: 100%;
	}
	.text-bpshow h3,
	.text-bpshow p{
		padding-left: 20px;
	}
	.text-bpshow ul.ul-box{
		padding-left: 30px;
	}
	/* CSKH Home */
		.workshop-participant{
			background-size: auto 100% !important;
		}
		.incentive-program .incentive-item,
		.faq-main-all .faq-main-item{
			margin: 20px 0 0 0;
			width: 100%;
			float: none;
		}
		.incentive-program .incentive-item:first-child,
		.faq-main-all .faq-main-item:first-child{
			margin: 0;
		}
		.workshop-participant .one{
			font-size: 16px;
		}
	/* CSKH Home */
	/*Hướng dẫn giao dịch*/
		.trading-guide .incentive-program .incentive-item{
			width: 100%;
			margin-left: 0;
			height: auto;
		}
		.tbl-support-center-call{
			display: block;
			width: 100%;
			margin-top: 15px;
		}
		.tbl-support-center-call .tr-scc{
			display: block;
		} 
		.tbl-support-center-call .td-scc{
			display: block;
			vertical-align: top;
			width: 100%;
			padding: 0;
		}
		.search-scc .select-scc,
		.search-scc .input-scc{
			width: 100%;
			border: 10px solid #dadada;
		}
		.search-scc .select-scc .icon{
			display: block;
		}
	/*Hướng dẫn giao dịch*/
	/*Hướng dẫn lô lẻ*/
		.control-guide{
			overflow: hidden;
		}
		.control-guide .it-gui-prev a{
			left: -200%;
			display: none;
		}
		.control-guide .it-gui-next a{
			right: -200%;
			display: none;
		}
	/*Hướng dẫn lô lẻ*/
	/*Hội thảo*/
		.it-wk .img-wk{
			width: 100%;
			margin-right: 0;
		}
		.it-wk .info-wk{
			width: 100%;
			margin-top: 12px;
		}
		.it-wk .img-wk:hover img{
			transform: scale(1);
    		transition: all 1s ease 0s;
		}
		.form-signup{
			width: 100%;
			max-width: 100%;
		}
		.wrap-inp{
			padding: 0;
		}
		.wrap-inp.code{
			padding: 0 170px 0 0;
		}
		.wrap-inp .label{
			position: relative;
		}
		.code-char{
			top: 30px;
		}
		.change-code{
			margin-top: 31px;
		}
		.tab-ctr{
			width: 100%;
		}
	/*Hội thảo*/
	/*Chhương trình detail*/
		.it-pro-other{
			width: 100%;
		}
		.img-proth{
			width: 100%;
			margin-left: 0;
		}
		.info-proth{
			width: 100%;
			margin-top: 15px;
		}
	/*Chhương trình detail*/
	/* 404 */
		.page-404{
			height: 400px;
		}
		.page-404 .p1{
			font-family: "robotomedium";
			font-size: 96px;
			line-height: 100px;
		}
		.page-404 .p2{
			font-size: 21px;
			line-height: 27px;
			font-family: 'robotobold';
			text-transform: uppercase;
			margin-top: 1px;
		}
		.page-404 .p3{
			margin-top: 7px;
			font-size: 15px;
			line-height: 19px;
			font-family: 'robotolight';
		}
		.page-404.two .p3{
			font-size: 13px;
			line-height: 23px;
		}
	/* 404 */
	/* Lịch Sự Kiện */
		.wrap-calendar.ct{
			text-align: center;
		}
		.date-one:first-child,
		.date-one{
			margin-top: 20px;
			width: 100%;
		}
		.date-one:first-child{
			margin-top: 0;
		}
		.date-one:first-child .tit,
		.date-one .tit,
		.wrap-calendar .tit{
			width: 32.82%;
		}
		.wrap-calendar .text{
			width: 67.18%;
		}
		.date-one:first-child .text,
		.date-one .text{
			width: 60%;
		}
		.result-calendar table th{
			display: none;
		}
		.result-calendar table td{
			text-align: left;
    		display: block;
    	}
    	.result-calendar table tbody tr td{
    		border: 0;
    	}
    	.result-calendar table td::before {
  			content: attr(data-th)": ";
  			font-weight: bold;
			width: 30%;
  			display: inline-block;
  		}
  		.result-calendar table td a{
  			display: inline-block;
  			padding-left: 0;
  		}
  		.result-calendar table td a br{
  			display: none;
  		}
  		.result-calendar table tbody tr{
  			border-top: 1px solid #d7d7d7;
  		}
  		.result-calendar table tbody tr:first-child{
  			border-top: 1px solid #d7d7d7;
  		}
  		.btn-calen:first-child{
  			margin-left: 0;
  		}
	/* Lịch Sự Kiện */
	/*Câu hỏi*/
		.search-scc .select-scc,
		.wrap-calendar .text.select{
			overflow: hidden;
			padding-left: 10px;
			padding-right: 40px;
			background: url(../images/icon/icon-select-mb.png) no-repeat right center;
		}
		.search-scc .select-scc select,
		.wrap-calendar .text.select select{
			width: 121%;
		}
		.search-scc .select-scc .icon{
			display: none;
		}
	/*Câu hỏi*/
}
@media (max-width: 640px){
	.date-one:first-child .text,
	.date-one .text{
		width: 58%;
	}
}
@media (max-width: 549px){
	.list_dvdt li{
		width: 100%;
		margin-left: 0;
	}
	.list_dvdt li.itemdt4{
		margin-left: 0px;
	}
	.list_dvdt li img.bg{
		width: 100%;
	}
	.text-dtshow ul{
		float: right;
		width: 100%;
		box-sizing: border-box;
		padding-left: 0px;
	}
	.gr-bp li{
		width: 45%;
		margin-left: 10%;
	}
	.gr-bp li.itembp4{
		margin-left: 10%;
	}
	.gr-bp li.itembp3,
	.gr-bp li.itembp5{
		margin-left: 0;
	}
	.item_bp p{
		width: 75%;
	}
}
@media (max-width: 480px){
	.date-one:first-child .text,
	.date-one .text{
		width: 55%;
	}
}
@media (max-width: 360px){
	.date-one:first-child .text,
	.date-one .text{
		width: 50%;
	}
}
@media (max-width: 320px){
	.date-one:first-child .text,
	.date-one .text{
		width: 47%;
	}
}