﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.FastLinkViewModel
@{
    string backlink = Url.Content("~") + "admincp/fastlink/#/back";
}

<script src="@Url.Content("~")Assets/js/jquery.numeric.js" type="text/javascript"></script>
<script type="text/javascript" src="@(StringHelper.base_url()+"Assets/admin/editor/ckfinder/ckfinder.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });
        $(".priority").numeric();
        MaxAllowSize = @ViewBag.MaxAllowSize;
        if(MaxAllowSize != null){
            //alert("Oh Yeah");
        }
        else{
            MaxAllowSize = 3;
        }

        $('.fancybox').fancybox();
        //lang switcher
        $('#lang_switch').tabs();

        $(".button-upload-image").click(function () {
		    var $this =$(this);
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $this.parent().find('.image-upload-url').val(fileUrl);
                $this.parent().find('.preview-image').attr('src',fileUrl).css('height','100px');
                $this.parent().find('.fancybox').attr('href',fileUrl);
                $this.parent().find('.remove-file').text('X');
            };
            finder.popup();
        });
        $(".button-upload-file").click(function () {
		    var $this =$(this);
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $this.parent().find('.file-upload-url').val(fileUrl);
                $this.parent().find('.file-upload-preview').attr('href',fileUrl).text("Review");
            };
            finder.popup();
        });

        $('.remove-file').live("click", function(){
            var b = confirm("Bạn có chắc là muốn xóa file?");
            if (!b) return false;

            var nid = $(this).data("nid");
            var field = $(this).data("field");
            var lang = $("li.ui-tabs-active a").data("lang");

            if (nid > 0 && field != "")
            {
                //Xóa file
                $.post("/fastlink/delete_file", {nid: nid, field:field}, function(e){
                    if (e == "success"){
                        $(this).parent().parent().find('.image-upload-url').val('');
                        $(this).parent().find('.preview-image').attr('src','').css('height','100px');
                        $(this).parent().find('.fancybox').attr('href', '');
                        $(this).text('');
                        return true;
                    }else{
                        return false;
                    }
                });
            } else {
                $(this).parent().parent().find('.image-upload-url').val('');
                $(this).parent().parent().find('.preview-image').attr('src','').css('height','100px');
                $(this).parent().parent().find('.fancybox').attr('href', '');
                $(this).text('');
            }
        });
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }       
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if (form.title_vi.value == '') {
            $('#txt_error').html('Chưa nhập tiêu đề bài viết.');
            $('#loader').fadeOut(300);
            show_error();
            show_content('vi');
            $('input[name="title_vi"]').addClass('error-fr');
            scrollTo('#image_vi');
            $('.error_template').fadeIn();
            return false;
        }
//        if (form.title_en.value == '') {
//            $('#loader').hide();
//            alert('Bạn chưa nhập ngôn ngữ tiếng anh.');
//            show_content('en');
//            $('input[name="title_vi"], textarea[name="title_en"]').addClass('error-fr');
//            scrollTo('#banner_en');
//            $('.error_template').fadeIn();
//            return false;
//        }
        var order = $("#order").attr("value");
        if (order == "") {
            order = parseInt(0);
        }
        if (order >= 32767) {
            $('#loader').hide();
            alert('Bạn nhập số quá lớn. Số không lớn hơn 32767');
            $('input[name="order"]').addClass('error-fr');
            return false;
        }
        if (order < 0) {
            $('#loader').hide();
            alert('Bạn không nhập số âm');
            $('input[name="order"]').addClass('error-fr');
            return false;
        }

    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            //alert("success");
            var parrent = $("#save_id").attr("class");
            //            if (parrent != null) {
            //                parrent = "/" + parrent;
            //            }
            location.href = root + "admincp/" + module + "?save=1";
        } else if (responseText == 'ERROR_SLUG') {
            alert('Tiêu đề bị trùng');
            $('#loader').hide();
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }
    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>

<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p><strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">Update FastLink</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")@ViewBag.module/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null) { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @(Model != null && Model.STATUS == 1 ? "checked = 'checked'" : "") type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Default:
                                    </td>
                                    <td class="right_text_field">
                                        <input @(Model != null&&Model.TURN_ON==1?"checked":"") type="checkbox" class="custom_chk" name="turnOnAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Type:
                                </td>
                                <td class="right_text_field">
                                    <select name="typeAdmincp" id="typeAdmincp" style="width: 200px; height: 24px;">
                                        <option value="1" @(Model!=null&&Model.TYPE==1?"selected":"")>Dưới Home Banner</option>
                                        <option value="2" @(Model!=null&&Model.TYPE==2?"selected":"")>Cuối Màn Hình</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Priority:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null){@Model.PRIORITY}
                                                  else { @Html.Raw("0"); }" type="text" name="priority" class="priority" id="priority" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Icon:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    @Html.Partial("../BackEnd/Article/BrowseServer", Model != null ? Model.ICON : "", new ViewDataDictionary { { "id", Model != null ? Model.ID : 0 }, { "name", "iconAdmincp" }, { "button_id", "btnSelectIcon" } })
                                    <div class='clearAll'></div>
                                    <div class='guide'>
                                        <p>Dịch vụ điện tử: 130x66 px</p>
                                        <p>Liên kết nhanh: 40x51 px</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Icon hover:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    @Html.Partial("../BackEnd/Article/BrowseServer", Model != null ? Model.ICON_HOVER : "", new ViewDataDictionary { { "id", Model != null ? Model.ID : 0 }, { "name", "iconHoverAdmincp" }, { "button_id", "btnSelectIconHover" } })
                                    <div class='clearAll'></div>
                                    <div class='guide'>
                                        <p>Dịch vụ điện tử: 130x66 px</p>
                                        <p>Liên kết nhanh: 40x51 px</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    Image:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    @Html.Partial("../BackEnd/Article/BrowseServer", Model != null ? Model.IMAGE : "", new ViewDataDictionary { { "id", Model != null ? Model.ID : 0 }, { "name", "imageAdmincp" }, { "button_id", "btnSelectimage" } })
                                    <div class='clearAll'></div>
                                    <div class='guide'>
                                        <p>Dịch vụ điện tử: 192x100 px</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="text-align:center;">
					                <div id="lang_switch">
						                <ul>
							                <li><a href="#tab-lang-vi" class="nav-tab-lang tab-lang-vi"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_vi.png" alt=""/></span>Tiếng Việt</a></li>
                                            <li><a href="#tab-lang-en" class="nav-tab-lang tab-lang-en"><span class="lang-ico"><img src="@Url.Content("~")Assets/admin/images/flag/small_en.png" alt=""/></span>English</a></li>
						                </ul>
						                
                                        @{
                                            FastLinkContent content_translate = Model != null ? FastLinkServices.GetFastLinkContentByLang(Model.ContentTranslates, "vi") : null;
                                        }
                                        <div id="tab-lang-vi" class="w_content">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Name (Tiếng Việt):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="title_vi" id="title_vi" value="@if (content_translate != null)
                                                                                                                    {@Html.Raw(content_translate.NAME)}" onblur="checkInp(this.value,'title_vi')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Link (Tiếng Việt):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="link_vi" id="link_vi" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.LINK)}" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- ENGLISH CONTENT HERE -->
                                        @{
                                            content_translate = Model != null ? FastLinkServices.GetFastLinkContentByLang(Model.ContentTranslates, "en") : null;
                                        }
                                        <div id="tab-lang-en" class="w_content" style="">
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Name (English):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="title_en" id="title_en" value="@if (content_translate != null)
                                                                                                                    {@Html.Raw(content_translate.NAME)}" onblur="checkInp(this.value,'title_en')"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row_text_field">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="left_text_field">
                                                            Link (English):
                                                            <span class="error_template txt-error-fr">*</span>
                                                        </td>
                                                        <td class="right_text_field">
                                                            <input type="text" name="link_en" id="link_en" value="@if (content_translate != null)
                                                                                                                  {@Html.Raw(content_translate.LINK)}" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
					                </div>
				                </td>
                            </tr>
                        </table>
                        
                    </div>
                    
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
