﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.ArticleViewModel>
@if (Model != null && Model.Count > 0)
{
    int i = 0;
    foreach (var child in Model)
    {
                    @(i % 2 == 0 ? Html.Raw("<div class='wrap-dvck clearfix'>") : Html.Raw(""))
                    <div class="it-dvck it-@(i + 1) @(i % 2 == 0 ? "fl" : "fr")">
						<table class="tab100">
							<tr>
								<td><a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)"><span style="white-space: pre-line;">@(StringHelper.IsNullOrEmptyOrWhiteSpace(child.SUB_TITLE) ? StringHelper.post_title(child.TITLE) : StringHelper.post_title(child.SUB_TITLE))</span></a><img class="img" src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 362, 100))" /></td>
							</tr>
						</table>
					</div>
                    @( ((i + 1) % 2 == 0 || ((i + 1) % 2 != 0 && i + 1 == ViewBag.childs.Count)) ? Html.Raw("</div>") : Html.Raw(""))
                i++;
    }
    
    if (!string.IsNullOrEmpty(ViewBag.pagination))
    {
        <div class='paging'>
            @Html.Raw(ViewBag.pagination)
        </div>
    }
}
else
{
    <div class='no-data' style="padding-top: 20px;">@StringHelper.lang("text_no_data")</div> 
}
