﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@{
    Layout = null;
    string Lang = StringHelper.language();
}
@model List<WizardCMS.Models.ArticleViewModel>
@if (Model != null && Model.Count > 0)
{
    <div class="list-item">
    @foreach (var item in Model)
    {
        <div class="item itemnews @(ViewBag.parent.ID == Constants.NODE_MBS_BAO_CHI ? "show-img" : "hide-img")">
		    <div class="img">
			    <a href="@(Url.Content("~")+Lang)/@item.LINK" title="@Html.Raw(item.TITLE)"><img src="@Url.Content("~")@(CommonHelper.Img2(item.THUMBNAIL, 185, 111, 2))" alt="" /></a>
		    </div>
		    <div class="it-ct">
			    <div class="tit"><a href="@(Url.Content("~") + Lang)/@item.LINK" title="@Html.Raw(item.TITLE)">@Html.Raw(item.TITLE)</a></div>
			    <div class="dat"><b>@StringHelper.lang("text_created"): </b>@item.CREATED.ToString("dd/MM/yyyy")</div>
			    <div class="con">@CommonHelper.CutText(item.DESCRIPTION,120)<a class="rm" href="@(Url.Content("~") + Lang)/@item.LINK"> @Resources.Resources.READ_MORE</a></div>
		    </div> 
		    <div class="clear"></div>
	    </div>
    }
    </div>
    
    if (!string.IsNullOrEmpty(ViewBag.pagination))
    {
        <div class='paging'>
            @Html.Raw(ViewBag.pagination)
        </div>
    }
}
else
{
    <div class='no-data' style="padding-top: 20px;">@StringHelper.lang("text_no_data")</div> 
}
