﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-tintucmbs.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="search-by-date" style='display:none'>
                <div class="label left">@StringHelper.lang("text_tim_tintuc_tu")</div>
                <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_from" type="text" /><div class="icon"></div></div>
                <div class="br clearAll"></div>
                <div class="label left">@StringHelper.lang("text_den")</div>
                <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_to" type="text" /><div class="icon"></div></div>
                <div class="btn btn-search-news input-search left">@StringHelper.lang("text_timkiem")</div>
                <div class="clearAll"></div>
            </div>
            @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
            {
                int i = 0;
                foreach (var child in ViewBag.childs)
                {
                    @(i % 2 == 0 ? Html.Raw("<div class='wrap-dvck clearfix'>") : Html.Raw(""))
                    <div class="it-dvck vbpl it-@(i+1) @(i%2==0?"fl":"fr")">
						<table class="tab100">
							<tr>
								<td><a href="@(Url.Content("~") + Lang)/@child.LINK" title="@Html.Raw(child.TITLE)"><span style="white-space: pre-line;">@(StringHelper.IsNullOrEmptyOrWhiteSpace(child.SUB_TITLE) ? StringHelper.post_title(child.TITLE) : StringHelper.post_title(child.SUB_TITLE))</span></a><img class="img" src="@Url.Content("~")@(CommonHelper.Img(child.THUMBNAIL, 362, 100))" /></td>
							</tr>
						</table>
					</div>
                    @( ((i + 1) % 2 == 0 || ((i + 1) % 2 != 0 && i + 1 == ViewBag.childs.Count)) ? Html.Raw("</div>") : Html.Raw(""))
                i++;
                }
            }
            else
            { 
                <div class="no-data">@StringHelper.lang("text_cap_nhat")</div>
            }
            <div class="clear"></div>
        </div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $(".datepicker").datepicker({
        format: "dd-mm-yyyy",
        todayHighlight: true,
        autoclose: true
    });

    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: $('#date_from').val(),
            dateTo: $('#date_to').val(),
            searchText: "",
            parrent: parrent
        }, function (e) {
            $("#content_list").html(e);
            scrollToDiv3("content-page");
        })
    }
    $(document).on("click", ".btn-search-news", function () {
        SearchContent(0, 1);
    })
</script>
