﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-gioithieuchung.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page">
	<div id="menu-right-mobile">
		@Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
				<p>@StringHelper.post_title(Model.SUB_TITLE)</p>
				<div class="line"></div>
			</div>
			<div class="row top-about">
				@Html.Raw(Model.CONTENT)
				<div class="clearAll"></div>

			</div>
			<div class="line-space mt50 mbt20"></div>
			
            @if (ViewBag.NodeLoiThe != null)
            {
			    <div class="page-title mt38">
				    <p>@StringHelper.post_title(ViewBag.NodeLoiThe.TITLE)</p>
				    <div class="line"></div>
			    </div>
            }

			<ul class="ltct">
            @if (ViewBag.LoiTheCanhTranhs != null)
            {
                foreach (var item in ViewBag.LoiTheCanhTranhs)
                {
                <li>
					<img class="icon-cir" src="@Url.Content("~")Assets/images/icon/icon-cir.png" alt="" />
					<div class="tx">
						<table>
							<tr>
								<td style="white-space: pre-line;">@StringHelper.post_title(item.TITLE)</td>
							</tr>
						</table>
					</div>
					<div class="bg-sha">
						<img src="@Url.Content("~")Assets/images/bg/bg-sha.png" alt="" />
					</div>
				</li>
                }
            }
			</ul>

			<div class="line-space mt50 mbt10"></div>

            @if (ViewBag.NodeSuKien != null)
            {
			    <div class="page-title mt43">
				    <p>@Html.Raw(ViewBag.NodeSuKien.TITLE)</p>
				    <div class="line"></div>
			    </div>
            }
			<div class="wrap-moc">
				<ul class="mocsk">
                @if (ViewBag.MocSuKiens != null)
                {
                    int i = 0;
                    foreach (var item in ViewBag.MocSuKiens)
                    {
					    <li class="itel @(i % 2 == 0 ? "left-it" : "right-it")">
						    <img class="point" src="@Url.Content("~")Assets/images/icon/point.jpg" alt="" />
						    <div class="content-el">
							    <div class="year">@StringHelper.post_title(item.TITLE)</div>
                                @if (!string.IsNullOrEmpty(item.THUMBNAIL))
                                {
							    <img class="img" src="@Url.Content("~")@(CommonHelper.Img(item.THUMBNAIL, 150, 90))" alt="" />
                                }
							    <div class="clearAll"></div>
							    <ul class="ls">
                                @if (item.Childs != null && item.Childs.Count > 0)
                                {
                                    foreach (var child in item.Childs)
                                    {
								        <li>@StringHelper.post_title(child.TITLE)</li>
                                    }
                                }
							    </ul>
						    </div>
						    <div class="clearAll"></div>
					    </li>
                                i++;
                    }
                }
				</ul>
				<div class="line-col"><img src="@Url.Content("~")Assets/images/icon/line.png" alt="" /></div>
				<div class="line-col-bt"><img src="@Url.Content("~")Assets/images/icon/line-bt.png" alt="" /></div>
				<div class="clearAll"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
