﻿@using WizardCMS.Const
@using WizardCMS.Helpers

@{ 
    var id = ViewData["id"];
    var name = ViewData["name"];
    var button_id = ViewData["button_id"];
    
}

<input type="hidden" class='image-upload-url'  id="@name" name="@name" value="@Model"/>
<div class="button button-standard button-upload button-upload-image" id="@button_id">Browse Server</div>
<div class="clear"></div>
@if (!string.IsNullOrEmpty(Model))
{
    <div class='upload-item'>
        <span class='remove-file' data-nid='@id' data-field='@name'>X</span>
        <a class="fancybox" href="@(StringHelper.base_url() + Model)">
            <img id="image_en_preview" class="preview-image" src="@Url.Content("~")@CommonHelper.Img2(Url.Content("~") + Model, 150, 100)" alt="" />
        </a>
    </div>
}
else
{
    <div class='upload-item'>
        <span class='remove-file' data-nid='0' data-field='@id'></span>
        <a class="fancybox" href="">
            <img id="@(id + "_preview")" class="preview-image" src="" alt="" width="150" />
        </a>
    </div>
}