﻿@{
    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
    <script type="text/javascript">
        $(function () {
            $(".gr_perm_error").fadeIn(500);
            $("#loader").fadeOut(300);
            $(".table").css("marginTop", 4);
            setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
        });
           </script>
        }
    }
}
<a class="myclass" href="javascript:void(0)" onclick="return updateStatus(@ViewBag.Id,@ViewBag.Status,'@ViewBag.NameModule', 'true')">
    @if (ViewBag.Status == 1)
    {
        <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/check_16x16.png" />
    }
    else
    {
        <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/uncheck_16x16.png" />
    }
</a>