﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/admin/css/login.css")" />
<script src="@Url.Content("~/Assets/js/jquery-1.8.2.min.js")"s type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/md5.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/admin/js/login.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<title>Admin Control Panel</title>

<!--[if ie 6]>
<style>
html, body{
behavior: url('@Url.Content("~/Contentcsshover3.htc")');
}

.png{
behavior: url('@Url.Content("~/Contentiepngfix.htc")');
}
</style>
<script type="text/javascript" src="@Url.Content("~/Assets/js/iepngfix_tilebg.js")"></script>
<![endif]-->

<script type="text/javascript">
    var root = '@Url.Content("~")';
</script>
</head>
<body>

<div id="body">
	<div id="main">
		<div class="bg_login png">
			<div class="divInpUsername">
				<p>
					<span>User name</span>
					<input  onkeypress="return EnterLogin(event)" class="inpLogin" type="text" id="loginUser" />
				</p>
				<p class="erorr_username"><img src="@Url.Content("~/Assets/admin/images/login/erorr_username.png")" /></p>
			</div>

			<div class="divInpPass">
				<p>
					<span>Password</span>
					<input style="width: 237px; margin-left: 45px;" onkeypress="return EnterLogin(event)" class="inpLogin" type="password" id="loginPass" />
				</p>
				<p class="erorr_password"><img src="@Url.Content("~/Assets/admin/images/login/erorr_pass.png")" /></p>
			</div>

			<div id="divError">@Html.ValidationSummary(true, "Correct the errors and try again.")</div>
			<div onclick="return login();" class="btLogin"></div>
		</div>
	</div>
</div>
</body>
</html>
