﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@model WizardCMS.Models.ArticleViewModel
@{
    ViewBag.Title = CommonHelper.SEO_TITLE(Server.HtmlDecode(Model.TITLE));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Lang = StringHelper.language();
}

<!-- Banner -->
<div class="banner-child" style="background: url(@Url.Content("~")Assets/images/banner/banner-0406/banner-bctaichinh.jpg) center center">
	<div class="wrapper">
		<span>@Html.Raw(Model.TITLE)</span>
	</div>
</div>
<!-- Banner -->
<div class="content-page gtcl-page fix-ty">
	<div id="menu-right-mobile">
        @Html.Partial("About/Menu_mobile")
	</div>
	<div class="wrap-home">
		<div id="menu-right" class="menu-right">
			@Html.Partial("About/Menu")
		</div>
		<div class="wrap-content-right">
			<div class="page-title">
			    <p>@Html.Raw(Model.TITLE)</p>
			    <div class="line"></div>
			</div>
            <div class="bctc-page lbcpt" id="">
                <div class="tab-years">
                    <div class="tab-ymobile"></div>
					<ul>
                    @if (ViewBag.years.Count > 0)
                    {
                        for (int i = 0; i < ViewBag.years.Count; i++)
                        {
						    <li class="@(i==0?"active":"")">@ViewBag.years[i]</li>
                        }
                    }
						<li>@StringHelper.lang("text_luu_tru")</li>
					</ul>
				</div>
                <div class="search-by-date">
                    <div class="label left">@StringHelper.lang("text_tim_baocao_tu")</div>
                    <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_from" type="text" /><div class="icon"></div></div>
                    <div class="br clearAll"></div>
                    <div class="label left">@StringHelper.lang("text_den")</div>
                    <div class="input-search left"><input placeholder="dd-mm-yyyy" class='datepicker' id="date_to" type="text" /><div class="icon"></div></div>
                    <div class="btn btn-search-news input-search left">@StringHelper.lang("text_timkiem")</div>
                    <div class="clearAll"></div>
                </div>
                <div id="content_list" class="">
				    <div class="list-item">
				    @if (ViewBag.childs != null && ViewBag.childs.Count > 0)
                    {
                        int i = 0;
                        foreach (var child in ViewBag.childs)
                        {
                            <div class="@((i%2==0) ? "item left" : "item right")">
							    <div class="img"></div>
							    <div class="it-ct it-qhcd">
								    <div class="tit"><a href="@(Url.Content("~") + Lang)/@child.LINK">@Html.Raw(child.TITLE)</a></div>
								    <div class="dat"><b>@StringHelper.lang("text_created"): </b>@child.CREATED.ToString("dd/MM/yyyy")</div>
								    <div class="con" style="display:none">@Html.Raw(CommonHelper.CutText(child.DESCRIPTION, 70))</div>
                                    @if (!string.IsNullOrEmpty(child.ATTACHMENT)){
								        <div class="down">
                                            <a href="@child.ATTACHMENT" target="_blank" title="@Html.Raw(child.TITLE)"></a>
                                        </div>
                                    }
							    </div>
							    <div class="clear"></div>
						    </div>
                            if(i%2 != 0){
                                <div class="clear"></div>
                            }
                            i++;
                        }
                        <div class="clear"></div>
                    }
                    else
                    { 
                        <div class="no-data pdt20">@StringHelper.lang("text_cap_nhat")</div>
                    }
				    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.pagination))
                    {
                        <div class='paging'>
                            @Html.Raw(ViewBag.pagination)
                        </div>
                    }
                </div>
			</div>
            <div class="clear"></div>
        </div>
	</div>
</div>
<!-- end content home -->
<script type="text/javascript">
    $(".datepicker").datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        todayHighlight: true
    });

    $(document).ready(function () {
        $(".bctc-page .tab-years ul li").click(function (e) {
            $(".bctc-page .tab-years ul li").removeClass("active");
            $(this).addClass("active");

            SearchContent(@Model.ID, 1);
        });
    });
    var link = '@Model.LINK';
    function SearchContent(parrent, page, perpage) {
        var year = $('.tab-years li.active').text();
        var archived = 0;
        console.log(year);
        if (year == '@StringHelper.lang("text_luu_tru")')
            archived = 1;

        console.log(archived);
        $.post(root_lang + link, {
            page: page,
            perpage: perpage,
            dateFrom: $('#date_from').val(),
            dateTo: $('#date_to').val(),
            searchText: "",
            year_report: year,
            archived: archived,
            parrent: parrent
        }, function (e) {
            $("#content_list").html(e);
            scrollToDiv3("content-page");
            Page.scrollrightmenu();
        })
    }

    $(document).on("click", ".btn-search-news", function () {
        SearchContent(0, 1);
    })
</script>
