﻿@using WizardCMS.Helpers
@using WizardCMS.Const
@using WizardCMS.Models
@model WizardCMS.Models.ContactViewModel
@{
    string cssClass = "";
    
}

<script type="text/javascript">
    
    $(document).ready(function () {
        $("input.Datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1930:2050"
        });
        $(".order").numeric();
        MaxAllowSize = @ViewBag.MaxAllowSize;
        if(MaxAllowSize != null){
            //alert("Oh Yeah");
        }
        else{
            MaxAllowSize = 3;
        }

        //lang switcher
        $('#lang_switch').tabs();
    });

    function save() {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback 
        };
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }       
        $('#frmManagement').ajaxSubmit(options);
    }

    function showRequest(formData, jqForm, options) {
        var form = jqForm[0];
        if (form.nameAdmincp.value == '') {
            $('#txt_error').html('Chưa nhập tên.');
            $('#loader').fadeOut(300);
            show_error();
            $('input[name="title"]').addClass('error-fr');
            scrollTo('#image');
            $('.error_template').fadeIn();
            return false;
        }
        var order = $("#priority").attr("value");
        if (order == "") {
            order = parseInt(0);
        }
        if (order >= 32767) {
            $('#loader').hide();
            alert('Bạn nhập số quá lớn. Số không lớn hơn 32767');
            $('input[name="priority"]').addClass('error-fr');
            return false;
        }
        if (order < 0) {
            $('#loader').hide();
            alert('Bạn không nhập số âm');
            $('input[name="priority"]').addClass('error-fr');
            return false;
        }

    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'permission-denied') {
            $('#txt_error').html('Permission denied');
            $('#loader').fadeOut(300);
            show_error();
            return false;
        }
        else if (responseText == 'success') {
            location.href = root + "admincp/" + module + "/#/save";
        } else if (responseText == 'ERROR_SLUG') {
            show_error('Tên banner bị trùng.');
        }else {
            show_error(responseText);
            return false;
        }
    }

    function show_content(lang) {
        $('.tab-lang-'+lang).trigger("click");
    }

    function show_error(msg) {
        if (typeof msg != "undefined")
        {
            $('#txt_error').html(msg);
        }

        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>
@{
    string backlink = Url.Content("~") + "admincp/contact/#/back";
}
<div style="float: right; height: 128px;">
    <div class="midNav">
        <ul>
            <li><a href='@backlink'><span class="back">Back</span></a></li>
            <li class="midNav_last_child"><a href="javascript:void(0);" id="save_id" class="" onclick="save()">
                <span id="saveContent" class="save">Save</span></a></li>
        </ul>
    </div>
</div>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top">
            <div class="right_content">
                <div class="gr_perm_error" style="display: none;">
                    <p>
                        <strong>FAILURE: </strong><span id="txt_error">Permission Denied.</span></p>
                </div>
                <div class="table">
                    <div class="head_table">
                        <div class="head_title_edit">
                            Contact Update</div>
                    </div>
                    <div class="clearAll">
                    </div>
                    <form id="frmManagement" action='@Url.Content("~")Contact/save/' method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@if (Model != null) { @Model.ID }" name="hiddenIdAdmincp" />
                    <div class="row_text_field_first">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="left_text_field">
                                        Status:
                                    </td>
                                    <td class="right_text_field">
                                        <input @if (Model != null)
                                               {
                                                   if (Model.STATUS == 1)
                                                   { 
                                                       @Html.Raw("checked = 'checked'") }
                                               }
                                               else
                                               {
                                                       @Html.Raw("checked = 'checked'") 
                                               } type="checkbox" class="custom_chk" name="statusAdmincp"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    FULLNAME:
                                </td>
                                <td class="right_text_field">
                                    <input value="@if (Model != null){@Model.FULLNAME}
                                                  else { @Html.Raw(""); }" type="text" name="fullnameAdmincp" class="fullnameAdmincp" id="fullnameAdmincp" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    EMAIL: <span class="error_template txt-error-fr">*</span>
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="emailAdmincp" id="emailAdmincp" value="@if (Model != null){@Html.Raw(Model.EMAIL)}"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    PHONE: <span class="error_template txt-error-fr">*</span>
                                </td>
                                <td class="right_text_field">
                                    <input type="text" name="phoneAdmincp" id="phoneAdmincp" value="@if (Model != null){@Html.Raw(Model.PHONE)}"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="row_text_field" style="display:none">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    ADDRESS:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    <input type="text" name="addressAdmincp" id="addressAdmincp" value="@if (Model != null){@Html.Raw(Model.ADDRESS)}"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    TITLE:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    <input type="text" name="titleAdmincp" id="titleAdmincp" value="@if (Model != null){@Html.Raw(Model.TITLE)}"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row_text_field">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="left_text_field">
                                    CONTENT:
                                </td>
                                <td class="right_text_field" valign="middle">
                                    <textarea name="contentAdmincp" id="contentAdmincp">@if (Model != null){@Html.Raw(Model.CONTENT)}</textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
