img{
	border:0px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

*{
	margin: 0px;
	padding: 0px;
	outline: 0 none;
}

ul{ list-style: none; }

.clearAll{ clear: both; font-size: 0px; width: 0px; height: 0px; }

html, body{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
	position:relative;
	z-index:0;
}

/* CSS Phân trang */
.pagination{
	float: left;
	width: 100%;
	margin-top: 15px;
	padding-bottom: 20px;
	text-align: center;
}

.pag_active{
	margin: 0 3px;
	border: 1px solid #D2147F;
	padding: 2px 5px;
	color: #D2147F;
}

.pag_link{
	margin: 0 3px;
	border: 1px solid #000;
	padding: 2px 5px;
	color: #000;
}

.pag_link:hover{
	border: 1px solid #D2147F;
	color: #D2147F;
	text-decoration: none;
}

.pag_first{
	margin: 0 3px;
	border: 1px solid #000;
	padding: 2px 5px;
	color: #000;
}

.pag_first:hover{
	border: 1px solid #D2147F;
	color: #D2147F;
	text-decoration: none;
}

.last_first{
	margin: 0 3px;
	border: 1px solid #000;
	padding: 2px 5px;
	color: #000;
}

.last_first:hover{
	border: 1px solid #D2147F;
	color: #D2147F;
	text-decoration: none;
}
/* End CSS Phân trang */
/*----------------------------Class Chung--------------------------------------------------*/
.left{float:left;}
.right{float:right;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt7{margin-top:7px;}
.mt9{margin-top:9px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt18{margin-top:18px;}
.mt20{margin-top:20px;}
.mt26{margin-top:26px;}
.mt27{margin-top:27px;}
.mt28{margin-top:28px;}
.mt31{margin-top:31px;}
.mt33{margin-top:33px;}
.mt39{margin-top:39px;}
.mt48{margin-top:48px;}
.mt50{margin-top:50px;}
.t-right{text-align:right;}

.color_4280be{color:#4280be;}
.cl-ttc{color:#0066B3;}
.cl-b{color:#303030;}

.hide{display:none;}
#main{
	width: 960px;
	margin: 0 auto;
	overflow:hidden;
	
}
/*----------------------------End Class Chung--------------------------------------------------*/

/*----------------------------Header--------------------------------------------------*/
#header .logo{
	width:151px;
}

#header .header_main{
	*width:800px;
}

#header .header_main .box_search{
	width:162px;
	height:19px;
	border:1px solid #b3b4b6;
	padding:1px 0 0 5px;
}

#header .header_main .box_search input{
	border:none;
	background:none;
	font-size:10px;
	color:#929496;
	width:140px;
	vertical-align:-1px;
}

#header .header_main .box_search a{
	vertical-align:-3px;
}

#header .header_main .language{
	width:70px;
	text-align:right;
	font-weight:bold;
	font-size:11px;
	color:#929496;
}

#header .header_main .language a{
	font-weight:bold;
	font-size:11px;
	color:#929496;
}

#header .header_main .language a:hover{
	color:#0066b3;
	text-decoration:none;
}

#header .header_main .header_menu{
	width:800px;
}

#header .header_main .header_menu ul li{
	float:right;
	position:relative;
	z-index:3;
	margin-left:45px;
}

#header .header_main .header_menu ul li.menu_home{
	width:74px;
	margin-left:0;
}

#header .header_main .header_menu ul li a{
	display:block;
	font-size:12px;
	color:#333333;
	font-weight:bold;
	text-transform:uppercase;
}

#header .header_main .header_menu ul li:hover a, #header .header_main .header_menu ul li.active a{
	color:#0066b3;
	text-decoration:none;
}

#header .header_main .header_menu ul li .sub_menu{
	display:none;
	width:193px;
	position:absolute;
	z-index:0;
	top:15px;
	left:-11px;
	padding-top:20px;
}

#header .header_main .header_menu ul li.frist-child .sub_menu{
	left:-100px;
	*left:-101px;
}

#header .header_main .header_menu ul li:hover .sub_menu{
	display:block;
	overflow:inherit;
	z-index:1000;
}

#header .header_main .header_menu ul li.menu_communication{
	width:96px;
	text-align:right;
}

#header .header_main .header_menu ul li .sub_menu .sub_menu_content{
	width:175px;
	padding:10px 11px 24px 11px;
	background:url(../images/bg_sub_menu.png);
}

#header .header_main .header_menu ul li .sub_menu .sub_menu_content ul li{
	float:none;
	margin:9px 0 0 0;
	text-align:left;
}

#header .header_main .header_menu ul li .sub_menu .sub_menu_content ul li a{
	display:inline-block;
	color:#ffffff;
	text-transform: none;
}

#header .header_main .header_menu ul li .sub_menu .sub_menu_content ul li a:hover,#header .header_main .header_menu ul li .sub_menu .sub_menu_content ul li.sub_active a{
	background:url(../images/img_hover_sub_menu.png) left center no-repeat;
	padding-left:12px;
}

/*----------------------------End Header--------------------------------------------------*/
/*----------------------------Content--------------------------------------------------*/
#content{
	width:960px;
	overflow:hidden;
	padding-top:20px;
}
#content .banner_main{
	width:960px;
	height:351px;
	position:relative;
	z-index:0;
}

#content .banner_main .box_news{
	width:170px;
	height:276px;
	background:url(../images/bg_box_news.png);
	position:absolute;
	z-index:0;
	top:20px;
	left:20px;
	border-bottom:10px solid #0077c0;
	padding:25px 10px 0 10px;
}

#content .banner_main .box_news .title{
	border-bottom:1px solid #0077c0;
	height: 70px;
	/*padding-bottom:25px;*/
}

#content .banner_main .box_news .title h1{
	font-size:18px;
	font-weight:normal;
	color:#ffffff;
}

#content .banner_main .box_news h1 a{color:#ffffff;}
#content .banner_main .box_news h1 a:hover{color:#0077C0;text-decoration:none;}

#content .banner_main .box_news .list_news{margin-top:5px;}
#content .banner_main .box_news .list_news li{padding-top:14px;}

#content .banner_main .box_news .list_news .news_detail a{
	color:#ffffff;
	font-size:12px;
}
#content .banner_main .box_news .list_news .news_detail a:hover{color:#0077C0;text-decoration:none;}

#content .banner_main .box_news .list_news .day{
	font-size:11px;
	color:#aeaeae;
	text-align:right;
}

#content .banner_main .box_news .view_more a{color:#0077c0;font-size:11px;}
#content .banner_main .box_news .view_more a:hover{color:#9F9F9F;text-decoration:none;}

.list_field .item{float:left;width:220px;font-size:10px;color:#333333;padding-left:26px;}
.list_field .item.first{padding-left:0;}
.list_field .item .img{height:50px;cursor:pointer;}
.list_field .item  .title{text-transform:uppercase;}
.list_field .item .img a{display:block;width:220px;height:50px;}
.list_field .item .img:hover a{background-position:0 -50px!important;}
.list_field .item .title a{font-size:12px;font-weight:bold;color:#333333;}
.list_field .item .title a:hover{color:#0077C0;text-decoration:none;}

.list_field .item .descript{
	text-align:justify;
	word-spacing:2px;
	line-height:13px;
}

.list_field {
	width:960px;
	height:131px;
	position:relative;
	z-index:2;
}

.list_field .item .descript a{color:#019dcf;}
.list_field .item .descript a:hover{color:#9F9F9F;text-decoration:none;}

.partners_icon .btn_prev{
	display:block;
	width:8px;
	height:66px;
	background:url(../images/btn_prev.png) center center no-repeat;
	cursor:pointer;
}

.partners_icon .btn_next{
	display:block;
	width:8px;
	height:66px;
	background:url(../images/btn_next.png) center center no-repeat;
	cursor:pointer;
}

.partners_icon .btn_prev.disabled, .partners_icon .btn_next.disabled{
	background:none;
	cursor:default;
}

.partners_icon .jcl{
	width:936px;
	height:29px;
	padding:20px 0 0 8px;
	*overflow:hidden;
}

.partners_icon .jcl ul li{
	float:left;
	width:936px;
	height:29px !important;
	text-align:center;
	overflow:visible !important;
}

.partners_icon .jcl ul li .icon{
	float:left;
	height:29px;
	margin:0 15px 0 15px;
	text-align:center;
	position:relative;
	z-index:0;
}

.partners_icon .jcl .jcl_main{
	left: 0;
	top:-140px;
    overflow: hidden;
    position: relative;
    visibility: visible;
    width: 936px;
	height:29px;
    z-index: 2;
	padding-top:140px;
	text-align:center;
}

.tool_tip{
	display:none;
	width:275px;
	position:absolute;
	z-index:0;
	bottom:29px;
	opacity:0;
	background:none;
}

.partners_icon .jcl ul li .icon:hover .tool_tip{
	display:block;
}

.partners_icon{
	width:960px;
	height:66px;
	position:relative;
	z-index:1;
	padding-top:25px;
}

.tool_tip .bg_top{
	width:328px;
	height:12px;
	background:url(../images/bg_tip_top.png) no-repeat;
}

.tool_tip .bg_bottom{
	width:328px;
	height:31px;
	background:url(../images/bg_tip_bottom.png) no-repeat;
}

.tool_tip .bg_content{
	width:328px;
	background:url(../images/bg_tip_content.png) repeat-y;
}

.tool_tip .bg_content .img{
	width:88px;
	text-align:center;
	padding-left:13px;
}

.tool_tip .bg_content .img a{
	float:none;
	font-size:10px;
	font-weight:bold;
	color:#0066b3;
	line-height:15px;
	*line-height:25px;
	margin:0;
}

.tool_tip .bg_content .text{
	width:200px;
	padding-left:11px;
	text-align:justify;
	font-size:10px;
	color:#424242;
}

.tool_tip .bg_content .text .title a{
	display:inline-block;
	float:none;
	font-size:12px;
	font-weight:bold;
	color:#424242;
	text-align:left;
	margin:0;
}

/*SITE MAP*/
.w-sitemap {margin:34px 0 0 0;}
.item-sitemap{padding-bottom:32px!important;}
.item-sitemap h2{padding-bottom:17px!important;}
.item-sitemap a:hover{color:#9F9F9F;text-decoration:none;}

.shadow_icon_hover{
	display:none;
	width:100%;
	height:536px;
	position:absolute;
	z-index:3;
	left:0;
	top:125px;
	background-color:#000;
	opacity:0.5;
	filter: alpha(opacity=50);
}

.arrow_main{
	display:none;
	width:20px;
	height:14px;
	background:url(../images/bg_arrow_main.png) no-repeat;
	position:absolute;
	z-index:0;
	top:-14px;
}
/*----------------------------End content--------------------------------------------------*/
/*----------------------------footer--------------------------------------------------*/
#footer{
	width:100%;
	height:33px;
	background-color:#e5eaf1;
	font-size:10px;
	color:#424242;
	text-align:center;
	padding-top:20px;
	z-index:0;
	overflow:hidden;
}

#footer a{
	color:#424242;
}

#footer a:hover{
	color:#0066B3;
	text-decoration:none;
}
/*----------------------------End footer--------------------------------------------------*/

/*-------------------------------About--------------------------------------------------*/
.content_main{padding-bottom:37px;padding-bottom:38px\0;padding-top:33px;*padding-top:34px;padding-top:35px\0/;padding-top:34px\0;}

.breadcrumb{font-size:10px;color:#9f9f9f;padding-top:15px;*padding-top:16px;padding-top:17px\0/;padding-top:16px\0;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {.breadcrumb{padding-top:16px;}}

.breadcrumb ul li{display:inline;}
.breadcrumb a{color:#9f9f9f;}
.breadcrumb span.arrow{color:#9f9f9f;vertical-align:1px;}
.breadcrumb span{color:#0066B3;}

.breadcrumb a:hover{
	color:#0066b3;
	text-decoration:none;
}

.content_right{
	width:290px;padding:57px 0 0;
}

.content_left{width:640px;font-size:12px;color:#333333;text-align:justify;}
.banner_page{height:234px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {.content_left h1{padding-bottom: 7px;}}
.content_left h2{font-size:12px;color:#0066b3;}
.content_left p{line-height:18px;margin:0 0 0 0px;}
.content_left ul li{background:url(../images/icons/bullet.png) no-repeat 2px 7px;list-style-type:none;padding:0 0 6px 14px;line-height:18px;}
.content_left .h2-expand{background:url(../images/icons/icon-expand.png) right 0px no-repeat;cursor:pointer;}
.content_left .h2-collapse{background-position: right -20px;}
.content_left .div-expand{padding:0 0 12px 0;}
/*CONTENT*/
.page_list{margin-top:27px;}
.title-h1{padding-top:26px;*padding-top:27px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.title-h1{padding-top:27px;}}
	.title-h2{padding-top:26px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {.title-h2{padding-top:27px;}}
	.title-p{padding-top:25px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {.title-p{padding-top:26px;}}
.h1-h2{margin-bottom:28px;}
	.h1-ul{margin-bottom:16px;*margin-bottom:15px;margin-bottom:15px\0;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {.h1-ul{margin-bottom:17px;}}
	.h1-p{margin-bottom:16px;margin-bottom:15px\0;}
.h2-ul{padding-bottom:7px;}
	.h2-p{padding-bottom:7px;padding-bottom:8px\0;padding-bottom:8px\0/;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {.h2-p{padding-bottom:8px;}}
.p-h1{padding-bottom:32px;*padding-bottom:33px;padding-bottom:33px\0;}
	.p-h2{padding-bottom:23px;}
		@media screen and (-webkit-min-device-pixel-ratio:0) {.p-h2{padding-bottom:22px;}}
	.p-p{padding-bottom:16px;}
	.p-div-expand{padding-bottom:23px;}
.ul-h1{padding-bottom:32px;*padding-bottom:33px;}
	.ul-h2{padding-bottom:23px!important;}
	.ul-p{padding-bottom:12px!important;}
.p-last-child{padding-bottom:11px;*padding-bottom:12px}
.ul-last-child{padding-bottom:12px;*padding-bottom:13px!important;padding-bottom:11px\0;}
.div-expand .ul-last-child{padding-bottom:11px;*padding-bottom:11px!important;padding-bottom:9px\0;}

.content_right .item_box{margin-bottom:20px;padding:20px 10px 0 20px;border:1px solid #9f9f9f;}
.content_right .item_box ._item{padding-bottom:14px;}
.content_right .item_box ._item .date_file{font-size:10px;color:#9f9f9f;}
.content_right .item_box ._item a:hover{color:#0066b3;text-decoration:none;}
.content_right .item_box .title_box{text-transform:uppercase;font-weight:bold;color:#0066b3;padding-bottom:24px;}
	.content_right .box_template_image{padding:0px;border:none;}
/*BOX PDF*/
	.content_right .box_template_pdf ._item ._item_file{background: url(../images/icons/icon_pdf.png)no-repeat left center;padding:0 0 0 25px;}
/*END BOX PDF*/
/*BOX PDF*/
	.content_right .box_template_word ._item ._item_file{background: url(../images/icons/icon_word.png)no-repeat left center;padding:0 0 0 25px;}
/*END BOX PDF*/
/*BOX PDF*/
	.content_right .box_template_word ._item ._item_file{background: url(../images/icons/icon_word.png)no-repeat left center;padding:0 0 0 25px;}
/*END BOX PDF*/


.content_right .box_right.last{
	padding:0;
}

.content_left .title h1 ,.content_sitemap .title h1{
	font-size:16px;
	font-weight:normal;
	color:#9f9f9f;
	text-transform:uppercase;
	border: medium none;
}

.back_to_top{text-align:right;}
.back_to_top a{font-size:12px;color:#0066b3;line-height:16px;}
.back_to_top a:hover{color:#9F9F9F;text-decoration:none;}
/*-------------------------------End About--------------------------------------------------*/
/*-------------------------------Fields--------------------------------------------------*/
.title_sub h2{
	font-size:12px;
	color:#0066b3;
}
/*-------------------------------End Fields--------------------------------------------------*/
/*-------------------------------List news--------------------------------------------------*/
.page_list .item{
	font-size:12px;
	color:#333333;
	padding-bottom:31px;
}

.page_list .item.last{
	padding-bottom:0px;
}

.page_list .item .title_news a{
	color:#0066b3;
	font-size:12px;
	font-weight:bold;
}

.page_list .item .day{
	font-size:10px;
	color:#9f9f9f;
	line-height:9px;
}

.page_list .item .content_news{
	margin-top:17px;
}

.page_list .item .content_news .img{
	width:176px;
}

.page_list .item .content_news .text{
	width:442px;
	text-align:justify;
}

.page_list .item .content_news .text .view_detail{
	text-align:right;
	margin-top:4px;
}

.page_list .item .content_news .text .view_detail a{
	font-size:12px;
	color:#0066b3;
}

.page_list .item .content_news .text .view_detail a:hover, .page_list .item .title_news a:hover{
	color:#9F9F9F;
	text-decoration:none;
}

.paging{
	color:#333333;
	font-size:12px;
	text-align:center;
	margin-top:11px;
}

.paging a{
	color:#333333;
	margin:0 5px 0 0;
}

.paging span, .paging a:hover{
	color:#0066b3;
	text-decoration:none;
	margin:0 5px 0 0;
}
.content_sitemap{
   width: 100%;
}
.content_sitemap ul.pr{
     width: 100%;
     float:left;
     display: inline;
     padding:40px 0 0 0;
}
.content_sitemap ul.pr li.pr_item{
     width: 19%;
     float:left;
     padding-right: 1%;
}
.content_sitemap ul.pr li.pr_item h2 a{
     font-size: 12px;
     text-transform: uppercase;
     color:0066b3;
     font-weight:bold;
     padding-bottom: 5px;
}
.content_sitemap ul.pr li.pr_item ul li{
   line-height: 25px;
}
/*-------------------------------End List news--------------------------------------------------*/

