﻿@using WizardCMS.Models;
@{
    int curentPage = 1;
    int totalPage = 10;
    int perpage = 10;
    int morePage = 4;
    
    Paging paging = ViewBag.Paging;
    if (paging != null)
    {
        curentPage = paging.Page;
        totalPage = paging.TotalPage;
        perpage = paging.Perpage;
    }
    int[] arrayPerPage = { 10, 25, 50, 100 };
    string cssFirst = "";
    string cssPrevious = "";
    string cssNext = "";
    string cssLast = "";

    string clickFirst = "";
    string clickPrevious = "";
    string clickNext = "";
    string clickLast = "";
    int startPage = 1;
    int endPage = 1;
}
<div class="footer_table">
    <div class="item_per_page">
        Items per page:</div>
    <div class="select_per_page">
        <select id="per_page" onchange="searchContentAjax('@ViewBag.AjaxUrl', 1)">
            @foreach (int item in arrayPerPage)
            {
                if (perpage == item)
                {
                <option selected="selected" value="@item">@item</option>
                }
                else
                {
                <option value="@item">@item</option>
                }
            }
        </select>        
        <input type ="hidden" id="currentPage" value = "@curentPage" />
    </div>
    <div class="pagination">
        @{
            if (totalPage > 1)
            {
                if (curentPage <= 1)
                {
                    cssFirst = "pag_disabled";
                    cssPrevious = "pag_disabled";
                }
                else
                {
                    clickFirst = "onclick=searchContentAjax('" + @ViewBag.AjaxUrl + "'," + "1" + ")";
                    clickPrevious = "onclick=searchContentAjax('" + @ViewBag.AjaxUrl + "'," + (curentPage - 1) + ")";
                }

                if (curentPage >= totalPage)
                {
                    cssNext = "pag_disabled";
                    cssLast = "pag_disabled";
                }
                else
                {
                    clickNext = "onclick=searchContentAjax('" + @ViewBag.AjaxUrl + "'," + (curentPage + 1) + ")";
                    clickLast = "onclick=searchContentAjax('" + @ViewBag.AjaxUrl + "'," + totalPage + ")";
                }
        
            <span class="pag_normal @cssFirst" @clickFirst>First</span>
            <span class="pag_normal @cssPrevious" @clickPrevious>Prev</span>
                if (curentPage - morePage < 1)
                {
                    startPage = 1;
                }
                else {
                    startPage = curentPage - morePage;
                }

                if (curentPage + morePage > totalPage)
                {
                    endPage = totalPage;
                }
                else
                {
                    endPage = curentPage + morePage;
                }

                for (int page = startPage; page <= endPage; page++)
                {
                    if (curentPage == page)
                    {
                         <span class="pag_normal pag_disabled">@page</span>
                    }
                    else
                    {
                        <span class="pag_normal" onclick="searchContentAjax('@ViewBag.AjaxUrl', @page)">@page</span>
                    }
                }
            <span class="pag_normal @cssNext" @clickNext>Next</span>
            <span class="pag_normal @cssLast" @clickLast>Last</span>
            <input type="hidden" id="totalPage" value="@totalPage" />
            }
        }
    </div>

    <div class="paging_total">Total items: (@paging.TotalItems)</div>
</div>
