.wrap-content{
	width: 100%;
	/*height: 100%;*/
	position: relative;
	overflow-x: hidden; 
}
.wrap-content.active{
	overflow: visible;
}
.wrapper{
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 10px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}

.mt10{margin-top: 10px;}
.mt12{margin-top: 12px;}
.mt15{margin-top: 15px;}
.mt16{margin-top: 16px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt40{margin-top: 40px;}

.fs14{font-size: 14px;}
.c_555{color: #555;}
.c_0066b3{color: #0066b3;}
/*header*/
	#header{
		width: 100%
	}
	.top-nav{
		width: 100%;
		min-height: 46px;
		background: #333333;
	}
	.top-nav .wrapper{
		height: 100%;
	}
	.wrap-top{
		box-sizing: border-box;
		padding: 0 180px 0 235px;
		position: relative;
	}
	.top-search{
		width: 170px;
		position: absolute;
		top: 0;
		right: 0;
		box-sizing: border-box;
		padding-right: 25px;
		padding-top: 10px;
	}
	.input{
		width: 100%;
		height: 25px;
		line-height: 25px;
		background: #fff;
	}
	.input input{
		width: 100%;
		height: 100%;
		background: none;
		border: none; 
	}
	.top-search .btn-top-search{
		display: inline-block;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 10px;
		right: 0;
		background: url(../images/icon/ico-search.png) no-repeat;
	}
	.hot-line{
		width: 235px;
		height: 46px;
		position: absolute;
		left: 0;
		top: 0;
		padding-left: 33px;
		background: url(../images/icon/ico-hot-line.png) no-repeat 0 center;
		display: table;
	}
	.hot-line .phone{
		display: table-cell;
		vertical-align: middle;
		font-size: 20px;
		font-weight: 100;
		color: #ffffff
	}
	.hot-line .phone span{
		font-weight: 700;
		padding-left: 7px;
	}
	.top-menu{
		text-align: right;
		font-size: 13px;
		font-weight: 300;
		width: 100%;
		height: 46px;
	}
	.top-menu a{
		color: #fff;
		text-decoration: none;
		position: relative;
		top: 3px;
	}
	.top-menu a.link{
		/*padding: 3px 14px 2px 11px;
		border: 2px solid transparent;*/
		margin: 0 5px;
	}
	.top-menu a.link:hover,
	.top-menu a.link.active{
		/*border: 2px solid #326892;
		font-weight: 400;*/
	}
	.top-menu a.social,
	.social-mobile a.social{
		display: inline-block;
		width: 25px;
		height: 25px;
		top: 10px;
	}
	.social-mobile a.social{
		top: 7px;
	}
	.top-menu a.social.facebook,
	.social-mobile a.social.facebook{
		background: url(../images/icon/ico-facebook.png) no-repeat;
	}
	.top-menu a.social.skype,
	.social-mobile a.social.skype{
		margin-right: 2px;
		background: url(../images/icon/ico-sky.png) no-repeat;
	}
	.top-menu a.lang,
	.social-mobile a.lang{
		display: inline-block;
		width: 19px;
		height: 15px;
		top: 6px;
		margin: 0 2.5px;
		background: url(../images/icon/ico-lang.png) no-repeat;
	}
	.social-mobile a.lang{
		top: 3px;
	}
	.top-menu a.lang.vi,
	.social-mobile a.lang.vi{
		margin-left: 11px;
		background-position: 0 0;
	}
	.top-menu a.lang.vi:hover,
	.social-mobile a.lang.vi:hover,
	.top-menu a.lang.vi.active,
	.social-mobile a.lang.vi.active{
		background-position: 0 -15px;	
	}
	.top-menu a.lang.en,
	.social-mobile a.lang.en{
		margin-right: 15.5px;
		background-position: -27px 0;
	}
	.top-menu a.lang.en:hover,
	.social-mobile a.lang.en:hover,
	.top-menu a.lang.en.active,
	.social-mobile a.lang.en.active{
		background-position: -27px -15px;
	}
		/*navigation*/
		.navigation{
			width: 100%;
			height: 67px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 15px;
			background: #fdfdfd;
			z-index: 100;
			position: relative;
			border-bottom: 5px solid #d9d9d9;
		}
		.navigation .wrapper{
			height: 100%;
			width: 100%;
			max-width: 1130px;
		}
		.navigation .wrapper .nav-bar .item-nav{
			padding: 0 1.53153% 0 1.6216%;
			position: relative;
		}
		.navigation .wrapper .nav-bar .item-nav > a{
			color: #333333;
			display: table;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;  
			box-sizing: border-box; 
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		.navigation .wrapper .nav-bar .item-nav > a span{
			display: table-cell;
			vertical-align: middle;
		}
		.navigation .wrapper .nav-bar .item-nav > a.active{
			color: #0066b3;
		}
		
		.navigation .wrapper .nav-bar .item-nav > a .icon{
			display: inline-block;
			width: 10px;
			height: 6px;
			background: url(../images/icon/icon-nav.png) no-repeat;
			position: absolute;
			top: 50%;
		}
		
		.navigation .wrapper .nav-bar .item-nav:first-child a .icon{
			display: none;
		}
		.navigation .wrapper .nav-bar .item-nav{
			height: 100%;
			position: relative;
			border-right: 1px solid #dddddd;
		}
		.navigation .wrapper .nav-bar .item-nav.home{
			width: 9.7297%;
			padding: 0 1.6216% 0 0;
		}
		.navigation .wrapper .nav-bar .item-nav.home img{
			width: 100%;
			max-width: 90px;
		}
		.navigation .wrapper .nav-bar .item-nav.home a{
			text-align: left;
		}
		.navigation .wrapper .nav-bar .item-nav.cus-per{
			width: 17.4774%;
		}
		.navigation .wrapper .nav-bar .item-nav.cus-org{
			width: 16.936%;
		}
		.navigation .wrapper .nav-bar .item-nav.center{
			width: 17.117%;
		}
		.navigation .wrapper .nav-bar .item-nav.help{
			width: 24.774%;
		}
		.navigation .wrapper .nav-bar .item-nav.intro{
			width: 13.9659%;
		}
		.navigation .wrapper .nav-bar .item-nav.cus-per > a .icon,
		.navigation .wrapper .nav-bar .item-nav.center > a .icon{
			right: 8.421%;
		}
		.navigation .wrapper .nav-bar .item-nav.cus-org > a .icon{
			right: 8.4656%;
		}
		.navigation .wrapper .nav-bar .item-nav.help > a .icon{
			right: 7.6923%;
		}
		.navigation .wrapper .nav-bar .item-nav.intro > a .icon{
			right: 13.559%;
		}
		.navigation .wrapper .nav-bar{
			height: 100%;
			position: relative;
		}
		.navigation .wrapper .nav-bar .item-nav:hover > a,
		.navigation .wrapper .nav-bar .item-nav.active > a{
			color: #0066b3;
		}
		
		.navigation .wrapper .nav-bar .item-nav:hover > a .icon,
		.navigation .wrapper .nav-bar .item-nav.active > a .icon{
			background-position: 0 bottom;
		}
		
		.navigation .wrapper .nav-bar .item-nav .sub-nav{
			position: absolute;
			width: 1000px;
			top: 68px;
			display: none;
			z-index: 0;
			padding-top: 6px !important;
			margin-top: -7px !important;
			border-bottom: 5px solid #d9d9d9;
		}
		.navigation .wrapper .nav-bar .item-nav.cus-per .sub-nav{
			left: -52px;
		}
		.navigation .wrapper .nav-bar .item-nav.cus-org .sub-nav{
			left: -246px;
		}
		.navigation .wrapper .nav-bar .item-nav.intro .sub-nav{
			left: -899px;
		}
		.navigation .wrapper .nav-bar .item-nav .sub-nav-main{
			width: 100%;
			border-top: 6px solid #0066b4;
			background: #fff;
			padding: 10px 0;
		}
		.name-cate{
			width: 320px;
			padding: 3px 20px 0 20px;
			font-family: "utm_bebasregular";
			font-size: 30px;
			color: #1a75ba;
			line-height: 30px;
		}
		.w-255{
			width: 255px;
		}
		.w-170{
			width: 170px;
		}
		.w-129{
			width: 129px;
		}
		.w-235{
			width: 235px;
		}
		.w-169{
			width: 169px;
		}
		.list-service{
			width: 680px;
			/*height: 101px;*/
			min-height: 38px;
			padding: 0 20px;
			border-left: 1px solid #d7d7d7;
		}
		.item-lser{
			line-height: 17px;
			height: 40px;
			display: table;
		}
		.bd-bt{
			margin-top: 10px;
			padding: 0 0 13px 0;
			border-top: 2px solid #d7d7d7;
		}
		.pd-top{
			padding-top: 20px;
		}
		.item-nav.center .item-lser{
			height: auto;
		}
		.pdt15{
			padding-top: 15px;
		}
		.item-lser a{
			height: 40px;
			box-sizing: content-box;
			color: #333333;
			display: table-cell;
			vertical-align: middle;
			position: relative;
			background-position: 0 0;
		}
		.item-lser a:hover{
			color: #0066b3;
		}
		.item-lser.arr a{
			height: auto;
			padding-left: 20px;
			background: url(../images/icon/icon-15.png) no-repeat left 3px;
		}
		.item-lser.arr a:hover,
		.item-lser.arr a.active{
			background: url(../images/icon/icon-15-hv.png) no-repeat left 3px;
		}
		.item-lser.taikhoan a{
			width: 113px;
			padding-left: 55px;
			background: url(../images/icon/icon-1.png) no-repeat center;
			background-position: 0 0;
		}
		.item-lser.taikhoan a:hover,
		.item-lser.taikhoan a.active{
			background: url(../images/icon/icon-1.png) no-repeat center;
		}
		.item-lser.moigioi a{
			width: 113px;
			padding-left: 61px;
			background: url(../images/icon/icon-8.png) no-repeat left center;
		}
		.item-lser.moigioi a:hover,
		.item-lser.moigioi a.active{
			background: url(../images/icon/icon-8-hv.png) no-repeat left center;
		}
		.item-lser.luuky a{
			width: 113px;
			padding-left: 36px;
			background: url(../images/icon/icon-3.png) no-repeat left center;
		}
		.item-lser.luuky a:hover,
		.item-lser.luuky a.active{
			background: url(../images/icon/icon-3-hv.png) no-repeat left center;
		}
		.item-lser.tuvan a{
			padding-left: 29px;
			width: 95px;
			background: url(../images/icon/icon-10.png) no-repeat left center;
		}
		.item-lser.tuvan a:hover,
		.item-lser.tuvan a.active{
			background: url(../images/icon/icon-10-hv.png) no-repeat left center;
		}
		.item-lser.hotro a{
			width: 115px;
			padding-left: 38px;
			background: url(../images/icon/icon-5.png) no-repeat left center;
		}
		.item-lser.hotro a:hover,
		.item-lser.hotro a.active{
			background: url(../images/icon/icon-5-hv.png) no-repeat left center;
		}
		.item-lser.uythac a{
			width: 117px;
			padding-left: 57px;
			background: url(../images/icon/icon-6.png) no-repeat center;
			background-position: 0 0;
		}
		.item-lser.uythac a:hover,
		.item-lser.uythac a.active{
			background-position: 0 -40px;
		}
		.item-lser.bieuphi a{
			padding-left: 43px;
			background: url(../images/icon/icon-7.png) no-repeat center;
			background-position: 0 0;
		}
		.item-lser.bieuphi a:hover,
		.item-lser.bieuphi a.active{
			background-position: 0 -40px;
		}
		.item-lser.dichvu a{
			width: 100%;
			padding-left: 39px;
			background: url(../images/icon/icon-9.png) no-repeat left center;
		}
		.item-lser.dichvu a:hover,
		.item-lser.dichvu a.active{
			background: url(../images/icon/icon-9-hv.png) no-repeat left center;
		}
		.item-lser.cophieu a{
			width: 100%;
			padding-left: 41px;
			background: url(../images/icon/icon-11.png) no-repeat left center;
		}
		.item-lser.cophieu a:hover,
		.item-lser.cophieu a.active{
			background: url(../images/icon/icon-11-hv.png) no-repeat left center;
		}
		.item-lser.traiphieu a{
			width: 100%;
			padding-left: 47px;
			background: url(../images/icon/icon-12.png) no-repeat left center;
		}
		.item-lser.traiphieu a:hover,
		.item-lser.traiphieu a.active{
			background: url(../images/icon/icon-12-hv.png) no-repeat left center;
		}
		.item-lser.ma a{
			width: 100%;
			padding-left: 38px;
			background: url(../images/icon/icon-13.png) no-repeat -10px center;
		}
		.item-lser.ma a:hover,
		.item-lser.ma a.active{
			background: url(../images/icon/icon-13-hv.png) no-repeat -10px center;
		}
		.item-lser.doanhnghiep a{
			width: 100%;
			padding-left: 41px;
			background: url(../images/icon/icon-14.png) no-repeat left center;
		}
		.item-lser.doanhnghiep a:hover,
		.item-lser.doanhnghiep a.active{
			background: url(../images/icon/icon-14-hv.png) no-repeat left center;
		}
		.item-lser.tamnhin a{
			width: 100%;
			padding-left: 41px;
			background: url(../images/icon/icon-16.png) no-repeat left center;
		}
		.item-lser.tamnhin a:hover,
		.item-lser.tamnhin a.active{
			background: url(../images/icon/icon-16-hv.png) no-repeat left center;
		}
		.item-lser.giatri a{
			width: 100%;
			padding-left: 47px;
			background: url(../images/icon/icon-17.png) no-repeat left center;
		}
		.item-lser.giatri a:hover,
		.item-lser.giatri a.active{
			background: url(../images/icon/icon-17-hv.png) no-repeat left center;
		}
		.item-lser.doingu a{
			width: 100%;
			padding-left: 47px;
			background: url(../images/icon/icon-18.png) no-repeat left center;
		}
		.item-lser.doingu a:hover,
		.item-lser.doingu a.active{
			background: url(../images/icon/icon-18-hv.png) no-repeat left center;
		}
		.item-lser.thanhtuu a{
			width: 100%;
			padding-left: 29px;
			background: url(../images/icon/icon-19.png) no-repeat left center;
		}
		.item-lser.thanhtuu a:hover,
		.item-lser.thanhtuu a.active{
			background: url(../images/icon/icon-19-hv.png) no-repeat left center;
		}
		.item-lser.vanhoa a{
			width: 100%;
			padding-left: 47px;
			background: url(../images/icon/icon-20.png) no-repeat left center;
		}
		.item-lser.vanhoa a:hover,
		.item-lser.vanhoa a.active{
			background: url(../images/icon/icon-20-hv.png) no-repeat left center;
		}
		.item-lser.mangluoi a{
			width: 100%;
			padding-left: 43px;
			background: url(../images/icon/icon-21.png) no-repeat left center;
		}
		.item-lser.mangluoi a:hover,
		.item-lser.mangluoi a.active{
			background: url(../images/icon/icon-21-hv.png) no-repeat left center;
		}
		.item-lser.tincodong a{
			width: 100%;
			padding-left: 33px;
			background: url(../images/icon/icon-23.png) no-repeat left center;
		}
		.item-lser.tincodong a:hover,
		.item-lser.tincodong a.active{
			background: url(../images/icon/icon-23-hv.png) no-repeat left center;
		}
		.item-lser.congbo a{
			width: 100%;
			padding-left: 36px;
			background: url(../images/icon/icon-24.png) no-repeat left center;
		}
		.item-lser.congbo a:hover,
		.item-lser.congbo a.active{
			background: url(../images/icon/icon-24-hv.png) no-repeat left center;
		}
		.item-lser.quantri a{
			width: 100%;
			padding-left: 36px;
			background: url(../images/icon/icon-25.png) no-repeat left center;
		}
		.item-lser.quantri a:hover,
		.item-lser.quantri a.active{
			background: url(../images/icon/icon-25-hv.png) no-repeat left center;
		}
		/*mobile*/
			.nav-mobile{
				height: 100%;
				display: none;
				position: relative;
			}
			.nav-mobile a.home{
				height: 100%;
				padding: 0 14px 0 0;
				display: table;
				border-right: 1px solid #f2f2f2;
			}
			.nav-mobile a.home span{
				display: table-cell;
				vertical-align: middle;
			}
			.nav-mobile .control-menu{
				position: absolute;
				width: 35px;
				height: 24px;
				top: 50%;
				margin-top: -12px;
				right: 0;
				background: url(../images/icon/icon-menu.png) no-repeat;
			}
			.box-menu-mobile{
				width: 225px;
				min-height: 100%;
				position: absolute;
				z-index: 1;
				background: #fff;
				top: 0;
				right: -225px; 
				border-left: 1px solid #a1a1a1;
				display: none;
			}
			.box-menu-mobile .search-mobile{
				height: 46px;
				padding: 0 20px 0 36px;
				background: #333333;
				display: none;
			}
			.box-menu-mobile .top-search{
				position: relative;
				width: 100%;
			}
			.box-menu-mobile.active{
				display: block;
			}
			.menu-mobile{
				width: 100%;
				padding: 0 20px 15px 20px;
				font-size: 16px;
				font-weight: 400;
			}
			.menu-mobile > li{
				line-height: 43px;
				width: 100%;
				border-bottom: 1px solid #e5e5e5;
				position: relative;
			}
			.menu-mobile li a{
				color: #333333;
				display: inline-block;
				width: 100%;
			}
			.menu-mobile > li > a .icon{
				display: inline-block;
				width: 13px;
				height: 8px;
				background: url(../images/icon/icon-nav-mobile.png) no-repeat;
				background-position: 0 0;
				margin-left: 8px;
			}
			.menu-mobile li > a.active,
			.menu-mobile li > a:hover{
				color: #0066b4;
			}
			.menu-mobile li > a:hover .icon,
			.menu-mobile li > a.active .icon{
				background-position: 0 -8px;
			}
			.social-mobile{
				text-align: center;
				height: 58px;
				line-height: 58px;
			}
			.social-mobile a{
				position: relative;
			}
			.sub-menu{
			}
			.sub-menu li{
				height: 58px;
				line-height: 17px;
				width: 100%;
				display: table;
				border-top: 1px solid #e5e5e5;
				font-weight: 300;
				font-size: 14px;
				position: relative;
			}
			.sub-menu li a{
				padding-left: 80px;
				display: table-cell;
				vertical-align: middle;
				color: #999999;
			}
			.sub-menu li a.active,
			.sub-menu li a:hover{
				color: #0066b4;
				font-weight: 600;
			}
			.sub-menu li a .icon{
				width: 80px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;	
			}
			.sub-menu li.moigioi a .icon{
				background: url(../images/icon/icon-8.png) no-repeat center center;
			}
			.sub-menu li.moigioi a.active .icon{
				background: url(../images/icon/icon-8-hv.png) no-repeat center center;
			}
			.sub-menu li.luuky a .icon{
				background: url(../images/icon/icon-3.png) no-repeat center center;
			}
			.sub-menu li.luuky a.active .icon{
				background: url(../images/icon/icon-3-hv.png) no-repeat center center;
			}
			.sub-menu li.hotro a .icon{
				background: url(../images/icon/icon-5.png) no-repeat center center;
			}
			.sub-menu li.hotro a.active .icon{
				background: url(../images/icon/icon-5-hv.png) no-repeat center center;
			}
			.sub-menu li.dichvu a .icon{
				background: url(../images/icon/icon-9.png) no-repeat center center;
			}
			.sub-menu li.dichvu a.active .icon{
				background: url(../images/icon/icon-9-hv.png) no-repeat center center;
			}
			.sub-menu li.tuvan a .icon{
				background: url(../images/icon/icon-10.png) no-repeat center center;
			}
			.sub-menu li.tuvan a.active .icon{
				background: url(../images/icon/icon-10-hv.png) no-repeat center center;
			}
			.bot-menu{
				background: #0066b4;
				margin-bottom: 0;
				font-weight: 400;
				font-size: 16px;
				line-height: 32px;
				padding: 20px;
				text-align: center;
			}
			.bot-menu a{
				color: #fff;
			}
			.bot-menu a:hover, 
			.bot-menu a.active{
				color: #333333;
			}
			.fast-link{
				padding: 0 20px 0 20px;
				font-size: 13px;
				display: none;
			}
			.title-flink{
				font-size: 20px;
				padding-bottom: 6px;
				color: #002a4e;
				font-family: "robotolight";
			}
			.title-flink span{
				font-family: "robotobold";
			}
			.fast-link ul{
				padding-bottom: 12px;
				border-bottom: 1px solid #e5e5e5;
			}
			.fast-link ul li{
				line-height: 16px;
				padding: 10px 0 10px 20px;
				background: url(../images/icon/icon-flink.png) no-repeat 0px 13px;
			}
			.fast-link ul li a{
				color: #002a4e;
			}
		/*mobile*/
	/*navigation*/
/*header*/
/*footer*/
	#footer{
		background: #333333;
	}
	.title-footer{
		font-weight: 700;
		font-size: 16px;
		color: #0a8ae2;
	}
	/*layer one*/
		.layer-one{
			padding: 36px 0 0 0;
		}
		/*pc*/
			.row-net{
				width: 100%;
				display: table;
				padding: 10px 0;
				border-bottom: 1px solid #414141;
				font-size: 13px;
				line-height: 18px;
			}
			.layer-one .box-pc{
				padding: 16px 0 0 0;
			}	
			.row-net:first-child{
				border-top: 1px solid #414141;
			}
			.row-net .title-net{
				font-weight: 700;
				color: #fff;
			}
			.row-net .title-net{
				padding: 11px 0 0 0;
			}
			.row-net .info-net{
				font-weight: 400;
				color: #dddddd;
				padding-bottom: 12px;
			}
			.col-net{
				display: table-cell;
			}
			.layer-one .box-pc .col-net-one{
				width: 33.3%;
				padding-right: 2.5%;
				border-right: 1px solid #414141;
			}
			.layer-one .box-pc .col-net-two{
				width: 22.8%;
				padding: 0 0 0 3%;
				border-right: 1px solid #414141;
			}
			.layer-one .box-pc .col-net-three{
				width: 22.4%;
				padding: 0 0 0 2.4%;
				border-right: 1px solid #414141;
			}
			.layer-one .box-pc .col-net-four{
				width: 21.5%;
				padding: 0 0 0 2.6%;
			}
		/*pc*/
		/*tablet*/
			.layer-one .box-tablet{
				display: none;
				padding: 16px 0 0 0;
			}
			.layer-one .box-tablet .col-net-one{
				width: 39.32886%;
				padding-right: 4.0268%;
				border-right: 1px solid #414141;
			}
			.layer-one .box-tablet .col-net-two{
				width: 30.6%;
				padding: 0 0 0 3.62416%;
				border-right: 1px solid #414141;
			}
			.layer-one .box-tablet .col-net-three{
				width: 30.07114%;
				padding-left: 3.22147%;
			}
		/*tablet*/
		/*mobile*/
			.layer-one .box-mobile{
				display: none;
				margin-top: -4px;
			}
			.layer-one .box-mobile .row-net{
				position: relative;
				padding: 16px 0;
			}
			.layer-one .box-mobile .row-net:first-child{
				border-top: none;;
			}
			.layer-one .box-mobile .row-net .icon{
				position: absolute;
				width: 16px;
				height: 17px;
				background: url(../images/icon/icon-layer.png) no-repeat;
				background-position: 0 0;
				right: 1px;
				top: 18px;
			}
			.layer-one .box-mobile .row-net.active .icon{
				background-position: 0 -17px;
			}
			.layer-one .box-mobile .row-net.active .info-net{
				/*display: block;*/
			}
			.layer-one .box-mobile .row-net .title-net{
				padding: 0;
			}
			.layer-one .box-mobile .row-net .info-net{
				display: none;
				padding-bottom: 0;
			}
		/*mobile*/
	/*layer one*/
	/*layer two*/
		.layer-two{
			padding: 34px 0 35px 0;
		}
		.item-group ul{
			padding-top: 3px;
		}
		.item-group ul li{
			padding: 5px 0 5px 26px;
			background: url(../images/icon/icon-arr.png) no-repeat 0 12px;
		}
		.item-group ul li a{
			font-size: 13px;
			line-height: 17px;
			color: #fff;
			font-weight: 400;
		}
		.item-group ul li a:hover,
		.item-group ul li a:active{
			text-decoration: underline;
		}
		.box-right .app{
			width: 100%;
			max-width: 260px;
		}
		.box-right .app a{
			display: inline-block;
			margin-top: 14px;
		}
	/*layer two*/
	/*fix menu*/
		.footer-menu{
			height: 62px;
		}
		.fix-menu{
			position: fixed;
			left: 0px;
			bottom: -100px;
			height: 62px;
			width: 100%;
			background: url(../images/bg/bg-tit.png) repeat-x top;
			background-color: #01294d;
			z-index: 999;
		}
		.fix-menu .wrapper{
			position: relative;
			height: 62px;
			padding: 0 166px 0 186px;
		}
		.fix-menu.fix{
			position: relative;
			top: auto !important;
			left: auto !important;
			bottom: auto !important;
		}
		
		.tit-fm{
			font-family: 'Roboto', sans-serif;
			width: 176px;
			line-height: 62px;
			font-weight: 300;
			color: #fff;
			font-size: 20px;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 10px;
		}
		.tit-fm span{
			font-weight: 700;
		}
		.fix-menu-rl{
			height: 62px;
			width: 100%;
			max-width: 1280px;
			background: url(../images/bg/bg-tit.png) repeat-x top;
			background-color: #01294d;
			z-index: 0;
			position: relative;
			margin-top: -5px;
		}
		.fix-menu .wrap,
		.fix-menu-rl .wrap{
			height: 62px;
			position: relative;
		}
		.btn-control{
			position: absolute;
			left: 10px;
			bottom: 62px;
			height: 25px;
			line-height: 27px;
			padding: 0 23px 0 34px;
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 13px;
			background-color: #d8101a;
			cursor: pointer;
		}
		.btn-control .icon{
			width: 10px;
			height: 6px;
			background: url(../images/icon/icon-control.png) no-repeat center;
			background-position: 0 0;
			position: absolute;
			top: 11px;
			left: 12px;
		}
		.btn-control.hide .icon{
			background-position: 0 -6px;
		}
		.wrap-owl-menu .owl-carousel .owl-item img{
			width: auto;
		}
		.wrap-owl-menu{
			width: 100%;
			height: 62px;
			position: relative;
			overflow: hidden;
		}
		
		.wrap-owl-menu-m{
			width: 100%;
			height: 62px;
			position: relative;
		}
		
		.wrap-owl-menu .item,
		.wrap-owl-menu .swiper-slide{
			height: 62px;
			display: table;
			box-sizing: border-box;
			position: relative;
		}
		
		.wrap-owl-menu .swiper-slide a{
			padding: 0 20px;
			display: table-cell;
			vertical-align: middle;
		}
		
		.wrap-owl-menu .item span.line,
		.wrap-owl-menu .swiper-slide span.line{
			display: inline-block;
			height: 33px;
			width: 1px;
			background: #677f94;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -16px;
		}
		.wrap-owl-menu .item a{
			display: table-cell;
			vertical-align: middle;
		}
		.wrap-owl-menu .item:hover{
			background: #1b96fe;
		}
		.wrap-owl-menu-m .owl-prev{
			position: absolute;
			width: 25px;
			height: 62px;
			background: url(../images/icon/icon-prev-news.png) no-repeat;
			background-position: 0 0;
			top: 0px;
			left: -26px;
			display: block;
			z-index: 999;
			cursor: pointer;
		}
		.wrap-owl-menu-m .owl-prev:hover{
			background-position: 0 -62px;
		}
		.wrap-owl-menu-m .owl-next{
			position: absolute;
			width: 25px;
			height: 62px;
			background: url(../images/icon/icon-next-news.png) no-repeat;
			background-position: 0 -62px;
			top: 0px;
			right: -26px;
			display: block;
			z-index: 999;
			cursor: pointer;
		}
		.wrap-owl-menu-m .owl-next:hover{
			background-position: 0 -0px;
		}
		.icon-plus{
			position: absolute;
			width: 112px;
			height: 32px;
			background: url(../images/icon/icon-plus.png) no-repeat;
			background-position: 0 bottom;
			top: 50%;
			margin-top: -16px;
			right: 10px;
		}
		.icon-plus-rt{
			position: absolute;
			width: 32px;
			height: 32px;
			background: url(../images/icon/icon-plus-r.png) no-repeat;
			background-position: 0 bottom;
			top: 0;
			right: 0;
		}
		
		.icon-plus:hover,
		.icon-plus:hover .icon-plus-rt{
			background-position: 0 0;
		}
		.fix-sub-plus{
			padding-bottom: 55px;
			position: absolute;
			bottom: 0px;
			right: 0px;
			display: none;
		}
		.sub-plus{
			width: 486px;
			padding: 20px 7px 20px 7px;
			height: 380px;
			position: relative;
			background: url(../images/bg/bg-plus.png) repeat;
		}
		.sub-plus .icon{
			position: absolute;
			width: 19px;
			height: 20px;
			background: url(../images/icon/icon-sub-plus.png) no-repeat;
			bottom: -20px;
			right: 0px;
		}
		.item-plus{
			width: 140px;
			height: 109px;
			border: 1px solid #fff;
			margin: 13px 7px 0 7px;
			text-align: center;
			display: table;
		}
		.item-plus a{
			display: table-cell;
			vertical-align: middle;
		}
		.item-plus.active,
		.item-plus:hover{
			border: 1px solid #0762b0;
			background: #0762b0;
			border: none;
		}
		.scroll{
			width: 480px;
			height: 340px;
		}
		.mt0{
			margin-top: 0px !important;
		}
		.footer-menu-mobile{
			position: fixed;
			top: 100%;
			width: 100%;
			height: 100%;
			background: #002a4e;
			z-index: 999;
			overflow: hidden;
			padding-bottom: 10px;
			display: none;
		}
		.footer-menu-mobile .title-flink{
			color: #fff;
			height: 40px;
			line-height: 40px;
			padding: 0 30px;
		}
		.footer-menu-mobile .title-flink div{
			background: url(../images/bg/bg-flink.png) repeat-x bottom;
		}
		.list-flink{
			height: 100%;
			margin-top: 10px;
		}
		.it-flink{
			width: 50%;
			display: inline-block;
			padding: 0 5px;
			margin-top: 10px;
			text-transform: uppercase;
			color: #Fff;
			font-size: 15px;
			font-family: "utm_bebasregular";
			text-align: center;
		}
		.scroll-flink{
			padding: 0 15px;
		}
		.it-flink.one,
		.it-flink.two{
			margin-top: 0; 
		}
		.it-flink span{
			display: inline-block;
		}
		.it-flink .border-flink{
			width: 100%;
			border: 1px solid #fff;
		}
		.img-flink{
			height: 75px;
			display: table !important;
			width: 100%;
			text-align: center;
		}
		.it-flink  .tt-flink{
			padding-top: 9px;
			padding-bottom: 9px;
		}
		.img-flink span{
			display: table-cell !important;
			vertical-align: middle;
		}
		.btn-control-fmm{
			height: 42px;
			font-family: "robotoregular";
			font-size: 13px;
			line-height: 42px;
			padding: 0 18px 0 36px;
			color: #fff;
			background-color: #d7131c;
			position: fixed;
			bottom: 0;
			right: 10px;
			z-index: 1000;
			display: none;
		}
		.btn-control-fmm span.icon{
			display: inline-block;
			width: 11px;
			height: 6px;
			background: url(../images/icon/icon-ctr.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 50%;
			margin-top: -3px;
			left: 14px;
		}
		.btn-control-fmm.active span.icon{
			background-position: 0 -6px;
		}
	/*fix menu*/
	/*copy*/
		.footer-copy{
			height: 60px;
			width: 100%;
			background: url("../images/bg/bg-copy.jpg") no-repeat center;
		}
		.text-copy{
			width: 100%;
			height: 60px;
			padding: 0 0 0 182px;
			display: table;
			font-size: 12px;
			font-weight: 400;
			color: #fff;
			text-align: right;
			line-height: 60px;
			position: relative;
		}
		.text-copy a{
			color: #76c4f0;
		}
		.text-copy a:hover,
		.text-copy a.active{
			color: #fff;
		}
		.text-copy ul{
			margin-left: 4.2%;
		}
		.text-copy ul li{
			display: inline-block;
		}
		.bloo{
			position: absolute;
			height: 60px;
			width: 182px;
			top: 0;
			left: 0;
			display: table;
			text-align: left;
			font-size: 14px;
		}
		.bloo span{
			display: table-cell;
			vertical-align: middle;
			font-weight: 700;
			width: 100%;
			height: 100%;
		}
	/*copy*/
/*footer*/
/*home*/
	.home-page{
		background: #efefef;
	}
	.wrap-home{
		max-width: 1020px;
		width: 100%;
		padding: 35px 10px 56px 10px;
		margin: 0 auto;
		position: relative;
	}
	.item-home{
		height: 349px;
		width: 32%;
		background: #fff;
		overflow: hidden;
		position: relative;
		margin-top: 20px;
	}
	.item-home > .img{
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -320px;
	}
	.item-home.tall{
		height: 368px;
	}
	.item-home.type-one{
		margin-right: 2%;
	}
	.item-home.type-two{
		width: 34%;
		padding: 0 2%;
	}
	.title-utm{
		font-family: "utm_bebasregular";
		font-size: 54px;
		line-height: 50px;
		color: #1a75ba;
	}
	.title-utm a{
		color: #1a75ba;
	}
	.item-home .box-text{
		padding: 30px 9.375% 0 9.375%;
	}
	.item-home .text-info{
		font-size: 14px;
		font-weight: 300;
		color: #555555;
		line-height: 18px;
		padding: 28px 0 36px 0;
		background: url(../images/icon/line-text.png) no-repeat left bottom;
	}
		/*item hover*/
			.bg-hv{
				background: url("../images/bg/bg-hv.png") no-repeat center top;
			    bottom: 0;
			    height: 163px;
			    position: absolute;
			    width: 100%;
			    background-size: 100% 100%;
			}
			.bg-hv-full{
				background: url("../images/bg/bg-hv-full.png") repeat;
			    height: 100%;
			    left: 0;
			    opacity: 0;
			    position: absolute;
			    top: 0;
			    width: 100%;
			}
			.info-hover{
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 0 9.375%;
				top: 242px;
				left: 0;
			}
			.title-rbt{
				font-size: 28px;
				font-weight: 700;
				color: #fff;
				line-height: 32px;
				padding-bottom: 18px;
    			padding-top: 26px;
			}
			.title-rbt a {
				color: #fff;
			}
			.title-rbt a:hover{
				//color: #fff;
			}
			.title-rbt.bg-bottom{
    			background: url("../images/bg/bg-tit.png") repeat-x scroll center bottom;
			}
			.title-rbt p:first-child{
				font-weight: 300;
			}
			.info-hover ul.link{
				color: #fff;
			    font-size: 14px;
			    font-weight: 300;
			    margin-top: 10px;
			}
			.info-hover ul.link a {
			    background: url("../images/icon/icon-link.png") no-repeat scroll left center rgba(0, 0, 0, 0);
			    color: #fff;
			    display: inline-block;
			    height: 20px;
			    left: -50px;
			    line-height: 20px;
			    margin-top: 7px;
			    opacity: 0;
			    padding-left: 23px;
			    position: relative;
			}
			.info-hover ul.link a:hover {
			    font-weight: 700;
			}
			.btn-find-more{
				display: inline-block;
				width: 163px;
				height: 45px;
				background: url("../images/btn/btn-find-more.png") no-repeat;
				margin-top: 16px;
				opacity: 0;
			}
			.news-info{
				position: absolute;
				width: 100%;
				padding: 0 9.375%;
 				height: 100%;
				top: 0;
				left: 0;
			}
			.title-news{
				font-family: "utm_bebasregular";
				font-size: 40px;
				text-transform: uppercase;
				color: #fff;
				position: relative;
				z-index: 1;
				padding: 17px 0 15px 0;
			}
			.title-news.bg-bottom{
				background: url("../images/bg/bg-tit.png") repeat-x scroll center bottom;
			}
			.desc-news {
				/*padding-top: 16px;*/
				padding-top: 208px;
			}
			.desc-news a{
				font-weight: 700;
				color: #fff;
				font-size: 16px;
				line-height: 18px;
			}
			.desc-news .date{
				font-size: 12px;
				color: #fff;
				font-weight: 400;
				padding: 5px 0 0 0;
				line-height: 15px;
			}
			.desc-news .info{
				font-weight: 300;
				color: #fff;
				font-size: 14px;
				line-height: 16px;
				padding-top: 15px;
				opacity: 0;
			}
		/*item hover*/
		.item-home .list-post .btn-find-more{
			opacity: 1;
			margin-top: 13px;
		}
		.item-home .list-post .btn-find-more:hover{
			opacity: 0.8;
		}
		.item-home .list-post{
			padding: 17px 0 0 0;
		}
		.item-home .list-post .item{
			padding: 11px 0;
			border-bottom: 1px solid #e5e5e5;
		}
		.item-home .list-post .item .img{
			width: 27.5862%;
		}
		.item-home .list-post .item .img img{
			width: 100%;
		}
		.item-home .list-post .item .desc{
			width: 68.9655%;
			font-size: 14px;
			font-weight: 300;
			margin-top: -3px;
		}
		.item-home .list-post .item .desc a{
			color: #555555;
			line-height: 14px;
		}
		.item-home .list-post .item .desc a:hover{
			color: #0066b3;
			font-weight: 700;
		}
		.item-home .list-post .item .desc p{
			font-size: 12px;
			font-weight: 400;
			color: #1a75ba;
		}
		.item-home.tag{
			background: none;
		}
		.item-home .tag-home{
			margin-top: 14px;
			width: 100%;
			height: 113px;
			position: relative;
			text-align: right;
			background: #fff;
		}
		.item-home .tag-home img{
			height: 100%;
		}
		.item-home .tag-home a{
			position: absolute;
			width: 100%;
			padding: 0 9.375%;
			height: 113px;
			top: 0;
			left: 0;
			display: table;
			font-family: "utm_bebasregular";
			color: #0066b3;
			text-transform: uppercase;
			font-size: 32px;
			text-align: left;
		}
		.item-home .tag-home a p:first-child{
			font-size: 44px;
			padding-top: 3px;
		}
		.item-home .tag-home a p{
			padding-top: 5px;
		}
		.item-home .tag-home a span{
			display: table-cell;
			vertical-align: middle;
		}
		.item-home .tag-home:first-child{
			margin-top: 0;
		}
		/*banner home*/
				.banner-home{
					position: relative;
				}
				.slide-hun{
					position: absolute;
					width: 100%;
					height: 100px;
					background: url(../images/bg/sl2.png);
					bottom: 0;
					left: 0;
					z-index: 2;
				}
				.border-carousel{
					height: 100%;
					width: 100%;
					max-width: 1010px;
					margin: 0 auto;
					position: relative;
					padding-left: 160px;
					padding-right: 0px;
				}
				.border-carousel .text-title{
					width: 146px;
					height: 100px;
					line-height: 100px;
					position: absolute;
					top: 0;
					left: 10px;
				}
				.carousel-content{
					width: 100%;
					height: 100px;
					padding: 0 44px;
					/*margin-left: 44px;*/
				}
				.carousel-content .owl-carousel{
					height: 100%;
				}
				.carousel-content .owl-wrapper-outer{
					height: 100%;
				}
				.item-list{
					height: 100px;
					position: relative;
					background: url(../images/bg/bg-it.png) repeat-y right;
					background-color: #fff;
					cursor: pointer;
					/*border-left: 1px solid #efefef;*/
					overflow: hidden;
				}
				.item-list .bd-text{
					position: absolute;
					width: 100%;
					height: 48px;
					left: 50%;
					top: 50%;
					text-align: center;
					margin-top: -24px;
					margin-left: -80px;
				}
				.item-list .bd-text.bd-text_hv{
					z-index: 5;
					opacity: 0;
				}
				.item-list .bd-text.bd-text_nm{
					z-index: 4;
				}
				.item-list .img{
					opacity: 0;
					position: relative;
					z-index: 2;
				}
				.item-list .bg{
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 3;
					background: url(../images/bg/sl2.png);
					opacity: 0;
				}
				.carousel-content .owl-prev,
				.carousel-content .owl-next{
					width: 44px;
					height: 100px;
					background: url(../images/bg/sl1.png);
					position: absolute;
					padding: 0 !important;
					margin: 0 !important;
				}
				.carousel-content .owl-prev{
					top: 0;
					left: -45px;
				}
				.carousel-content .owl-next{
					top: 0;
					right: -45px;
				}
				.carousel-content .owl-prev span{
					display: block;
					width: 100%;
					height: 100%;
					background: url(../images/btn/prev.png) 0 center no-repeat;
				}
				.carousel-content .owl-next span{
					display: block;
					width: 100%;
					height: 100%;
					background: url(../images/btn/next.png) 0 center no-repeat;
				}
				.carousel-content .owl-prev span:hover,
				.carousel-content .owl-next span:hover{
					background-position: -44px center;
				}
				.slide-hun .owl-carousel .owl-item img{
					max-width: 100%;
					width: auto;
				}
				.slide-hun .owl-carousel .owl-item .img{
					width: 100%;
					height: 100%;
				}
			/*pc*/
				.wrap-banpc{
				}
				.swiper-container{
					height: 570px;
					width: 100%;
				}
				/*slide 1*/
					.slide1{
						width: 100%;
						height: 570px;
						background: #ffffff url("../images/slide1/bg.jpg") center no-repeat; 
						position: relative;
					}
					.swiper-slide .wrapper{
						position: relative;
						height: 100%;
					}
					.slide1 .text1{
						top: 84px;
						left: 10px;
						opacity: 0;
						position: absolute;
					}
					.slide1 .text2{
						top: 208px;
						left: 10px;
						opacity: 0;
						position: absolute;
					}
					.btn-more2 {
					    background: url("../images/btn/btn-timhieu.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
					    display: inline-block;
					    height: 45px;
					    opacity: 0;
					    width: 163px;
					}
					.btn-more2:hover {
					    background-position: 0 -45px;
					}
					.slide1 .btn-timhieu{
						top: 346px;
						left: 10px;
						opacity: 0;
						position: absolute;
					}
					.slide1 .so1 {
					    opacity: 0;
					    position: absolute;
					    right: 244px;
					    top: 480px;
					}
					.slide1 .dothi{
						height: 290px;
					    left: 547px;
					    overflow: hidden;
					    position: absolute;
					    top: 62px;
					    width: 0;
					}
				/*slide 1*/
				/*slide 2*/
					.slide2{
						width: 100%;
						height: 570px;
						overflow: hidden;
						background: #ffffff url("../images/slide2/bg.png") no-repeat center;
					}
					.slide2 .man{
						bottom: -46px;
						left: 33px;
						position: absolute;
					}
					.slide2 .logo24h {
						position: absolute;
						right: 10px;
						top: 65px;
					}
					.slide2 .text1{
						top: 130px;
						right: 10px;
						position: absolute;
						opacity: 0;
					}
					.slide2 .item1{
						top: 178px;
						right: 10px;
						position: absolute;
						opacity: 0;
					}
					.slide2 .item2{
						top: 178px;
						right: 181px;
						position: absolute;
						opacity: 0;
					}
					.slide2 .item3{
						top: 178px;
						right: 361px;
						position: absolute;
						opacity: 0;
					}
					.slide2 .btn-timhieu{
						position: absolute;
						opacity: 0;
						top: 371px;
						right: 10px;
					}
				/*slide 2*/
				/*slide 3*/
					.slide3 .ipad {
					    left: 20px;
					    position: absolute;
					    top: 105px;
					}
					.slide3{
						width: 100%;
						height: 577px;
						background: #ffffff url("../images/slide3/bg.png") no-repeat center; 
						position: relative;
					}
					.slide3 .ipad{
						top: 125px;
						left: 3px;
						position: absolute;
					}
					.slide3 .iphone{
						top: 212px;
						left: 345px;
						position: absolute;
					}
					.slide3 .phi{
						top: 62px;
						left: 387px;
						position: absolute;
						overflow: 0;
					}
					.slide3 .text1{
						top: 81px;
						right: 10px;
						position: absolute;
					}
					.slide3 .mstock{
						top: 120px;
						right: 10px;
						position: absolute;
					}
					.slide3 .text2{
						top: 220px;
						right: 10px;
						position: absolute;
						opacity: 0;
					}
					.slide3 .gplay{
						top: 256px;
						right: 10px;
						position: absolute;
						opacity: 0;
					}
					.slide3 .appstore{
						top: 256px;
						right: 144px;
						position: absolute;
						opacity: 0;
					}
					.slide3 .btn-timhieu{
						top: 371px;
						right: 10px;
						position: absolute;
					}
					.slide3 .btn-tai{
						top: 371px;
						right: 180px;
						position: absolute;
					}
					.slide3 .percent{
						font-size: 54px;
						color: #fff;
						top: 140px;
						left: 520px;
						position: absolute;
						display: block;
						width: 180px;
						height: 40px;
						text-align: center;
						font-family: 'utm_bebasregular';
						z-index: 10;
					}
					.btn-tai2{
						background: url("../images/btn/btn-tai.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
						display: inline-block;
						height: 45px;
						opacity: 0;
						width: 163px;
					}
					.btn-tai2:hover{
						background-position:0 -45px;
					}
				/*slide 3*/
				.pagination{
					position: absolute;
					left: 0;
					text-align: center;
					bottom: 115px;
					width: 100%;
					z-index: 1000;
				}
				.swiper-pagination-switch{
					display: inline-block;
					width: 14px;
					height: 14px;
					margin: 0 3px;
					cursor: pointer;
					background:url("../images/icon/ico-pager.png") no-repeat center center;
					background-position: 0 0;
				}
				.swiper-pagination-switch.swiper-active-switch,
				.swiper-pagination-switch.swiper-visible-switch{
					background-position: 0 -14px;
				}
			/*pc*/
			/*tablet*/
				.banner-home .wrap-bntablet{
					display: none;
				}
				.banner-home .wrap-bntablet .owl-theme .owl-dots .owl-dot span,
				.banner-home .wrap-bnmobile .owl-theme .owl-dots .owl-dot span{
					width: 14px;
					height: 14px;
					-webkit-border-radius: 7px;
					-moz-border-radius: 7px;
					border-radius: 7px; 
					background: url(../images/icon/ico-pager.png) no-repeat;
					background-position: 0 0;
					margin: 0 2.5px;
				}
				.banner-home .wrap-bntablet .owl-theme .owl-dots .owl-dot.active span, 
				.banner-home .wrap-bntablet .owl-theme .owl-dots .owl-dot:hover span,
				.banner-home .wrap-bnmobile .owl-theme .owl-dots .owl-dot.active span, 
				.banner-home .wrap-bnmobile .owl-theme .owl-dots .owl-dot:hover span{
					background-position: 0 -14px;
				}
				.banner-home .wrap-bntablet	.owl-controls{
					position: absolute;
					bottom: 11px;
					width: 100%;
				}
				.banner-home .wrap-bnmobile	.owl-controls{
					position: absolute;
					bottom: 15px;
					width: 100%;
				}
			/*tablet*/
			/*mobile*/
				.banner-home .wrap-bnmobile{
					display: none;
				}
			/*mobile*/
		/*banner home*/
/*home*/
/*báo cáo tài chính*/
	.bctc-page{
		background-color: #fff;
		margin-bottom: 80px;
		position: relative;
	}
	.bctc-page.news-page{
		margin-bottom: 0;
	}
	.left-menu{
		float: left;
		width: 23.5%;
		min-height: 400px;
	} 
	.right-detail{
		float: left;
		width: 74.5%;
	}
	.bctc-page ul{
		display: table;
		margin: 20px 0;
		width: 100%;
	}
	.bctc-page ul li{
		display: table-cell;
		vertical-align: middle;
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
		border: 1px solid #0066b3;
		width: 188px;
		height: 47px;
		text-align: center;
		cursor: pointer;
	}
	.bctc-page ul li{
		color: #0066b3;
	}
	.bctc-page ul li.active{
		background-color: #0066b3;
		cursor: pointer;
		color: #fff;
	}
	.bctc-page ul li.active a{
		color: #fff;
	}
	.bctc-page .list-item{
		padding-top: 10px;
	}
	.bctc-page .list-item .item{
		position: relative;
		padding-left: 90px;
		}
	.bctc-page .list-item .item .img{
		float: left;
		/*width: 90px;*/
		width:90px;
		height: 77px;
		background: url(../images/icon/icon-doc.png) no-repeat bottom left; 
		position: absolute ;
		top: 0;
		left: 0;
	}
	.bctc-page .list-item .item.itemnews .img{
		width: 185px;
		height: 111px;
	}
	.bctc-page .list-item .item.itemnews .img img{
		width: 100%;
	}
	.bctc-page .list-item .item.itemnews{
		padding-left: 202px;
		margin-top: 10px;
		margin-bottom: 20px;
		min-height: 111px;
	}
	.bctc-page .list-item .it-ct a.rm{
		color: #d71921;
		text-decoration: underline;
	}
	.bctc-page .list-item .it-ct{
		float: left;
		width: 100%;
	}
	.bctc-page .list-item .it-ct .tit a:hover{
		color: #d71921;
	}
	.bctc-page .list-item .it-ct .tit a,
	.bctc-page .list-item .it-ct .tit{
		font-size: 14px;
		font-weight: bold;
		color: #0066b3;
		line-height: 16px;
		text-transform: uppercase;
	}
	.bctc-page .list-item .it-ct .dat{
		font-size: 12px;
		color: #555555;
		padding-top: 3px;
	}
	.bctc-page .list-item .it-ct .con{
		font-size: 14px;
		color: #555555;
		padding-top: 5px;
		line-height: 20px;
	}
	.bctc-page .list-item .it-ct .down{
		font-size: 13px;
		color: #0066b3;
		line-height: 20px;
		padding-bottom: 30px;
		padding-top: 5px;
		text-decoration: underline;
	}
	.bctc-page .list-item .it-ct .down a{
		color: #0066b3;
	}
	.bctc-page .list-item .it-ct img{
		padding-left: 10px;
	}

/*báo cáo tài chính*/
/*báo cáo tài chính*/
/*Doi ngu*/
	.doingu-page{
		background-color: #fff;
		margin-top: 20px;
		margin-bottom: 100px;
	}
	.doingu-page ul{
		display: table;
		margin: 20px 0 0 0;
		width: 100%;
	}
	.doingu-page ul li{
		display: table-cell;
		vertical-align: middle;
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
		border: 1px solid #0066b3;
		width: 237x;
		height: 47px;
		text-align: center;
		cursor: pointer;
		box-sizing: border-box;
		text-transform: uppercase;
	}
	
	.doingu-page ul li.active{
		background-color: #0066b3;
		cursor: pointer;
		color: #fff;
	}
	.doingu-page ul li a{
		color: #0066b3;
	}
	.doingu-page ul li.active a{
		color: #fff;
	}
	.doingu-page .tab-doingu-mobile{
		display: none;
	}
	.doingu-page .boss {
		position: relative;
		box-sizing: border-box;
        padding: 30px 0 30px 230px;
	}

	.all-boss{

	}
	.all-boss .all-boss-it{
		display: none;
	}
	.all-boss .all-boss-it:first-child{
		display: block;
	}

	.doingu-page .boss .gen{
		font-family: :"robotomedium";
		font-size: 26px;
		line-height: 32px;
		display: block;
		color: #0066b3;
	}
	.doingu-page .boss .name{
		font-family: :"Roboto";
		font-size: 26px;
		font-weight: bold;
		display: block;
		color: #0066b3;
	}
	.doingu-page .boss .pos{
		font-family: :"Roboto";
		font-size: 16px;
		font-weight: normal;
		display: block;
		color: #555555;
	}
	.doingu-page .boss .des{
		font-family: :"Roboto";
		font-size: 14px;
		font-weight: normal;
		display: block;
		color: #555555;
		line-height: 18px;
		margin-top: 18px;
		text-align: justify;
	}
	.doingu-page .boss img{
		position: absolute;
		left: 0px;
		top: 30px;
	}
	.doingu-page table{
		display: table;
		width: 100%;
	}
	.doingu-page table td{
		border: 1px solid #d6d6d6;
		position: relative;
		box-sizing: border-box;
		padding: 20px 20px 20px 140px;
		height: 175px;
		width: 50%;
	}
	.doingu-page table td img{
		position: absolute;
		left: 20px;
		top: 20px;
	}
	.doingu-page table td .gen{
		font-family: :"robotomedium";
		font-size: 20px;
		line-height: 32px;
		display: block;
		color: #0066b3;
	}
	.doingu-page table td .name{
		font-family: :"Roboto";
		font-size: 24px;
		font-weight: bold;
		display: block;
		color: #0066b3;
	}
	.doingu-page table td .pos{
		font-family: :"Roboto";
		font-size: 16px;
		font-weight: normal;
		display: block;
		color: #555555;
	}
	.doingu-page .mob {
		display: none;
	}
	.doingu-popup {
		width: 830px;
		position: relative;
		box-sizing: border-box;
        padding: 55px 65px;
        background-color: #ffffff;
        clear: both;
	}
	.doingu-popup .gen{
		font-family: :"robotomedium";
		font-size: 26px;
		line-height: 32px;
		display: block;
		color: #0066b3;
	}
	.doingu-popup .name{
		font-family: :"Roboto";
		font-size: 26px;
		font-weight: bold;
		display: block;
		color: #0066b3;
	}
	.doingu-popup .pos{
		font-family: :"Roboto";
		font-size: 16px;
		font-weight: normal;
		display: block;
		color: #555555;
	}
	.doingu-popup .des{
		font-family: :"Roboto";
		font-size: 14px;
		font-weight: normal;
		display: block;
		color: #555555;
		line-height: 18px;
		margin-top: 18px;
		text-align: justify;
	}
	.doingu-popup .tieusu{
		width: 71.4286%;
		float: left;
		padding-left: 30px;
		margin-top: -5px;
	}
	.doingu-popup .img{
		width: 28.5714%;
		float: left;
	}
	.doingu-popup .img img{
		max-width: 100%;
	}
/*end Doi ngu*/

/*So do to chuc*/
	.tochuc-page{
		background-color: #fff;
		margin-top: 17px;
		text-align: center;
	}
	.tochuc-page img{
		text-align: center;
		max-width: 100%;
	}
/*End so do to chuc*/
/*Gia tri cot loi*/
	.gtcl-page .wrap-home{

	}
	.tt-gtcl{
		font-size: 14px;
		font-weight: 300;
		color: #555555;
		line-height: 16px;
	}
	.tt-gtcl.first{
		margin: 14px 0 0 0;
		line-height: 20px;
	}
	.about-see .tt-gtcl.first{
		margin: 10px 0 0 0;
	}
	.tt-gtcl p{
		padding-top: 9px;
	}
	.tt-gtcl p:first-child{
		padding-top: 4px;
	}
	.tt-gtcl ul li{
		padding-top: 7px;
	}
	.tt-gtcl ul li span{
		background: url(../images/bg/bg-ul.png);
		display: inline-block;
		width: 4px;
		height: 5px;
		position: relative;
		top: -2px;
		margin-right: 9px;
	}
	.list-gtcl{
		margin-top: -21px;
	}
	.item-gtcl{
		margin-top: 56px;
	}
	.img-gtcl{
		width: 34.899%;
		position: relative;
	}
	.img-gtcl .icon-arr-right{
		width: 18px;
		position: absolute;
		top: 50%;
		margin-top: -22.5px;
		right: 0;
	}
	.img-gtcl .icon-arr-left{
		width: 18px;
		position: absolute;
		top: 50%;
		margin-top: -22.5px;
		left: 0;
	}
	.img-gtcl .icon-arr-bottom{
		width: 36px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -18px;
		display: none;
	}
	.text-gtcl{
		width: 65.101%;
	}
	.pdl{
		padding-left: 2.6845%;
	}
	.pdr{
		padding-right: 2.6845%;
	}
	.img-gtcl img{
		width: 100%;
	}
	.tit-gtcl{
		margin-top: -5px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		color: #0066b3;
	}
/*end Gia tri cot loi*/
/*right menu*/
	.content-page{
		background: #fff;
	}
	.menu-right{
		width: 235px;
		position: absolute;
		top: 48px;
		left: 10px;
	}
	.menu-right > ul > li > a{
		font-size: 14px;
		color: #0066b3;
		text-transform: uppercase;
		border-bottom: 1px solid #e5e5e5;
		display: block;
		padding: 17px 0;
		font-family: 'robotomedium';
	}
	.menu-right > ul > li{
	}
	.sub-right{
		padding: 14px 0 15px;
		border-bottom: 1px solid #e5e5e5;
		padding: 0 20px;
		display: none;
	}
	.menu-right > ul > li.active .sub-right{
		display: block;
	}
	.sub-right li a{
		color: #555555;
		display: block;
		padding: 11px 0;
	}
	.menu-right > ul > li.active > a,
	.menu-right > ul > li:hover > a,
	.sub-right li:hover a,
	.sub-right li.active a{
		color: #d71920;
	}
	.wrap-content-right{
		width: 100%;
		box-sizing: border-box;
		padding-left: 255px;
	}
	.page-title{
		margin-top: 28px;
		font-family: 'robotomedium';
		font-size: 30px;
		color: #0066b3;
		line-height: 34px;
		text-align: left;
	}
	.page-title .line{
		margin-top: 15px;
		width: 60px;
		border-bottom: 4px solid #d71920;
	}
/* end right menu*/
/* Thanh Tuu */
	.banner-child{
		position: relative;
		height: 148px;
		overflow: hidden;
	}
	.banner-child img{
		position: absolute;
		top: 0;
		left: 50%;
	}
	.banner-child .wrapper{
		position: absolute;
		left: 50%;
		margin-left: -510px;
		z-index: 1;
		top: 0;
		height: 100%;
		display: table;
	}
	.banner-child .wrapper span{
		font-family: 'utm_bebasregular';
		color: #ffffff;
		font-size: 50px;
		text-transform: uppercase;
		line-height: 61px;
		display: table-cell;
		vertical-align: middle;
	}
	.right-detail .info{
		color: #555555;
		font-size: 14px;
		padding-top: 23px;
	}
	.accomplish{
	
	}
	.it-accomplish{
		background: url(../images/icon/incisor.png) repeat-x top left;
		margin: 29px 0 0 0;
		padding: 50px 0 0 0;
	}
	.it-accomplish:first-child{
		background: none;
		padding: 0px 0 0 0;
	}
	.it-accomplish .year{
		float: left;
		width: 23.89%;
		color: #d61722;
		font-size: 65px;
		font-family: 'utm_bebasregular';
	}
	.it-accomplish .accomplish-info{
		float: left;
		width: 76.11%;
		margin-top: 5px;
	}
	.accomplish-info-it{
		position: relative;
		font-size: 14px;
		line-height: 17px;
		padding: 18px 0 0 43px;
		margin: 0 0 18px 0;
		background: none;
	}
	.accomplish-info-it:first-child{
		padding: 0 0 0 43px;
		background: url(../images/icon/icon-blue.jpg) no-repeat 0px 7px;
	}
	.accomplish-info-it span.tt{
		color: #0066b3;
		font-family: 'robotobold';
		display: inline-block;
		text-transform: uppercase;
	}
	/*.accomplish-info-it a:hover{
		color: #D8101A;
	}*/
	.accomplish-info-it span.line{
		display: block;
		height: 1px;
		background: #ebebeb;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
	}
	.accomplish-info-it:first-child span.line{
		display: none;
	}
	.accomplish-info-it span.text{
		display: block;
		margin-top: 7px;
		color: #555555;
		font-family: 'robotoregular';
	}
/* Thanh Tuu */
/* Mạng Lưới */
	.network{
		margin-bottom: 60px;
	}
	.all-network{
		float: left;
		width: 34.89%;
		margin-top: 15px;
	}
	.network-it{
		margin-top: 10px;
	}
	.network-it > a{
		display: block;
		position: relative;
		font-size: 12px;
		text-transform: uppercase;
		color: #0066b3;
		padding: 0 0 13px 0;
		font-family: 'robotobold';
		border-bottom: 1px solid #e5e5e5;
	}
	.network-it > a > span{
		position: absolute;
		top: 3px;
		right: 0;
		width: 11px;
		height: 12px;
		background: url(../images/icon/icon-add.png) no-repeat left bottom;
	}
	.network-it .network-if{
		display: none;
		padding: 15px 0 20px 0;
		color: #555555;
		font-size: 14px;
		line-height: 17px;
		border-bottom: 1px solid #e5e5e5;
	}
	.network-it .network-if span{
		font-family: "robotobold";
	}
	.network-it .network-if span.tel,
	.network-it .network-if span.fax{
		display: inline-block;
		width: 35px;
	}
	.network-it > a.active > span{
		background-position: left top;
	}
	.map-network{
		float: right;
		width: 63.75%;
	}
/* Mạng Lưới */
.menu-right.fixed{
	position: fixed;
	left: 50%;
	margin-left: -500px;
	top: 0;
}
.menu-right > ul > li > a{
	font-size: 14px;
	color: #0066b3;
	text-transform: uppercase;
	border-bottom: 1px solid #e5e5e5;
	display: block;
	padding: 17px 0;
	font-family: 'robotomedium';
}
#menu-right-mobile{
	display: none;
	position: relative;
	z-index: 999;
	margin-top: 20px;
}
#menu-right-mobile .menu-right{
	background: #ececec;
	top: 27px;
	left: 100%;
	margin-left: -235px;
	padding: 0 30px;
	display: none;
}
#menu-right-mobile .sub-right{
	padding: 0;
}
.text-active{
	background: #ececec;
	font-size: 14px;
	width: 100%;
	line-height: 20px;	
	color: #0066b3;
}
.text-active.wrapper{
	padding: 2.5px 30px;
}
.text-active a{
	color: #0066b3;
	font-family: "robotothin";
}
.text-active a.one{
	text-transform: uppercase;
	font-family: "robotomedium";
}
.paging{
	text-align: right;
	padding-right: 25px;
	margin-top: -5px;
}
.paging .page span,
.paging .page a{
	color: #0066b3;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	border: 1px solid #ffffff;
	display: inline-block;
	font-size: 14px;
	margin-right: -3px;
}
.paging .page .no-bd{
	border: 1px solid #ffffff;
	width: auto;
}
.paging .page span,
.paging .page a:hover{
	border: 1px solid #0066b3;
}
.p-tt{
	color: #333333;
	display: inline-block;
	margin-right: 15px;
}
.top-about{
	position: relative;
	margin-top: 25px;
}
.img_top_ab{
	width: 235px;
	position: absolute;
	right: 0;
}
.img_top_ab img{
	width: 100%;
	margin-bottom: 20px;
}
.text_top_ab{
	box-sizing: border-box;
	padding-right: 255px;
	color: #555555;
	font-size: 14px;
	line-height: 18px;
	text-align: justify;
}
.text_top_ab p{
	margin-bottom: 8px;
}
.line-space{
	height: 9px;
	background: url(../images/icon/incisor.png);
}
.ltct{
	margin-top: 28px;
	font-family: "robotolight";
}
.ltct span{
	font-family: "robotomedium";
}
.ltct li{
	box-sizing: border-box;
	position: relative;
	text-align: center;
}
.ltct li img.icon-cir{
	width: 15px;
	position: absolute;
	top: 15px;
	left: 17px;
	z-index: 2;
}
.ltct li .bg-sha{
	height: 48px;
	overflow: hidden;
}
.ltct li .bg-sha img{
	width: 100%;
}
.ltct li .tx{
	border-bottom: 2px solid #fff;
	position: relative;
	z-index: 1;
}
.ltct li table{
	width: 100%;
}
.ltct li td{
	font-family: 'robotomedium';
	padding: 0 10.73825%;
	color: #fff;
	height: 100px;
	vertical-align: middle;
	font-size: 20px;
	background: #0066b3;
	line-height: 24px;
}
.mocsk{
	position: relative;
	z-index: 1;
}
.mocsk .itel{
	width: 50.1%;
	position: relative;
}
.content-el{
	width: 340px;
	position: relative;
}
.mocsk .itel .year{
	width: 170px;
	height: 59px;
	font-family: 'utm_bebasregular';
	font-size: 65px;
	color: #0066b3;
	line-height: 54px;
	margin-top: 32px;
}
.mocsk .itel .img{}

.content-el ul.ls{
	width: 305px;
}
.wrap-moc{
	position: relative;
	margin-top: 198px;
}
.line-col{
	width: 0;
	position: absolute;
	left: 50%;
	bottom: 160px;
	border-left: 1px solid #a2a2a2;
	z-index: 0;
}
.line-col img{
	position: absolute;
	top: -155px;
	left: -1px;
}
ul.ls{
	margin-top: 33px;
}
ul.ls li a{color: #333333;}
ul.ls li a:hover{color: #d71920;}
ul.ls li{
	font-size: 13px;
	color: #333333;
	padding-left: 20px;
	line-height: 16px;
	font-family: 'robotolight';
	margin-bottom: 6px;
	background: url(../images/icon/ar.png) 2px 2px no-repeat;
}
.mocsk .itel{
	margin-top: -65px;
}
.mocsk .itel.right-it{
	float: right;
}
.mocsk .itel.right-it .content-el{
	float: right;
}
.mocsk .itel.right-it .point{
	position: absolute;
	top: 20px;
	left: -12px;
}
.mocsk .itel.right-it .year{
	float: left;
	background: url(../images/img/moc2.png) 0 0 no-repeat;
	text-indent: 47px;
}
.mocsk .itel.right-it .img{
	float: right;
}


.mocsk .itel.left-it{
	float: left;
}
.mocsk .itel.left-it .point{
	position: absolute;
	top: 20px;
	right: -13px;
}
.mocsk .itel.left-it .year{
	float: right;
	background: url(../images/img/moc1.png) 0 0 no-repeat;
	text-indent: 26px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	::i-block-chrome,.mocsk .itel.left-it .year{
		background: url(../images/img/moc1.png) 0 10px no-repeat;
	}
	::i-block-chrome,.mocsk .itel.right-it .year{
		background: url(../images/img/moc2.png) 0 10px no-repeat;
	}
	::i-block-chrome,.mocsk .itel .year{
		height: 70px;
		margin-top: 22px;
	}
}
.mocsk .itel.left-it .img{
	float: left
}

/*dich vu chung khoan*/
.fl{float: left;}
.fr{float: right;}

.tab100,
.tab100 td{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.it-dvck{
	width: 48.6%;
	height: 100px;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-top: 30px;
}

.it-dvck td{
	position: relative;
	overflow: hidden;
}

.it-dvck td .img{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	text-align: center;
	z-index: 0;
	transition: all 1s ease 0s;
}

.it-dvck td:hover .img{
	transform: scale(1.1);
    transition: all 1s ease 0s;
}

.it-dvck td a{
	display: table;
	width: 100%;
	height: 100%;
	color: #fff;
	position: relative;
	z-index: 1;
}

.it-dvck td a span{
	display: table-cell;
	vertical-align: middle;
}

/*.it-dvck.it-1{
	background-image: url(../images/img/img_dvck_1.jpg);
}

.it-dvck.it-2{
	background-image: url(../images/img/img_dvck_2.jpg);
}

.it-dvck.it-3{
	background-image: url(../images/img/img_dvck_3.jpg);
}

.it-dvck.it-4{
	background-image: url(../images/img/img_dvck_4.jpg);
}

.it-dvck.it-5{
	background-image: url(../images/img/img_dvck_5.jpg);
}

.it-dvck.it-6{
	background-image: url(../images/img/img_dvck_6.jpg);
}

.it-dvck.it-7{
	background-image: url(../images/img/img_dvck_7.jpg);
}

.it-dvck.it-8{
	background-image: url(../images/img/img_dvck_8.jpg);
}*/

.it-pro{
	margin-left: 45px;
	padding: 0 0 0 40px;
	background: url(../images/icon/ic-check.jpg) no-repeat;
	font-size: 14px;
	color: #555;
}

.it-pro a{
	color: #0066b3;
}

.it-pro a:hover{
	color: #d71920;
}

.wrap .it-pro{
	width: 43%;
	margin-top: 10px;
}

.box-mbs-ck{
	width: 100%;
	background: #0066b3;
	padding: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.box-mbs-ck .img{
	width: 25.9%;
	text-align: center;
	background: url(../images/icon/ic-like.png) top center no-repeat;
	padding-top: 50px;
	font-size: 20px;
}

.box-mbs-ck .text{
	width: 70.1%;
	border-left: 1px solid #fff;
	margin-left: 4%;
	padding-left: 20px;
}

.box-mbs-ck .text li{
	position: relative;
	padding-left: 11px;
}

.box-mbs-ck .text li:before{
	content: '';
	width: 4px;
	height: 4px;
	background: #fff;
	position: absolute;
	top: 7px;
	left: 0;
}
/*end dich vu chung khoan*/

/*Tầm nhìn*/
	.about-see .ltct li td{
		height: auto;
		padding: 25px 9%;
		font-size: 22px;
		line-height: 26px;
		font-family: "robotolight";
	}
	.about-see .ltct li td span{
		font-family: "robotomedium";
	}
/*Tầm nhìn*/
/*Dịch Vụ Ngân Hàng Cổ Phiếu*/
	.banking-services{

	}
	.banking-share{
		
	}
	.banking-share .info{
		color: #555555;
		padding: 7px 0 0 0;
		font-size: 14px;
		text-align: justify;
		font-family: 'robotolight';
	}
	.banking-share .info p{
		margin-top: 8px;
	}
	.banking-advisory{
		margin: 25px 0 0 0;
	}
	.banking-advisory .item-advisory{
		float: left;
		width: 22.80%;
		margin-left: 2.91%;
		padding: 0 20px;
		text-align: center;
		background: #0066b3;
		height: 150px;
	}
	.banking-advisory .item-advisory table,
	.banking-advisory .item-advisory table td{
		height: 100%;
		width: 100%;
		vertical-align: middle;
	}
	.banking-advisory .item-advisory a{
		color: #ffffff;
		font-size: 14px;
		font-family: 'robotomedium';
		line-height: 17px;
		display: block;
		height: 100%;
	}
	.banking-advisory .item-advisory a p{
		margin: 9px 0 0 0;
	}
	.banking-advisory .item-advisory a p:first-child{
		margin: 0 0 0 0;
	}
	.banking-advisory .item-advisory:first-child{
		margin-left: 0;
	}
	.banking-counsel{
		margin: 30px 0 0 0;
	}
	.banking-counsel-it{
		background: url(../images/bg/bg-adv.png) repeat-x left top;
		padding: 35px 0 25px 0;
	}
	.banking-counsel-it .tt{
		float: left;
		width: 33.56%;
		padding: 0 30px 0 0;
	}
	.banking-counsel-it .tt p{
		color: #0066b3;
		font-size: 20px;
		line-height: 24px;
	}
	.banking-counsel-it .tt span.line{
		width: 40px;
		display: inline-block;
		border-bottom: 3px solid #d71920;
		vertical-align: top;
		margin: 10px 0 0 0;
	}
	.banking-counsel-it .banking-info{
		float: right;
		width: 66.44%;
		color: #555555;
		text-align: justify;
		font-size: 14px;
		letter-spacing: -0.5px;
		font-family: 'robotolight';
	}
	.banking-advisory.ma .item-advisory{
		width: 48.6%;
		height: 90px;
		margin: 0;
		float: right;
	}
	.banking-advisory.ma .item-advisory:first-child{
		width: 48.6%;
		float: left;
	}
	.banking-advisory.ma .item-advisory a p{
		display: inline-block!important;
		float: none!important;
		font-size: 18px;
		text-align: left;
		margin: 0 0 0 44px;
		vertical-align: top;
		height: 100%;
		line-height: 85px;
	}
	.banking-advisory.ma .item-advisory a p span{
		line-height: 21px;
		display: inline-block;
		vertical-align: middle;
	}
	.banking-advisory.ma .item-advisory a p:first-child{
		margin: 0 !important;
	}
/*Dịch Vụ Ngân Hàng Cổ Phiếu*/
/*Thương Vụ*/
	.banking-business{
		margin: 0 0 27px 0;
	}
	.banking-business .banking-business-all{
		padding: 30px 0 0 0;
	}
	.banking-business .banking-business-all:first-child{
		padding: 25px 0 0 0;
	}
	.banking-business-all .banking-business-it{
		border: 2px solid #f3f3f3;
		background: #f3f3f3;
		width: 31.54%;
		float: left;
		height: 317px;
		margin-left: 2.68%;
		text-align: center;
	}
	.banking-business-all .banking-business-it:first-child{
		margin-left: 0;
	}
	.banking-business-it img{
		max-width: 100%;
	}
	.banking-business-it p{
		background: #f3f3f3;
		padding: 17px 15px 22px 15px;
		position: relative;
	}
	.banking-business-it p span{
		display: block;
		font-size: 14px;
	}
	.banking-business-it p img{
		position: absolute;
		z-index: 1;
		top: -17px;
		left: 50%;
		margin-left: -17px;
	}
	.banking-business-it p span.tit{
		color: #0066b3;
		text-transform: uppercase;
		font-family: 'robotobold';
		line-height: 17px;
	}
	.banking-business-it p span.text{
		font-family: 'robotolight';
		color: #333333;
		line-height: 16px;
		margin: 8px 0 0 0;
	}
/*Thương Vụ*/
/*dv điện tử*/
.list_dvdt{
	max-width: 745px;
	width: 100%;
	margin: 25px auto 0;
}
.list_dvdt li{
	position: relative;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}
.list_dvdt li img.bg{
	position: relative;
	z-index: 0;
}
.bd-dvdt{
	display: table;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include vertical-align;
}
.bd-dvdt .tbc{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.bd-dvdt .tbc p{
	font-size: 14px;
	line-height: 17px;
	width: 70%;
	color: #fff;
	margin: 0 auto;
	margin-top: 12px;
}
.list_dvdt li{
}
.list_dvdt li.itemdt1,
.list_dvdt li.itemdt4{
	margin-left: 0;
}
.linedraw{
	background: url(../images/bg/bg-adv.png);
	height: 9px;
}
.item_click{
	height: 60px;
	position: relative;
}
.dr-icon{
	position: absolute;
	top: 20px;
	right: 26px;
	cursor: pointer;
}
.item_bp .draw-blue,
.item_click .draw-blue{
	width: 100%;
	height: 100%;
	background: url(../images/bg/blue.png);
}
.item_click .tit{
	position: absolute;
	top: 15px;
	left: 26px;
}

.item_click1{
	background: url(../images/img/bptt1.png) left center no-repeat;
}
.item_click2{
	background: url(../images/img/dt2.png) left center no-repeat;
}
.item_click3{
	background: url(../images/img/dt3.png) left center no-repeat;
}
.item_click4{
	background: url(../images/img/dt4.png) left center no-repeat;
}
.item_click5{
	background: url(../images/img/dt5.png) left center no-repeat;
}
.item_click6{
	background: url(../images/img/dt6.png) left center no-repeat;
}
.item_bp1{
	background: url(../images/img/bptt1.png) left center no-repeat;
}
.item_bp2{
	background: url(../images/img/bptt2.png) left center no-repeat;
}
.item_bp3{
	background: url(../images/img/bptt3.png) left center no-repeat;
}
.item_bp4{
	background: url(../images/img/bptt4.png) left center no-repeat;
}
.item_bp5{
	background: url(../images/img/bptt5.png) left center no-repeat;
}

.item_bp{
	font-family: 'utm_bebasregular';
	color: #fff;
	font-size: 30px;
	position: relative;
}
.item_bp .draw-blue{
	padding-top: 17px;
	padding-bottom: 12px;
}
.item_bp p{
	padding-left: 30px;
}
.text-dtshow{
	font-family: 'robotolight';
	clear: both;
	display: table;
	margin-top: 16px;
}
.text-dtshow p{
	margin-bottom: 8px;
}
.text-dtshow p a{
	color: #0066b3;
}
.text-dtshow p a:hover{
	text-decoration: underline;
}
.text-dtshow > div{
	clear: both;
	display: table;
	width: 100%;
}
.text-dtshow ul li{
	background: url(../images/icon/ic-check.jpg) no-repeat;
	padding-left: 40px;
	margin-bottom: 29px;
}
.text-dtshow ul{
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding-left: 45px;
}
.text-dtshow ul:first-child{
	float: left;
}
.gr-bp{
	clear: both;
	display: table;
}
.gr-bp li{
	margin-top: 25px;
	float: left;
	width: 18.4%;
	margin-left: 2%;
	height: 172px;
	background: #0066b3;
	text-align: center;
	display: table;
	cursor: pointer;
}
.gr-bp li .tbl{
	display:  table-cell;
	vertical-align: middle;
}
.gr-bp li p{
	color: #fff;
	width: 70%;
	margin: 0 auto;
	margin-top: 7px;
}
.gr-bp li:first-child{
	margin-left: 0;
}
.text-bpshow{
	font-family: 'robotolight';
}
.text-bpshow h2{
	color: #0066b3;
	font-size: 14px;
	font-family: 'robotomedium';
	margin: 0;
	margin-bottom: 15px;
	margin-top: 18px;
}
.text-bpshow h3{
	font-size: 14px;
	font-weight: bold;
	padding-left: 40px;
	line-height: 16px;
}
.text-bpshow .tb{
	padding: 16px;
	background: #f3f3f3;
}
.text-bpshow .tb table{
	width: 100%;
}
.text-bpshow .tb td{
	text-align: center;
	height: 30px;
}
.text-bpshow .tb td.col1{
	width: 37%;
}
.text-bpshow .tb td.col2{
	width: 15%;
}
.text-bpshow .tb .top-tb{
	background: #3182c0;
	color: #fff;
}
.top-tb .add1{
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.toptb-2 td{
	border-left: 1px solid #fff;
}
.row-tb td{
	border-bottom: 1px solid #d7d7d7;
}
.text-bpshow p{
	margin-bottom: 5px;
	padding-left: 40px;
}
.text-bpshow ul.ul-box{
	margin: 11px 0;
	padding-left: 14%;
	display: table;
}
.text-bpshow ul.ul-box li{
	vertical-align: middle;
	padding: 20px;
	display: table-cell;
	box-sizing: border-box;
	background: #f3f3f3;
	font-family: 'robotolight';
}
.text-bpshow ul.ul-box li:nth-child(3){
	width: 35%;
	padding: 13px;
}
.text-bpshow ul.ul-box li:nth-child(2){
	width: 4%;
	background: none;
}
.text-bpshow ul.ul-box li:nth-child(1){
	width: 61%;
}
.text-bpshow ul.ul-box li p{
	padding: 0;
}
.text-bpshow ul.ul-box li span{
	float: left;
	font-family: 'utm_bebasregular';
	font-size: 52px;
	color: #afafaf;
	margin-right: 6px;
}
.text-bpshow.text-bpshow4 ul.ul-box li span{
	font-size: 40px;
}
.text-bpshow ul.ul-box li small{
	font-size: 20px;
	line-height: 23px;
}
.text-bpshow ul.ul-box li p{
	width: 100%;
	display: table;
	clear: both;
}
.list-disc{
	padding-left: 85px;
}
.list-disc li{
	padding-left: 16px;
	background: url(../images/icon/ls.png) 0 10px no-repeat;
	line-height: 23px;
}
/*end dv điện tử*/
/* CSKH Home */
	.exchange-guide .item-home{
		height: 300px;
	}
	.exchange-guide .info-hover{
		top: 177px;
	}
	.exchange-guide .item-home > .img{
		margin-left: -119px;
	}
	.exchange-more{
		font-family: 'robotomedium';
		display: inline-block;
		color: #1a75ba;
		font-size: 14px;
	}
	.stock-exchange-guide .exchange-more,
	.incentive-all .exchange-more,
	.faq-main .exchange-more{
		margin: 5px 0 0 0;
	}
	.workshop-participant{
		margin: 10px 0 0 0;
		height: 90px;
		font-family: 'robotobold';
		text-transform: uppercase;
		background-size: 100% auto !important;
	}
	.workshop-participant a{
		color: #1a75ba;
	}
	.workshop-participant .one{
		font-size: 24px;
	}
	.workshop-participant .two{
		font-size: 14px;
		margin-top: 1px;
	}
	.incentive-program{
		margin: 20px 0 0 0;
	}
	.incentive-program .incentive-item{
		width: 31.54%;
		float: left;
		margin-left: 2.69%;
		min-height: 270px;
		background: #f3f3f3;
	}
	.incentive-program .incentive-item:first-child{
		margin-left: 0;
	}
	.incentive-item .img img{
		width: 100%;
	}
	.incentive-item .info{
		position: relative;
		padding: 0 21px 19px 21px;
	}
	.incentive-item .info img{
		position: absolute;
		z-index: 1;
		top: -17px;
		left: 50%;
		margin-left: -17px;
	}
	.incentive-item .info a{
		color: #0066b3;
		font-size: 14px;
		display: inline-block;
		font-family: 'robotobold';
		text-transform: uppercase;
		padding: 15px 0 0 0;
	}
	.incentive-item .info .incentive-info{
		color: #555555;
		font-size: 14px;
		text-align: justify;
		margin: 4px 0 0 0;
		line-height: 17px;
		font-family: 'robotolight';
	}
	.faq-main .faq-main-all{
		margin-top: 17px;
	}
	.faq-main-all .faq-main-item{
		float: left;
		width: 48.59%;
		margin-left: 2.82%;
	}
	.faq-main-all .faq-main-item:first-child{
		margin-left: 0;
	}
	.faq-main-all .faq-main-item .tit{
		color: #fff;
		background: #0066b3;
		text-align: center;
		font-size: 30px;
		line-height: 46px;
		padding: 9px 0 5px 0;
		font-family: 'utm_bebasregular';
		text-transform: uppercase;
	}
	.faq-main-all .faq-main-item .faq-info{
		padding: 15px 25px 24px 25px;
		background: #f3f3f3;
	}
	.faq-main-item .faq-info a{
		color: #555555;
		display: inline-block;
		font-size: 16px;
		line-height: 27px;
		text-indent: 23px;
		background: url(../images/icon/icon-hoi.png) no-repeat 0 7px;
	}
	.support-center .info,
	.form-trading .info{
		font-size: 14px;
		padding: 13px 0 0 0;
		color: #555555;
		font-family: 'robotolight';
		text-align: left;
	}
	.support-center .info span{
		font-family: 'robotomedium';
	}
	.support-center-call{
		margin: 1px 0 0 0;
	}
	.support-center-call .it-pro,
	.support-center-call .it-pro a{
		font-family: 'robotolight';
	}
	.support-center-call .it-pro a{
		text-decoration: underline;
	}
	.support-center-call .it-pro span{
		font-family: 'robotomedium';
	}
	.incentive-item .info a:hover,
	.faq-main-item .faq-info a:hover,
	.workshop-participant a:hover,
	.exchange-more:hover{
		color: #d71920;
	}
	.support-center-call .it-pro a:hover{
		text-decoration: underline;
	}
/* CSKH Home */
/*Hướng dẫn giao dịch*/
	.trading-guide .incentive-program .incentive-item{
		width: 48.7248%;
		margin-left: 2.5504%;
		min-height: 330px;
	}
	.trading-guide .incentive-program .incentive-item:first-child{
		margin-left: 0;
	}
	.incentive-item .img{
		position: relative;
	}
	.icon-play{
		position: absolute;
		display: inline-block;
		width: 55px;
		height: 55px;
		background: url(../images/icon/icon-play.png) no-repeat;
		top: 50%;
		margin-top: -27.5px;
		left: 50%;
		margin-left: -27.5px;
	}
	.tbl-support-center-call{
		display: table;
		width: 100%;
		margin-top: 15px;
	}
	.tbl-support-center-call .tr-scc{
		display: table-row;
	}
	.tbl-support-center-call .td-scc{
		display: table-cell;
		vertical-align: top;
		width: 50%;
		padding-left: 45px;
	}
	.it-supp{
		font-family: "robotolight";
		background: url("../images/icon/ic-check.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	    color: #555;
	    font-size: 14px;
	    padding: 0 0 0 40px;
	    min-height: 50px;
		padding-bottom: 20px;
	}
	.it-supp:empty{
		background: none;
	}
	.it-supp a{
		color: #555;
	}
	.search-scc{
	}
	.search-scc .select-scc,
	.search-scc .input-scc{
		margin-top: 20px;
		height: 50px;
	}
	.search-scc .select-scc{
		width: 44.2953%;
		border: 10px solid #dadada;
		position: relative;
	}
	.search-scc .select-scc select,
	.wrap-calendar .text.select select{
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		color: #555555;
    	font-family: "robotolight";
    	font-size: 14px;
	}
	.search-scc .select-scc .icon{
		height: 100%;
		width: 30px;
		top: 0;
		right: 0;
		background: url(../images/icon/icon-select.png) no-repeat center center;
		background-color: #fff;
		position: absolute;
		display: none;
	}
	.search-scc .input-scc{
		width: 55.7047%;
		padding: 0 10px 0 30px;
		border: 10px solid #dadada;
		border-left: none;
		position: relative;
	}
	.search-scc .input-scc input{
		font-size: 14px;
		font-family: "robotolight";
		color: #555555;
		line-height: 30px;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
	}
	.btn-search-scc{
		width: 11px;
		height: 11px;
		background: url(../images/icon/icon-search.png) no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -5.5px;
		left: 11px;
	}
	.wrap-download{
		text-align: left;
	}
	.huongdan-popup{
		background-color: #ffffff;
	    box-sizing: border-box;
	    padding: 50px 47px;
	    position: relative;
	    width: 960px;
	}
	.video-container{
	    height: 0;
	    width: 100%;
	    overflow: hidden;
	    padding-bottom: 56.25%;
	    padding-top: 30px;
	    position: relative;
	}
	.video-container iframe, .video-container object, .video-container embed {
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	}
	.info-video{
		border-top: 1px solid #aaaaaa;
		margin-top: 20px;
	}
	.info-video .tit-video{
		color: #0066b3;
		font-size: 26px;
		font-family: "robotomedium";
		padding-top: 12px;
	}
	.info-video .desc-video{
		font-family: "robotolight";
		font-size: 14px;
		color: #555555;
		line-height: 16px;
		padding-top: 4px;
	}
/*Hướng dẫn giao dịch*/
/*Hướng dẫn giao dịch chứng khoáng lô lẻ*/
	.trading-guide.text .it-supp{
		min-height: auto;
		padding: 0 0 10px 45px;
	}
	.trading-guide.text .it-supp a{
		color: #555;
	}
	.it-supp a:hover{
		color: #d71920;
	}
	.trading-guide.text .it-supp p{
		padding-top: 8px;
	}
	.trading-guide.text .it-supp p:first-child{
		padding-top: 0;
	}
	.title-text{
		font-size: 14px;
		font-family: "robotomedium";
		color: #0066b3;
		text-align: left;
	}
	.trading-guide.text .info{
		padding-bottom: 20px;
	}
	.control-guide{
		width: 100%;
		display: table;
		margin-top: 20px;
		background: #ececec;
		font-family: "robotomedium";
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #0066b3;
		position: relative;
		padding: 8px 0;
		/*height: 50px;*/
	}
	.control-guide .it-gui a{
		color: #0066b3;
		position: relative;
		z-index: 0;
	}
	.control-guide .it-gui-prev a{
		left: 0;
		display: block;
	}
	.control-guide .it-gui-next a{
		right: 0;
		display: block;
		}
	.control-guide .it-gui{
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		position: relative;
		height: 22px;
	}
	.control-guide .it-gui.active{
		width: 100%;
	}
	.control-guide .it-gui-prev{
		text-align: left;
		padding-left: 50px;
	}
	.control-guide .icon{
		width: 50px;
		height: 100%;
		top: 0;
		position: absolute;
		z-index: 1;
	}
	.control-guide .icon.prev{
		left: 0;
		background: url(../images/icon/icon-gui-prev.png) no-repeat center center;
		background-color: #ececec;
	}
	.control-guide .icon.next{
		right: 0;
		background: url(../images/icon/icon-gui-next.png) no-repeat center center;
		background-color: #ececec;
	}
	.control-guide .it-gui-next{
		text-align: right;
		padding-right: 50px;
	}
	.type-show{
		display: inline-block;
		width: 22px;
		height: 22px;
		background: url(../images/icon/icon-type-show.png) no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -11px;
		left: 50%;
		margin-left: -11px;
		z-index: 1;
	}
	.download-gui{
		font-family: "robotomedium";
		font-size: 14px;
		color: #2c80c0;
		display: inline-block;
		margin-top: 9px;
		text-decoration: underline;
		padding-right: 20px;
		background: url(../images/icon/icon-download.png) no-repeat right center;
	}
	.download-gui:hover{
		text-decoration: underline;
		color: #d71920;
	}
/*Hướng dẫn giao dịch chứng khoáng lô lẻ*/
/*Hướng dẫn hình ảnh*/
	.trading-guide.detail{
		text-align: center;
		max-width: 100%;
	}
	.item-step-detail{
		padding-top: 26px;
	}
	.trading-guide.detail .support-center .info{
		padding: 0;
	}
	.trading-guide.detail .support-center .info p{
		padding-top: 7px;
	}
	.item-step-detail img{
		padding-top: 8px;
	}
/*Hướng dẫn hình ảnh*/
/*Hội thảo*/
	.control-wk{
		margin-top: 20px;
		width: 100%;
		font-family: "utm_bebasregular";
		font-size: 30px;
		color: #0066b3;
		text-transform: uppercase;
	}
	.tab-ctr{
		width: 50%;
		height: 62px;
		position: relative;
		overflow: hidden;
		border: 1px solid #0061ab;
		cursor: pointer;
	}
	.tab-ctr .text{
		position: relative;
		z-index: 1;
		text-align: center;
		line-height: 62px;
	}
	.tab-ctr.work:hover,
	.tab-ctr.work.active{
		background: url(../images/bg/bg-wk-1.jpg) no-repeat left top;
	}
	.tab-ctr.signup:hover,
	.tab-ctr.signup.active{
		background: url(../images/bg/bg-wk-2.jpg) no-repeat right top;
	}
	.tab-ctr img{
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		z-index: 0;
	}
	.tab-ctr.active,
	.tab-ctr:hover{
		color: #fff;
	}
	.it-wk{
		margin-top: 36px;
	}
	.it-wk.first-child{
		margin-top: 0;
	}
	.it-wk.first .img-wk,
	.it-wk.first .info-wk{
		width: 100%;
	}
	.it-wk.first .info-wk{
		margin-top: 0;
	}
	.name-wk{
		font-family: "robotomedium";
		color: #0066b3;
		display: inline-block;
		font-size: 16px;
		line-height: 19px;
		margin-top: -5px;
	}
	.name-wk:hover{
		color: #d71921;
	}
	.date-wk{
		color: #555555;
		font-size: 13px;
		font-family: "robotolight";
	}
	.date-wk span{
		font-family: "robotomedium";
	}
	.desc-wk{
		font-family: "robotolight";
		font-size: 14px;
		line-height: 17px;
		color: #555555;
		padding-top: 9px;
	}
	.desc-wk a{
		color: #d71921;
		text-decoration: underline;
		display: inline-block;
		margin-right: 10px;
	}
	.desc-wk a:hover{
		color: #0066b3;
	}
	.it-wk.first .name-wk{
		font-size: 26px;
		line-height: 29px;
		margin-top: 14px;
	}
	.it-wk.first .date-wk{
		font-size: 13px;
		padding-top: 1px;
	}
	.it-wk.first .desc-wk{
		font-size: 14px;
		line-height: 17px;
		padding-top: 10px;
		color: #131316;
	}
	.it-wk .img-wk{
		overflow: hidden;
		width: 20.1342%;
		margin-right: 2.6846%;
	}
	.it-wk .info-wk{
		width: 77.1812%;
		margin-top: -5px;
	}
	.it-wk .img-wk img{
		width: 100%;
		/*transition: all 1s ease 0s;*/
	}
	.it-wk .img-wk:hover img{
		/*transform: scale(1.1);
   		transition: all 1s ease 0s;*/
	}
	.workshops .paging{
		margin-top: 30px;
	}
	.tab-wk{
		display: none;
	}
	.tab-wk.active{
		display: block;
	}
	.tab-wk.signup .info{
		font-size: 14px;
		line-height: 16px;
		color: #131316; 
		font-family: "robotolight";
		padding-top: 27px;
	}
	.form-signup{
		width: 100%;
		max-width: 490px;
		margin: 0 auto;
		margin-top: 7px;
	}
	.wrap-inp{
		padding-left: 170px;
		position: relative;
		margin-top: 10px;
	}
	.wrap-inp .inp{
		width: 100%;
		height: 30px;
		line-height: 25px;
		padding: 0 10px;
		border: 1px solid #555555;
	}
	.wrap-inp .textarea{
		width: 100%;
		height: 110px;
		font-family: "robotomedium";
		font-size: 14px;
		line-height: 17px;
		padding: 7px 10px;
		border: 1px solid #555555;
	}
	.wrap-inp .textarea textarea{
		width: 100%;
		height: 100%;
		background: none;
		outline: none;
		border: none;
		resize: none;
	} 
	.wrap-inp .inp input{
		width: 100%;
		height: 100%;
		background: none;
		border: none;
		outline: none;
		font-size: 14px;
		color: #555555;
		padding: 0;
		margin: 0;
	}
	.wrap-inp .label{
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		width: 170px;
		height: 100%;
		color: #555555;
		position: absolute;
		text-align: right;
		font-family: "robotoregular";
		top: 0;
		left: 0;
		font-weight: normal;
		border-radius: 0;
		padding: 0;
		padding-right: 20px;
	}
	.wrap-inp .label span{
		color: #d71920;
	}
	.wrap-inp.code{
		padding: 0 170px;
	}
	.code-char{
		width: 111px;
		height: 30px;
		position: absolute;
		top: 0;
		right: 40px;
		border: 1px solid #555555;
		/*background: url(../images/img/img-cap.jpg) no-repeat;*/
	}
	.change-code{
		display: inline-block;
		width: 20px;
		height: 19px;
		position: absolute;
		top: 6px;
		right: 0;
		background: url(../images/icon/icon-change.png) no-repeat;
	}
	.btn-sign{
		display: inline-block;
		height: 30px;
		line-height: 28px;
		background: #0066b3;
		color: #fff;
		border: 2px solid #76c4f1;
		font-size: 14px;
		font-family: "robotomedium";
		padding: 0 30px;
		text-transform: uppercase;
	}
	.btn-sign:hover{
		color: #0066b3;
		background: #fff;
	}
/*Hội thảo*/
/*Chương trình UD*/
	.program-ud .tab-wk{
		display: block;
	}
/*Chương trình UD*/
/*Chương trình ưu đãi detail*/
	.program-ud-detail{

	}
	.program-detail .date{
		font-size: 13px;
		color: #555555;
		font-family: "robotolight";
		padding-top: 15px;
	}
	.program-detail .date span{
		font-family: "robotomedium";
	}
	.detail-pr{
		font-family: "robotolight";
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		padding-bottom: 21px;
	}
	.detail-pr p{
		text-align: left;
		padding-top: 8px;
	}
	.detail-pr img{
		max-width: 100%;
		padding-top: 10px;
	}
	.it-pro-other{
		width: 46.7114%;
		margin-top: 20px;
	}
	.img-proth{
		width: 42.816%;
		margin-right: 6.0346%;
	}
	.img-proth img{
		width: 100%;
	}
	.info-proth{
		width: 51.1494%;
		margin-top: -3px;
	}
	.info-proth a{
		font-size: 16px;
		line-height: 19px;
		color: #0066b3;
		display: inline-block;
		font-family: "robotomedium";
	}
	.info-proth a:hover{
		color: #d71920;
	}
	.info-proth .date{
		font-family: "robotoregular";
		color: #999999;
		font-size: 12px;
	}
	.info-proth .date span{
		font-family: "robotomedium";
	}
/*Chương trình ưu đãi detail*/
/* 404 */
	.page-404{
		height: 617px;
	}
	.page-404 .wrapper{
		height: 100%;
	}
	.page-404.one{
		background: #0066b4;
		color: #fff;
	}
	.page-404.two{
		background: #fff;
		color: #0066b4;
	}
	.page-404 .p1{
		font-family: "robotomedium";
		font-size: 192px;
		line-height: 200px;
	}
	.page-404 .p2{
		font-size: 27px;
		line-height: 33px;
		font-family: 'robotobold';
		text-transform: uppercase;
		margin-top: 1px;
	}
	.page-404 .p3{
		margin-top: 7px;
		font-size: 21px;
		line-height: 24px;
		font-family: 'robotolight';
	}
	.page-404.two .p3{
		font-size: 18px;
		line-height: 28px;
	}
	.page-404.two .p3 a{
		font-family: "robotomedium";
		color: #0066b4;
	}
	.page-404.two .p3 a:hover{
		color: #D71920;
	}
/* 404 */
/* Lịch Sự Kiện */
	.events-calendar{

	}
	.form-calendar{

	}
	.wrap-calendar{
		margin-top: 20px;
	}
	.wrap-calendar .tit{
		width: 22.82%;
		float: left;
		padding-right: 20px;
		height: 32px;
		line-height: 28px;
		text-align: right;
		font-size: 14px;
		font-family: "robotolight";
		color: #555555;
	}
	.wrap-calendar .tit span{
		display: inline-block;
		vertical-align: middle;
		line-height: 18px;
	}
	.wrap-calendar .text{
		float: left;
		width: 77.18%;
		height: 32px;
		padding: 0 12px;
		border: 1px solid #555555;
	}
	.wrap-calendar .text.select{
		padding: 0;
	}
	.wrap-calendar .text input{
		background: none;
		width: 100%;
		height: 100%;
		border: none;
		font-size: 13px;
		font-family: "robotolight";
		color: #555555;
	}
	.date-one{
		float: left;
		width: 42.953%;
	}
	.date-one .tit{
		width: 24.0625%;
	}
	.date-one .text{
		width: 59.375%;
		position: relative;
	}
	.date-one:first-child .tit{
		width: 40%;
	}
	.date-one:first-child .text{
		width: 44.70%;
		position: relative;
	}
	.date-one .text img{
		position: absolute;
		z-index: 1;
		top: 5px;
		right: -33px;
	}
	.date-one .text .delete{
		position: absolute;
		background: url(../images/icon/delete.png) no-repeat 0 0;
		z-index: 1;
		top: 10px;
		right: -54px;
		width: 16px;
		height: 15px;
	}
	.date-one .text .delete:hover{
		background-position: left bottom;
	}
	.date-one:first-child{
		width: 57.047%;
	}
	.btn-calen{
		display: inline-block;
		font-size: 12.5px;
		color: #fff;
		background: #0066b4;
		font-family: "robotomedium";
		text-transform: uppercase;
		padding: 9px 19px 6px 19px;
		margin-left: 20px;
	}
	.btn-calen:first-child{
		margin-left: 22.82%;
	}
	.btn-calen:hover{
		color: #d71920;
	}
	.result-calendar{
		margin-top: 40px;
		border: 1px solid #d6d6d6;
		background: #f3f3f3;
		padding: 14px 14px 0 14px;
	}
	.result-calendar table{
		width: 100%;
		border-collapse: collapse;
	}
	.result-calendar table th{
		background: #0066b4;
		border: 1px solid #f3f3f3;
		font-family: "robotomedium";
		font-weight: normal;
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
		padding: 8px 0 10px 0;
	}
	.result-calendar table th span{
		display: block;
		text-align: left;
		padding-left: 14px;
	}
	.result-calendar table td{
		color: #555555;
		font-family: "robotolight";
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		padding: 9px 0 8px 0;
	}
	.result-calendar table td a{
		color: #0066b4;
		padding-left: 14px;
		text-align: left;
		display: block;
		font-family: 'robotoregular';
	}
	.result-calendar table td a:hover{
		color: #D71920;
	}
	.result-calendar table tbody tr td{
		border-top: 1px solid #d7d7d7;
	}
	.result-calendar table tbody tr:first-child ts{
		border-top: 0px solid #d7d7d7;
	}
	.events-calendar .paging{
		margin-top: 22px;
	}
/* Lịch Sự Kiện */
/*Câu hỏi*/
	.list-faq .it-supp{
		color: #545454;
		font-size: 14px;
		line-height: 17px;
		font-family: "robotolight";
		padding: 0 0 15px 29px;
		min-height: auto;
		background: url(../images/icon/icon-faq-1.png) no-repeat 8px 2px;
	}
	.list-faq .it-supp.active{
		background: url(../images/icon/icon-faq-2.png) no-repeat 8px 2px;
	}
	.it-supp .ques{
		font-family: "robotomedium";
		cursor: pointer;
		padding-bottom: 8px;
	} 
	.it-supp .ques:hover{
		color: #d71920;
	}
	.it-supp .ans{
		display: none;
	} 
	
	.list-faq {
		padding-top: 27px;
	}
	
	.text-faq{
		font-family: "robotomedium";
		font-size: 14px;
		color: #0066b3;
		padding: 0px 0 21px 0;
	}
	.text-faq span{
		font-family: "robotolight";
	}
	.more-service{
		width: 50px;
		height: 50px;
		position: fixed;
		right: 0;
		top: 386px;
		cursor: pointer;
		background: url(../images/icon/icon-ser.png) no-repeat center center;
		background-color: #0066b3; 
	}
	.more-service:hover .tb-service{
		display: block;
	} 
	.tb-service{
		width: 190px;
		position: absolute;
		top: 0;
		right: 0;
		display: none;
	}
	.title-ser{
		padding-left: 61px;
		height: 50px;
		line-height: 50px;
		font-family: "utm_bebasregular";
		color: #fff;
		font-size: 19px;
		text-transform: uppercase;
		background: url(../images/icon/icon-ser.png) no-repeat 17px center;
		background-color: #0066b3; 
	}
	.list-ser{
		margin-top: 2px;
		background: #dadada;
		font-size: 14px;
		font-family: "robotolight";
		color: #545454;
		padding: 6px 0 15px 0;
	}
	.list-ser a{
		color: #545454;
		padding-left: 39px;
		display: inline-block;
		margin-top: 7px;
		background: url(../images/icon/icon-ser-1.png) no-repeat 16px 2px;
	}
	.list-ser a:hover{
		color: #0066b3;
		background: url(../images/icon/icon-ser-2.png) no-repeat 16px 2px;
	}
/*Câu hỏi*/
/*Điều Khoản*/
	.tit-dk{
		color: #0066b4;
		font-size: 14px;
		line-height: 17px;
		font-family: "robotomedium";
		margin-top: 32px;
	}
	.info-dk{
		color: #555555;
		font-size: 14px;
		line-height: 17px;
		font-family: "robotolight";
	}
	.info-dk p{
		margin-top: 8px;
	}
	.doingu-page.dvck{
		margin: 1px 0 0 0;
	}
	.doingu-page.dvck .all-boss{
		margin: 15px 0 0 0;
	}
	.doingu-page.dvck table td .pos{
		font-size: 14px;
		line-height: 17px;
	}
	.doingu-page.dvck table td{
		vertical-align: bottom;
		padding: 20px 20px 15px 140px;
	}
	.doingu-page.dvck .mob{
		width: 100%;
	}
/*Điều Khoản*/
/*Liêm hệ*/
	.contact-page .tab-wk{
		display: block;
	}
	.contact-page .info{
		color: #555555;
	    font-family: "robotolight";
	    font-size: 14px;
	    line-height: 16px;
	    padding-top: 17px;
	}
/*Liêm hệ*/
table.tb100,
table.tb100 td{
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}