/*mobile*/
@media (max-width: 767px){

	.wrapper{
		padding: 0 30px;
	}
	.title-hun{
		display: block;
	}
	.tit-gtcl{
		padding-bottom: 10px;
	}
	.search-scc .select-scc{
		position: relative;
		z-index: 0;	
	}
	.search-scc .input-scc{
		z-index: 10;
		margin-top: -10px; 
	}
	.bctc-page.lbcpt .list-item .item{
		width: 100%;
		margin-top: 20px;
	}
	.bctc-page.lbcpt .list-item .item:first-child{
		margin-top: 0;
	}
	.control-guide .icon.icon-mb{
		display: inline-block;
	}
	.control-guide .icon.icon-pc{
		display: none;
	}
	/*header*/
		.top-menu,
		#header .top-search{
			display: none;
		}
		.wrap-top{
			padding: 0;
		}
		.hot-line{
			position: relative;
		}
		.box-menu-mobile .search-mobile{
			display: block;
		}
		.fast-link{
			display: block;
		}
		.footer-menu-mobile{
			display: block;
		}
	/*header*/
	/*footer*/
		.item-group ul li{
			padding: 8px 0 8px 22px;
			background: url(../images/icon/icon-arr.png) no-repeat 0 15px;
		}
		.item-group{
			width: 100%;
		}
		#footer .box-left,
		#footer .box-right{
			width: 100%;
		}
		#footer .box-left{
			padding-bottom: 29px;
		}
		#footer .box-right{
			border-top: 1px solid #414141;
			padding-top: 27px;
		}
		.box-right .app{
			width: 100%;
			max-width: 100%;
		}
		.box-right .app a{
			margin-top: 16px;
		}
		.layer-one .box-tablet{
			display: none;
		}
		.layer-one .box-mobile{
			display: block;
		}
		.box-right .app a{
			width: 49%;
		}
		.box-right .app a img{
			width: 100%;
		}
		.text-copy{
			padding: 0 10px 0 27.1875%;
			line-height: 14px;
			text-align: left;
		}
		.text-copy .tt-cp{
			display: table;
		}
		.text-copy .tt-cp span{
			display: table-cell;
			vertical-align: middle;
			height: 60px;
			width: 100%;
			padding-left: 24px;
		}
		.bloo{
			width: 27.1875%;
		}
		.bloo span{
			display: none;
		}
		.footer-menu{
			display: none;
		}
		.btn-control-fmm{
			display: block;
		}
	/*footer*/
	
	/*dich vu chung khoan*/
		.it-dvck{
			float: none;
			width: 100%;
		}
		
		.it-pro{
			margin-left: 0;
		}
		
		.wrap .it-pro{
			float: none;
			width: auto;
		}
		
		.box-mbs-ck .img,
		.box-mbs-ck .text{
			float: none;
			width: 100%;
		}
		
		.box-mbs-ck .text{
			border: none;
			border-top: 1px solid #fff;
			padding: 15px 0 0 0;
			margin: 15px 0 0 0;
		}
	/*End dich vu chung khoan*/
	
	/*báo cáo tài chính*/
		/*.bctc-page .banner{
			width: 81%;
			margin: auto;
		}*/

		.bctc-page{
			float: left;
			width: 100%;
		}
		.bctc-page ul{
			margin: 24px 0;
			width: 100%;
		}
		.bctc-page ul li{
			display: block;
			vertical-align: middle;
			font-size: 18px;
			font-family: 'Roboto', sans-serif;
			border: 1px solid #0066b3;
			height: 47px;
			text-align: center;
			width: 100%;
			line-height: 47px;
			text-align: left;
			text-indent: 30px;
			border-top: none;
		}
		.bctc-page .list-item{
			margin: auto;
		}
	/*end báo cáo tài chính*/
	/*home*/
		.wrap-home{
			padding: 0 10px 56px 10px;
		}
		.item-home{
			width: 100%;
		}
		.item-home.type-one{
			margin-right: 0;
		}
		.item-home.type-two{
			width: 100%;
			padding: 0 9.375%;
		}
		.item-home.type-two.tall{
			margin-top: 0;
			height: auto;
		}
		.title-rbt{
			font-size: 28px;
			line-height: 32px;
		}
		.item-home .list-post .item .desc{
			font-size: 14px;
		}
		.item-home .list-post{
			padding: 17px 0;
		}
		/*banner*/
			.banner-home .wrap-bntablet{
				display: none;
			}
			.banner-home .wrap-bnmobile{
				display: block;
			}
			.border-carousel .text-title{
				display: none;
			}
			.border-carousel{
				padding: 0;
			}
			.carousel-content{
				padding: 0 17px;
			}
			.carousel-content .owl-prev{
				left: -17px;
				background: url(../images/icon/ico-prev.png) no-repeat center center;
			}
			.carousel-content .owl-next{
				right: -17px;
				background: url(../images/icon/ico-next.png) no-repeat center center;
			}
			.carousel-content .owl-prev, .carousel-content .owl-next{
				width: 17px;
				background-color: #cfcfcf;
			}
		/*banner*/
	/*home*/
	/*đội ngũ*/
		.doingu-page .tab-doingu{
			/*display: none;*/
			/*padding: 0 10px;*/
		}
		.doingu-page .tab-doingu-mobile{
			display: block;
			padding: 0 10px;
		}
		.doingu-page .tab-doingu-mobile ul{
			margin: 20px 0;
			width: 100%;
		}
		.doingu-page .tab-doingu-mobile ul li{
			display: none;
			vertical-align: middle;
			font-size: 18px;
			font-family: 'Roboto', sans-serif;
			border: 1px solid #0066b3;
			height: 47px;
			text-align: center;
			width: 100%;
			line-height: 47px;
			text-align: left;
			text-indent: 9%;
		}
		.doingu-page .tab-doingu-mobile ul li.active{
			display: block;
			background-image:url('../images/btn/btn-down.png');
			background-position:90% center;
			background-repeat: no-repeat
		}
		.doingu-page .boss {
			position: static;
			padding:0 30px 30px 30px;
		}
		.doingu-page .boss img {
			position: static;
			margin: 0 auto 10px;
			display: block;
		}
		.doingu-page table {
			display: none;
		}
		.doingu-page .mob {
			display: table;
			width: 94%;
			margin: auto;
		}
		.doingu-popup {
			position: static;
	        padding: 30px;
	        background-color: #ffffff;
		}
		.doingu-popup .img{
			width: 100%;
			text-align: center;
		}
		.doingu-popup .tieusu{
			width: 100%;
			padding-left: 0;
			margin-top: 30px;
		}
	/*end đội ngũ*/
	/* Thanh Tuu */
		.it-accomplish .year,
		.it-accomplish .accomplish-info{
			width: 100%;
		}
		.it-accomplish .accomplish-info{
			margin-top: 12px;
		}
	/* Thanh Tuu */
	/* Mạng Lưới */
		.all-network,
		.map-network{
			float: left;
			width: 100%;
		}
		.map-network{
			margin-top: 30px;
		}
	/* Mạng Lưới */
	/*Gia tri cot loi*/
		.img-gtcl{
			width: 100%;
		}
		.text-gtcl{
			width: 100%;
		}
		.img-gtcl .icon-arr-right,
		.img-gtcl .icon-arr-left{
			display: none;
		}
		.img-gtcl .icon-arr-bottom{
			display: block;
		}
		.wrap-content-right{
			padding: 0 0;
		}
		.text-gtcl,
		.text-active{
			margin-top: 20px;
		}
	/*end Gia tri cot loi*/
	/*tai chinh*/
		.tc-page .wrap-content-right{
			padding: 0 0;
		}
		.tc-page .wrap-home{
			padding: 0 0 56px 0;
		}
		.tc-page .page-title,
		.tc-page .bctc-page .list-item{
			padding: 0 30px;
		}
	/*tai chinh*/
	/*doi ngu*/
		.dn-page .wrap-content-right{
			padding: 0 0;
		}
		.dn-page .wrap-home{
			padding: 0 0 60px 0;
		}
		.dn-page .page-title{
			padding: 0 30px;
		}
		.doingu-page .tab-doingu ul{
			margin: 0;
			display: none;
		}
		.doingu-page .tab-doingu ul li{
			text-indent: 30px;
			width: 100%;
			display: block;
			line-height: 47px;
			text-align: left;
			border-top: none;
		}
		.doingu-page{
			margin-top: 20px;
			margin-bottom: 0;
		}
		.doingu-page .tab-doingu ul li:hover, .doingu-page .tab-doingu ul li.active{
			color: #0066b3;
			background: #fff;
		}
		.all-boss .all-boss-it{
			margin-top: 40px;
		}
	/*doi ngu*/

	/*Dịch Vụ Ngân Hàng Cổ Phiếu*/
		.banking-advisory .item-advisory{
			margin: 20px 0 0 0;
			height: 90px;
			text-align: left;
			width: 100%;
		}
		.banking-advisory .item-advisory:first-child{
			margin: 0 0 0 0;
		}
		.banking-advisory .item-advisory a p{
			float: right;
			font-size: 16px;
			line-height: 90px;
			height: 100%;
			width: 62%;
			margin: 0;
		}
		.banking-advisory .item-advisory a p:first-child{
			float: left;
			padding-right: 17px;
			width: 36%;
		}
		.banking-advisory .item-advisory a p span.imba{
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		.banking-advisory .item-advisory a p span.text{
			line-height: 19px;
			display: inline-block;
			vertical-align: middle;
		}
		.banking-advisory .item-advisory a p img{
			max-width: 64px;
			margin: 0 0 0 0;
		}
		.banking-counsel-it .tt,
		.banking-counsel-it .banking-info{
			width: 100%;
			padding: 0;
		}
		.banking-counsel-it .banking-info{
			margin-top: 1px;
		}
		.banking-advisory.ma .item-advisory:first-child,
		.banking-advisory.ma .item-advisory{
			float: none;
			width: 100%;
		}
		.banking-advisory.ma .item-advisory{
			margin: 20px 0 0 0;
		}
		.banking-advisory.ma .item-advisory a p{
			margin: 0;
		}
		.banking-business .banking-business-all,
		.banking-business .banking-business-all:first-child{
			padding: 0;
		}
		.banking-business-all .banking-business-it,
		.banking-business-all .banking-business-it:first-child{
			float: none;
			margin: 30px 0 0 0;
			width: 100%;
			height: auto;
		}
		.banking-business-all .banking-business-it a > img{
			width: 100%;
		}
	/*Dịch Vụ Ngân Hàng Cổ Phiếu*/

	/*News*/
		.bctc-page .list-item .item.itemnews .img{
			width: 100%;
			position: relative;
			height: auto;
			margin-bottom: 10px;
			margin-top: 27px;
		}
		.bctc-page .list-item .item.itemnews .img img{
			width: 100%;
		}
		.bctc-page .list-item .item.itemnews{
			padding-left: 0;
			width: 100%;
		}
	/*end News*/
		.img_top_ab{
			position: relative;
			width: 100%;
		}
		.text_top_ab{
			padding: 0;
		}
		.ltct li img{
			position: relative;
			width: 100%;
		}
		.ltct li{
			padding-left: 0;
		}
		.ltct li td{
			height: 180px;
		}
		.mocsk .itel.left-it{
			float: right;
		}
		.mocsk .itel.left-it .content-el{
			float: right;
		}
		.mocsk .itel.left-it .point{
			position: absolute;
			top: 20px;
			left: -12px;
		}
		.mocsk .itel.left-it .year{
			float: left;
			background: url(../images/img/moc2.png) 0 0 no-repeat;
			text-indent: 47px;
		}
		.mocsk .itel.left-it .img{
			float: right;
		}
		.line-col{
			left: 10px;
		}
		.line-col img{
			top: -75px;
		}
		.line-col-bt{
			display: block;
		}
		.mocsk .itel{
			margin-top: 20px;
			width: 100%;
		}
		.mocsk .itel.left-it .point,
		.mocsk .itel.right-it .point{
			left: -3px;
		}
		.content-el{
			width: 100%;
			box-sizing: border-box;
			padding-left: 60px;
		}
		.mocsk .itel.left-it .year,
		.mocsk .itel.right-it .year{
			margin-left: -36px;
		}
		.content-el ul.ls{
			width: 100%;
		}
		.mocsk .itel.right-it .img,
		.mocsk .itel.left-it .img{
			clear: both;
			width: 100%;
			margin-top: 15px;
		}
		ul.ls{
			margin-top: 18px;
		}
		.wrap-moc{
			margin-top: 100px;
		}
	/*end News*/

	/**/
	.list_dvdt{
		max-width: 490px;
	}
	.list_dvdt .itemdt.itemdt1,
	.list_dvdt .itemdt.itemdt3,
	.list_dvdt .itemdt.itemdt5{
		margin-left: 0;
	}
	.list_dvdt .itemdt.itemdt4{
		margin-left: 20px;
	}
	.gr-bp li{
		width: 30%;
		margin-left: 5%;
	}
	.gr-bp li.itembp4{
		margin-left: 0;
	}
	.text-bpshow ul.ul-box{
		display: block;
	}
	.text-bpshow ul.ul-box li{
		vertical-align: middle;
		box-sizing: border-box;
		width: 100%;
		display: block;
	}
	.text-bpshow ul.ul-box li:nth-child(3){
		width: 100%;
		margin-top: 11px;
	}
	.text-bpshow ul.ul-box li:nth-child(2){
		width: 0;
		display: none;
	}
	.text-bpshow ul.ul-box li:nth-child(1){
		width: 100%;
	}
	.text-bpshow h3,
	.text-bpshow p{
		padding-left: 20px;
	}
	.text-bpshow ul.ul-box{
		padding-left: 30px;
	}
	/* CSKH Home */
		.workshop-participant{
			background-size: auto 100% !important;
		}
		.incentive-program .incentive-item,
		.faq-main-all .faq-main-item{
			margin: 20px 0 0 0;
			width: 100%;
			float: none;
		}
		.incentive-program .incentive-item:first-child,
		.faq-main-all .faq-main-item:first-child{
			margin: 0;
		}
		.workshop-participant .one{
			font-size: 16px;
		}
		.faq-main-all .faq-main-item{
			height: auto !important;
		}
	/* CSKH Home */
	/*Hướng dẫn giao dịch*/
		.trading-guide .incentive-program .incentive-item{
			width: 100%;
			margin-left: 0;
			height: auto;
		}
		.tbl-support-center-call{
			display: block;
			width: 100%;
			margin-top: 15px;
		}
		.tbl-support-center-call .tr-scc{
			display: block;
		} 
		.tbl-support-center-call .td-scc{
			display: block;
			vertical-align: top;
			width: 100%;
			padding: 0;
		}
		.search-scc .select-scc,
		.search-scc .input-scc{
			width: 100%;
			border: 10px solid #dadada;
		}
		.search-scc .select-scc .icon{
			display: block;
		}
	/*Hướng dẫn giao dịch*/
	/*Hướng dẫn lô lẻ*/
		.control-guide{
			overflow: hidden;
		}
		.control-guide .it-gui-prev a{
			left: -200%;
			display: none;
		}
		.control-guide .it-gui-next a{
			right: -200%;
			display: none;
		}
	/*Hướng dẫn lô lẻ*/
	/*Hội thảo*/
		.it-wk .img-wk{
			width: 100%;
			margin-right: 0;
		}
		.it-wk .info-wk{
			width: 100%;
			margin-top: 12px;
		}
		.it-wk .img-wk:hover img{
			transform: scale(1);
    		transition: all 1s ease 0s;
		}
		.form-signup{
			width: 100%;
			max-width: 100%;
			padding: 0;
		}
		.fix-form-hd .form-signup{
			padding: 0;
		}
		.fix-form-hd .wrap-inp .inp,
		.fix-form-hd .wrap-inp.code{
			max-width: 100%;
		}
		.fix-form-hd .wrap-inp.code{
			padding-left: 0;
		}
		.wrap-inp{
			padding: 0;
		}
		.wrap-inp.code{
			padding: 0 170px 0 0;
		}
		.wrap-inp .label{
			position: relative;
		}
		.code-char{
			top: 30px;
		}
		.change-code{
			margin-top: 31px;
		}
		.tab-ctr{
			width: 100%;
		}
	/*Hội thảo*/
	/*Chhương trình detail*/
		.it-pro-other{
			width: 100%;
		}
		.img-proth{
			width: 100%;
			margin-left: 0;
		}
		.info-proth{
			width: 100%;
			margin-top: 15px;
		}
	/*Chhương trình detail*/
	/* 404 */
		.page-404{
			height: 400px;
		}
		.page-404 .p1{
			font-family: "robotomedium";
			font-size: 96px;
			line-height: 100px;
		}
		.page-404 .p2{
			font-size: 21px;
			line-height: 27px;
			font-family: 'robotobold';
			text-transform: uppercase;
			margin-top: 1px;
		}
		.page-404 .p3{
			margin-top: 7px;
			font-size: 15px;
			line-height: 19px;
			font-family: 'robotoregular';
		}
		.page-404.two .p3{
			font-size: 13px;
			line-height: 23px;
		}
	/* 404 */
	/* Lịch Sự Kiện */
		.wrap-calendar.ct{
			text-align: center;
		}
		.date-one:first-child,
		.date-one{
			margin-top: 20px;
			width: 100%;
		}
		.date-one:first-child{
			margin-top: 0;
		}
		.date-one:first-child .tit,
		.date-one .tit,
		.wrap-calendar .tit{
			width: 32.82%;
		}
		.wrap-calendar .text{
			width: 67.18%;
		}
		.date-one:first-child .text,
		.date-one .text{
			width: 60%;
		}
		.result-calendar table th{
			display: none;
		}
		.result-calendar table td{
			text-align: left;
    		display: block;
    	}
    	.result-calendar table tbody tr td{
    		border: 0;
    	}
    	.result-calendar table td::before {
  			content: attr(data-th)": ";
  			font-weight: bold;
			width: 30%;
  			display: inline-block;
  		}
  		.result-calendar table td a{
  			display: inline-block;
  			padding-left: 0;
  		}
  		.result-calendar table td a br{
  			display: none;
  		}
  		.result-calendar table tbody tr{
  			border-top: 1px solid #d7d7d7;
  		}
  		.result-calendar table tbody tr:first-child{
  			border-top: 1px solid #d7d7d7;
  		}
  		.btn-calen:first-child{
  			margin-left: 0;
  		}
	/* Lịch Sự Kiện */
	/*Câu hỏi*/
		/*.search-scc{
			padding-right: 50px;
		}*/
		.more-service{
			position: absolute;
			top: 12px !important;
			width: 20px;
			background: url(../images/icon/icon-ser-mb.png) no-repeat;
		}
		.search-scc .select-scc,
		.wrap-calendar .text.select,
		.wrap-inp .text{
			overflow: hidden;
			padding-left: 10px;
			padding-right: 40px;
			background: url(../images/icon/icon-select-mb.png) no-repeat right center;
		}
		.search-recruitment .search{
			background: url(../images/icon/icon-select-mb.png) no-repeat right center #fff;
		}
		.search-scc .select-scc select,
		.wrap-calendar .text.select select,
		.wrap-inp .text select{
			background: none;
			border: none;
			width: 130%;
		}
		.search-recruitment .search select{
			background: none;
			height: 100%;
			border: none;
			width: 121%;
		}
		.search-scc .select-scc .icon{
			display: none;
		}
	/*Câu hỏi*/
		.control-wk.ttpt .tab-ctr,
		.control-wk.ttpt .tab-ctr:first-child{
			width: 100%;
			/*background: url(../images/bg/bg-btn-ttpt.jpg) no-repeat center center;*/
		}
		.control-wk.ttpt .tab-ctr.active,
		.control-wk.ttpt .tab-ctr:hover{
			color: #fff;
			background: #0061ab;
		}
		.search-recruitment .text{
			width: 100%;
		}
		.search-recruitment .search,
		.search-recruitment .search-by-date{
			width: 100%;
			margin: 10px 0 0 0;
		}
		.search-recruitment .group-search{
			padding: 0;
		}
		.search-recruitment .group-search .search-by-date,
		.search-recruitment .btn-recruitment,
		.search-recruitment .group-search .search{
			position: relative;
			top: auto;
			left: auto;
			right: auto;
		}
		.search-recruitment .group-search .search,
		.search-recruitment .group-search .wr-pad{
			width: 100%;
			padding: 0;
			margin-top: 0;
		}
		.search-recruitment .btn-recruitment,
		.search-recruitment .group-search .search-by-date{
			margin-top: 10px;
		}
		.search-recruitment .btn-recruitment{
			float: left;
		}
		.recruitment-result table th{
			display: none;
		}
		.recruitment-result table td{
			text-align: left;
    		display: block;
    	}
    	.recruitment-result table tbody tr td{
    		border: 0;
    		padding: 0 !important;
    	}
    	.recruitment-result table td::before {
  			content: attr(data-th)": ";
  			font-weight: bold;
  			display: inline-block;
  			width: 50%;
  			margin-right: 10px;
  		}
  		.recruitment-result table td a{
  			display: inline-block;
  			padding-left: 0;
  		}
  		.recruitment-result table tbody tr{
  			border-top: 1px solid #d7d7d7;
  		}
  		.recruitment-result table tbody tr td:first-child{
  			border-top: 0px solid #d7d7d7;
  		}
  		.recruitment-result table td.r1{
  			margin-top: 5px;
  		}
  		.recruitment-result table td.r4{
  			margin-bottom: 5px;
  		}
  		.recruitment-result table td.r1,
  		.recruitment-result table td.r2,
  		.recruitment-result table td.r3,
  		.recruitment-result table td.r4{
  			width: 100%;
  			text-align: left;
  		}
		
		/* add 2015.06.04 - ket qua tuyen dung */
		.recruitment-result.rr-s table td * { vertical-align: top; }
  		.recruitment-result.rr-s table td.r1,
  		.recruitment-result.rr-s table td.r2,
  		.recruitment-result.rr-s table td.r3 { width: 100%; text-align: left; }

  		/* add 2015.06.04 - ket qua tuyen dung - detail */
  		.recruitment-result.rr-s-d table td * { vertical-align: top; }
  		.recruitment-result.rr-s-d table td.r1,
  		.recruitment-result.rr-s-d table td.r2,
  		.recruitment-result.rr-s-d table td.r3,
  		.recruitment-result.rr-s-d table td.r4,
  		.recruitment-result.rr-s-d table td.r5 { width: 100%; text-align: left; }
  		.recruitment-result.rr-s-d table td.r4 { margin-bottom: 0px; }
  		.recruitment-result.rr-s-d table td.r5 { margin-bottom: 5px;  }
  		/* end add 2015.06.04 */

	.tab-ymobile,
	.tab-ydoingu{
		display: block;
	}
	.tab-years ul{
		margin: 0;
		display: none;
	}
	.bctc-page ul li:hover, .bctc-page ul li.active,
	.doingu-page .tab-doingu-mobile ul li:hover,
	.doingu-page .tab-doingu-mobile ul li.active{
		background-color: #fff;
		color: #0066b3;
	}
	.dksd .cl-left{
		width: 100%;
	}
	.tab-years{
		padding: 0;
	}
	.text-bpshow .tb td.tleft{
		padding-left: 0;
		text-align: center;
	}
	/*Sơ đồ tổ chức*/
		.fpd{
			padding-left: 24px;
		}
		.org-chart a{
			width: 100%;
		}
		.hoidongcodong,
		.hoidongquantri{
			position: relative;
		}
		.hoidongcodong:before{
			content: "";
			display: block;
			height: 36px;
			width: 100%;
			position: absolute;
			top: 34px;
			left: 0;
			border-left: 2px solid #b2b2b2;
		}
		.hoidongcodong:after,
		.hoidongquantri:after,
		.bos-org:after{
			content: "";
			display: block;
			height: 2px;
			width: 19px;
			position: absolute;
			top: 34px;
			left: 0;
			border-bottom: 2px solid #b2b2b2;
		}
		.hoidongquantri:after{
			padding-top: 28px;
		}
		.hoidongcodong > li,
		.hoidongquantri > li{
			position: relative;
		}
		.hoidongcodong > li:before,
		.hoidongquantri > li:before,
		.bos-org:before{
			content: "";
			width: 8px;
			height: 8px;
			background: #b2b2b2;
			position: absolute;
			top: 31px;
			left: -3px;
		}
		.bankiemsoat{
			height: auto;
		}
		.bankiemsoat:before,
		.sub-hoidongquantri:before{
			height: auto;
			width: 100%;
			top: 0;
			padding-top: 28px;
		}
		.sub-hoidongquantri:before{
			left: -2px;
		}
		.bankiemsoat:after,
		.sub-hoidongquantri:after{
			left: 0;
			top: 0;
			width: 55.2123%;
			height: 14px;
		}
		.bankiemsoat:after{
			left: 0;
			margin-left: 0;	
		}
		.bankiemsoat li{
			position: relative;
			top: 0;
			margin-top: 0;
		}
		.bankiemsoat li:before,
		.sub-hoidongquantri li.one:before,
		.sub-hoidongquantri li.two:after,
		.sub-tonggiamdoc > li:after,
		.sub-tonggiamdoc > li:after,
		.sub-tonggiamdoc > li.one:after,
		.sub-tonggiamdoc > li.three:after{
			content: "";
			display: block;
			height: 8px;
			width: 2px;
			border-left: 2px solid #b2b2b2;
			position: absolute;
			top: -16px;
			left: 55%;
		}
		.sub-tonggiamdoc > li:after,
		.sub-tonggiamdoc > li.one:after,
		.sub-tonggiamdoc > li.three:after{
			top: 12px;
		}
		.sub-tonggiamdoc > li:after{
			top: 12px;
		}
		.bankiemsoat > li{
			width: 100%;
			position: relative;
			border-left: 2px solid #b2b2b2;
		}
		.hoidongquantri:before{
			content: "";
			display: block;
			padding-top: 28px;
			border-left: 2px solid #b2b2b2;
		}
		.hoidongquantri > li{
			border-left: 2px solid #b2b2b2;
		}
		.sub-hoidongquantri{
			height: auto;
		}
		.sub-hoidongquantri li{
			width: 100%;
			position: relative;
			top: auto;
			left: auto;
			margin-top: 0;
		}
		.sub-hoidongquantri{
			border-left: 2px solid #b2b2b2;
		}
		.sub-hoidongquantri li.one:after{
			content: "";
			display: block;
			padding-bottom: 28px;
		}
		.sub-hoidongquantri li.two:before{
			content: "";
			display: block;
			width: 55.2123%;
			height: 2px;
			position: absolute;
			top: -16px;
			left: 0;
			border-top: 2px solid #b2b2b2;
		}
		.sub-tonggiamdoc li{
			width: 100%;
		}
		.sub-tonggiamdoc{

		}
		.sub-tonggiamdoc li.one, .sub-tonggiamdoc li.two{
			margin: 0;
		}
		.tonggiamdoc:before{
			content: "";
			display: block;
			padding-top: 28px;
			border-left: 2px solid #b2b2b2;
		}
		.bos-org{
			border-left: 2px solid #b2b2b2;
			position: relative;
		}
		.line-tonggiamdoc{
			display: none;
		}
		.sub-tonggiamdoc > li{
			position: relative;
			padding-top: 28px;
		}
		.sub-tonggiamdoc li.one, 
		.sub-tonggiamdoc li.two{
			border-left: 2px solid #b2b2b2;
		}
		.sub-tonggiamdoc > li:before,
		.sub-tonggiamdoc > li.one:before,
		.sub-tonggiamdoc > li.three:before{
			border-bottom: 2px solid #b2b2b2;
		    content: "";
		    display: block;
		    width: 55.2123%;
		    height: 14px;
		    position: absolute;
		    top: 0;
		    left: 0;
		}
		.sub-tonggiamdoc li.one::before,
		.sub-hoidongquantri::before, 
		.line-tonggiamdoc::before{
			border-left: none;
		}
		.sub-tonggiamdoc li.three:before{
			content: "";
			display: block;
			border-left: none;
		}
		.sub-tonggiamdoc li.three{
			border-left: 2px solid #b2b2b2;
		}
		.sub-tonggiamdoc li.one .box-blue li:first-child::before,
		.sub-tonggiamdoc li.one .box-blue li:first-child::after,
		.sub-tonggiamdoc li.three .box-blue li:first-child::before,
		.sub-tonggiamdoc li.three .box-blue li:first-child::after{
			border: none;
			background: none;
		}
		.sub-tonggiamdoc li.one .box-blue::before,
		.sub-tonggiamdoc li.three .box-blue::before{
			border-left: none;
		}
		.box-blue > li:first-child::after{
			background: none;
		}
		.bd-lm{
			position: relative;
		}
		.bd-lm:after{
			content: "";
			position: absolute;
			display: block;
			width: 1px;
			height: 30px;
			border-left: 2px solid #b2b2b2;
			bottom: -64px;
			right: -30px;
		}
		.bd-lm.last:after{
			border-left: none;
		}
		.bd-lm:before{
			content: "";
			position: absolute;
			display: block;
			width: 1px;
			height: 100%;
			border-left: 2px solid #b2b2b2;
			top: 34px;
			right: -30px;
		}
		.sub-tonggiamdoc .bd-lm li{
			position: relative;
		}
		.sub-tonggiamdoc .bd-lm > li:before{
			content: "";
			position: absolute;
			display: block;
			height: 1px;
			width: 20px;
			border-bottom: 2px solid #b2b2b2;
			right: -30px;
			top: 34px;
		}
		.cacchinhanh::before{
			left: 0;
		}
		.cacchinhanh > li::after{
			width: 30px;
			right: -30px;
		}
		.cacchinhanh > li::before{
			width: 25px;
			left: -0;
		}
		.hoidongcodong > li > a br{
			display: inline-block;
		}
	/*End Sơ đồ tổ chức*/
	.banking-counsel-it .tt br{
		display: none;
	}
	/*----------------------------------------------------------------------------------------------Thong tin ung vien*/
	.ungtuyen .square-menu-wrapper {
		margin-top: -20px;
		margin-bottom: 40px;
	}
	.ungtuyen .square-menu-wrapper .wrapper-left {
		float:none;
		width: 365px;
		padding-right: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px !important;
	}
	.ungtuyen .square-menu-wrapper .wrapper-right {
		float:none;
		width: 365px;
		padding-left: 0px;
		margin-left: auto;
		margin-right: auto;
	}
	.top-square-menu-border {
		margin-top: 20px;
	}
	.field-01 .anh-the {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.field .content .name,
	.field .content .small-name {
		float: none;
		width: 100% !important;
		text-align: left;
		padding-top: 0px;
		padding-bottom: 7px;
	}
	hr {
		float: none;
		width: 80% !important;
		margin-left: auto;
		margin-right: auto;
	}
	.field .content .input-field input,
	.field .content .input-field.small input {
		margin: 0px 0px 20px 0px;
		width: 100% !important;
	}
	.field-04 .radio-field {
		margin-left: 0 !important;
		margin-bottom: 20px;
	}
	.field-23 .radio-field,
	.field-25 .radio-field,
	.field-20 .radio-field {
		margin-left: 20px !important;
	}
	.field .agree .radio-field {
		margin-left: 0px !important;
	}
	.cam-doan {
		width: 100% !important;
	}
	/*------------------------------------------------------------------------------------------END Thong tin ung vien*/
}
@media (max-width: 640px){
	.date-one:first-child .text,
	.date-one .text{
		width: 58%;
	}
	.search-by-date .br{
		display: block;	
	}
	.search-recruitment .search-by-date .br{
		display: none;
	}
}
@media (max-width: 549px){
	.list_dvdt .itemdt{
		width: 100%;
		margin-left: 0;
	}
	.list_dvdt .itemdt.itemdt4{
		margin-left: 0px;
	}
	.list_dvdt .itemdt img.bg{
		width: 100%;
	}
	.text-dtshow ul{
		float: right;
		width: 100%;
		box-sizing: border-box;
		padding-left: 0px;
	}
	.gr-bp li{
		width: 45%;
		margin-left: 10%;
	}
	.gr-bp li.itembp4{
		margin-left: 10%;
	}
	.gr-bp li.itembp3,
	.gr-bp li.itembp5{
		margin-left: 0;
	}
	.item_bp p{
		width: 75%;
	}
}
@media (max-width: 509px){
	/*----------------------------------------------------------------------------------------Thong tin ung vien 480*/
	.other input {
		margin-top: 15px;
		position: relative;
	}
	/*------------------------------------------------------------------------------------END Thong tin ung vien 480*/
@media (max-width: 480px){
	.prev-page {
		display: block;
		margin-right: 0px;
	}
	.next-page {
		display: block;
		margin-left: 0px;
		margin-top: 15px;
	}
	.date-one:first-child .text,
	.date-one .text{
		width: 55%;
	}
	.text-bpshow .tb{
		font-size: 12px;
	}
}
@media (max-width: 384px){
	.ungtuyen .square-menu-wrapper .wrapper-left {
		width: 100%;
		margin-bottom: 12px !important;
	}
	.ungtuyen .square-menu-wrapper .wrapper-right {
		width: 100%;
	}
	.ungtuyen .square-menu-wrapper .box{
		position: relative;
	 	padding: 0;
	 	margin: 0;
	 	width: 48% !important;
		height: auto;
	}
	.ungtuyen .square-menu-wrapper .box img {
		max-width:100%;
		max-height:100%;
	}
	.ungtuyen .square-menu-wrapper .box-left {
		margin-right: 12px;
	}
}
@media (max-width: 380px){
	.search-recruitment .group-search .search-by-date .input-search{
		width: 100%;
		margin: 0;
	}
	.search-recruitment .wr-inp-search{
		margin-top: 10px;
		padding-left: 35px;
		position: relative;
		width: 100%;
	}
	.search-recruitment .wr-inp-search .label{
		position: absolute;
		top: 0;
		left: 0;
	}
}
@media (max-width: 360px){
	.date-one:first-child .text,
	.date-one .text{
		width: 50%;
	}

	/* add 2015.06.02 - register & login */
	.tab-wk.signup.register .register-form .wrap-inp .btn-sign { padding: 0 15px; }
	.tab-wk.signup.register .register-form .login-button .btn-login { margin-left: 7px; }
	/* end add 2015.06.02 - register & login */
}

@media (max-width: 320px){
	.date-one:first-child .text,
	.date-one .text{
		width: 47%;
	}
}