﻿@using WizardCMS.Const;
@model IEnumerable<WizardCMS.Models.JobViewModel>
@{
    Layout = null;
    int no = 0;
    string cssClass = "";
}
@{
    
    string messagepermssion = ViewBag.MessagePermssion;
    if (string.IsNullOrEmpty(messagepermssion) == false)
    {
        if (messagepermssion == "permission-denied")
        {
            <script type="text/javascript">
                $(function () {
                    $(".gr_perm_error").fadeIn(500);
                    $("#loader").fadeOut(300);
                    $(".table").css("marginTop", 4);
                    setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
                });
            </script>
        }
    }
}
<script type="text/javascript">
    $(function () {
        $(".custom_chk").jqTransCheckBox();
    });
    function updateOrder(d, a, c) {
        var b = root + "" + c + "/UpdateOrder/";
        $.post(b, {
            id: d,
            order: a
        }, function (e) {
            if (e == 'permission-denied') {
                $('#txt_error').html('Permission denied');
                show_error();
            }
            else {
                $("#loadOrderID_" + d).html(e);
                if (c == "manager_modules") {
                    $.get(root + "admincp/menu", function (f) {
                        $("#loadMenu").html(f)
                    })
                }
            }
        })
    }
    function show_error() {
        $(".gr_perm_error").fadeIn(500);
        $("#loader").fadeOut(300);
        $(".table").css("marginTop", 4);
        setTimeout("$('.gr_perm_error').fadeOut(300); $('.table').css('marginTop',0);", 5000);
    }
</script>
<div class="content_table">
    <input type="hidden" value="@ViewBag.SortBy" id="by_sort" />
    <input type="hidden" value="@ViewBag.SortType" id="type_sort" />
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
            <tr>
                <th class="th_no_cursor" width="40">
                    No.
                </th>
                <th class="th_no_cursor" width="31">
                    <input type="checkbox" class="custom_chk" id="selectAllItems" onclick="selectAllItems(@(Model != null ? Model.Count() : 0 ))" />
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'TITLE')">
                    <div id="name" class="@(ViewBag.SortBy.ToUpper() == "TITLE" ? (ViewBag.SortType == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "icon_no_sort")">TITLE</div>
                </th>
                <th class="th_left" onclick="ColumnSort('@ViewBag.AjaxUrl', 'TAXONOMY_NAME')">
                    <div id="name" class="@(ViewBag.SortBy.ToUpper() == "DEADLINE" ? (ViewBag.SortType == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "icon_no_sort")">DEAD LINE</div>
                </th>
                <th width="70" onclick="ColumnSort('@ViewBag.AjaxUrl', 'STATUS')">
                    <div id="status" class="@(ViewBag.SortBy.ToUpper() == "STATUS" ? (ViewBag.SortType == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "icon_no_sort")">
                        Action
                    </div>
                </th>
                <th width="*" onclick="ColumnSort('@ViewBag.AjaxUrl', 'PRIORITY')">
                    <div id="priority" class="@(ViewBag.SortBy.ToUpper() == "PRIORITY" ? (ViewBag.SortType == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "icon_no_sort")">Order</div>
                </th>
                <th class="th_last" width="100" onclick="ColumnSort('@ViewBag.AjaxUrl', 'CREATED')">
                    <div id="created" class="@(ViewBag.SortBy.ToUpper() == "CREATED" ? (ViewBag.SortType == "ASC" ? "icon_sort_asc" : "icon_sort_desc") : "icon_no_sort")">Created</div>
                </th>
            </tr>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                <tr class="@(no % 2 == 0 ? "row2":"row1") @("item_row" + no)">
                    <td class="td_center">
                        @(no + 1)
                    </td>
                    <td class="td_no_padd">
                        <input type="checkbox" class="custom_chk" id="@("item" + no)" onclick="selectItem('@no')" value="@item.ID"/>
                    </td>
                    <td class="th_left">
                        <a href='@Url.Content("~")admincp/@ViewBag.module/update/@item.ID'>@item.TITLE</a>
                    </td>
                    <td class="th_left">
                        <a href='@Url.Content("~")admincp/@ViewBag.module/update/@item.ID'>@item.DEADLINE.ToString("dd/MM/yyyy")</a>
                    </td>
                    <td class="td_center" id='@Html.Raw("loadStatusID_" + @item.ID)'>
                        <a class="myclass" href="javascript:void(0)" onclick="return updateStatus(@item.ID,@item.STATUS,'Job', 'true')">
                            @if (item.STATUS == 1)
                            {
                                <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/check_16x16.png" />
                            }
                            else
                            {
                                <img alt="Checked item" src="@Url.Content("~")Assets/admin/images/icons/uncheck_16x16.png" />
                            }
                        </a>
                    </td>

                    <td nowrap>
						<div style="padding-left: 5px;float: right;">
							  <img style="cursor: pointer;" onclick="return updateOrder(@item.ID,1,'Term')" src="@Url.Content("~")Assets/admin/images/icons/arrow_up.png" />                        
							  <img style="cursor: pointer;" onclick="return updateOrder(@item.ID,0,'Term')" src="@Url.Content("~")Assets/admin/images/icons/arrow_down.png" />
						</div>
                        <div style="float: right;" id='@Html.Raw("loadOrderID_" + @item.ID)'>
							@item.PRIORITY.ToString()
						</div>
                    </td>
                    <td class="th_last td_center">
                        @item.CREATED.ToString("dd-MM-yyyy HH:mm:ss")
                    </td>
                </tr>                    
                   no++;
                }
            }
            else
            {
                <tr class="row1">
                    <td class="th_last td_center" colspan="50" style="font-size: 20px; padding: 50px 0">
                        No data
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
@RenderPage("~/Views/BackEnd/Paging.cshtml")
<div class="clearAll">
</div>
<span id="actionMessage"></span>